﻿@model EWC_NSAA.ViewModels.RecipientReportViewModel

@{
    ViewBag.Title = "Recipient Report";
}

<h2>Recipient Report</h2>
<hr />
<h4>Recipient</h4>

<div class="row">
    <div class="col-md-6">
        <div>
            @Html.Label("NS Recipient ID: ", htmlAttributes: new { @class = "control-label" })
            @Html.DisplayFor(model => model.NSRecipientID)

        </div>
    </div>
    <div class="col-md-6">
        <div>
            @Html.Label("Recipient ID: ", htmlAttributes: new { @class = "control-label" })
            @Html.DisplayFor(model => model.FK_RecipID)

        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-6">
        <div>
            @Html.Label("Telephone 1: ", htmlAttributes: new { @class = "control-label" })
            @String.Format("{0: (###) ###-####}", Convert.ToInt64(Model.Phone1))<br />
            @Html.Label("Telephone 1 Type: ", htmlAttributes: new { @class = "control-label" })
            @Html.DisplayFor(model => model.P1PhoneType) <br />
            @Html.Label("Telephone 1 Personal Message: ", htmlAttributes: new { @class = "control-label" })
            @Html.DisplayFor(model => model.P1PersonalMessage)

        </div>
    </div>

    <div class="col-md-6">
        <div>
            @Html.Label("Telephone 2: ", htmlAttributes: new { @class = "control-label" })
            @if (Model.Phone2 != "") { String.Format("{0: (###) ###-####}", Convert.ToInt64(Model.Phone2)); }<br />
            @Html.Label("Telephone 2 Type: ", htmlAttributes: new { @class = "control-label" })
            @Html.DisplayFor(model => model.P2PhoneType) <br />
            @Html.Label("Telephone 2 Personal Message: ", htmlAttributes: new { @class = "control-label" })
            @Html.DisplayFor(model => model.P2PersonalMessage)

        </div>
    </div>

</div>

<div class="row">
    <div class="col-md-12">
        <div>
            @Html.Label("Email: ", htmlAttributes: new { @class = "control-label" })
            @Html.DisplayFor(model => model.Email)
            
        </div>
    </div>

</div>
<hr />
<h4>Recipient Demographics</h4>

<div class="row">
    <div class="col-md-6">
        <div>
            @Html.Label("Race: ", htmlAttributes: new { @class = "control-label" })
            @Html.DisplayFor(model => model.SelectedRace)

        </div>
    </div>
    <div class="col-md-6">
        <div>
            @Html.Label("Hispanic: ", htmlAttributes: new { @class = "control-label" })
            @Html.DisplayFor(model => model.Ethnicity)

        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div>
            @Html.Label("Immigrant: ", htmlAttributes: new { @class = "control-label" })
            @Html.DisplayFor(model => model.ImmigrantStatus)

        </div>
    </div>
    <div class="col-md-6">
        <div>
            @Html.Label("Country of Origin: ", htmlAttributes: new { @class = "control-label" })
            @Html.DisplayFor(model => model.CountryOfOrigin)

        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div>
            @Html.Label("Primary Language: ", htmlAttributes: new { @class = "control-label" })
            @Html.DisplayFor(model => model.PrimaryLanguage)

        </div>
    </div>
    <div class="col-md-6">
        <div>
            @Html.Label("Can effectively communicate in English?: ", htmlAttributes: new { @class = "control-label" })
            @Html.DisplayFor(model => model.AgreeToSpeakEnglish)

        </div>
    </div>
</div>
<hr />
<h4>Details</h4>
<div class="row">
    <div class="col-md-6">
        <div>
            @Html.Label("Navigation Need: ", htmlAttributes: new { @class = "control-label" })
            @Html.DisplayFor(model => model.NSProblem)

        </div>
    </div>
    <div class="col-md-6">
        <div>
            @Html.Label("Site: ", htmlAttributes: new { @class = "control-label" })
            @Html.DisplayFor(model => model.CancerSite)

        </div>
    </div>
</div>


<hr />
<h4>Healthcare Coverage</h4>

<div class="row">
    <div class="col-md-6">
        <div>
            @Html.Label("Insurance Status: ", htmlAttributes: new { @class = "control-label" })
            @Html.DisplayFor(model => model.HealthInsuranceStatus)

        </div>
    </div>
    <div class="col-md-6">
        <div>
            @Html.Label("Health Program: ", htmlAttributes: new { @class = "control-label" })
            @Html.DisplayFor(model => model.HealthProgram)

        </div>
    </div>
</div>
<hr />
<h4>Provider</h4>

<div class="row">
    <div class="col-md-6">
        <div>
            @Html.Label("Business Name: ", htmlAttributes: new { @class = "control-label" })
            @Html.DisplayFor(model => model.PCPName)

        </div>
    </div>
    <div class="col-md-6">
        <div>
            @Html.Label("NPI: ", htmlAttributes: new { @class = "control-label" })
            @Html.DisplayFor(model => model.PCP_NPI)

        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <div>
            @Html.Label("Address: ", htmlAttributes: new { @class = "control-label" })
            @Html.DisplayFor(model => model.PCPAddress1)
            @Html.DisplayFor(model => model.PCPAddress2)
            @Html.DisplayFor(model => model.PCPCity)
            @Html.DisplayFor(model => model.PCPState)
            @Html.DisplayFor(model => model.PCPZip)

        </div>
    </div>
    
</div>

<div class="row">
    <div class="col-md-6">
        <div>
            @Html.Label("Contact Person: ", htmlAttributes: new { @class = "control-label" })
            @Html.DisplayFor(model => model.PCPContactFName)
            @Html.DisplayFor(model => model.PCPContactLName)
            
        </div>
    </div>
    <div class="col-md-6">
        <div>
            @Html.Label("Contact Title: ", htmlAttributes: new { @class = "control-label" })
            @Html.DisplayFor(model => model.PCPContactTitle)
            
        </div>
    </div>

</div>

<div class="row">
    <div class="col-md-6">
        <div>
            @Html.Label("Contact Telephone: ", htmlAttributes: new { @class = "control-label" })
            @if (Model.PCPContactTelephone != "") { String.Format("{0: (###) ###-####}", Convert.ToInt64(Model.PCPContactTelephone)); } <br />
            
            
        </div>
    </div>
    <div class="col-md-6">
        <div>
            @Html.Label("Contact Email: ", htmlAttributes: new { @class = "control-label" })
            @Html.DisplayFor(model => model.PCPContactEmail)

        </div>
    </div>

</div>

<hr />
<h4>Recipient Contact Preferences</h4>

<div class="row">
    <div class="col-md-6">
        <div>
            @Html.Label("Recipient Contact Preference Type: ", htmlAttributes: new { @class = "control-label" })
            @Html.DisplayFor(model => model.ContactPrefType)

        </div>
    </div>
    <div class="col-md-6">
        <div>
            @Html.Label("Recipient Contact Preference Days: ", htmlAttributes: new { @class = "control-label" })
            @Html.DisplayFor(model => model.SelectedWeekday)

        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div>
            @Html.Label("Recipient Contact Preference Hours: ", htmlAttributes: new { @class = "control-label" })
            @Html.DisplayFor(model => model.SelectedTime)

        </div>
    </div>
    <div class="col-md-6">
        <div>
            @Html.Label("Recipient Contact Preference Hours Other: ", htmlAttributes: new { @class = "control-label" })
            @Html.DisplayFor(model => model.ContactPrefHoursOther)

        </div>
    </div>
</div>

<hr />
<h4>Secondary/Caregiver Contact</h4>

<div class="row">
    <div class="col-md-6">
        <div>
            @Html.Label("Caregiver Contact Name: ", htmlAttributes: new { @class = "control-label" })
            @Html.DisplayFor(model => model.CaregiverName)

        </div>
    </div>
    <div class="col-md-6">
        <div>
            @Html.Label("Caregiver Relationship: ", htmlAttributes: new { @class = "control-label" })
            @Html.DisplayFor(model => model.Relationship)

        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div>
            @Html.Label("Caregiver Telephone: ", htmlAttributes: new { @class = "control-label" })
            @if (Model.CaregiverPhone != "") { String.Format("{0: (###) ###-####}", Convert.ToInt64(Model.CaregiverPhone)); } <br/>
            @Html.Label("Caregiver Telephone Type: ", htmlAttributes: new { @class = "control-label" })
            @Html.DisplayFor(model => model.CaregiverPhoneType)<br />
            @Html.Label("Caregiver Telephone Personal Message: ", htmlAttributes: new { @class = "control-label" })
            @Html.DisplayFor(model => model.CaregiverPhonePersonalMessage)

        </div>
    </div>
    <div class="col-md-6">
        <div>
            @Html.Label("Caregiver Email: ", htmlAttributes: new { @class = "control-label" })
            @Html.DisplayFor(model => model.CaregiverEmail)

        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div>
            @Html.Label("Caregiver Contact Preference: ", htmlAttributes: new { @class = "control-label" })
            @Html.DisplayFor(model => model.CaregiverContactPreference)
            
        </div>
    </div>
    
</div>

<div class="row">
    <div class="col-md-12">
        <div>
            @Html.Label("Caregiver Approvals: ", htmlAttributes: new { @class = "control-label" })
            @Html.DisplayFor(model => model.SelectedApprovals)

        </div>
    </div>

</div>

<hr />
<h4>Encounters</h4>

<div class="row">
    <div class="col-md-6">
        <div>
            @Html.Label("Number of Encounters: ", htmlAttributes: new { @class = "control-label" })
            @Html.DisplayFor(model => model.Encounters)<br />
            
        </div>
    </div>
    <div class="col-md-6">
        <div>
            @Html.Label("Number of Missed Appointments: ", htmlAttributes: new { @class = "control-label" })
            @Html.DisplayFor(model => model.MissedAppointments)

        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div>
            @Html.Label("Last Encounter: ", htmlAttributes: new { @class = "control-label" })
            @Html.DisplayFor(model => model.LastEncounter)<br />

        </div>
    </div>
    <div class="col-md-6">
        <div>
            @Html.Label("Next Encounter: ", htmlAttributes: new { @class = "control-label" })
            @Html.DisplayFor(model => model.NextEncounter)

        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div>
            @Html.Label("Outcome Status: ", htmlAttributes: new { @class = "control-label" })
            @Html.DisplayFor(model => model.SvcOutcomeStatus)<br />

        </div>
    </div>
    <div class="col-md-6">
        <div>
            @Html.Label("Outcome Status Date: ", htmlAttributes: new { @class = "control-label" })
            @Html.DisplayFor(model => model.SvcOutcomeStatusDt)

        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div>
            @Html.Label("Services Terminated: ", htmlAttributes: new { @class = "control-label" })
            @Html.DisplayFor(model => model.ServicesTerminated)<br />

        </div>
    </div>
    <div class="col-md-6">
        <div>
            @Html.Label("Services Terminated Date: ", htmlAttributes: new { @class = "control-label" })
            @Html.DisplayFor(model => model.ServicesTerminatedDt)

        </div>
    </div>
</div>

<hr />
<h4>Barriers To Care</h4>

<div class="row">
    <table class="table">
        <tr>
            <td>
                @Html.Label("Encounter Date")
            </td>
            <td>
                @Html.Label("Barrier")
            </td>
            <td>
                @Html.Label("Solutions")
            </td>
            <td>
                @Html.Label("Implementation Status")
            </td>
            
        </tr>

        @foreach (var item in Model.BarriersReport)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EncounterDt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BarrierAssessed)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SolutionOffered)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SolutionImplementationStatus)
                </td>
            </tr>
        }

    </table>

</div>


<hr />
        
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.NSRecipientID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
