﻿@using EWC_NSAA.ViewModels;
@model EWC_NSAA.ViewModels.BarrierViewModel
@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-sm-3">
            @foreach (var ls in EWC_NSAA.Controllers.BarriersController.GetBarrierTypeLookup())
            {
                <div class="row" style="color: #fff; margin-top:0px;vertical-align:top;white-space:nowrap; font-size:18px;padding: 12px; background-color:#696967;">
                    <div class="col-lg-3">
                        <a style="cursor:pointer;color: #fff;" onclick="GetBarrier(@ls.Value)">@ls.Text</a>
                    </div>
                </div>
            }
            @Html.Hidden("SelectedBarrierType", 0)
        </div>
        <div class="col-sm-8" style="vertical-align:top">
            <div class="panel panel-default" id="nsEnrollmentFour">
                <div class="panel-body">
                    <div class="form-horizontal">
                        <div id="divBarriers" class="Barriers">
                        </div>
                        @Html.Hidden("SelectedBarrier", 0)
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                        <div id="divBarrierSolutions" class="Solutions">
                        </div>
                        @Html.Hidden("SelectedSolution", 0)
                        @Html.Hidden("SelectedFollowupDt", 0)
                        @Html.Hidden("SelectedImplementationStatus", 0)
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(document).ready(function () {
            $('#submit').click(function () {
                var _solutions = "";
                var _followupdt = "";
                var _implementationstatus = "";
                $('input[type=checkbox]').each(function () {
                    if (this.checked) {
                        _solutions += $(this).attr('id') + ':' + $(this).val() + ',';
                    }
                });

                $('input[name=followupdt]').each(function () {
                    _followupdt += $(this).attr('id') + ':' + $(this).val() + ',';
                });

                $('select[name=implementationstatus]').each(function () {
                    _implementationstatus += $(this).attr('id') + ':' + $(this).val() + ',';
                });


                $('#SelectedSolution').val(_solutions);
                $('#SelectedFollowupDt').val(_followupdt);
                $('#SelectedImplementationStatus').val(_implementationstatus);

            });
        });



    </script>
}




