﻿

<div class="container" style="margin-top:15px;">
    <div class="row">
        <article class="col-sm-12 col-md-12 col-lg-12 sortable-grid ui-sortable">
            <div id="wid-id-0">
                <!-- widget div-->
                <div class="widget-body">
                    <div class="row">
                        <form id="wizard-1" novalidate="novalidate">
                            <div id="bootstrap-wizard-1" class="col-sm-12">
                                <div class="form-bootstrapWizard">
                                    <ul class="bootstrapWizard form-wizard col-md-offset-3">
                                        <li class="active" data-target="#step1">
                                            <a onclick="return showHideTab('one')" data-toggle="tab" class="active" style="cursor:pointer"> <span class="step">1</span> <span class="title">Encounter</span> </a>
                                        </li>
                                        <li data-target="#step2" class="">
                                            <a onclick="return showHideTab('two','two')" data-toggle="tab" style="cursor:pointer"> <span class="step">2</span> <span class="title">Barriers & Solutions</span> </a>
                                        </li>
                                        <li data-target="#step3" class="">
                                            <a onclick="return showHideTab('three','three')" data-toggle="tab" style="cursor:pointer"> <span class="step">3</span> <span class="title">Next Steps</span> </a>
                                        </li>
                                        <li data-target="#step4" class="">
                                            <a onclick="return showHideTab('four','four')" data-toggle="tab" style="cursor:pointer"> <span class="step">3</span> <span class="title">Notes</span> </a>
                                        </li>
                                    </ul>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="tab-content" style="margin-top:30px">
                                    <div class="panel panel-default" id="tab1">
                                        <div class="panel-body">
                                            <div class="tab-pane active">
                                                @Html.Partial("Assesment_tab1")
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default" id="tab2">
                                        <div class="panel-body">
                                            <div class="tab-pane">
                                                @Html.Partial("Assesment_tab2")
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default" id="tab3">
                                        <div class="panel-body">
                                            <div class="tab-pane">
                                                @Html.Partial("Assesment_tab3")
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default" id="tab4">
                                        <div class="panel-body">
                                            <div class="tab-pane">
                                                @Html.Partial("Assesment_tab4")
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- end widget div -->
            </div>

            <!-- end widget -->
        </article>
    </div>
</div>




@section Scripts{
    <script type="text/javascript">

        $(document).ready(function () {
            $('#tab2').css('display', 'none');
            $('#tab3').css('display', 'none');
            $('#tab4').css('display', 'none');
        })

        function showHideTab(currentTab, previous) {
            if (validateForm(currentTab, previous)) {
                if (currentTab == "one") {
                    $('#tab1').css('display', 'block');
                    $('#tab2').css('display', 'none');
                    $('#tab3').css('display', 'none');
                    $('#tab4').css('display', 'none');
                }
                else if (currentTab == "two") {
                    $('#tab1').css('display', 'none');
                    $('#tab2').css('display', 'block');
                    $('#tab3').css('display', 'none');
                    $('#tab4').css('display', 'none');
                }
                else if (currentTab == "three") {
                    $('#tab1').css('display', 'none');
                    $('#tab2').css('display', 'none');
                    $('#tab3').css('display', 'block');
                    $('#tab4').css('display', 'none');
                }
                else if (currentTab == "four") {
                    $('#tab1').css('display', 'none');
                    $('#tab2').css('display', 'none');
                    $('#tab3').css('display', 'none');
                    $('#tab4').css('display', 'block');
                }
            }

        }

        function validateForm(currText, previous) {
            var tabVal = "";
            if (previous != undefined) {
                currText = previous;
            }
            if (currText == "one") {
                tabVal = "#step1";
            }
            else if (currText == "two") {

                tabVal = "#step2";
            }
            else if (currText == "three") {
                tabVal = "#step3";
            }
            else if (currText == "four") {

                tabVal = "#step4";
            }
            else if (currText == "five") {
                tabVal = "#step5";
            }

            return true;
        }

    </script>

}

















