﻿
@{
    ViewBag.Title = "clinicalservices";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Enrollment";
}
<div class="container body-content" style="margin-top:40px;"></div>
<div class="row col-md-12" style="margin-left: 0px;">

    <div class="col-lg-3 col-md-3">

        <div class="panel panel-primary" style="border-color:rgb(221, 221, 221); color: #060606;box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.1), 0px 2px 10px 0 rgba(0, 0, 0, 0.2);">
            <div class="panel-heading" style="background-color: rgb(203, 52, 60);border-color:rgb(203, 52, 60);">
                <div class="row">
                    <div class="col-md-12">
                        <div class="text-center">PCP Enrollment Management</div>
                    </div>
                </div>
            </div>
            <a href="#" style="color: #060606;">
                <div class="panel-footer">
                    <div class="col-md-12">
                        <span class="pull-left">Networking</span>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </a>

            <a href="#" style="color: #060606;">
                <div class="panel-footer">
                    <div class="col-md-12">
                        <span class="pull-left">Enrollment</span>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </a>

            <a href="@Url.Action("Index", "PCPEnrollment")" onclick="navigationClick()">
                <div class="panel-footer">
                    <div class="col-md-12">
                        <span class="pull-left">PCP Survey</span>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </a>

            <a href="#" style="color: #060606;">
                <div class="panel-footer">
                    <div class="col-md-12">
                        <span class="pull-left">Monitoring</span>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </a>

            <a href="#" style="color: #060606;">
                <div class="panel-footer">
                    <div class="col-md-12">
                        <span class="pull-left">Invesitgation & Disenrollment</span>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>



    </div>



    <div class="col-lg-3 col-md-3">

        <div class="panel panel-primary" style="border-color:rgb(221, 221, 221); color: #060606;box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.1), 0px 2px 10px 0 rgba(0, 0, 0, 0.2);margin-bottom: 45px;">
            <div class="panel-heading" style="background-color: rgb(203, 52, 60);border-color:rgb(203, 52, 60);">
                <div class="row">
                    <div class="col-md-12">
                        <div class="text-center">Clinical Services Support</div>
                    </div>
                </div>
            </div>
            <a href="#" style="color: #060606;">
                <div class="panel-footer">
                    <div class="col-md-12">
                        <span class="pull-left" style="margin-right:15px;">Mandated Attendance</span>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </a>

            <a href="#" style="color: #060606;">
                <div class="panel-footer">
                    <div class="col-md-12">
                        <span class="pull-left">Reports</span>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </a>

            <a href="@Url.Action("Index", "PCPEnrollment")" style="color: #060606;">
                <div class="panel-footer">
                    <div class="col-md-12">
                        <span class="pull-left">Program Materials</span>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </a>

            <a href="#" style="color: #060606;">
                <div class="panel-footer">
                    <div class="col-md-12">
                        <span class="pull-left">Travel</span>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </a>

            <a href="#" style="color: #060606;">
                <div class="panel-footer">
                    <div class="col-md-12">
                        <span class="pull-left">Expenses</span>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>


    </div>


    <div class="col-lg-3 col-md-3">

        <div class="panel panel-primary" style="border-color:rgb(221, 221, 221); color: #060606;box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.1), 0px 2px 10px 0 rgba(0, 0, 0, 0.2);">
            <div class="panel-heading" style="background-color: rgb(203, 52, 60);border-color:rgb(203, 52, 60);">
                <div class="row">
                    <div class="col-md-12">
                        <div class="text-center">PCP Site Visit</div>
                    </div>
                </div>
            </div>
            <a href="#" style="color: #060606;">
                <div class="panel-footer">
                    <span class="pull-left">PCP Site Visit</span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>


        <div class="panel panel-primary" style="border-color:rgb(221, 221, 221); color: #060606;box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.1), 0px 2px 10px 0 rgba(0, 0, 0, 0.2);">
            <div class="panel-heading" style="background-color: rgb(203, 52, 60);border-color:rgb(203, 52, 60);">
                <div class="row">
                    <div class="col-md-12">
                        <div class="text-center">Recipient & PCP Assistance</div>
                    </div>
                </div>
            </div>
            <a href="@Url.Action("Create", "Assistance")" , onclick="navigationClick()">
                <div class="panel-footer">
                    <span class="pull-left">
                        Recipient & PCP
                        Assistance
                    </span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>

        <div class="panel panel-primary" style="border-color:rgb(221, 221, 221); color: #060606;box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.1), 0px 2px 10px 0 rgba(0, 0, 0, 0.2);">
            <div class="panel-heading" style="background-color: rgb(203, 52, 60);border-color:rgb(203, 52, 60);">
                <div class="row">
                    <div class="col-md-12">
                        <div class="text-center">Error Remediation</div>
                    </div>
                </div>
            </div>
            <a href="#" style="color: #060606;">
                <div class="panel-footer">
                    <span class="pull-left">Error Remediation</span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>

    <div class="col-lg-3 col-md-3">

        <div class="panel panel-default" style="box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.1), 0px 2px 10px 0 rgba(0, 0, 0, 0.2);">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-12">
                        <div class="text-center">Messages</div>
                    </div>
                </div>
            </div>

            <ul>
                <li>
                    ASP.NET is an open-source[2] server-side web application framework designed for web development to produce dynamic web pages.<br /><br />
                </li>
                <li>
                    It was developed by Microsoft to allow programmers to build dynamic web sites, web applications and web services.<br /><br />
                </li>

                <li>
                    ASP.NET's successor is ASP.NET Core. It is a re-implementation of ASP.NET as a modular web framework, together with other frameworks like Entity Framework. The new framework uses the new open-source .NET Compiler Platform (codename "Roslyn") and is cross platform.
                </li>
            </ul>
        </div>
    </div>


</div>

<script type="text/javascript">
    $(document).ready(function () {

        var location = window.location.href;
        if (location.toLocaleLowerCase().lastIndexOf('assistance/create') != -1) {
            $('#selectedHeading').css('background-color', '#2481c6');
            $('#selectedSpan').html('Clinical Services > PCP Assistance');
        }
    });

    function navigationClick() {
        
        var location = window.location.href;

        if (location.toLocaleLowerCase().lastIndexOf('assistance/create') != -1) {
            $('#selectedHeading').css('background-color', '#cb343c');
            $('#selectedSpan').html('<font style="font-size:25px">Clinical Services > PCP Assistance</font>');
        }
    }
</script>
