﻿@using EWC_NSAA.ViewModels;
@model EWC_NSAA.ViewModels.BarrierViewModel

@{
    var solutionStatus = new SelectList(new[]
    {
        new { Text = "N-IMPT", Value = "0"},
        new { Text = "IMPT", Value = "1"}
    }, "Value", "Text", "0");
}

<style type="text/css">
    /*  bhoechie tab */
    div.bhoechie-tab-container {
        z-index: 10;
        padding: 0 !important;
        -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
        box-shadow: 0 6px 12px rgba(0,0,0,.175);
        -moz-box-shadow: 0 6px 12px rgba(0,0,0,.175);
        background-clip: padding-box;
        opacity: 0.97;
        filter: alpha(opacity=97);
    }

    div.bhoechie-tab-menu {
        padding-right: 0;
        padding-left: 0;
        padding-bottom: 0;
    }

        div.bhoechie-tab-menu div.list-group {
            margin-bottom: 0;
        }

            div.bhoechie-tab-menu div.list-group > a {
                margin-bottom: 0;
            }

    .list-group-item {
        background-color: #dff8f8;
        border-color: #dff8f8;
    }

        .list-group-item.active {
            background-color: #397EB9;
            border-color: #397EB9;
            color: #d8f4f7;
        }

    div.bhoechie-tab-menu div.list-group,
    div.bhoechie-tab-menu div.list-group > a .fa {
        color: #5A55A3;
    }

        div.bhoechie-tab-menu div.list-group > a:first-child {
            border-top-right-radius: 0;
            -moz-border-top-right-radius: 0;
        }

        div.bhoechie-tab-menu div.list-group > a:last-child {
            border-bottom-right-radius: 0;
            -moz-border-bottom-right-radius: 0;
        }

        div.bhoechie-tab-menu div.list-group > a.active,
        div.bhoechie-tab-menu div.list-group > a.active .fa {
            background-color: #397EB9;
            border-color: #397EB9;
            color: #d8f4f7;
        }

            div.bhoechie-tab-menu div.list-group > a.active:after {
                content: '';
                position: absolute;
                left: 100%;
                top: 50%;
                margin-top: -13px;
                border-left: 0;
                border-bottom: 13px solid transparent;
                border-top: 13px solid transparent;
                border-left: 10px solid #397EB9;
            }

    div.bhoechie-tab-content {
    }

    div.bhoechie-tab div.bhoechie-tab-content:not(.active) {
        display: none;
    }

    a {
        color: #005782;
        text-decoration: none;
    }

    table th {
        padding: 15px 5px 10px;
        text-align: left;
        background-color: #7EB2B2;
        font-family: 'FiraSans-Light' !important;
        font-size: 18px !important;
        color: #fff;
    }

    table td {
        padding: 5px 2px 2px;
        text-align: left;
        align-items: left;
        font-family: 'FiraSans-Light' !important;
        font-size: 18px !important;
    }

    .table-row-style {
        background-color: #DEF9F9;
        padding: 3px 7px 2px;
        text-align: left;
        font-family: 'FiraSans-Light' !important;
        font-size: 18px !important;
    }

    .table-striped > tbody > tr:nth-of-type(odd) {
        background-color: #DEF9F9;
        padding: 3px 7px 2px;
        font-family: 'FiraSans-Light' !important;
        font-size: 18px !important;
    }
</style>

<head>
    <style>
        .bnsmargin #barriersolution1 {
            padding-top: 15px !important;
        }
    </style>
</head>

<div class="panel panel-default" style="border:none" id="">
    <h3 style="padding-left:20px">   Barriers & Solutions</h3>
    <div class="panel-body">
        <div class="container">
            <div class="row">
                <div class="bhoechie-tab-container">
                    <div class="form-group col-lg-2 text-center">
                        <label>Category</label>
                    </div>
                    <div class="form-group col-lg-3 text-center">
                        <label>Barriers</label>
                    </div>
                    <div class="form-group col-lg-4 text-center">
                        <label>Solutions</label>
                    </div>
                    <div class="form-group col-lg-12">
                        <div class="col-sm-2 bhoechie-tab-menu" style="padding-left:20px;">
                            <div class="list-group">
                                <a href="#" class="list-group-item active text-right">
                                    <span class="option1"></span>Transportation & Logistics
                                </a>
                                <a href="#" class="list-group-item text-right">
                                    <span class="option2"></span>Language, Culture & Literacy
                                </a>
                                <a href="#" class="list-group-item text-right">
                                    <span class="option3"></span> <b> Financial</b>
                                </a>
                                <a href="#" class="list-group-item text-right">
                                    <span class="option4"></span>Health Literacy or Education
                                </a>
                                <a href="#" class="list-group-item text-right">
                                    <span class="option5"></span>PCP or Referral PCP
                                </a>
                                <a href="#" class="list-group-item text-right">
                                    <span class="option6"></span>Social Support or Distress
                                </a>
                                <a href="#" class="list-group-item text-right">
                                    <span class="option7"></span>Others
                                </a>
                            </div>
                        </div>

                        <div class="col-md-10 bhoechie-tab">
                            <!-- transportation section -->
                            <div class="bhoechie-tab-content active">
                                <div class="option1">
                                    <div class="barriers col-xs-4">
                                        <div class="list-group">
                                            <a href="#" class="list-group-item ">
                                                No car/access to or can’t afford public transportation
                                            </a>
                                            <a href="#" class="list-group-item">
                                                Conflict, PCP & work schedules; can’t take time off work
                                            </a>
                                            <a href="#" class="list-group-item">
                                                No coordination of services or service locations
                                            </a>
                                            <a href="#" class="list-group-item">
                                                Need child or elder-care
                                            </a>
                                            <a href="#" class="list-group-item">
                                                Disabled
                                            </a>
                                            <div href="#" class="list-group-item">
                                                <br />
                                            </div>
                                            <a href="#" class="list-group-item">
                                                <div class="form-inline">
                                                    Other&nbsp;&nbsp;&nbsp;
                                                    <input class="form-control" id="txtBxOther" type="text" style="width:150px">
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="solutions col-xs-5">
                                        <div class="list-group" id="solution">
                                            <a href="#" name="solution" id="1st" class="list-group-item">
                                                Find alt. PCP
                                            </a>
                                            <a href="#" name="solution" id="2nd" class="list-group-item">
                                                Discuss/identity public/personal transportation options
                                            </a>
                                            <a href="#" name="solution" id="3rd" class="list-group-item">
                                                Discuss child/elder care options; or PCP with appropriate service
                                            </a>
                                            <a href="#" name="solution" id="4th" class="list-group-item">
                                                Assist coordinate appointments/travel; or records/info. arrived
                                            </a>
                                            <a href="#" name="solution" id="5th" class="list-group-item">
                                                Coach, communicating special needs
                                            </a>
                                            <a href="#" name="solution" id="6th" class="list-group-item">
                                                <div class="form-inline">
                                                    Referral&nbsp;
                                                    <input class="form-control" id="txtBxOther" type="text" style="width:150px">
                                                </div>
                                            </a>
                                            <a href="#" name="solution" id="7th" class="list-group-item">
                                                <div class="form-inline">
                                                    Other&nbsp;&nbsp;&nbsp;
                                                    <input class="form-control" id="txtBxOther" type="text" style="width:150px">
                                                </div>
                                            </a>
                                            <div name="solution" class="list-group-item" style="height:5px">
                                                <br />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="list-group" id="solutionstatus">
                                            <div class="dropdown" name="solutionStatus" id="1st" style="border:none; margin-top:10px;">
                                                @Html.DropDownList("Status", solutionStatus, new { @class = "form-control" })
                                            </div>
                                            <div class="dropdown" name="solutionStatus" id="2nd" style="border:none; margin-top:35px;">
                                                @Html.DropDownList("Status", solutionStatus, new { @class = "form-control" })
                                            </div>
                                            <div class="dropdown" name="solutionStatus" id="3rd" style="border:none; margin-top:30px;">
                                                @Html.DropDownList("Status", solutionStatus, new { @class = "form-control" })
                                            </div>
                                            <div class="dropdown" name="solutionStatus" id="4th" style="border:none; margin-top:40px;">
                                                @Html.DropDownList("Status", solutionStatus, new { @class = "form-control" })
                                            </div>
                                            <div class="dropdown" name="solutionStatus" id="5th" style="border:none; margin-top:20px;">
                                                @Html.DropDownList("Status", solutionStatus, new { @class = "form-control" })
                                            </div>
                                            <div class="dropdown" name="solutionStatus" id="6th" style="border:none; margin-top:15px;">
                                                @Html.DropDownList("Status", solutionStatus, new { @class = "form-control" })
                                            </div>
                                            <div class="dropdown" name="solutionStatus" id="7th" style="border:none; margin-top:20px;">
                                                @Html.DropDownList("Status", solutionStatus, new { @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Language, Culture & Literacy section -->
                            <div class="bhoechie-tab-content">
                                <div class="option2">
                                    <div class="barriers col-xs-4">
                                        <div class="list-group">
                                            <a href="#" class="list-group-item active">
                                                Difficulty speaking or reading English
                                            </a>
                                            <a href="#" class="list-group-item">
                                                Cultural beliefs inconsistent with exam, procedure or treatment
                                            </a>
                                            <a href="#" class="list-group-item">
                                                Difficulty communicating needs/desires to PCP
                                            </a>
                                            <div href="#" class="list-group-item">
                                                <br />
                                            </div>
                                            <a href="#" class="list-group-item">
                                                <div class="form-inline">
                                                    Other&nbsp;&nbsp;&nbsp;
                                                    <input class="form-control" id="txtBxOther" type="text" style="width:150px">
                                                </div>
                                            </a>
                                            <div href="#" class="list-group-item">
                                                <br />
                                            </div>
                                            <div href="#" class="list-group-item">
                                                <br />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="solutions col-xs-5">
                                        <div class="list-group" id="solution">
                                            <a href="#" name="solution" id="1st" class="list-group-item">
                                                Refer, culturally competent/linguistically appropriate PCP or with translation service
                                            </a>
                                            <a href="#" name="solution" id="2nd" class="list-group-item">
                                                Coach, communicating special needs
                                            </a>
                                            <div href="#" class="list-group-item" style="height:60px">
                                                <br />
                                            </div>
                                            <a href="#" name="solution" id="6th" class="list-group-item">
                                                <div class="form-inline">
                                                    Referral&nbsp;
                                                    <input class="form-control" id="txtBxOther" type="text" style="width:150px">
                                                </div>
                                            </a>
                                            <a href="#" name="solution" id="7th" class="list-group-item">
                                                <div class="form-inline">
                                                    Other&nbsp;&nbsp;&nbsp;
                                                    <input class="form-control" id="txtBxOther" type="text" style="width:150px">
                                                </div>
                                            </a>
                                            <div href="#" class="list-group-item" style="height:65px">
                                                <br />
                                            </div>
                                            <div href="#" class="list-group-item" style="height:65px">
                                                <br />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="list-group" id="solutionstatus">
                                            <div class="dropdown" name="solutionStatus" id="1st" style="border:none; margin-top:30px;">
                                                @Html.DropDownList("Status", solutionStatus, new { @class = "form-control" })
                                            </div>
                                            <div class="dropdown" name="solutionStatus" id="2nd" style="border:none; margin-top:40px;">
                                                @Html.DropDownList("Status", solutionStatus, new { @class = "form-control" })
                                            </div>
                                            <div class="dropdown" name="solutionStatus" id="3rd" style="border:none; margin-top:75px;">
                                                @Html.DropDownList("Status", solutionStatus, new { @class = "form-control" })
                                            </div>
                                            <div class="dropdown" name="solutionStatus" id="4th" style="border:none; margin-top:30px;">
                                                @Html.DropDownList("Status", solutionStatus, new { @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Financial section -->
                            <div class="bhoechie-tab-content">
                                <div class="option3">
                                    <div class="barriers col-xs-4">
                                        <div class="list-group">
                                            <a href="#" class="list-group-item active">
                                                No health insurance
                                            </a>
                                            <a href="#" class="list-group-item">
                                                Can’t afford co-pay /share-of-cost/ deductible
                                            </a>
                                            <div href="#" class="list-group-item" style="height:66px">
                                                <br />
                                            </div>
                                            <a href="#" class="list-group-item">
                                                <div class="form-inline">
                                                    Other&nbsp;&nbsp;&nbsp;
                                                    <input class="form-control" id="txtBxOther" type="text" style="width:150px">
                                                </div>
                                            </a>
                                            <div href="#" class="list-group-item" style="height:66px">
                                                <br />
                                            </div>
                                            <div href="#" class="list-group-item" style="height:66px">
                                                <br />
                                            </div>
                                            <div href="#" class="list-group-item" style="height:66px">
                                                <br />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="solutions col-xs-5">
                                        <div class="list-group" id="solution">
                                            <a href="#" name="solution" id="1st" class="list-group-item">
                                                Eligible for Covered California, refer
                                            </a>
                                            <a href="#" name="solution" id="2nd" class="list-group-item">
                                                Ineligible for Covered California, refer to appropriate program
                                            </a>
                                            <a href="#" name="solution" id="6th" class="list-group-item">
                                                <div class="form-inline">
                                                    Referral&nbsp;
                                                    <input class="form-control" id="txtBxOther" type="text" style="width:150px">
                                                </div>
                                            </a>
                                            <a href="#" name="solution" id="7th" class="list-group-item">
                                                <div class="form-inline">
                                                    Other&nbsp;&nbsp;&nbsp;
                                                    <input class="form-control" id="txtBxOther" type="text" style="width:150px">
                                                </div>
                                            </a>
                                            <div class="list-group-item" style="height:70px">
                                                <br />
                                            </div>
                                            <div class="list-group-item" style="height:70px">
                                                <br />
                                            </div>
                                            <div class="list-group-item" style="height:70px">
                                                <br />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="list-group" id="solutionstatus">
                                            <div class="dropdown" name="solutionStatus" id="1st" style="border:none; margin-top:10px;">
                                                @Html.DropDownList("Status", solutionStatus, new { @class = "form-control" })
                                            </div>
                                            <div class="dropdown" name="solutionStatus" id="2nd" style="border:none; margin-top:25px;">
                                                @Html.DropDownList("Status", solutionStatus, new { @class = "form-control" })
                                            </div>
                                            <div class="dropdown" name="solutionStatus" id="3rd" style="border:none; margin-top:30px;">
                                                @Html.DropDownList("Status", solutionStatus, new { @class = "form-control" })
                                            </div>
                                            <div class="dropdown" name="solutionStatus" id="4th" style="border:none; margin-top:20px;">
                                                @Html.DropDownList("Status", solutionStatus, new { @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Health Literacy or Education seciton -->
                            <div class="bhoechie-tab-content">
                                <div class="barriers col-xs-4">
                                    <div class="list-group">
                                        <a href="#" class="list-group-item active">
                                            Health not a priority
                                        </a>
                                        <a href="#" class="list-group-item">
                                            Confused
                                        </a>
                                        <a href="#" class="list-group-item">
                                            Difficulty completing forms; gathering additional
                                        </a>
                                        <div href="#" class="list-group-item">
                                            <br />
                                        </div>
                                        <a href="#" class="list-group-item">
                                            <div class="form-inline">
                                                Other&nbsp;&nbsp;&nbsp;
                                                <input class="form-control" id="txtBxOther" type="text" style="width:150px">
                                            </div>
                                        </a>
                                        <div class="list-group-item" style="height:85px">
                                            <br />
                                        </div>
                                        <div class="list-group-item" style="height:85px">
                                            <br />
                                        </div>
                                    </div>
                                </div>
                                <div class="solutions col-xs-5">
                                    <div class="list-group" id="solution">
                                        <a href="#" name="solution" id="1st" class="list-group-item">
                                            Educate - cancer, healthcare system, test, procedures, diagnoses and/or treatments
                                        </a>
                                        <a href="#" name="solution" id="2nd" class="list-group-item">
                                            Refer, culturally competent/linguistically appropriate PCP or with translation service
                                        </a>
                                        <a href="#" class="list-group-item">
                                            Assist completing forms; explain info. needed
                                        </a>
                                        <a href="#" name="solution" id="6th" class="list-group-item">
                                            <div class="form-inline">
                                                Referral&nbsp;
                                                <input class="form-control" id="txtBxOther" type="text" style="width:150px">
                                            </div>
                                        </a>
                                        <a href="#" name="solution" id="7th" class="list-group-item">
                                            <div class="form-inline">
                                                Other&nbsp;&nbsp;&nbsp;
                                                <input class="form-control" id="txtBxOther" type="text" style="width:150px">
                                            </div>
                                        </a>
                                        <div class="list-group-item" style="height:60px">
                                            <br />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="list-group" id="solutionstatus">
                                        <div class="dropdown" name="solutionStatus" id="1st" style="border:none; margin-top:20px;">
                                            @Html.DropDownList("Status", solutionStatus, new { @class = "form-control" })
                                        </div>
                                        <div class="dropdown" name="solutionStatus" id="2nd" style="border:none; margin-top:80px;">
                                            @Html.DropDownList("Status", solutionStatus, new { @class = "form-control" })
                                        </div>
                                        <div class="dropdown" name="solutionStatus" id="3rd" style="border:none; margin-top:50px;">
                                            @Html.DropDownList("Status", solutionStatus, new { @class = "form-control" })
                                        </div>
                                        <div class="dropdown" name="solutionStatus" id="4th" style="border:none; margin-top:30px;">
                                            @Html.DropDownList("Status", solutionStatus, new { @class = "form-control" })
                                        </div>
                                        <div class="dropdown" name="solutionStatus" id="5th" style="border:none; margin-top:20px;">
                                            @Html.DropDownList("Status", solutionStatus, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- PCP or Referral PCP seciton -->
                            <div class="bhoechie-tab-content">
                                <div class="option5">
                                    <div class="barriers col-xs-4">
                                        <div class="list-group">
                                            <a href="#" class="list-group-item active">
                                                Problem contacting PCP
                                            </a>
                                            <a href="#" class="list-group-item">
                                                Problem making appointment
                                            </a>
                                            <a href="#" class="list-group-item">
                                                Billing issue
                                            </a>
                                            <a href="#" class="list-group-item">
                                                Problem, access/follow-up with specialist
                                            </a>
                                            <a href="#" class="list-group-item">
                                                Problem, PCP or staff behavior (specify)
                                            </a>
                                            <a href="#" class="list-group-item">
                                                Program eligibility question (specify program)
                                            </a>
                                            <div name="solution" class="list-group-item" style="height:25px">
                                                <br />
                                            </div>
                                            <a href="#" class="list-group-item">
                                                <div class="form-inline">
                                                    Other&nbsp;&nbsp;&nbsp;
                                                    <input class="form-control" id="txtBxOther" type="text" style="width:150px">
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="solutions col-xs-5">
                                        <div class="list-group" id="solution">
                                            <a href="#" name="solution" id="1st" class="list-group-item">
                                                Provide correct contact info. or PCP accepting clients; report to EWC, PSU
                                            </a>
                                            <a href="#" name="solution" id="2nd" class="list-group-item">
                                                Investigate, billing or behavior issue; report to EWC, CSU
                                            </a>
                                            <a href="#" name="solution" id="3rd" class="list-group-item">
                                                Assess eligibility
                                            </a>
                                            <div name="solution" id="4th" class="list-group-item" style="height:46px">
                                                <br />
                                            </div>
                                            <div name="solution" id="4th" class="list-group-item" style="height:46px">
                                                <br />
                                            </div>
                                            <div name="solution" id="5th" class="list-group-item" style="height:46px">
                                                <br />
                                            </div>
                                            <a href="#" name="solution" id="6th" class="list-group-item">
                                                <div class="form-inline">
                                                    Referral&nbsp;
                                                    <input class="form-control" id="txtBxOther" type="text" style="width:150px">
                                                </div>
                                            </a>
                                            <a href="#" name="solution" id="7th" class="list-group-item">
                                                <div class="form-inline">
                                                    Other&nbsp;&nbsp;&nbsp;
                                                    <input class="form-control" id="txtBxOther" type="text" style="width:150px">
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="list-group" id="solutionstatus">
                                            <div class="dropdown" name="solutionStatus" id="1st" style="border:none; margin-top:10px;">
                                                @Html.DropDownList("Status", solutionStatus, new { @class = "form-control" })
                                            </div>
                                            <div class="dropdown" name="solutionStatus" id="2nd" style="border:none; margin-top:50px;">
                                                @Html.DropDownList("Status", solutionStatus, new { @class = "form-control" })
                                            </div>
                                            <div class="dropdown" name="solutionStatus" id="3rd" style="border:none; margin-top:210px;">
                                                @Html.DropDownList("Status", solutionStatus, new { @class = "form-control" })
                                            </div>
                                            <div class="dropdown" name="solutionStatus" id="7th" style="border:none; margin-top:25px;">
                                                @Html.DropDownList("Status", solutionStatus, new { @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Social Support or Distress seciton -->
                            <div class="bhoechie-tab-content">
                                <div class="option6">
                                    <div class="barriers col-xs-4">
                                        <div class="list-group">
                                            <a href="#" class="list-group-item active">
                                                Avoid/refuse care due to fear/stress
                                            </a>
                                            <a href="#" class="list-group-item">
                                                No family/social support
                                            </a>
                                            <a href="#" class="list-group-item">
                                                Unstable living situation / homeless
                                            </a>
                                            <div class="list-group-item" style="height:65px">
                                                <br />
                                            </div>
                                            <a href="#" class="list-group-item">
                                                <div class="form-inline">
                                                    Other&nbsp;&nbsp;&nbsp;
                                                    <input class="form-control" id="txtBxOther" type="text" style="width:150px">
                                                </div>
                                            </a>
                                            <div class="list-group-item" style="height:65px">
                                                <br />
                                            </div>
                                            <div class="list-group-item" style="height:65px">
                                                <br />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="solutions col-xs-5">
                                        <div class="list-group" id="solution">
                                            <a href="#" name="solution" id="1st" class="list-group-item">
                                                Educate - cancer, healthcare system, test, procedures, diagnoses and/or treatments
                                            </a>
                                            <a href="#" name="solution" id="2nd" class="list-group-item">
                                                Refer, support groups/counseling services; or appropriate authority
                                            </a>
                                            <div class="list-group-item" style="height:60px">
                                                <br />
                                            </div>
                                            <a href="#" name="solution" id="6th" class="list-group-item">
                                                <div class="form-inline">
                                                    Referral&nbsp;
                                                    <input class="form-control" id="txtBxOther" type="text" style="width:150px">
                                                </div>
                                            </a>
                                            <a href="#" name="solution" id="7th" class="list-group-item">
                                                <div class="form-inline">
                                                    Other&nbsp;&nbsp;&nbsp;
                                                    <input class="form-control" id="txtBxOther" type="text" style="width:150px">
                                                </div>
                                            </a>
                                            <div href="#" class="list-group-item" style="height:50px">
                                                <br />
                                            </div>
                                            <div href="#" class="list-group-item" style="height:50px">
                                                <br />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="list-group" id="solutionstatus">
                                            <div class="dropdown" name="solutionStatus" id="1st" style="border:none; margin-top:10px;">
                                                @Html.DropDownList("Status", solutionStatus, new { @class = "form-control" })
                                            </div>
                                            <div class="dropdown" name="solutionStatus" id="2nd" style="border:none; margin-top:70px;">
                                                @Html.DropDownList("Status", solutionStatus, new { @class = "form-control" })
                                            </div>
                                            <div class="dropdown" name="solutionStatus" id="3rd" style="border:none; margin-top:90px;">
                                                @Html.DropDownList("Status", solutionStatus, new { @class = "form-control" })
                                            </div>
                                            <div class="dropdown" name="solutionStatus" id="4th" style="border:none; margin-top:28px;">
                                                @Html.DropDownList("Status", solutionStatus, new { @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Others seciton -->
                            <div class="bhoechie-tab-content">
                                <div class="option7">
                                    <div class="barriers col-xs-4">
                                        <div class="list-group">
                                            <div class="list-group-item" style="height:64px">
                                                <br />
                                            </div>
                                            <div class="list-group-item" style="height:64px">
                                                <br />
                                            </div>
                                            <div class="list-group-item" style="height:65px">
                                                <br />
                                            </div>
                                            <div class="list-group-item" style="height:65px">
                                                <br />
                                            </div>
                                            <div class="list-group-item" style="height:65px">
                                                <br />
                                            </div>
                                            <div class="list-group-item" style="height:65px">
                                                <br />
                                            </div>
                                            <a href="#" class="list-group-item">
                                                <div class="form-inline">
                                                    Other&nbsp;&nbsp;&nbsp;
                                                    <input class="form-control" id="txtBxOther" type="text" style="width:150px">
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="solutions col-xs-5">
                                        <div class="list-group" id="solution">
                                            <div class="list-group-item" style="height:66px">
                                                <br />
                                            </div>
                                            <div class="list-group-item" style="height:66px">
                                                <br />
                                            </div>
                                            <div class="list-group-item" style="height:66px">
                                                <br />
                                            </div>
                                            <div class="list-group-item" style="height:66px">
                                                <br />
                                            </div>
                                            <div class="list-group-item" style="height:66px">
                                                <br />
                                            </div>
                                            <a href="#" name="solution" id="6th" class="list-group-item">
                                                <div class="form-inline">
                                                    Referral&nbsp;
                                                    <input class="form-control" id="txtBxOther" type="text" style="width:150px">
                                                </div>
                                            </a>
                                            <a href="#" name="solution" id="7th" class="list-group-item">
                                                <div class="form-inline">
                                                    Other&nbsp;&nbsp;&nbsp;
                                                    <input class="form-control" id="txtBxOther" type="text" style="width:150px">
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="list-group" id="solutionstatus">
                                            <div class="dropdown" name="solutionStatus" id="4th" style="border:none; margin-top:325px; ">
                                                @Html.DropDownList("Status", solutionStatus, new { @class = "form-control" })
                                            </div>
                                            <div class="dropdown" name="solutionStatus" id="5th" style="border:none; margin-top:30px;">
                                                @Html.DropDownList("Status", solutionStatus, new { @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <br />
        <div class="panel-footer" style="border-top: none;">
            <div class="row">
                <div class="col-md-7"></div>
                <div class="col-md-5">
                    <div class="col-md-11 pull-right">
                        <a onclick="showHideTab('one')" class="btn" id="back-step" style="cursor:pointer;background-color: #3a3a3a;border: 2px #cfcfcf;font-size: 18px !important;color: #fff;"> <span class="glyphicon glyphicon-arrow-left"></span> Previous </a>
                        <a href=@Url.Action("create", "barriers") class="btn btn-success" style="background-color: #2485ca;border: 2px #cfcfcf;font-size: 18px !important;" id="activate-step"> &nbsp;&nbsp;&nbsp;Save&nbsp;&nbsp;&nbsp;</a>
                        <a onclick="showHideTab('three')" class="btn" id="back-step" style="cursor:pointer;background-color: #3a3a3a;border: 2px #cfcfcf;font-size: 18px !important;color: #fff;">  &nbsp;&nbsp;&nbsp; Next <span class="glyphicon glyphicon-arrow-right"></span>&nbsp;&nbsp;  </a>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="row" style="padding-left:20px">
            <div class="form-group col-lg-12">
                <div class="panel panel-primary">
                    <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne">
                        <h4 class="panel-title accordion-toggle">
                            Encounter Summary
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="col-lg-12" style="margin-left:-20px">
                                <table class="table table-hover table-striped table-responsive">
                                    <thead>
                                        <tr>
                                            <th>
                                                <label>Enc</label>

                                            </th>
                                            <th>
                                                <label>Miss</label>
                                            </th>
                                            <th>
                                                <label>Category</label>
                                            </th>

                                            <th>
                                                <label>Barriers</label>
                                            </th>

                                            <th>
                                                <label>Solutions</label>
                                            </th>

                                            <th>
                                                <label>Statuts</label>
                                            </th>

                                            <th>
                                                <label></label>
                                            </th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td></td>
                                            <td>Transportation && Logistics</td>
                                            <td>No car/access to or can't access public transportation</td>
                                            <td>Discuss/identity public/personal transportation options</td>
                                            <td>Not Implemented</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td></td>
                                            <td>Language Culture && Literacy</td>
                                            <td>Cultural beliefs inconsistent with exam, test, procedure or treatement</td>
                                            <td>Refer to culturally competent/linguistically appropriate PCP or with translation service</td>
                                            <td>Implemented</td>
                                            <td>6/29/2017</td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td></td>
                                            <td>Financial</td>
                                            <td>No health insurance</td>
                                            <td>Other: Apply to SSA</td>
                                            <td>Not Implemented</td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<script type="text/javascript">
    $(document).ready(function () {
        $("div.bhoechie-tab-menu>div.list-group>a").click(function (e) {
            e.preventDefault();
            $(this).siblings('a.active').removeClass("active");
            $(this).addClass("active");
            var index = $(this).index();
            $("div.bhoechie-tab>div.bhoechie-tab-content").removeClass("active");
            $("div.bhoechie-tab>div.bhoechie-tab-content").eq(index).addClass("active");
        });

        $("div.list-group>a").click(function (e) {
            e.preventDefault();
            $(this).siblings('a.active').removeClass("active");
            $(this).addClass("active");
        });

        $('a.list-group-item').click(function (e) {
            var isActive = $('a.list-group-item').hasClass('active');
            if (isActive && $(this).attr('name') == 'solution') {
                var id = $(this).attr('id');
                $("#" + id + " .dropdown").css('display', 'block');

            }
        });

    });
</script>