﻿@using EWC_NSAA.ViewModels;
@model EWC_NSAA.ViewModels.BarrierViewModel

@using (Html.BeginForm())
{

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.tBarrier.BarrierID)
        @Html.HiddenFor(model => model.tBarrier.FK_EncounterID)
        @Html.HiddenFor(model => model.NSRecipientID)

        <div class="row BarrierType">
            <div class="col-md-3">
                <div class="form-group">

                    @foreach (var ls in EWC_NSAA.Controllers.BarriersController.GetBarrierTypeLookup())
                    {
                        if (Model.tBarrier.BarrierType.ToString() == ls.Value)
                        {
                            @Html.RadioButtonFor(model => model.SelectedBarrierType, ls.Value, new { @class = "rblBarrierType", id = "BarrierType" + ls.Value, @onchange = "javascript:GetBarrier(this.value);", Checked = "true" }) @ls.Text
                        }
                        else
                        {
                            @Html.RadioButtonFor(model => model.SelectedBarrierType, ls.Value, new { @class = "rblBarrierType", id = "BarrierType" + ls.Value, @onchange = "javascript:GetBarrier(this.value);" }) @ls.Text
                        }
                        <br />
                    }
                    @Html.Hidden("SelectedBarrierType", 0)
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <div id="divBarriers" class="Barriers">
                        @foreach (var ls in EWC_NSAA.Controllers.BarriersController.GetBarrierLookup().Where(m => m.BarrierTypeCode == Model.tBarrier.BarrierType).ToList())
                        {
                            if (Model.tBarrier.BarrierAssessed == ls.BarrierCode)
                            {
                                @Html.RadioButtonFor(model => model.SelectedBarrier, ls.BarrierCode, new { @class = "rblBarrier", id = "Barrier" + ls.BarrierCode, Checked = "true" }) @ls.BarrierDescription
                            }
                            else
                            {
                                @Html.RadioButtonFor(model => model.SelectedBarrier, ls.BarrierCode, new { @class = "rblBarrier", id = "Barrier" + ls.BarrierCode }) @ls.BarrierDescription
                            }
                            <br />
                        }
                    </div>
                    @Html.Hidden("SelectedBarrier", 0)
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">

                    <div id="divBarrierSolutions" class="Solutions">
                        <table>
                            <tr>
                                <td width="50%">Solution</td>
                                <td width="25%">Follow up Date</td>
                                <td width="25%">Implementation Status</td>
                            </tr>
                            @foreach (var ls in EWC_NSAA.Controllers.BarriersController.GetBarrierSolutionLookup().Where(m => m.BarrierTypeCode == Model.tBarrier.BarrierType).ToList())
                            {
                                if (Model.Solutions.Count == 0)
                                {

                                    <tr>
                                        <td width="50%"><input type="checkbox" name="barriersolution" id="@("barriersolution"+ls.BarrierSolutionCode)" value="@(ls.BarrierSolutionCode)" />&nbsp;@ls.BarrierSolutionDescription</td>
                                        <td width="25%"><input type="text" name="followupdt" id="@("followupdt"+ls.BarrierSolutionCode)" value="" /></td>
                                        <td width="25%"><select name="implementationstatus" id="@("implementationstatus"+ls.BarrierSolutionCode)"><option value="0" selected>--Select--</option><option value="1">Implemented</option><option value="2">Not implemented</option></select></td>
                                    </tr>

                                }
                                else
                                {
                                    foreach (var solution in Model.Solutions)
                                    {
                                        <tr>


                                            <td width="50%"><input type="checkbox" name="barriersolution" id="@("barriersolution"+ls.BarrierSolutionCode)" checked="@(solution.SolutionOffered == ls.BarrierSolutionCode )" value="@(ls.BarrierSolutionCode)" />&nbsp;@ls.BarrierSolutionDescription</td>
                                            @if (solution.SolutionOffered == ls.BarrierSolutionCode)
                                            {
                                                <td width="25%"><input type="text" name="followupdt" id="@("followupdt"+ls.BarrierSolutionCode)" value="@(solution.FollowUpDt)" /></td>
                                            }
                                            else
                                            {
                                                <td width="25%"><input type="text" name="followupdt" id="@("followupdt"+ls.BarrierSolutionCode)" value="" /></td>
                                            }

                                            @if (solution.SolutionImplementationStatus == 0)
                                            {
                                                <td width="25%"><select name="implementationstatus" id="@("implementationstatus"+ls.BarrierSolutionCode)"><option value="0" selected>--Select--</option><option value="1">Implemented</option><option value="2">Not implemented</option></select></td>
                                            }
                                            @if (solution.SolutionImplementationStatus == 1)
                                            {
                                                <td width="25%"><select name="implementationstatus" id="@("implementationstatus"+ls.BarrierSolutionCode)"><option value="0">--Select--</option><option value="1" selected>Implemented</option><option value="2">Not implemented</option></select></td>
                                            }
                                            @if (solution.SolutionImplementationStatus == 2)
                                            {
                                                <td width="25%"><select name="implementationstatus" id="@("implementationstatus"+ls.BarrierSolutionCode)"><option value="0">--Select--</option><option value="1">Implemented</option><option value="2" selected>Not implemented</option></select></td>
                                            }
                                        </tr>
                                    }//end foreach Solutions
                                }// end else
                            }
                        </table>
                    </div>
                    @Html.Hidden("SelectedSolution", 0)
                    @Html.Hidden("SelectedFollowupDt", 0)
                    @Html.Hidden("SelectedImplementationStatus", 0)
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" id="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>

    </div>

}

@section Scripts {

   @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        function GetBarrier(_barrierType) {            
            $('#SelectedBarrierType').val(_barrierType);

            var url = "/Barriers/BarrierTypePost/";            
            $.ajax({
                url: url,
                data: { paramBarrierType: _barrierType },
                cache: false,
                type: "POST",
                success: function (data) {

                    var markup = "";
                    for (var x = 0; x < data.length; x++) {
                        markup += "<input type='radio' name='barrier' id='barrier" + data[x].Value + "' value='" + data[x].Value + "' onchange='GetSolution(this.value)'>" + data[x].Text + "<br />";                        
                    }
                    $("#divBarriers").html(markup).show();


                },
                error: function (reponse) {
                    alert("error : " + reponse);
                }
            });

        }

        function GetSolution(_barrier) {

            var _barriertype = $('#SelectedBarrierType').val();
            $('#SelectedBarrier').val(_barrier);

            var url = "/Barriers/BarrierPost/";

            $.ajax({
                url: url,
                data: { paramBarrierType: _barriertype },
                cache: false,
                type: "POST",
                success: function (data) {

                    var markup = "<div class='row'><div class='col-md-12'><table width='100%'><tr><td width='50%'>Solution</td><td width='25%'>Follow up Date</td><td width='25%'>Implementation Status</td></tr>";
                    for (var x = 0; x < data.length; x++) {
                        markup += "<tr><td width='50%'><input type='checkbox' name='barriersolution' id='barriersolution" + data[x].Value + "' value='" + data[x].Value + "'>&nbsp;" + data[x].Text + "</td><td width='25%'><input type='text' name='followupdt' id='followupdt" + data[x].Value + "'></td><td width='25%'><select name='implementationstatus' id='implementationstatus" + data[x].Value + "'><option value='0'>--Select--</option><option value='1'>Implemented</option><option value='2'>Not implemented</option></select></td></tr>";
                    }
                    markup += "</table></div></div>"
                    $("#divBarrierSolutions").html(markup).show();
                },
                error: function (reponse) {
                    alert("error : " + reponse);
                }
            });

        }

        $(document).ready(function () {
            $('#submit').click(function () {
                //alert("Inside submit");
                var _solutions = "";
                var _followupdt = "";
                var _implementationstatus = "";
                $('input[name=barriersolution]').each(function () {
                    if (this.checked) {
                        _solutions += $(this).attr('id') + ':' + $(this).val() + ',';
                    }
                });

                $('input[name=followupdt]').each(function () {
                    _followupdt += $(this).attr('id') + ':' + $(this).val() + ',';
                });

                $('select[name=implementationstatus]').each(function () {
                    _implementationstatus += $(this).attr('id') + ':' + $(this).val() + ',';
                });
                $('#SelectedSolution').val(_solutions);
                $('#SelectedFollowupDt').val(_followupdt);
                $('#SelectedImplementationStatus').val(_implementationstatus);

            });
        });

    </script>
}


