﻿@model EWC_NSAA.ViewModels.EncounterViewModel

@{
    Layout = null;
}


    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
    <tr>
        <th>
            @Html.LabelFor(model => model.Barriers.FirstOrDefault().BarrierType)
        </th>
        <th>
            @Html.LabelFor(model => model.Barriers.FirstOrDefault().BarrierAssessed)
        </th>
        <th>
            @Html.LabelFor(model => model.Barriers.FirstOrDefault().FollowUpDt)
        </th>
        <th>
            @Html.LabelFor(model => model.Barriers.FirstOrDefault().DateCreated)
        </th>
        <th>
            @Html.LabelFor(model => model.Barriers.FirstOrDefault().CreatedBy)
        </th>
        <th>
            @Html.LabelFor(model => model.Barriers.FirstOrDefault().LastUpdated)
        </th>
        <th>
            @Html.LabelFor(model => model.Barriers.FirstOrDefault().UpdatedBy)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model.Barriers)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BarrierType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BarrierAssessed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FollowUpDt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastUpdated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedBy)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.BarrierID })
            </td>
        </tr>

    }

</table>