﻿
<div class="panel panel-default" style="border:none;" id="ehrsystem1">
    <div class="panel-body" style="background-color:#fff;">
        <b>10. Does your office use an Electronic Health or Medical Record (EHR) software?   </b> 

        <br /><br />
        <div class="row top-padding10" style="background-color:#fff;">
            <div class="col-md-12">
                <div class="col-md-5" style="padding-left:26px;">
                    <input id="radio1" type="checkbox" checked="">
                    <label for="radio1">
                        &nbsp;
                        Yes
                    </label>
                </div>
            </div>

            <div class="col-md-12">
                <div class="col-md-4 " style="padding-left:26px; padding-top:7px;">
                    <input id="radio2" type="checkbox">
                    <label for="checkbox2">
                        &nbsp;
                        No
                    </label>
                </div>
            </div>

        </div>

        <br />
        <b>11. If your office uses an EHR software, what is the name of your software?    </b> 

        <br /><br />

        <div class="row col-md-12 top-padding10" style="background-color:#fff;">
            <div class="col-md-12">
                <div class="col-md-4" style="padding-left:10px;">
                    <input id="radio1" type="checkbox">
                    <label for="checkbox1">
                        &nbsp;
                        NextGen Healthcare
                    </label>
                </div>
                <div class="col-md-4"  style="padding-top:7px;">
                    <input id="radio1" type="checkbox">
                    <label for="checkbox2">
                        &nbsp;
                        Epic Systems Corporation
                    </label>

                </div>
            </div>

            <div class="col-md-12">
                <div class="col-md-4" style="padding-left:10px;padding-top:5px;">
                    <input id="radio1" type="checkbox">
                    <label for="checkbox1">
                        &nbsp;
                        eClinicalWorks LLC
                    </label>
                </div>
                <div class="col-md-4 "  style="padding-top:7px;">
                    <input id="radio1" type="checkbox">
                    <label for="checkbox2">
                        &nbsp;
                        Cerner Corporation
                    </label>

                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-4 " style="padding-left:10px; padding-top:7px;">
                    <input id="radio1" type="checkbox">
                    <label for="checkbox1">
                        &nbsp;
                        Practise Fusion
                    </label>
                </div>
                <div class="col-md-4 "  style="padding-top:7px;">
                    <input id="radio1" type="checkbox">
                    <label for="checkbox2">
                        &nbsp;
                        Allscripts
                    </label>

                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-4 top-padding7" style="padding-left:10px; padding-top:7px;" >
                    <input id="radio1" type="checkbox">
                    <label for="checkbox1">
                        &nbsp;
                        Office Ally
                    </label>
                </div>
                <div class="col-md-4 "  style="padding-top:7px;">
                    <input id="radio1" type="checkbox">
                    <label for="checkbox2">
                        &nbsp;
                        Greenway Health LLC
                    </label>

                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-4 top-padding7" style="padding-left:10px; padding-top:7px;">
                    <input id="radio1" type="checkbox" >
                    <label for="checkbox1">
                        &nbsp;
                        i2i Systems Health LLC
                    </label>
                </div>
                <div class="col-md-8">

                    <div class="row">
                        <div class="col-md-3 "  style="padding-top:7px;">
                            <input id="checkerotherehr" type="checkbox">
                            <label for="checkerotherehr">
                                &nbsp;
                                Other
                            </label>
                        </div>
                        <div class="col-md-6">
                            <input type="text" class="form-control" id="txtotherehr2" />

                        </div>
                        <div class="col-md-1">
                            <a class="btn btn-success" style="background-color: #3a3a3a;border: 2px #cfcfcf;font-size: 18px !important;" id="btnotherehr2"> Add </a>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>

    
    <br />

    <br />


    <div class="panel-footer" style="border-top: none;">


        <div class="row">
            <div class="col-md-8">
            </div>
            <div class="col-md-4">
                <div class="col-md-12" style="text-align:right">
                    <a onclick="showHideTab('followUp3')" class="btn" id="back-step" style="cursor:pointer;background-color: #3a3a3a;border: 2px #cfcfcf;color: #fff;"> <span class="glyphicon glyphicon-arrow-left"></span>  Previous </a>

                    <a onclick="showHideTab('ehrsystem2')" class="btn" id="back-step" style="cursor:pointer;background-color: #3a3a3a;border: 2px #cfcfcf;color: #fff;">   &nbsp;&nbsp;&nbsp; Next <span class="glyphicon glyphicon-arrow-right"></span>&nbsp;&nbsp; </a>
                </div>
            </div>
        </div>
    </div><br />



</div>

<div class="panel panel-default" style="border:none" id="ehrsystem2">


    <div class="panel-body col-sm-12" style="background-color:#fff;">

        <b>12. If your office uses an EHR software, which features are available and which do you use?   </b>
        <br /><br />

        <div class="col-md-12 " style="padding-left:34px;">

            <div class="row bg-primary " style="padding-bottom:7px; height:80px;">
                <div class="col-md-5"></div>
                <div class="col-md-2" style="text-align:center;"><br />Available and Being Used</div>
                <div class="col-md-2" style="text-align :center; "><br />Available but Not Being Used</div>
                <div class="col-md-2" style="padding-top:25px;text-align: center;"><br />Not Available</div>

                <div class="col-md-1" style="text-align:center;"><br />Don’t Know</div>


            </div>


            <div class="row bottom" style="padding-top:11px;padding-bottom:11px;vertical-align:middle;/* position: relative; */">
                <div class="col-md-5">
                    If your office uses an EHR software, which features are available
                    and which do you use?
                </div>
                <div class="col-md-2 text-center" style="padding-right: 0px;padding-top: 7px;">
                    <div class="checkbox">
                        <input type="checkbox" value="" autocomplete="off">
                    </div>
                </div>
                <div class="col-md-2 text-center" style="padding-top: 7px;padding-right: 0px;">

                    <div class="checkbox" style="">


                        <input type="checkbox" value="">
                    </div>
                </div>
                <div class="col-md-2 text-center" style="padding-right: 0px;padding-top: 7px;">
                    <div class="checkbox">
                        <input type="checkbox" value="">
                    </div>
                </div>
                <div class="col-md-1 text-center" style="padding-right:0px;padding-top:7px;">

                    <div class="checkbox">
                        <input type="checkbox" value="">
                    </div>
                </div>

            </div>



            <div class="row bottom" style="vertical-align:middle;">
                <div class="col-md-5" style="padding-top:11px;padding-bottom:11px;">
                    Enter, store and update patient demographics
                </div>
                <div class="col-md-2 text-center" style="padding-right: 0px;padding-top: 5px;">
                    <div class="checkbox">
                        <input type="checkbox" value="" autocomplete="off">
                    </div>
                </div>
                <div class="col-md-2 text-center" style="padding-top: 7px;padding-right: 0px;">

                    <div class="checkbox" style="">


                        <input type="checkbox" value="">
                    </div>
                </div>
                <div class="col-md-2 text-center" style="padding-right: 0px;padding-top: 5px;">
                    <div class="checkbox">
                        <input type="checkbox" value="">
                    </div>
                </div>
                <div class="col-md-1 text-center" style="padding-right:0px;padding-top:5px;">

                    <div class="checkbox">
                        <input type="checkbox" value="">
                    </div>
                </div>


            </div>


            <div class="row bottom" style="vertical-align:middle;">
                <div class="col-md-5" style="padding-top:11px;padding-bottom:11px;">
                    Enter, store and update clinical notes
                </div>
                <div class="col-md-2 text-center" style="padding-right: 0px;padding-top: 5px;">
                    <div class="checkbox">
                        <input type="checkbox" value="" autocomplete="off">
                    </div>
                </div>
                <div class="col-md-2 text-center" style="padding-top: 7px;padding-right: 0px;">

                    <div class="checkbox" style="">


                        <input type="checkbox" value="">
                    </div>
                </div>
                <div class="col-md-2 text-center" style="padding-right: 0px;padding-top: 5px;">
                    <div class="checkbox">
                        <input type="checkbox" value="">
                    </div>
                </div>
                <div class="col-md-1 text-center" style="padding-right:0px;padding-top:5px;">

                    <div class="checkbox">
                        <input type="checkbox" value="">
                    </div>
                </div>

            </div>



            <div class="row bottom" style="vertical-align:middle;">
                <div class="col-md-5" style="padding-top:11px;padding-bottom:11px;">
                    Create and maintain patient problem list or diagnoses
                </div>
                <div class="col-md-2 text-center" style="padding-right: 0px;padding-top: 18px;">
                    <div class="checkbox">
                        <input type="checkbox" value="" autocomplete="off">
                    </div>
                </div>
                <div class="col-md-2 text-center" style="padding-top:18px;padding-right: 0px;">

                    <div class="checkbox" style="">


                        <input type="checkbox" value="">
                    </div>
                </div>
                <div class="col-md-2 text-center" style="padding-right: 0px;padding-top: 18px;">
                    <div class="checkbox">
                        <input type="checkbox" value="">
                    </div>
                </div>
                <div class="col-md-1 text-center" style="padding-right:0px;padding-top:18px;">

                    <div class="checkbox">
                        <input type="checkbox" value="">
                    </div>
                </div>

            </div>


            <div class="row bottom" style="padding-top:11px;padding-bottom:11px; vertical-align:middle;">
                <div class="col-md-5">
                    Create, send, receive, review and store scanned documents
                </div>
                <div class="col-md-2 text-center" style="padding-right: 0px;padding-top: 7px;">
                    <div class="checkbox">
                        <input type="checkbox" value="" autocomplete="off">
                    </div>
                </div>
                <div class="col-md-2 text-center" style="padding-top: 7px;padding-right: 0px;">

                    <div class="checkbox" style="">


                        <input type="checkbox" value="">
                    </div>
                </div>
                <div class="col-md-2 text-center" style="padding-right: 0px;padding-top: 7px;">
                    <div class="checkbox">
                        <input type="checkbox" value="">
                    </div>
                </div>
                <div class="col-md-1 text-center" style="padding-right:0px;padding-top:7px;">

                    <div class="checkbox">
                        <input type="checkbox" value="">
                    </div>
                </div>


            </div>


            <div class="row bottom" style="vertical-align:middle;">
                <div class="col-md-5" style="padding-top:11px;padding-bottom:11px;">
                    Send/receive communications: Email, Fax, Mobile phone short
                    message service (SMS) etc.
                </div>
                <div class="col-md-2 text-center" style="padding-right: 0px;padding-top: 18px;">
                    <div class="checkbox">
                        <input type="checkbox" value="" autocomplete="off">
                    </div>
                </div>
                <div class="col-md-2 text-center" style="padding-top: 18px;padding-right: 0px;">

                    <div class="checkbox" style="">


                        <input type="checkbox" value="">
                    </div>
                </div>
                <div class="col-md-2 text-center" style="padding-right: 0px;padding-top: 18px;">
                    <div class="checkbox">
                        <input type="checkbox" value="">
                    </div>
                </div>
                <div class="col-md-1 text-center" style="padding-right:0px;padding-top:18px;">

                    <div class="checkbox">
                        <input type="checkbox" value="">
                    </div>
                </div>

            </div>


            <div class="row bottom" style="padding-top:11px;padding-bottom:11px; vertical-align:middle;">
                <div class="col-md-5">
                    Generate patient reminders for appointments based on date of
                    last service and/or screening guidelines
                </div>
                <div class="col-md-2 text-center" style="padding-right: 0px;padding-top: 20px;">
                    <div class="checkbox">
                        <input type="checkbox" value="" autocomplete="off">
                    </div>
                </div>
                <div class="col-md-2 text-center" style="padding-top: 20px;padding-right: 0px;">

                    <div class="checkbox" style="">


                        <input type="checkbox" value="">
                    </div>
                </div>
                <div class="col-md-2 text-center" style="padding-right: 0px;padding-top: 20px;">
                    <div class="checkbox">
                        <input type="checkbox" value="">
                    </div>
                </div>
                <div class="col-md-1 text-center" style="padding-right:0px;padding-top:20px;">

                    <div class="checkbox">
                        <input type="checkbox" value="">
                    </div>
                </div>


            </div>


            <div class="row bottom" style="vertical-align:middle;">
                <div class="col-md-5" style="padding-top:11px;padding-bottom:11px;">
                    Transmit information on patient referred to referral provider
                </div>
                <div class="col-md-2 text-center" style="padding-right: 0px;padding-top: 18px;">
                    <div class="checkbox">
                        <input type="checkbox" value="" autocomplete="off">
                    </div>
                </div>
                <div class="col-md-2 text-center" style="padding-top: 18px;padding-right: 0px;">

                    <div class="checkbox" style="">


                        <input type="checkbox" value="">
                    </div>
                </div>
                <div class="col-md-2 text-center" style="padding-right: 0px;padding-top: 18px;">
                    <div class="checkbox">
                        <input type="checkbox" value="">
                    </div>
                </div>
                <div class="col-md-1 text-center" style="padding-right:0px;padding-top:18px;">

                    <div class="checkbox">
                        <input type="checkbox" value="">
                    </div>
                </div>

            </div>


            <div class="row bottom" style="vertical-align:middle;">
                <div class="col-md-5" style="padding-top:11px;padding-bottom:11px;">
                    Order lab tests
                </div>
                <div class="col-md-2 text-center" style="padding-right: 0px;padding-top: 5px;">
                    <div class="checkbox">
                        <input type="checkbox" value="" autocomplete="off">
                    </div>
                </div>
                <div class="col-md-2 text-center" style="padding-top: 7px;padding-right: 0px;">

                    <div class="checkbox" style="">


                        <input type="checkbox" value="">
                    </div>
                </div>
                <div class="col-md-2 text-center" style="padding-right: 0px;padding-top: 5px;">
                    <div class="checkbox">
                        <input type="checkbox" value="">
                    </div>
                </div>
                <div class="col-md-1 text-center" style="padding-right:0px;padding-top:5px;">

                    <div class="checkbox">
                        <input type="checkbox" value="">
                    </div>
                </div>

            </div>


            <div class="row bottom" style="vertical-align:middle;">
                <div class="col-md-5" style="padding-top:11px;padding-bottom:11px;">
                    View or receive lab test results
                </div>
                <div class="col-md-2 text-center" style="padding-right: 0px;padding-top: 5px;">
                    <div class="checkbox">
                        <input type="checkbox" value="" autocomplete="off">
                    </div>
                </div>
                <div class="col-md-2 text-center" style="padding-top: 7px;padding-right: 0px;">

                    <div class="checkbox" style="">


                        <input type="checkbox" value="">
                    </div>
                </div>
                <div class="col-md-2 text-center" style="padding-right: 0px;padding-top: 5px;">
                    <div class="checkbox">
                        <input type="checkbox" value="">
                    </div>
                </div>
                <div class="col-md-1 text-center" style="padding-right:0px;padding-top:5px;">

                    <div class="checkbox">
                        <input type="checkbox" value="">
                    </div>
                </div>
            </div>


            <div class="row bottom" style="vertical-align:middle;">
                <div class="col-md-5" style="padding-top:11px;padding-bottom:11px;">
                    Order radiology tests
                </div>
                <div class="col-md-2 text-center" style="padding-right: 0px;padding-top: 5px;">
                    <div class="checkbox">
                        <input type="checkbox" value="" autocomplete="off">
                    </div>
                </div>
                <div class="col-md-2 text-center" style="padding-top: 7px;padding-right: 0px;">

                    <div class="checkbox" style="">


                        <input type="checkbox" value="">
                    </div>
                </div>
                <div class="col-md-2 text-center" style="padding-right: 0px;padding-top: 5px;">
                    <div class="checkbox">
                        <input type="checkbox" value="">
                    </div>
                </div>
                <div class="col-md-1 text-center" style="padding-right:0px;padding-top:5px;">

                    <div class="checkbox">
                        <input type="checkbox" value="">
                    </div>
                </div>

            </div>


            <div class="row bottom" style="vertical-align:middle;">
                <div class="col-md-5" style="padding-top:11px;padding-bottom:11px;">
                    View printed record/report or images of radiology test results
                </div>
                <div class="col-md-2 text-center" style="padding-right: 0px;padding-top: 18px;">
                    <div class="checkbox">
                        <input type="checkbox" value="" autocomplete="off">
                    </div>
                </div>
                <div class="col-md-2 text-center" style="padding-top: 18px;padding-right: 0px;">

                    <div class="checkbox" style="">


                        <input type="checkbox" value="">
                    </div>
                </div>
                <div class="col-md-2 text-center" style="padding-right: 0px;padding-top: 18px;">
                    <div class="checkbox">
                        <input type="checkbox" value="">
                    </div>
                </div>
                <div class="col-md-1 text-center" style="padding-right:0px;padding-top:18px;">

                    <div class="checkbox">
                        <input type="checkbox" value="">
                    </div>
                </div>

            </div>


            <div class="row bottom" style="padding-top:11px;padding-bottom:11px; vertical-align:middle;">
                <div class="col-md-5">
                    Automatic highlighting/alerting of test results that are out of
                    normal range
                </div>
                <div class="col-md-2 text-center" style="padding-right: 0px;padding-top: 7px;">
                    <div class="checkbox">
                        <input type="checkbox" value="" autocomplete="off">
                    </div>
                </div>
                <div class="col-md-2 text-center" style="padding-top: 7px;padding-right: 0px;">

                    <div class="checkbox" style="">


                        <input type="checkbox" value="">
                    </div>
                </div>
                <div class="col-md-2 text-center" style="padding-right: 0px;padding-top: 7px;">
                    <div class="checkbox">
                        <input type="checkbox" value="">
                    </div>
                </div>
                <div class="col-md-1 text-center" style="padding-right:0px;padding-top:7px;">

                    <div class="checkbox">
                        <input type="checkbox" value="">
                    </div>
                </div>


            </div>


            <div class="row bottom" style="vertical-align:middle;">
                <div class="col-md-5" style="padding-top:11px;padding-bottom:11px;">
                    Automatic coding of procedures (e.g., CPT codes) and/or
                    disease conditions (e.g., ICD codes)
                </div>
                <div class="col-md-2 text-center" style="padding-right: 0px;padding-top: 18px;">
                    <div class="checkbox">
                        <input type="checkbox" value="" autocomplete="off">
                    </div>
                </div>
                <div class="col-md-2 text-center" style="padding-top: 18px;padding-right: 0px;">

                    <div class="checkbox" style="">


                        <input type="checkbox" value="">
                    </div>
                </div>
                <div class="col-md-2 text-center" style="padding-right: 0px;padding-top: 18px;">
                    <div class="checkbox">
                        <input type="checkbox" value="">
                    </div>
                </div>
                <div class="col-md-1 text-center" style="padding-right:0px;padding-top:18px;">

                    <div class="checkbox">
                        <input type="checkbox" value="">
                    </div>
                </div>

            </div>




            <br />

            <div class="panel-footer" style="border-top: none;">
                <div class="row">
                    <div class="col-md-8"></div>
                    <div class="col-md-4 ">
                        <div class="col-md-12" style="text-align:right">

                            <a onclick="showHideTab('ehrsystem1')" class="btn" id="back-step" style="cursor:pointer;background-color: #3a3a3a;border: 2px #cfcfcf;font-size: 18px !important;color: #fff;"> <span class="glyphicon glyphicon-arrow-left"></span>  Previous   </a>
                            <a onclick="showHideTab('six')" class="btn" id="back-step" style="cursor:pointer;background-color: #3a3a3a;border: 2px #cfcfcf;color: #fff;">  &nbsp;&nbsp;&nbsp; Next <span class="glyphicon glyphicon-arrow-right"></span>&nbsp;&nbsp;  </a>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>

<script>


    $(document).ready(function () {
        var checkbox = $('#checkerotherehr');
        var dependent = $('#txtotherehr2');
        var dependent2 = $('#btnotherehr2');
        if (checkbox.attr('checked') !== undefined) {
            dependent.show();
            dependent2.show();
        } else {
            dependent.hide();
            dependent2.hide();
        }

        checkbox.change(function (e) {
            dependent.toggle();
            dependent2.toggle();
        });
    });
</script>