﻿<div class="panel-default" style="border:none;display:none" id="followUp1">
    
    <div class="panel-body col-md-12">
        <b>5. Please describe your follow-up, case management and support services.  </b>
        <br /><br />

        <div class="col-md-12" style="padding-left:34px;">




            <div class="row bg-primary" style="padding:10px;">
                <div class="col-md-6"></div>
                <div class="col-md-1" style="padding-left:10px;text-align:center;">	Service Note Offered</div>
                <div class="col-md-1" style="padding-left:20px;padding-top:25px;text-align:center;">All Clients</div>
                <div class="col-md-1" style="padding-left:20px;text-align:center;">Abnormal Screening Results</div>
                <div class="col-md-1" style="margin-left:20px;text-align:center;">Diagnosed With Cancer</div>
                <div class="col-md-1" style="margin-left:20px;text-align:left;">Specific Health Insurance</div>
            </div>
            <div class="row bottom" style="padding-top:11px;padding-bottom:11px; vertical-align:middle;">
                <div class="col-md-6">
                    We notify our patients reminding them to schedule a future
                    appointment for preventive care including screening.
                </div>
                <div class="col-md-1 text-center" style="padding-right:0;padding-top:15px;">



                    <div class="checkbox">
                        <input type="checkbox" value="" autocomplete="off">
                    </div>
                </div>
                <div class="col-md-1 text-center" style="padding-left: 42px;padding-top: 15px;">
                    <div class="checkbox">
                        <input type="checkbox" value="">
                    </div>
                </div>
                <div class="col-md-1 text-center" style="padding-left: 65px;padding-top: 15px;">
                    <div class="checkbox">
                        <input type="checkbox" value="">
                    </div>
                </div>
                <div class="col-md-1 text-center" style="padding-left:85px;padding-right: 0;padding-top: 15px;">
                    <div class="checkbox">
                        <input type="checkbox" value="">
                    </div>
                </div>
                <div class="col-md-1 text-center" style="padding-left:95px;padding-right: 0;padding-top: 15px;">
                    <div class="checkbox">
                        <input type="checkbox" value="">
                    </div>
                </div>
            </div>

            <div class="row bottom" style="vertical-align:middle;">
                <div class="col-md-6" style="padding-top:11px;padding-bottom:11px;">
                    We notify our patients to confirm a scheduled appointment.
                </div>
                <div class="col-md-1 text-center" style="padding-right:0;padding-top:10px;">



                    <div class="checkbox">
                        <input type="checkbox" value="" autocomplete="off">
                    </div>
                </div>
                <div class="col-md-1 text-center" style="padding-left: 42px;padding-top: 10px;">
                    <div class="checkbox">
                        <input type="checkbox" value="">
                    </div>
                </div>
                <div class="col-md-1 text-center" style="padding-left: 65px;padding-top: 10px;">
                    <div class="checkbox">
                        <input type="checkbox" value="">
                    </div>
                </div>
                <div class="col-md-1 text-center" style="padding-left:85px;padding-right: 0;padding-top: 10px;">
                    <div class="checkbox">
                        <input type="checkbox" value="">
                    </div>
                </div>
                <div class="col-md-1 text-center" style="padding-left:95px;padding-right: 0;padding-top: 10px;">
                    <div class="checkbox">
                        <input type="checkbox" value="">
                    </div>
                </div>
            </div>

            <div class="row bottom" style="padding-top:11px;padding-bottom:11px; vertical-align:middle;">
                <div class="col-md-6">
                    We offer patients educational materials or classes on breast
                    and/or cervical cancer screening, diagnostics and/or
                    treatment.
                </div>
                <div class="col-md-1 text-center" style="padding-right:0;padding-top:20px;">



                    <div class="checkbox">
                        <input type="checkbox" value="" autocomplete="off">
                    </div>
                </div>
                <div class="col-md-1 text-center" style="padding-left: 42px;padding-top: 20px;">
                    <div class="checkbox">
                        <input type="checkbox" value="">
                    </div>
                </div>
                <div class="col-md-1 text-center" style="padding-left: 65px;padding-top: 20px;">
                    <div class="checkbox">
                        <input type="checkbox" value="">
                    </div>
                </div>
                <div class="col-md-1 text-center" style="padding-left:85px;padding-right: 0;padding-top: 20px;">
                    <div class="checkbox">
                        <input type="checkbox" value="">
                    </div>
                </div>
                <div class="col-md-1 text-center" style="padding-left:95px;padding-right: 0;padding-top: 20px;">
                    <div class="checkbox">
                        <input type="checkbox" value="">
                    </div>
                </div>
            </div>
            <div class="row bottom" style="padding-top:11px;padding-bottom:11px; vertical-align:middle;">
                <div class="col-md-6">
                    We offer patients the names and contact information for
                    referral providers if needed.
                </div>
                <div class="col-md-1 text-center" style="padding-right:0;padding-top:8px;">



                    <div class="checkbox">
                        <input type="checkbox" value="" autocomplete="off">
                    </div>
                </div>
                <div class="col-md-1 text-center" style="padding-left: 42px;padding-top: 8px;">
                    <div class="checkbox">
                        <input type="checkbox" value="">
                    </div>
                </div>
                <div class="col-md-1 text-center" style="padding-left: 65px;padding-top: 8px;">
                    <div class="checkbox">
                        <input type="checkbox" value="">
                    </div>
                </div>
                <div class="col-md-1 text-center" style="padding-left:85px;padding-right: 0;padding-top: 8px;">
                    <div class="checkbox">
                        <input type="checkbox" value="">
                    </div>
                </div>
                <div class="col-md-1 text-center" style="padding-left:95px;padding-right: 0;padding-top: 8px;">
                    <div class="checkbox">
                        <input type="checkbox" value="">
                    </div>
                </div>
            </div>
            <div class="row bottom">
                <div class="col-md-6" style="padding-top:11px;padding-bottom:11px;">
                    We make appointments with referral providers for patients.
                </div>
                <div class="col-md-1 text-center" style="padding-right:0;padding-top:8px;">



                    <div class="checkbox">
                        <input type="checkbox" value="" autocomplete="off">
                    </div>
                </div>
                <div class="col-md-1 text-center" style="padding-left: 42px;padding-top: 5px;">
                    <div class="checkbox">
                        <input type="checkbox" value="">
                    </div>
                </div>
                <div class="col-md-1 text-center" style="padding-left: 65px;padding-top: 5px;">
                    <div class="checkbox">
                        <input type="checkbox" value="">
                    </div>
                </div>
                <div class="col-md-1 text-center" style="padding-left:85px;padding-right: 0;padding-top: 5px;">
                    <div class="checkbox">
                        <input type="checkbox" value="">
                    </div>
                </div>
                <div class="col-md-1 text-center" style="padding-left:95px;padding-right: 0;padding-top: 5px;">
                    <div class="checkbox">
                        <input type="checkbox" value="">
                    </div>
                </div>
            </div>
            <div class="row bottom" style="padding-top:11px;padding-bottom:11px; vertical-align:middle;">
                <div class="col-md-6">
                    We assist patients in completing forms for other health
                    insurance (e.g., Medi-Cal, Covered California).
                </div>
                <div class="col-md-1 text-center" style="padding-right:0;padding-top:8px;">



                    <div class="checkbox">
                        <input type="checkbox" value="" autocomplete="off">
                    </div>
                </div>
                <div class="col-md-1 text-center" style="padding-left: 42px;padding-top: 8px;">
                    <div class="checkbox">
                        <input type="checkbox" value="">
                    </div>
                </div>
                <div class="col-md-1 text-center" style="padding-left: 65px;padding-top: 8px;">
                    <div class="checkbox">
                        <input type="checkbox" value="">
                    </div>
                </div>
                <div class="col-md-1 text-center" style="padding-left:85px;padding-right: 0;padding-top: 8px;">
                    <div class="checkbox">
                        <input type="checkbox" value="">
                    </div>
                </div>
                <div class="col-md-1 text-center" style="padding-left:95px;padding-right: 0;padding-top: 8px;">
                    <div class="checkbox">
                        <input type="checkbox" value="">
                    </div>
                </div>

            </div>
            <div class="row bottom" style="padding-top:11px;padding-bottom:11px; vertical-align:middle;">
                <div class="col-md-6">
                    We arrange and/or provide payment for transportation for
                    patients.
                </div>
                <div class="col-md-1 text-center" style="padding-right:0;padding-top:8px;">



                    <div class="checkbox">
                        <input type="checkbox" value="" autocomplete="off">
                    </div>
                </div>
                <div class="col-md-1 text-center" style="padding-left: 42px;padding-top: 8px;">
                    <div class="checkbox">
                        <input type="checkbox" value="">
                    </div>
                </div>
                <div class="col-md-1 text-center" style="padding-left: 65px;padding-top: 8px;">
                    <div class="checkbox">
                        <input type="checkbox" value="">
                    </div>
                </div>
                <div class="col-md-1 text-center" style="padding-left:85px;padding-right: 0;padding-top: 8px;">
                    <div class="checkbox">
                        <input type="checkbox" value="">
                    </div>
                </div>
                <div class="col-md-1 text-center" style="padding-left:95px;padding-right: 0;padding-top: 8px;">
                    <div class="checkbox">
                        <input type="checkbox" value="">
                    </div>
                </div>
            </div>


            <div class="row bottom" style="padding-top:11px;padding-bottom:11px; vertical-align:middle;">
                <div class="col-md-6">
                    We offer individualized counseling on breast and/or cervical
                    cancer screening and diagnostics to patients.
                </div>

                <div class="col-md-1 text-center" style="padding-right:0;padding-top:8px;">



                    <div class="checkbox">
                        <input type="checkbox" value="" autocomplete="off">
                    </div>
                </div>
                <div class="col-md-1 text-center" style="padding-left: 42px;padding-top: 8px;">
                    <div class="checkbox">
                        <input type="checkbox" value="">
                    </div>
                </div>
                <div class="col-md-1 text-center" style="padding-left: 65px;padding-top: 8px;">
                    <div class="checkbox">
                        <input type="checkbox" value="">
                    </div>
                </div>
                <div class="col-md-1 text-center" style="padding-left:85px;padding-right: 0;padding-top: 8px;">
                    <div class="checkbox">
                        <input type="checkbox" value="">
                    </div>
                </div>
                <div class="col-md-1 text-center" style="padding-left:95px;padding-right: 0;padding-top: 8px;">
                    <div class="checkbox">
                        <input type="checkbox" value="">
                    </div>
                </div>
            </div>
            <div class="row bottom" style="padding-top:11px;padding-bottom:11px; vertical-align:middle;">
                <div class="col-md-6">
                    We assess barriers to care and provide community resource
                    contacts/referrals (i.e., social services, support groups) for
                    patients.
                </div>

                <div class="col-md-1 text-center" style="padding-right:0;padding-top:20px;">



                    <div class="checkbox">
                        <input type="checkbox" value="" autocomplete="off">
                    </div>
                </div>
                <div class="col-md-1 text-center" style="padding-left: 42px;padding-top: 20px;">
                    <div class="checkbox">
                        <input type="checkbox" value="">
                    </div>
                </div>
                <div class="col-md-1 text-center" style="padding-left: 65px;padding-top: 20px;">
                    <div class="checkbox">
                        <input type="checkbox" value="">
                    </div>
                </div>
                <div class="col-md-1 text-center" style="padding-left:85px;padding-right: 0;padding-top: 20px;">
                    <div class="checkbox">
                        <input type="checkbox" value="">
                    </div>
                </div>
                <div class="col-md-1 text-center" style="padding-left:95px;padding-right: 0;padding-top: 20px;">
                    <div class="checkbox">
                        <input type="checkbox" value="">
                    </div>
                </div>
            </div>
            <div class="row bottom" style="padding-top:11px;padding-bottom:11px; vertical-align:middle;">
                <div class="col-md-6">
                    We accompany patients to appointments with referral
                    providers.
                </div>

                <div class="col-md-1 text-center" style="padding-right:0;padding-top:5px;">



                    <div class="checkbox">
                        <input type="checkbox" value="" autocomplete="off">
                    </div>
                </div>
                <div class="col-md-1 text-center" style="padding-left: 42px;padding-top: 8px;">
                    <div class="checkbox">
                        <input type="checkbox" value="">
                    </div>
                </div>
                <div class="col-md-1 text-center" style="padding-left: 65px;padding-top: 8px;">
                    <div class="checkbox">
                        <input type="checkbox" value="">
                    </div>
                </div>
                <div class="col-md-1 text-center" style="padding-left:85px;padding-right: 0;padding-top: 8px;">
                    <div class="checkbox">
                        <input type="checkbox" value="">
                    </div>
                </div>
                <div class="col-md-1 text-center" style="padding-left:95px;padding-right: 0;padding-top: 8px;">
                    <div class="checkbox">
                        <input type="checkbox" value="">
                    </div>
                </div>
            </div>
            <br />
            <div class="panel-footer" style="border-top: none;">


                <div class="row">
                    <div class="col-md-8">
                    </div>
                    <div class="col-md-4">
                        <div class="col-md-12" style="text-align:right">
                            <a onclick="showHideTab('three')" class="btn" id="back-step" style="cursor:pointer;background-color: #3a3a3a;border: 2px #cfcfcf;color: #fff;"> <span class="glyphicon glyphicon-arrow-left"></span>  Previous </a>

                            <a onclick="showHideTab('followUp2')" class="btn" id="back-step" style="cursor:pointer;background-color: #3a3a3a;border: 2px #cfcfcf;color: #fff;">   &nbsp;&nbsp;&nbsp; Next <span class="glyphicon glyphicon-arrow-right"></span>&nbsp;&nbsp; </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>



<div class="panel-default" style="border:none;display:none" id="followUp2">

    <div class="panel-body col-sm-12">

        <b>6. Do you offer or are willing to offer Courtesy BCCTP Enrollments?   
        </b>
       
        <div class="row" style="padding-left:4px;">
            <div class="col-md-12">
                <div class="col-md-6 " style="padding-top:7px;">
                    <input id="radio1" type="checkbox" checked="">
                    <label for="radio1">
                        &nbsp;
                        Yes
                    </label>
                </div>
            </div>

            <div class="col-md-12">
                <div class="col-md-6"  style="padding-top:7px;">
                    <input id="radio1" type="checkbox">
                    <label for="checkbox2">
                        &nbsp;
                        No
                    </label>
                </div>


            </div>

            <div class="col-md-12">
                <div class="col-md-6 "  style="padding-top:7px;">
                    <input id="radio1" type="checkbox">
                    <label for="checkbox3">
                        &nbsp;
                        Don’t know
                    </label>
                </div>
            </div>
        </div>
        <br />
        <b>7. What methods do you use to notify patients to make or confirm appointments? <br />&nbsp;&nbsp;&nbsp;&nbsp;(Check all that apply)   </b> 
        <br /><br />
        <div class="row " style="padding-left:4px;">
            <div class="col-md-12">
                <div class="col-md-6 "  style="padding-top:7px;">
                    <input id="checkbox1" type="checkbox" checked="">
                    <label for="checkbox1">
                        &nbsp;
                        E-mail
                    </label>
                </div>
            </div>

            <div class="col-md-12">
                <div class="col-md-6 "  style="padding-top:7px;">
                    <input id="checkbox2" type="checkbox">
                    <label for="checkbox2">
                        &nbsp;
                        Text messaging
                    </label>
                </div>
            </div>

            <div class="col-md-12">
                <div class="col-md-6 "  style="padding-top:7px;">
                    <input id="checkbox3" type="checkbox" checked="">
                    <label for="checkbox3">
                        &nbsp;
                        Telephone
                    </label>
                </div>
            </div>

            <div class="col-md-12">
                <div class="col-md-6 "  style="padding-top:7px;">
                    <input id="checkbox3" type="checkbox">
                    <label for="checkbox3">
                        &nbsp;
                        Post cards
                    </label>
                </div>
            </div>

            <div class="col-md-12">
                <div class="col-md-8 "  style="padding-top:7px;">
                    <input id="checkbox3" type="checkbox">
                    <label for="checkbox3">
                        &nbsp;
                        Not applicable, we do not notify patients to make or confirm appointments
                    </label>
                </div>
            </div>

        </div>
        <br />

        @*<div class="panel-footer" style="border-top: none;">

                <div class="row">
                    <div class="col-md-9">
                    </div>
                    <div class="col-md-3">
                        <div class="">
                            <a onclick="showHideTab('followUp1')" class="btn" id="back-step" style="cursor:pointer;background-color: #3a3a3a;border: 2px #cfcfcf;color: #fff;"> &lt;&lt; Previous  </a>

                            <a onclick="showHideTab('followUp3')" class="btn" id="back-step" style="cursor:pointer;background-color: #3a3a3a;border: 2px #cfcfcf;color: #fff;">  Next &gt;&gt; </a>
                        </div>
                    </div>
                </div>
            </div>*@
        <div class="panel-footer" style="border-top: none;">


            <div class="row">
                <div class="col-md-8">
                </div>
                <div class="col-md-4">
                    <div class="col-md-12" style="text-align:right">
                        <a onclick="showHideTab('followUp1')" class="btn" id="back-step" style="cursor:pointer;background-color: #3a3a3a;border: 2px #cfcfcf;color: #fff;"> <span class="glyphicon glyphicon-arrow-left"></span>  Previous </a>

                        <a onclick="showHideTab('followUp3')" class="btn" id="back-step" style="cursor:pointer;background-color: #3a3a3a;border: 2px #cfcfcf;color: #fff;">   &nbsp;&nbsp;&nbsp; Next <span class="glyphicon glyphicon-arrow-right"></span>&nbsp;&nbsp; </a>
                    </div>
                </div>
            </div>
        </div>

    </div>


</div>

<div class="panel-default" style="border:none;display:none" id="followUp3">
    <div class="panel-body col-sm-12" style="background-color:#fff;">
        <br />
        <b>8. Do you have an online patient portal, where patients can log in to do any of the following? <br />&nbsp;&nbsp;&nbsp;&nbsp;(Check all that apply)    </b> <br />
        <br />
        <div class="row top-padding10" style="padding-left:4px;">
            <div class="col-md-12">
                <div class="col-md-5">
                    <input id="checkbox1" type="checkbox" checked="">
                    <label for="checkbox1">
                        &nbsp;
                        Make and manage appointments?
                    </label>
                </div>
            </div>

            <div class="col-md-12">
                <div class="col-md-5 "  style="padding-top:7px;">
                    <input id="checkbox2" type="checkbox">
                    <label for="checkbox2">
                        &nbsp;
                        Obtain results from exams
                    </label>
                </div>
            </div>

            <div class="col-md-12">
                <div class="col-md-6 "  style="padding-top:7px;">
                    <input id="checkbox3" type="checkbox" checked="">
                    <label for="checkbox3">
                        &nbsp;
                        Not applicable, we do not have a patient portal
                    </label>
                </div>
            </div>


        </div>

        <br />

        <b>9. How does your office track patient appointments and follow up?  Do you use any of the following? <br />&nbsp;&nbsp;&nbsp;&nbsp;(Check all that apply)     </b> 
        <br /><br />
        <div class="row top-padding10" style="padding-left:4px;">
            <div class="col-md-12">

                <div class="col-md-6 ">
                    <input id="checkbox1" type="checkbox" checked="">
                    <label for="checkbox1">
                        &nbsp;
                        Hand-written or stand-alone electronic calendar
                    </label>

                </div>
            </div>

            <div class="col-md-12">
                <div class="col-md-6 "  style="padding-top:7px;">
                    <input id="checkbox2" type="checkbox">
                    <label for="checkbox2">
                        &nbsp;
                        Hand-written or stand-alone electronic log or list
                    </label>

                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-6 "  style="padding-top:7px;">
                    <input id="checkbox3" type="checkbox" checked="">
                    <label for="checkbox3">
                        &nbsp;
                        Chart Organization System (COS)
                    </label>

                </div>
            </div>

            <div class="col-md-12">
                <div class="col-md-5"  style="padding-top:7px;">
                    <input id="checkbox3" type="checkbox" checked="">
                    <label for="checkbox3">
                        &nbsp;
                        The office’s tracking and follow-up software
                    </label>
                </div>
            </div>

            <div class="col-md-12">
                <div class="col-md-7"  style="padding-top:7px;">
                    <input id="checkbox3" type="checkbox" checked="">
                    <label for="checkbox3">
                        &nbsp;
                        The office’s Electronic Health or Medical Record (EHR) software
                    </label>
                </div>
            </div>
            <div class="col-md-12" style="padding-top:2px">
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-2"  style="padding-top:7px;">
                            <input id="checkerf" type="checkbox">
                            <label for="checkerf">
                                &nbsp;
                                Other
                            </label>
                        </div>
                        <div class="col-md-6">
                            <input type="text" class="form-control" id="otherf" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="panel-footer" style="border-top: none;">


            <div class="row">
                <div class="col-md-8">
                </div>
                <div class="col-md-4">
                    <div class="col-md-12" style="text-align:right">
                        <a onclick="showHideTab('followUp2')" class="btn" id="back-step" style="cursor:pointer;background-color: #3a3a3a;border: 2px #cfcfcf;color: #fff;"> <span class="glyphicon glyphicon-arrow-left"></span>  Previous </a>
                        <a onclick="showHideTab('five')" class="btn" id="back-step" style="cursor:pointer;background-color: #3a3a3a;border: 2px #cfcfcf;color: #fff;">   &nbsp;&nbsp;&nbsp; Next <span class="glyphicon glyphicon-arrow-right"></span>&nbsp;&nbsp; </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />



</div>



<script>

    $(document).ready(function () {


        $('#otherf').hide();
        $('#btntrackpatientsadd').hide();
        var checkbox = $('#checkerf');
        var dependent = $('#otherf');
        var dependent2 = $('#btntrackpatientsadd');
        if (checkbox.attr('checked') !== undefined) {
            dependent.show();
            dependent2.show();
        } else {
            dependent.hide();
            dependent2.hide();
        }

        checkbox.change(function (e) {
            dependent.toggle();
            dependent2.toggle()
        });
    });
</script>