﻿<div class="panel panel-default" style="border:none;     margin-top: -10px;" id="">
    <br />
    <h3> <b> &nbsp; Primary Care Provider (PCP) &nbsp;Survey </b></h3>
    <div class="panel-body" style="margin-bottom: -20px;">

        <div class="row">
            <div class="col-md-8 form-group">
                <div class="">
                </div>
            </div>
            <div class="col-md-3">
                <label>Date: @DateTime.Now.ToString("MM/dd/yyyy")</label>
            </div>
        </div>
        <br />
        <br />
        <div class="row">

            <div class="col-md-3 form-group">
                <div class="">

                    <label style="margin-left:-1px;">NPI Location</label>

                    <input class="form-control" name="contact name" id="contact name" placeholder="" value="Business Name" readonly type="text" required="" autofocus="">

                </div>
            </div>

            <div class="col-md-2">

                <label>NPI</label>
                <select class="form-control" autocomplete="off">
                    <option value="" selected="selected">NPI </option>
                    <option value="1">NPI Location 1</option>
                    <option value="2">NPI Location 2</option>
                    <option value="3">NPI Location 3</option>
                    <option value="4">NPI Location 4</option>
                    <option value="5">Other</option>
                </select>



            </div>
            <div class="col-md-1">

                <label>Own</label>

                <input class="form-control" name="contact name" id="contact name" placeholder="" type="text" required="" autofocus="">


            </div>
            <div class="col-md-1">

                <label>Loc</label>

                <input class="form-control" name="contact name" id="contact name" placeholder="" type="text" required="" autofocus="">


            </div>
        </div>


        <br /><br />

        <div class="row">

            <div class="col-md-3">
                <div class="">

                    <label style="margin-left:-1px;">Interviewee</label>

                    <input class="form-control" name="contact name" id="contact name" placeholder="" type="text" required="" autofocus="">



                </div>
            </div>


            <div class="col-md-3">

                <label>Title</label>

                <input class="form-control" name="contact name" id="contact name" placeholder="" type="text" required="" autofocus="">


            </div>
        </div>




        <br />
        <div class="panel-footer paddingtop15" style="border-top: none;">
            <div class="row">
                <div class="col-md-10">
                </div>
                <div class="col-md-2">
                    <div class="col-md-9" style="margin-right:20px;">


                        <a onclick="showHideTab('two')" class="btn" id="back-step" style="cursor:pointer;background-color: #3a3a3a;border: 2px #cfcfcf;color: #fff;">  &nbsp;&nbsp;&nbsp; Next <span class="glyphicon glyphicon-arrow-right"></span>&nbsp;&nbsp;  </a>


                    </div>
                </div>

            </div>

        </div>
    </div>


</div>