﻿
<style>
    tr.noBorder td {
        border: 0;
    }
</style>
<div class="panel-body col-md-12" style="background-color:#fff;">
    <b>4. Which clinical services do you offer at your primary service location and which services do you refer patients? </b> <br />
    <br />

    <div class="row bg-primary bottom top-padding" style="vertical-align:middle;">

        <div class="col-md-2 " style="padding-top: 38px;" text-align:center;"=""> Specialty </div>
        <div class="col-md-10 ">


            <div class="row " style="">
                <div class="col-md-1" style="text-align:center">

                </div>
                <div class="col-md-4" style="text-align:center;padding-top: 38px;">Name</div>
                <div class="col-md-3 ">
                    <div class="col-md-11 " style="margin-left:20px;text-align:center;padding-top: 38px;">
                        City
                    </div>
                </div>
                <div class="col-md-2" style="text-align:center;padding-top: 12px;">

                    Time to <br>appointment<br>(weeks)

                </div>

                <div class="col-md-2" style="text-align:center">
                    Would you recommend to other providers?

                </div>
            </div>
        </div>

    </div>
    <br />


    <div class="row bottom" style="padding-bottom:11px; vertical-align:middle;">
        <div class="col-md-2 " style="padding-top:15px;"> Imaging </div>
        <div class="col-md-10 ">
            <div class="row " style="padding-top:15px;">
                <div class="col-md-1" style="text-align:right">
                    <button type="button" class="btn btn-success btn-xs">Add</button>
                </div>
                <div class="col-md-4" style="padding-right:0px;"><input type="text" class="form-control" id="usr"></div>
                <div class="col-md-4 ">
                    <div class="col-md-11 " style="">
                        <select class="form-control" id="sel1">
                            <option>Sacramento</option>
                            <option>Roseville</option>
                            <option>3</option>
                            <option>4</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-1">
                    @*<div class="" style="">*@


                    <input type="text" class="form-control" id="usr" style="float:right;width :70px;" autocomplete="off">




                    @*</div>*@
                </div>
                <div class="col-md-2" style="text-align:right">
                    <label id="sliderLabel">
                        <input type="checkbox">
                        <span id="slider">
                            <span id="sliderOn">Yes</span>
                            <span id="sliderOff">No</span>
                            <span id="sliderBlock"></span>
                        </span>

                    </label>

                </div>
            </div>


        </div>

    </div>


    <div class="row bottom" style="padding-top:11px;padding-bottom:11px; vertical-align:middle;">
        <div class="col-md-2 " style="padding-top:15px;"> Laboratory </div>
        <div class="col-md-10 ">
            <div class="row " style="padding-top:15px;">
                <div class="col-md-1" style="text-align:right">
                    <button type="button" class="btn btn-success btn-xs" onclick="addLabExtraRows('#divExtralaboratory')">Add</button>
                </div>
                <div class="col-md-4" style="padding-right:0px;"><input type="text" class="form-control" id="usr"></div>
                <div class="col-md-4 ">
                    <div class="col-md-11 " style="">
                        <select class="form-control" id="sel1">
                            <option>Sacramento</option>
                            <option>Roseville</option>
                            <option>3</option>
                            <option>4</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-1">
                    @*<div class="" style="">*@


                    <input type="text" class="form-control" id="usr" style="float:right;width :70px;" autocomplete="off">




                    @*</div>*@
                </div>
                <div class="col-md-2" style="text-align:right">
                    <label id="sliderLabel">
                        <input type="checkbox">
                        <span id="slider">
                            <span id="sliderOn">Yes</span>
                            <span id="sliderOff">No</span>
                            <span id="sliderBlock"></span>
                        </span>

                    </label>

                </div>
            </div>


            <div id="divExtralaboratory">

            </div>

        </div>
    </div>



    <div class="row bottom" style="padding-top:11px;padding-bottom:11px; vertical-align:middle;">

        <div class="col-md-2 " style="padding-top:15px;"> Surgery </div>



        <div class="col-md-10 ">
            <div class="row " style="padding-top:15px;">
                <div class="col-md-1" style="text-align:right">
                    <button type="button" class="btn btn-success btn-xs" onclick="addLabExtraRows('#divExtraSurgery')">Add</button>
                </div>
                <div class="col-md-4" style="padding-right:0px;"><input type="text" class="form-control" id="usr"></div>
                <div class="col-md-4 ">
                    <div class="col-md-11 " style="">
                        <select class="form-control" id="sel1">
                            <option>Sacramento</option>
                            <option>Roseville</option>
                            <option>3</option>
                            <option>4</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-1">
                    @*<div class="" style="">*@


                    <input type="text" class="form-control" id="usr" style="float:right;width :70px;" autocomplete="off">




                    @*</div>*@
                </div>
                <div class="col-md-2" style="text-align:right">
                    <label id="sliderLabel">
                        <input type="checkbox">
                        <span id="slider">
                            <span id="sliderOn">Yes</span>
                            <span id="sliderOff">No</span>
                            <span id="sliderBlock"></span>
                        </span>

                    </label>

                </div>
            </div>


            <div id="divExtraSurgery">

            </div>

        </div>


    </div>


    <div class="row bottom" style="padding-top:11px;padding-bottom:11px; vertical-align:middle;">

        <div class="col-md-2 " style="padding-top:15px;"> Coloposcopy </div>
        <div class="col-md-10 ">
            <div class="row " style="padding-top:15px;">
                <div class="col-md-1" style="text-align:right">
                    <button type="button" class="btn btn-success btn-xs" >Add</button>
                </div>
                <div class="col-md-4" style="padding-right:0px;"><input type="text" class="form-control" id="usr"></div>
                <div class="col-md-4 ">
                    <div class="col-md-11 " style="">
                        <select class="form-control" id="sel1">
                            <option>Sacramento</option>
                            <option>Roseville</option>
                            <option>3</option>
                            <option>4</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="" style="">


                        <input type="text" class="form-control" id="usr" style="float:right;width :70px;" autocomplete="off">




                    </div>
                </div>
                <div class="col-md-2" style="text-align:right">
                    <label id="sliderLabel">
                        <input type="checkbox">
                        <span id="slider">
                            <span id="sliderOn">Yes</span>
                            <span id="sliderOff">No</span>
                            <span id="sliderBlock"></span>
                        </span>

                    </label>

                </div>
            </div>


        </div>

    </div>



    <div class="row bottom" style="padding-top:11px;padding-bottom:11px; vertical-align:middle;">

        <div class="col-md-2 " style="padding-top:15px;"> Excion/Ablation Procedures  </div>
        <div class="col-md-10 ">
            <div class="row " style="padding-top:15px;">
                <div class="col-md-1" style="text-align:right">
                    <button type="button" class="btn btn-success btn-xs" >Add</button>
                </div>
                <div class="col-md-4" style="padding-right:0px;"><input type="text" class="form-control" id="usr"></div>
                <div class="col-md-4 ">
                    <div class="col-md-11 " style="">
                        <select class="form-control" id="sel1">
                            <option>Sacramento</option>
                            <option>Roseville</option>
                            <option>3</option>
                            <option>4</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="" style="">


                        <input type="text" class="form-control" id="usr" style="float:right;width :70px;" autocomplete="off">




                    </div>
                </div>
                <div class="col-md-2" style="text-align:right">
                    <label id="sliderLabel">
                        <input type="checkbox">
                        <span id="slider">
                            <span id="sliderOn">Yes</span>
                            <span id="sliderOff">No</span>
                            <span id="sliderBlock"></span>
                        </span>

                    </label>

                </div>
            </div>


        </div>

    </div>

    <div class="row bottom" style="padding-top:11px;padding-bottom:11px; vertical-align:middle;">

        <div class="col-md-2 " style="padding-top:15px;"> Oncology  </div>
        <div class="col-md-10 ">
            <div class="row " style="padding-top:15px;">
                <div class="col-md-1" style="text-align:right">
                    <button type="button" class="btn btn-success btn-xs" >Add</button>
                </div>
                <div class="col-md-4" style="padding-right:0px;"><input type="text" class="form-control" id="usr"></div>
                <div class="col-md-4 ">
                    <div class="col-md-11 " style="">
                        <select class="form-control" id="sel1">
                            <option>Sacramento</option>
                            <option>Roseville</option>
                            <option>3</option>
                            <option>4</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="" style="">


                        <input type="text" class="form-control" id="usr" style="float:right;width :70px;" autocomplete="off">




                    </div>
                </div>
                <div class="col-md-2" style="text-align:right">
                    <label id="sliderLabel">
                        <input type="checkbox">
                        <span id="slider">
                            <span id="sliderOn">Yes</span>
                            <span id="sliderOff">No</span>
                            <span id="sliderBlock"></span>
                        </span>

                    </label>

                </div>
            </div>


        </div>

    </div>
    <br />
    <div class="panel-footer" style="border-top: none;">
        <div class="row">
            <div class="col-md-8"></div>
            <div class="col-md-4 ">
                <div class="col-md-12" style="text-align:right">

                    <a onclick="showHideTab('patientServices3')" class="btn" id="back-step" style="cursor:pointer;background-color: #3a3a3a;border: 2px #cfcfcf;font-size: 18px !important;color: #fff;"> <span class="glyphicon glyphicon-arrow-left"></span>  Previous   </a>
                    <a onclick="showHideTab('four')" class="btn" id="back-step" style="cursor:pointer;background-color: #3a3a3a;border: 2px #cfcfcf;color: #fff;">  &nbsp;&nbsp;&nbsp; Next <span class="glyphicon glyphicon-arrow-right"></span>&nbsp;&nbsp;  </a>
                </div>
            </div>

        </div>
    </div>

</div>







@*<div class="panel-footer" style="border-top: none;padding-top:25px;">


        <div class="row">
            <div class="col-md-9">
            </div>
            <div class="col-md-3">
                <div class="">
                    <a onclick="showHideTab('patientServices3')" class="btn" id="back-step" style="cursor:pointer;background-color: #3a3a3a;border: 2px #cfcfcf;color: #fff;"> &lt;&lt; Previous  </a>

                    <a onclick="showHideTab('four')" class="btn" id="back-step" style="cursor:pointer;background-color: #3a3a3a;border: 2px #cfcfcf;color: #fff;">  Next &gt;&gt; </a>
                </div>
            </div>
        </div>
    </div>*@
<script>
    addLabExtraRows = function (id) {
        var html = "<div class=\"row\" style=\"padding-top:15px;\">";
        html += "<div class=\"col-md-1\" style=\"text-align:right\">";
        html += "</div>";
        html += "<div class=\"col-md-4\" style=\"padding-right:0px;\">";
       html  += "<input type=\"text\" class=\"form-control\" id=\"usr\"></div>";
        html += "<div class=\"col-md-4\">";
        html += "<div class=\"col-md-11\">";
        html += "<select class=\"form-control\" id=\"sel1\">" +
                                "<option>Sacramento</option>" +
                                "<option>Roseville</option>" +
                                "<option>3</option>" +
                                "<option>4</option>" +
                                "</select>";
        html += "</div></div>";
        //html += "<div class=\"col-md-2\">";
        html += "<div class=\"col-md-1\" style=\"width:70px;\">";
        html += "<div class=\" \">";
        html += "<input type=\"text\" class=\"form-control\" id=\"usr\" style=\"width:70px;float:right;\">";
        html += "</div></div>";
        html += "<div class=\"col-md-2\" style=\"text-align:right\">";
        html += "<label id=\"sliderLabel\">" +
                            "<input type=\"checkbox\" />" +
                            "<span id=\"slider\">" +
                                "<span id=\"sliderOn\">Yes</span>" +
                                "<span id=\"sliderOff\">No</span>" +
                                "<span id=\"sliderBlock\"></span>" +
                            "</span>" +
                        "</label>";
        html += "</div></div>";

        $(id).append(html);
    }
</script>


