﻿<style>
    table, tr, td {
    }

        tr.noBorder td {
            border: 0 !important;
        }
</style>
<div class="panel panel-default" style="border:none" id="serviceLocations1">
    <div class="panel-body " style="background-color:white">

        <b>13. How would you describe your (primary) practice?<br />&nbsp;&nbsp;&nbsp;&nbsp;  (Check all that apply)    </b> <br />
        <br />
        <div class="col-md-12">
            <div class="col-md-11">
                <input id="radio1" type="checkbox" checked="">
                <label for="radio1">
                    &nbsp;
                    Solo, Private Practice
                </label>

            </div>

            <div class="col-md-11 " style="padding-top:7px;">
                <input id="radio2" type="checkbox">
                <label for="checkbox2">
                    &nbsp;
                    Small medical partnership (2-9 physicians), Private Practice
                </label>

            </div>
            <div class="col-md-11 " style="padding-top:7px;">
                <input id="radio1" type="checkbox" checked="">
                <label for="radio1">
                    &nbsp;
                    Group practice (10-49 physicians), Private Practice
                </label>

            </div>

            <div class="col-md-11 " style="padding-top:7px;">
                <input id="radio2" type="checkbox" checked="">
                <label for="checkbox2">
                    &nbsp;
                    Large group practice (50+ physicians), Private Practice
                </label>

            </div>

            <div class="col-md-11 " style="padding-top:7px;">
                <input id="radio1" type="checkbox">
                <label for="radio1">
                    &nbsp;
                    Community health center
                </label>

            </div>

            <div class="col-md-11 " style="padding-top:7px;">
                <input id="radio2" type="checkbox">
                <label for="checkbox2">
                    &nbsp;
                    Federally Qualified Health Center (FQHC)
                </label>

            </div>
            <div class="col-md-11 "  style="padding-top:7px;">
                <input id="radio1" type="checkbox" checked="">
                <label for="radio1">
                    &nbsp;
                    County Health Department clinic
                </label>

            </div>

            <div class="col-md-11 "  style="padding-top:7px;">
                <input id="radio2" type="checkbox" checked="">
                <label for="checkbox2">
                    &nbsp;
                    Hospital clinic
                </label>

            </div>

            <div class="col-md-11"  style="padding-top:7px;">
                <input id="radio1" type="checkbox">
                <label for="radio1">
                    &nbsp;
                    Breast Center
                </label>

            </div>

            <div class="col-md-11 "  style="padding-top:7px;">
                <input id="radio2" type="checkbox">
                <label for="checkbox2">
                    &nbsp;
                    Mobile clinic
                </label>

            </div>

            <div class="col-md-11"  style="padding-top:7px;">
                <input id="radio1" type="checkbox" checked="">
                <label for="radio1">
                    &nbsp;
                    Specialty practice
                </label>

            </div>
            <div class="col-md-12" style="padding-right:20px; padding-top:7px; ">
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-2 top-padding7">
                            <input id="checkerotherserloc" type="checkbox" style="margin-left:-15px;">
                            <label for="checkerotherserloc">
                                &nbsp;
                                Other
                            </label>
                        </div>
                        <div class="col-md-6"  style="padding-top:7px;">
                            <input type="text" class="form-control" id="txtotherserloc" />

                        </div>
                        <div class="col-md-1">
                            <a class="btn btn-success" style="background-color: #3a3a3a;border: 2px #cfcfcf;font-size: 18px !important;" id="btnerotherserloc"> Add </a>
                        </div>
                    </div>
                </div>
            </div>


        </div>

        <br />





    </div>


    <div class="panel-footer" style="border-top: none;">
        <div class="row">
            <div class="col-md-8"></div>
            <div class="col-md-4 ">
                <div class="col-md-12" style="text-align:right">

                    <a onclick="showHideTab('ehrsystem2')" class="btn" id="back-step" style="cursor:pointer;background-color: #3a3a3a;border: 2px #cfcfcf;font-size: 18px !important;color: #fff;"> <span class="glyphicon glyphicon-arrow-left"></span>  Previous   </a>
                    <a onclick="showHideTab('serviceLocations2')" class="btn" id="back-step" style="cursor:pointer;background-color: #3a3a3a;border: 2px #cfcfcf;color: #fff;">  &nbsp;&nbsp;&nbsp; Next <span class="glyphicon glyphicon-arrow-right"></span>&nbsp;&nbsp;  </a>
                </div>
            </div>

        </div>
    </div>

</div>


<div class="panel panel-default" style="border:none" id="serviceLocations2">
    <div class="panel-body">


        <b>&nbsp;14. What programs and/or organizations are you affiliated?<br />&nbsp;&nbsp;&nbsp;&nbsp; (Check all that apply)     </b>
        <br />
        <br />
        <div class="col-md-12 ">
            <div class="col-md-11" style="padding-top:7px;">
                <input id="radio1" type="checkbox">
                <label for="checkbox1">
                    &nbsp;
                    CDPH WISEWOMAN Program
                </label>

            </div>

            <div class="col-md-11" style="padding-top:7px;">
                <input id="radio1" type="checkbox">
                <label for="checkbox2">
                    &nbsp;
                    DHCS Indian Health Program/(Federal) Indian Health Service
                </label>

            </div>

            <div class="col-md-11" style="padding-top:7px;">
                <input id="radio1" type="checkbox">
                <label for="checkbox3">
                    &nbsp;
                    DHCS Rural Health Program
                </label>

            </div>

            <div class="col-md-11" style="padding-top:7px;">
                <input id="radio1" type="checkbox">
                <label for="checkbox3">
                    &nbsp;
                    DHCS Family Planning, Access, Care, and Treatment (Family PACT)
                </label>

            </div>

            <div class="col-md-11" style="padding-top:7px;">
                <input id="radio1" type="checkbox">
                <label for="checkbox3">
                    &nbsp;
                    DHCS Electronic Health Record (EHR) Incentive Program
                </label>

            </div>

            <div class="col-md-11" style="padding-top:7px;">
                <input id="radio1" type="checkbox">
                <label for="checkbox3">
                    &nbsp;
                    A Managed Care Organization
                </label>

            </div>


            @*<div class="col-md-12">
                    <div class="col-md-2" style="margin-left:-15px;">
                        <input id="checker9" type="checkbox">
                        <label for="checker9">
                            &nbsp;
                            Other
                        </label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" id="other2" />

                    </div>
                    <a class="btn btn-success" style="background-color: #3a3a3a;border: 2px #cfcfcf;font-size: 18px !important;" id="activate-step"> Add </a>
                </div>*@

            <div class="col-md-12" style="padding-right:20px;" >
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-2 " style="padding-top:7px;">
                            <input id="checkerotherserloc2" type="checkbox" style="margin-left:-15px;">
                            <label for="checkerotherserloc2">
                                &nbsp;
                                Other
                            </label>
                        </div>
                        <div class="col-md-6">
                            <input type="text" class="form-control" id="txtotherserloc2" />

                        </div>
                        <div class="col-md-1">
                            <a class="btn btn-success" style="background-color: #3a3a3a;border: 2px #cfcfcf;font-size: 18px !important;" id="btnerotherserloc2"> Add </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row"></div>
        <br />
        @*<div class="col-md-12" style="padding-top:10px;margin-right:-20px;">*@
        <b>15.    What is your preference for EWC communications?<br /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(Choose only one)      </b>
        @*</div>*@<br />
        <br />
        <div class="col-md-12">
            <div class="col-md-2 top-padding10" style="padding-top:7px;">
                <input type="checkbox" name="rdemail" value="email1" onclick="showEmail()">
                <label for="email1">
                    &nbsp;
                    Email, use
                </label>

            </div>
            <div class="col-md-4" id="divemail" style="visibility:hidden">
                <div class="form-group" style="margin-bottom:0px;">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="glyphicon glyphicon-envelope"></i>
                        </div>
                        <input class="form-control" name="contact name" id="contactname" placeholder="" type="text" required="" autofocus="">

                    </div>
                </div>


            </div>
            <div class="col-md-4"></div>
            <div class="col-md-11" style="padding-top:-10px;">
                <input type="checkbox" name="rdletter" id="rdletter" value="" onclick="showLetterContent()">
                <label for="rdletter">
                    &nbsp;
                    Letter, use my
                </label>

            </div>

            <div class="col-md-11 " id="divlgAddress" style="padding-top:7px;">
                &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;<input id="rdaddress" type="checkbox">
                <label for="lgadress" id="lgadress">
                    &nbsp;
                    Legal address
                </label>
            </div>

            <div class="col-md-11 top-padding7" id="divlgbusiness">
                &nbsp; &nbsp; &nbsp; &nbsp;<input id="rdbusiness" type="checkbox">
                <label for="lblbusiness" id="lblbusiness">
                    &nbsp;
                    Business or service location address
                </label>
            </div>

            <div class="col-md-11 top-padding7" id="divlgmailing">
                &nbsp; &nbsp; &nbsp; &nbsp;<input id="rdmailing" type="checkbox">
                <label for="rdmailing" id="lblmaining">
                    &nbsp;
                    Mailing address
                </label>
            </div>



        </div>


        <br />







    </div>
    <div class="panel-footer" style="border-top: none;">
        <div class="row">
            <div class="col-md-8"></div>
            <div class="col-md-4 ">
                <div class="col-md-12" style="text-align:right">

                    <a onclick="showHideTab('serviceLocations1')" class="btn" id="back-step" style="cursor:pointer;background-color: #3a3a3a;border: 2px #cfcfcf;font-size: 18px !important;color: #fff;"> <span class="glyphicon glyphicon-arrow-left"></span>  Previous   </a>
                    <a onclick="showHideTab('serviceLocations3')" class="btn" id="back-step" style="cursor:pointer;background-color: #3a3a3a;border: 2px #cfcfcf;color: #fff;">  &nbsp;&nbsp;&nbsp; Next <span class="glyphicon glyphicon-arrow-right"></span>&nbsp;&nbsp;  </a>
                </div>
            </div>

        </div>
    </div>



</div>


<div class="panel panel-default" style="border:none" id="serviceLocations3">
    <div class="panel-body">


        <b>16. Not including your primary service location, what is the number of satellite and unregistered facilities that will be<br />&nbsp;&nbsp;&nbsp;&nbsp;  participating in the EWC program? </b> <br />
        <br />
        <div class="col-md-12">
            <div class="col-md-4">
                Satellite or unregistered facilities.
            </div>
            <div class="col-md-2">
                <input type="text" class="form-control" id="usr">
            </div>


        </div>
        <br /><br />
        <div class="row">
            <div class="col-md-3">
            </div>
            <div class="col-md-5">
                <label for="serviceLocation # " style="padding-left:60px;">Primary Service Location </label>

            </div>
            <div class="col-md-4">
                <div class="form-group form-inline">
                    <label for="serviceLocation # ">Service Location # &nbsp; &nbsp;</label>
                    <input type="text" class="form-control" style="width:100px;" id="loc1">
                </div>
            </div>
        </div>

        <table class="table">
            <tbody>

                <tr align="left" class="noBorder">
                    <td width="3%"></td>

                    <td width="21%">
                        <b>  Type of facility</b>
                    </td>
                    <td width="38%" align="center" style="background-color:cadetblue;">
                        <label> n/a</label>
                    </td>
                    <td width="38%" align="left" style="background-color:lightgray;">
                        <label class="checkbox-inline"><input type="checkbox" value="">&nbsp; Satellite</label> &nbsp;&nbsp;&nbsp;
                        <label class="checkbox-inline"><input type="checkbox" value="">&nbsp; Unregistered</label>

                    </td>


                </tr>


                <tr align="left" class="noBorder">
                    <td width="3%"></td>

                    <td width="21%">
                        <b>  Business Name </b>
                    </td>
                    <td width="38%" style="background-color:cadetblue;">
                        <input type="text" class="form-control" id="BN_P" name="BN_P">
                    </td>
                    <td style="background-color:lightgray;" width="38%" align="left">
                        <table style="width:100%;border:1px solid gray">
                            <tr>
                                <td>
                                    <input type="text" class="form-control" id="BN_S" name="BN_S" style="border:0px !important">
                                </td>
                                <td style="background-color:white">
                                    <i class="glyphicon glyphicon-paste"
                                       style="cursor:pointer;display:none"
                                       data-toggle="tooltip"
                                       title="Click to copy primary business name"
                                       id="bnsPaste"></i>
                                </td>
                            </tr>
                        </table>
                    </td>


                </tr>
                <tr align="left" class="noBorder">
                    <td width="3%"></td>

                    <td width="21%">
                        <b>  Address, Suite </b>
                    </td>
                    <td width="38%" style="background-color:cadetblue;">
                        <div class="row form-group">

                            <div class="col-md-9">
                                <input type="text" class="form-control" id="priAddr1" placeholder="">
                            </div>

                            <div class="col-md-3">
                                <input type="text" class="form-control" id="priSuite1" placeholder="">
                            </div>
                        </div>
                    </td>
                    <td style="background-color:lightgray;" width="38%">
                        <div class="row form-group">

                            <div class="col-md-8">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="secAddr1" placeholder="">
                                    @*<input type="text" class="form-control" id="secAddr1" name="secAddr1" style="border:0px !important">*@
                                    <div class="input-group-addon " style="width:1%;background-color:white;">
                                        <i class="glyphicon glyphicon-paste"
                                           style="cursor:pointer;display:none"
                                           data-toggle="tooltip"
                                           title="Click to copy primary address"
                                           id="add1Paste"></i>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="secSuite1" placeholder="">
                                    <div class="input-group-addon" style="background-color:white;border-left-color:white">
                                        <i class="glyphicon glyphicon-paste"
                                           style="cursor:pointer;display:none"
                                           data-toggle="tooltip"
                                           title="Click to copy primary suite"
                                           id="suite1Paste"></i>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </td>


                </tr>

                <tr align="left" class="noBorder">
                    <td width="3%"></td>

                    <td width="21%">
                        <b>  City, Zip Code </b>
                    </td>
                    <td width="38%" align="left" style="background-color:cadetblue;">
                        <div class="row form-group">

                            <div class="col-md-9">

                                <input type="text" class="form-control" id="city1" placeholder="">

                            </div>

                            <div class="col-md-3">

                                <input type="text" class="form-control" id="zip1" placeholder="">

                            </div>
                        </div>


                    </td>
                    <td style="background-color:lightgray;" width="38%">
                        <div class="row  form-group">

                            <div class="col-md-9">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="city2" placeholder="">
                                    <div class="input-group-addon" style="background-color:white;border-left-color:white">
                                        <i class="glyphicon glyphicon-paste"
                                           style="cursor:pointer;display:none"
                                           data-toggle="tooltip"
                                           title="Click to copy primary city"
                                           id="city1Paste"></i>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="zip2" placeholder="">
                                    <div class="input-group-addon" style="background-color:white;border-left-color:white">
                                        <i class="glyphicon glyphicon-paste"
                                           style="cursor:pointer;display:none"
                                           data-toggle="tooltip"
                                           title="Click to copy primary zipcode"
                                           id="zip1Paste"></i>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </td>


                </tr>

                <tr align="left" class="noBorder">
                    <td width="3%"></td>

                    <td width="21%">
                        <b>  Phone (appoinments) </b>
                    </td>
                    <td width="38%" style="background-color:cadetblue;">
                        <input type="text" class="form-control" id="TL_P" name="TL_P">
                    </td>
                    <td style="background-color:lightgray;" width="38%">
                        <div class="input-group">
                            <input type="text" class="form-control" id="TL_S" name="TL_S">
                            <div class="input-group-addon" style="background-color:white;border-left-color:white">
                                <i class="glyphicon glyphicon-paste"
                                   style="cursor:pointer;display:none"
                                   data-toggle="tooltip"
                                   title="Click to copy primary phone"
                                   id="TL_SPaste"></i>
                            </div>
                        </div>
                    </td>


                </tr>
                <tr align="left" class="noBorder">
                    <td width="3%"></td>

                    <td width="21%">
                        <b>  Email</b>
                    </td>
                    <td width="38%" style="background-color:cadetblue;">
                        <div class="form-group">

                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="glyphicon glyphicon-envelope"></i>
                                </div>
                                <input class="form-control" name="" id="email1" placeholder="" type="text" required="" autofocus="">

                            </div>
                        </div>
                    </td>
                    <td style="background-color:lightgray;" width="38%">
                        <div class="form-group">
                            @*<div class="row col-md-10">*@
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="glyphicon glyphicon-envelope"></i>
                                </div>
                                <input class="form-control" name="contact name" id="email2" placeholder="" type="text" required="" autofocus="">
                                <div class="input-group-addon" style="background-color:white;border-left-color:white">
                                    <i class="glyphicon glyphicon-paste"
                                       style="cursor:pointer;display:none"
                                       data-toggle="tooltip"
                                       title="Click to copy primary email"
                                       id="Email_paste"></i>
                                </div>
                            </div>

                        </div>
                    </td>


                </tr>

                <tr align="left" class="noBorder">
                    <td width="3%"></td>

                    <td width="21%">
                        <b>  Website</b>
                    </td>
                    <td width="38%" align="left" style="background-color:cadetblue;">
                        <input type="text" class="form-control" id="WE_P" name="WE_P">
                    </td>
                    <td style="background-color:lightgray;" width="38%" align="left">
                        <div class="input-group">
                            <input type="text" class="form-control" id="WE_S" name="WE_S">
                            <div class="input-group-addon" style="background-color:white;border-left-color:white">
                                <i class="glyphicon glyphicon-paste"
                                   style="cursor:pointer;display:none"
                                   data-toggle="tooltip"
                                   title="Click to copy primary website"
                                   id="WB_SPaste"></i>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr align="left" class="noBorder">
                    <td width="3%"></td>

                    <td width="21%"></td>
                    <td width="38%" style="background-color:cadetblue;" align="left">

                        <div class="form-group">
                            <b>
                                <label>
                                    <input type="checkbox" name="chk" id="chk6" onclick="showHidecontent(this)">
                                </label>
                                <span class="content" style="padding-left:10px;">Mailing address, Suite </span>
                            </b>
                        </div>

                    </td>

                    <td style="background-color:lightgray;" width="38%" align="left"></td>
                </tr>

                <tr align="left" id="trWindow" class="noBorder">

                    <td width="3%"></td>

                    <td width="21%">
                        <b> Mailing address, Suite </b>
                    </td>
                    <td width="38%" style="background-color:cadetblue;">

                        <div class="form-group">


                            <div class="form-group">
                                <input type="text" class="form-control" id="mailingadress1" name="MAL_S">
                            </div>

                        </div>

                    </td>
                    @*<td style="background-color:lightgray;" width="38%">

                            <input type="text" class="form-control" id="mailingadress2" name="MAL_S">


                        </td>*@

                    <td style="background-color:lightgray;" width="38%">
                        <div class="input-group">
                            <input type="text" class="form-control" id="mailingadress2" name="mailingadress2">
                            <div class="input-group-addon" style="background-color:white;border-left-color:white">
                                <i class="glyphicon glyphicon-paste"
                                   style="cursor:pointer;display:none"
                                   data-toggle="tooltip"
                                   title="Click to copy primary phone"
                                   id="mail2_paste"></i>
                            </div>
                        </div>
                    </td>


                </tr>

                <tr align="left" id="trCity" class="noBorder">
                    <td width="3%"></td>

                    <td width="21%">
                        <b> City, Zip Code </b>
                    </td>
                    <td width="38%" align="left" style="background-color:cadetblue;">
                        <div class="row form-group">

                            <div class="col-md-8">
                                <input type="text" class="form-control" id="city3" placeholder="">
                            </div>

                            <div class="col-md-4">
                                <input type="text" class="form-control" id="zip3" placeholder="">
                            </div>
                        </div>
                    </td>
                    <td style="background-color:lightgray;" width="38%">
                        <div class="row form-group">

                            <div class="col-md-9">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="city4" placeholder="">
                                    <div class="input-group-addon" style="background-color:white;border-left-color:white">
                                        <i class="glyphicon glyphicon-paste"
                                           style="cursor:pointer;display:none"
                                           data-toggle="tooltip"
                                           title="Click to copy primary city"
                                           id="city4paste"></i>
                                    </div>

                                    @*<input type="text" class="form-control" id="city4" placeholder="">*@
                                </div>
                            </div>

                            <div class="col-md-3">
                                @*<input type="text" class="form-control" id="zip4" placeholder="">*@
                                <div class="input-group">
                                    <input type="text" class="form-control" id="zip4" placeholder="">
                                    <div class="input-group-addon" style="background-color:white;border-left-color:white">
                                        <i class="glyphicon glyphicon-paste"
                                           style="cursor:pointer;display:none"
                                           data-toggle="tooltip"
                                           title="Click to copy primary city"
                                           id="zip4paste"></i>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </td>

                </tr>

                <tr align="left" class="noBorder">
                    <td width="3%"></td>

                    <td width="21%">
                        <b>    Hours of Operation</b>
                    </td>
                    <td width="38%" align="left" style="background-color:cadetblue;">
                        <label class="checkbox-inline"><input type="checkbox" value="">&nbsp;&nbsp;Evenings</label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <label class="checkbox-inline"><input type="checkbox" value="">&nbsp;&nbsp;Weekends</label>
                    </td>
                    <td style="background-color:lightgray;" width="38%" align="left">
                        <label class="checkbox-inline"><input type="checkbox" value="">&nbsp;&nbsp;Evenings</label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <label class="checkbox-inline"><input type="checkbox" value="">&nbsp;&nbsp;Weekends</label>

                    </td>


                </tr>
                <tr align="left" class="noBorder">
                    <td width="3%"></td>

                    <td width="21%">
                        <b>   Screening Service</b>
                    </td>
                    <td width="38%" align="left" style="background-color:cadetblue;">
                        <label class="checkbox-inline"><input type="checkbox" value="">&nbsp;&nbsp;Breast Cancer</label> &nbsp;&nbsp;&nbsp;
                        <label class="checkbox-inline"><input type="checkbox" value="">&nbsp;&nbsp;Cervical Cancer</label>
                    </td>
                    <td style="background-color:lightgray;" width="38%" align="left">
                        <label class="checkbox-inline"><input type="checkbox" value="">&nbsp;&nbsp;Breast Cancer</label> &nbsp;&nbsp;&nbsp;
                        <label class="checkbox-inline"><input type="checkbox" value="">&nbsp;&nbsp;Cervical Cancer</label>

                    </td>


                </tr>

                <tr align="left" class="noBorder">
                    <td width="3%"></td>

                    <td width="21%">
                        <b>   Other Amenities</b>
                    </td>
                    <td width="38%" align="left" style="background-color:cadetblue;">
                        <label class="checkbox-inline"><input type="checkbox" value="">&nbsp;&nbsp;Female<br />&nbsp;&nbsp;Clinician</label>  &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
                        <label class="checkbox-inline"><input type="checkbox" value="">&nbsp;&nbsp;Childcare or<br /> &nbsp;&nbsp;OK to Bring</label> &nbsp;<br />


                    </td>
                    <td style="background-color:lightgray;" width="38%" align="left">
                        <label class="checkbox-inline"><input type="checkbox" value="">&nbsp;&nbsp;Female<br />&nbsp;&nbsp;Clinician</label>  &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
                        <label class="checkbox-inline"><input type="checkbox" value="">&nbsp;&nbsp;Childcare or<br />&nbsp;&nbsp;OK to Bring</label> &nbsp;<br />


                    </td>


                </tr>


                <tr align="right" class="noBorder">
                    <td width="3%"></td>

                    <td width="21%">
                        <b>   </b>
                    </td>
                    <td width="38%" align="left" style="background-color:cadetblue;">

                        <label class="checkbox-inline"><input type="checkbox" value="">&nbsp;&nbsp;Handicap<br /> &nbsp;&nbsp;Exam Table</label>  &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
                        <label class="checkbox-inline"><input type="checkbox" value="">&nbsp;&nbsp;EWC Data<br />&nbsp;&nbsp;Entry Staff</label>
                    </td>
                    <td style="background-color:lightgray;" width="38%" align="left">

                        <label class="checkbox-inline"><input type="checkbox" value="">&nbsp;&nbsp;Handicap<br />&nbsp;&nbsp;Exam Table</label>  &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
                        <label class="checkbox-inline"><input type="checkbox" value="">&nbsp;&nbsp;EWC Data<br />&nbsp;&nbsp;Entry Staff</label>
                    </td>


                </tr>


            </tbody>

        </table>
        <br />
        <div class="row">
            <div class="col-md-7"></div>
            <div class="col-md-5">
                <button type="button" class="btn btn-primary btn-xs pull-right" style="background-color: #3a3a3a;"> <span class="glyphicon glyphicon-remove"></span>&nbsp;Delete &nbsp;</button>
                <button type="button" class="btn btn-primary btn-xs pull-right" style="background-color: #3a3a3a;"> <span class="glyphicon glyphicon-plus"></span>&nbsp; Add  &nbsp;&nbsp;</button>
                @*</div>*@
                <button type="button" class="btn btn-primary btn-xs pull-right" style="background-color: #3a3a3a;"> &nbsp; Save  &nbsp;&nbsp;</button>
                @*<button type="button" class="btn btn-success pull-right" style="background-color: #3a3a3a;border: 2px #cfcfcf;font-size: 18px !important;">  Save</button>*@
            </div>
        </div>


        <div class="row">
            <div class="col-md-8" sstyle="margin-top:-90px;">
                <ul class="pagination pull-left">
                    <li><a href="#">1</a></li>
                    <li class="" style="background-color:#3a3a3a"><a href="#">2</a></li>

                </ul>
            </div>
            @*<div class="col-md-4">
                    <button type="button" class="btn btn-success pull-right" style="background-color: #3a3a3a;border: 2px #cfcfcf;font-size: 18px !important;"> <span class="glyphicon glyphicon-save"></span> Save</button>
                </div>*@
        </div>



        <div class="panel-footer" style="border-top: none;">
            <div class="row">
                <div class="col-md-8"></div>
                <div class="col-md-4 ">
                    <div class="col-md-12" style="text-align:right">

                        <a onclick="showHideTab('serviceLocations2')" class="btn" id="back-step" style="cursor:pointer;background-color: #3a3a3a;border: 2px #cfcfcf;font-size: 18px !important;color: #fff;"> <span class="glyphicon glyphicon-arrow-left"></span>  Previous   </a>
                        <a onclick="showHideTab('seven')" class="btn" id="back-step" style="cursor:pointer;background-color: #3a3a3a;border: 2px #cfcfcf;color: #fff;">  &nbsp;&nbsp;&nbsp; Next <span class="glyphicon glyphicon-arrow-right"></span>&nbsp;&nbsp;  </a>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>

<script>
    $(document).ready(function () {
        $('#trWindow').hide();
        $('#trCity').hide();
        $('#divlgAddress').hide();
        $('#divlgbusiness').hide();
        $('#divlgmailing').hide();

    });

    $(document).ready(function () {

        $('#txtotherserloc').hide();
        // $('#checkerotherserloc').hide();
        $('#btnerotherserloc').hide();
        $('#txtotherserloc2').hide();
        //  $('#checkerotherserloc2').hide();
        $('#btnerotherserloc2').hide();
        var checkbox = $('#checkerotherserloc');
        var dependent = $('#txtotherserloc');
        var btndependent = $('#btnerotherserloc');
        var checkbox2 = $('#checkerotherserloc2');
        var dependent2 = $('#txtotherserloc2');
        var btndependent2 = $('#btnerotherserloc2');
        if (checkbox.attr('checked') !== undefined) {

            dependent.show();
            btndependent.show();

        } else {
            dependent.hide();
            btndependent.hide();

        }
        checkbox.change(function (e) {
            dependent.toggle();
            btndependent.toggle();
        });
        if (checkbox2.attr('checked') !== undefined) {
            dependent2.show();
            btndependent2.show();

        } else {
            dependent2.hide();
            btndependent2.hide();

        }
        checkbox2.change(function (e) {
            dependent2.toggle();
            btndependent2.toggle();
        });

    });

    showHidecontent = function (ctrl) {
        $('#trWindow').toggle();
        $('#trCity').toggle();
    }

    showLetterContent = function () {
        $('#divlgAddress').toggle();
        $('#divlgbusiness').toggle();
        $('#divlgmailing').toggle();
    }
    showEmail = function () {
        var state = $('#divemail').css('visibility')
        if (state == 'visible')
            $('#divemail').css('visibility', 'hidden');
        else
            $('#divemail').css('visibility', 'visible');
    }


    $(document).ready(function () {


        $('#BN_S').focus(function () {
            $('#bnsPaste').css('display', 'inline-block');
        })

        $('#bnsPaste').click(function () {
            $('#BN_S').val($('#BN_P').val());

        })
        $('#BN_S').blur(function () {
            $('#bnsPaste').css('display', 'none');
        })



        $('#secAddr1').focus(function () {
            $('#add1Paste').css('display', 'inline-block');
        })

        $('#add1Paste').click(function () {
            $('#secAddr1').val($('#priAddr1').val());
            $('#add1Paste').css('display', 'none');

        })


        //Suite


        $('#secSuite1').focus(function () {
            $('#suite1Paste').css('display', 'inline-block');

        })

        $('#suite1Paste').click(function () {
            $('#secSuite1').val($('#priSuite1').val());
            $('#suite1Paste').css('display', 'none');
        })



        //city

        $('#city2').focus(function () {
            $('#city1Paste').css('display', 'inline-block');

        })

        $('#city1Paste').click(function () {
            $('#city2').val($('#city1').val());
            $('#city1Paste').css('display', 'none');
        })


        $('#city3').focus(function () {
            $('#city4paste').css('display', 'inline-block');

        })

        $('#city4paste').click(function () {
            $('#city4').val($('#city3').val());
            $('#city4paste').css('display', 'none');
        })
        //zipcode

        $('#zip2').focus(function () {
            $('#zip1Paste').css('display', 'inline-block');

        })

        $('#zip1Paste').click(function () {
            $('#zip2').val($('#zip1').val());
            $('#zip1Paste').css('display', 'none');
        })



        $('#zip4').focus(function () {
            $('#zip4paste').css('display', 'inline-block');

        })

        $('#zip4paste').click(function () {
            $('#zip4').val($('#zip3').val());
            $('#zip4paste').css('display', 'none');
        })
        //Phone


        $('#TL_S').focus(function () {
            $('#TL_SPaste').css('display', 'inline-block');

        })

        $('#TL_SPaste').click(function () {
            $('#TL_S').val($('#TL_P').val());
            $('#TL_SPaste').css('display', 'none');
        })



        //Email


        $('#email2').focus(function () {
            $('#Email_paste').css('display', 'inline-block');

        })

        $('#Email_paste').click(function () {
            $('#email2').val($('#email1').val());
            $('#Email_paste').css('display', 'none');
        })

        $('#mailingadress2').focus(function () {
            $('#mail2_paste').css('display', 'inline-block');

        })

        $('#mail2_paste').click(function () {
            $('#mailingadress2').val($('#mailingadress1').val());
            $('#mail2_paste').css('display', 'none');
        })

        //Website

        $('#WE_S').focus(function () {
            $('#WB_SPaste').css('display', 'inline-block');

        })

        $('#WB_SPaste').click(function () {
            $('#WE_S').val($('#WE_P').val());
            $('#WB_SPaste').css('display', 'none');
        })
















    });
        //})

    //Business Name


    // Address 1
    //$('#add1Paste').css('display', 'none');
    //$('#secAddr1').focus(function () {
    //    $('#add1Paste').css('display', 'inline-block');
    //})

    //$('#add1Paste').click(function () {
    //    $('#secAddr1').val($('#priAddr1').val());

    //})

    ////Suite 1
    //$('#suite1Paste').css('display', 'none');
    //$('#secSuite1').focus(function () {
    //    $('#suite1Paste').css('display', 'inline-block');

    //})

    //$('#suite1Paste').click(function () {
    //    $('#secSuite1').val($('#priSuite1').val());

    //})


    function CopyDetails() {

        var cb1 = document.getElementById('copyDetails');

        var P1 = document.getElementById('BN_P');
        var S1 = document.getElementById('BN_S');

        var P2 = document.getElementById('BAS_P');
        var S2 = document.getElementById('BAS_S');


        var P3 = document.getElementById('BSU_P');
        var S3 = document.getElementById('BAS_S');

        var P4 = document.getElementById('ZI_P');
        var S4 = document.getElementById('ZI_S');

        var P5 = document.getElementById('ZI_P');
        var S5 = document.getElementById('ZI_S');

        var P6 = document.getElementById('TL_P');
        var S6 = document.getElementById('TL_S');

        var P7 = document.getElementById('EM_P');
        var S7 = document.getElementById('EM_S');

        var P8 = document.getElementById('WE_P');
        var S8 = document.getElementById('WE_S');


        var P9 = document.getElementById('MAL_P');
        var S9 = document.getElementById('MAL_S');

        var P10 = document.getElementById('SUT_P');
        var S10 = document.getElementById('SUT_S');


        var P11 = document.getElementById('ZIP_P');
        var S11 = document.getElementById('ZIP_S');



        if (cb1.checked) {
            S1.value = P1.value;
            S2.value = P2.value;
            S3.value = P3.value;
            S4.value = P4.value;
            S5.value = P5.value;
            S6.value = P6.value;
            S7.value = P7.value;
            S8.value = P8.value;
            S9.value = P9.value;
            S10.value = P10.value;
            S11.value = P11.value;
        } else {

            S1.value = '';
            S2.value = '';
            S3.value = '';
            S4.value = '';
            S5.value = '';
            S6.value = '';
            S7.value = '';
            S8.value = '';
            S9.value = '';
            S10.value = '';
            S11.value = '';

        }
    }

</script>