﻿
@{
    ViewBag.Title = "PCP Survey";
}
<head>
    <link href='https://fonts.googleapis.com/css?family=Fira Sans' rel='stylesheet'>
    
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/custom.css" rel="stylesheet" />

</head>
<style>

     input[type=checkbox] + label {
        display: block;
    padding-left: 15px;
    text-indent: -15px;
    font-weight: normal !important;
     vertical-align: bottom!important;

     display: inline-block;
    max-width: 100%;
    /*//margin-bottom: 5px;*/
    font-weight: normal !important;
    }
</style>

@*<div class="container" style="margin-top:15px;">*@

<div class="row col-md-12">
    @*<article class="col-sm-12 col-md-12 col-lg-12 sortable-grid ui-sortable">
        <div id="wid-id-0">*@

    <!-- widget content -->
    <div class="widget-body margin24">
        <div class="row">
            <form id="wizard-1" novalidate="novalidate">
                <div id="bootstrap-wizard-1" class="col-sm-12">

                    <div class="form-bootstrapWizard" style="padding-left:90px;">
                        <ul class="bootstrapWizard form-wizard" style="border:none">
                            <li class="active" data-target="#step1">
                                <a onclick="return showHideTab('one')" data-toggle="tab" class="active" style="cursor:pointer"> <span class="step">1</span> <span class="title">PCP <br /><br />Survey</span> </a>
                            </li>
                            <li data-target="#step2" class="">
                                <a onclick="return showHideTab('two','two')" data-toggle="tab" style="cursor:pointer"> <span class="step">2</span> <span class="title">Referral<br /><br /> Patient Services</span> </a>
                                @*<a onclick="return showHideTab('two','two')" data-toggle="tab" style="cursor:pointer"> <span class="step">2</span> <span class="title"><table style="text-align:center;margin-left:30px"><tr><td>Patient</td></tr><tr><td style="padding-top:10px">Services</td></tr></table>  </span></a>*@
                            </li>
                            <li data-target="#step3" class="">
                                <a onclick="return showHideTab('three','three')" data-toggle="tab" style="cursor:pointer"> <span class="step">3</span> <span class="title">Referral<br /><br /> Provider <br /> <br /> Network</span> </a>
                            </li>
                            <li data-target="#step4">
                                <a onclick="return showHideTab('four','four')" data-toggle="tab" style="cursor:pointer"> <span class="step">4</span><span class="title">Follow-up /  <br /> <br />Case<br /><br />Management</span></a>
                            </li>
                            <li data-target="#step5">
                                <a onclick="return showHideTab('five','five')" data-toggle="tab" style="cursor:pointer"> <span class="step">5</span>  <span class="title">EHR <br /><br />System</span> </a>
                            </li>
                            <li data-target="#step6">
                                <a onclick="return showHideTab('six', 'six')" data-toggle="tab" style="cursor:pointer"> <span class="step">6</span> <span class="title">Service<br /><br /> Locations</span>  </a>
                            </li>
                            <li data-target="#step7">
                                <a onclick="return showHideTab('seven', 'seven')" data-toggle="tab" style="cursor:pointer"> <span class="step">7</span> <span class="title">Staffing</span></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>

                    @*<div class="tab-content"  style="margin-top:30px" border:none >*@
                    @*<div class="panel panel-default" style="border:none" id="tab1">

                        <div class="panel-body" style="border:none">
                            <div class="tab-pane active">*@
                    <div class="tab-content">
                        <div class="panel panel-default margin30" id="tab1">
                            <div class="panel-body  col-md-12" style="border: none; margin-bottom: -15px;">

                                <div class="tab-pane active">

                                    @Html.Partial("_PCPSurveyFirst")

                                </div>
                            </div>


                        </div>

                        @*<div class="panel panel-default" style="border:none" id="tab2">


                            <div class="panel-body" style="border:none">
                                <div class="tab-pane active" style="border:none">*@
                        <div class="panel panel-default margin30" id="tab2">
                            <div class="panel-body  col-md-12">
                                <div class="tab-pane">

                                    @Html.Partial("_PatientServices")

                                </div>
                            </div>


                        </div>




                        @*<div class="panel panel-default" style="border:none" id="tab3">

                            <div class="panel-body" style="border:none">
                                <div class="tab-pane" style="border:none">*@
                        <div class="panel panel-default margin30" id="tab3">
                            <div class="panel-body  col-md-12">
                                <div class="tab-pane">
                                    @Html.Partial("_ReferralProviderNetwork")


                                </div>
                            </div>

                        </div>

                        @*<div class="panel panel-default" style="border:none" id="tab4">


                            <div class="panel-body" style="border:none">
                                <div class="tab-pane" style="border:none">*@
                        <div class="panel panel-default margin30" id="tab4">
                            <div class="panel-body col-md-12">
                                <div class="tab-pane">
                                    @Html.Partial("_FollowUp")

                                </div>
                            </div>
                        </div>

                        @*<div class="panel panel-default" style="border:none" id="tab5">

                            <div class="panel-body">
                                <div class="tab-pane">*@
                        <div class="panel panel-default margin30" id="tab5">
                            <div class="panel-body col-md-12">
                                <div class="tab-pane">
                                    @Html.Partial("_EHRsystoms")
                                </div>
                            </div>
                        </div>


                        @*<div class="panel panel-default" style="border:none" id="tab6">

                            <div class="panel-body">
                                <div class="tab-pane ">*@
                        <div class="panel panel-default margin30" id="tab6">
                            <div class="panel-body col-md-12">
                                <div class="tab-pane">

                                    @Html.Partial("_ServiceLocations")
                                </div>
                            </div>
                        </div>

                        @*<div class="panel panel-default" style="border:none" id="tab7">

                            <div class="panel-body">
                                <div class="tab-pane ">*@

                        <div class="panel panel-default margin30" id="tab7">
                            <div class="panel-body col-md-12">
                                <div class="tab-pane">
                                    @Html.Partial("_Staffing")
                                </div>
                            </div>
                        </div>

                    </div>



                </div>

            </form>
        </div>
    </div>
</div>
@*</article>
    </div>
        </div>*@
<!-- end widget content -->


<script>
                $(document).ready(function () {
                    $('#tab2').css('display', 'none');
                    $('#tab3').css('display', 'none');
                    $('#tab4').css('display', 'none');
                    $('#tab5').css('display', 'none');
                    $('#tab6').css('display', 'none');
                    $('#tab7').css('display', 'none');
                 
                        //$('li.active').addClass('halfactive');
                        //$('li.active').removeClass('active');
                   
                })

                $("input[type='text']").keyup(function (e) {
                    if (e.target.value != "") {
                        $('li.active').addClass('halfactive')
                        $('li.active').removeClass('active')
                        $(e.target).css('border-color', '');
                    }
                    else {
                        $('li.halfactive').addClass('active')
                        $('li.halfactive').removeClass('halfactive')
                    }
                });

                function showHideTab(currentTab, previous) {
                    if (validateForm(currentTab, previous)) {
                        if (currentTab == "one") {
                            $('#tab1').css('display', 'block');
                            $('#tab2').css('display', 'none');
                            $('#tab3').css('display', 'none');
                            $('#tab4').css('display', 'none');
                            $('#tab5').css('display', 'none');
                            $('#tab6').css('display', 'none');
                            $('#tab7').css('display', 'none');
                        }

                        else if (currentTab == "two") {
                            $('#tab1').css('display', 'none');
                            $('#tab2').css('display', 'block');
                            $('#tab3').css('display', 'none');
                            $('#tab4').css('display', 'none');
                            $('#tab5').css('display', 'none');
                            $('#tab6').css('display', 'none');
                            $('#tab7').css('display', 'none');
                            $('#patientServices1').css('display', 'block');
                            $('#patientServices2').css('display', 'none');
                            $('#patientServices3').css('display', 'none');

                        }

                       
                        else if (currentTab == "three") {
                            $('#tab1').css('display', 'none');
                            $('#tab2').css('display', 'none');
                            $('#tab3').css('display', 'block');
                            $('#tab4').css('display', 'none');
                            $('#tab5').css('display', 'none');
                            $('#tab6').css('display', 'none');
                            $('#tab7').css('display', 'none');
                        }
                        else if (currentTab == "four") {
                            $('#tab1').css('display', 'none');
                            $('#tab2').css('display', 'none');
                            $('#tab3').css('display', 'none');
                            $('#tab4').css('display', 'block');
                            $('#tab5').css('display', 'none');
                            $('#tab6').css('display', 'none');
                            $('#tab7').css('display', 'none');
                            
                            $('#followUp1').css('display', 'block');
                            $('#followUp2').css('display', 'none');
                            $('#followUp3').css('display', 'none');
                        }


                        else if (currentTab == "followUp1") {
                            $('#tab1').css('display', 'none');
                            $('#tab2').css('display', 'none');
                            $('#tab3').css('display', 'none');
                            $('#tab4').css('display', 'block');
                            $('#tab5').css('display', 'none');
                            $('#tab6').css('display', 'none');
                            $('#tab7').css('display', 'none');

                            $('#followUp1').css('display', 'block');
                            $('#followUp2').css('display', 'none');
                            $('#followUp3').css('display', 'none');
                        }
                        else if (currentTab == "followUp2") {
                            $('#tab1').css('display', 'none');
                            $('#tab2').css('display', 'none');
                            $('#tab3').css('display', 'none');
                            $('#tab4').css('display', 'block');
                            $('#tab5').css('display', 'none');
                            $('#tab6').css('display', 'none');
                            $('#tab7').css('display', 'none');
                            $('#followUp1').css('display', 'none');
                            $('#followUp2').css('display', 'block');
                           
                            $('#followUp3').css('display', 'none');
                        }

                        else if (currentTab == "followUp3") {
                            $('#tab1').css('display', 'none');
                            $('#tab2').css('display', 'none');
                            $('#tab3').css('display', 'none');
                            $('#tab4').css('display', 'block');
                            $('#tab5').css('display', 'none');
                            $('#tab6').css('display', 'none');
                            $('#tab7').css('display', 'none');
                            $('#followUp1').css('display', 'none');
                            $('#followUp2').css('display', 'none');
                            $('#followUp3').css('display', 'block');
                            
                        
                        }




                        else if (currentTab == "five") {
                            $('#tab1').css('display', 'none');
                            $('#tab2').css('display', 'none');
                            $('#tab3').css('display', 'none');
                            $('#tab4').css('display', 'none');
                            $('#tab5').css('display', 'block');
                            $('#tab6').css('display', 'none');
                            $('#tab7').css('display', 'none');
                            $('#ehrsystem1').css('display', 'block');
                            $('#ehrsystem2').css('display', 'none');

                        }
                        else if (currentTab == "ehrsystem1") {
                            $('#tab1').css('display', 'none');
                            $('#tab2').css('display', 'none');
                            $('#tab3').css('display', 'none');
                            $('#tab4').css('display', 'none');
                            $('#tab5').css('display', 'block');
                            $('#tab6').css('display', 'none');
                            $('#tab7').css('display', 'none');
                            $('#ehrsystem1').css('display', 'block');
                            $('#ehrsystem2').css('display', 'none');

                        }
                        else if (currentTab == "ehrsystem2") {
                            $('#tab1').css('display', 'none');
                            $('#tab2').css('display', 'none');
                            $('#tab3').css('display', 'none');
                            $('#tab4').css('display', 'none');
                            $('#tab5').css('display', 'block');
                            $('#tab6').css('display', 'none');
                            $('#tab7').css('display', 'none');
                            $('#ehrsystem1').css('display', 'none');
                            $('#ehrsystem2').css('display', 'block');

                        }


                        else if (currentTab == "six") {
                            $('#tab1').css('display', 'none');
                            $('#tab2').css('display', 'none');
                            $('#tab3').css('display', 'none');
                            $('#tab4').css('display', 'none');
                            $('#tab5').css('display', 'none');
                            $('#tab6').css('display', 'block');
                            $('#tab7').css('display', 'none');
                            $('#serviceLocations1').css('display', 'block');
                            $('#serviceLocations2').css('display', 'none');
                            $('#serviceLocations3').css('display', 'none');

                        }
                        else if (currentTab == "serviceLocations1") {
                            $('#tab1').css('display', 'none');
                            $('#tab2').css('display', 'none');
                            $('#tab3').css('display', 'none');
                            $('#tab4').css('display', 'none');
                            $('#tab5').css('display', 'none');
                            $('#tab6').css('display', 'block');
                            $('#tab7').css('display', 'none');
                            $('#serviceLocations1').css('display', 'block');
                            $('#serviceLocations2').css('display', 'none');
                            $('#serviceLocations3').css('display', 'none');

                        }
                        else if (currentTab == "serviceLocations2") {
                            $('#tab1').css('display', 'none');
                            $('#tab2').css('display', 'none');
                            $('#tab3').css('display', 'none');
                            $('#tab4').css('display', 'none');
                            $('#tab5').css('display', 'none');
                            $('#tab6').css('display', 'block');
                            $('#tab7').css('display', 'none');
                            $('#serviceLocations1').css('display', 'none');
                            $('#serviceLocations2').css('display', 'block');
                            $('#serviceLocations3').css('display', 'none');
                        }
                        else if (currentTab == "serviceLocations3") {
                            $('#tab1').css('display', 'none');
                            $('#tab2').css('display', 'none');
                            $('#tab3').css('display', 'none');
                            $('#tab4').css('display', 'none');
                            $('#tab5').css('display', 'none');
                            $('#tab6').css('display', 'block');
                            $('#tab7').css('display', 'none');
                            $('#serviceLocations1').css('display', 'none');
                            $('#serviceLocations2').css('display', 'none');
                            $('#serviceLocations3').css('display', 'block');
                        }

                        else if (currentTab == "patientServices1") {
                            $('#tab1').css('display', 'none');
                            $('#tab2').css('display', 'block');
                            $('#tab3').css('display', 'none');
                            $('#tab4').css('display', 'none');
                            $('#tab5').css('display', 'none');
                            $('#tab6').css('display', 'none');
                            $('#tab7').css('display', 'none');
                            $('#patientServices1').css('display', 'block');
                            $('#patientServices2').css('display', 'none');
                            $('#patientServices3').css('display', 'none');
                        }
                        else if (currentTab == "patientServices2") {
                            $('#tab1').css('display', 'none');
                            $('#tab2').css('display', 'block');
                            $('#tab3').css('display', 'none');
                            $('#tab4').css('display', 'none');
                            $('#tab5').css('display', 'none');
                            $('#tab6').css('display', 'none');
                            $('#tab7').css('display', 'none');
                            $('#patientServices1').css('display', 'none');
                            $('#patientServices2').css('display', 'block');
                            $('#patientServices3').css('display', 'none');
                        }

                        else if (currentTab == "patientServices3") {
                            $('#tab1').css('display', 'none');
                            $('#tab2').css('display', 'block');
                            $('#tab3').css('display', 'none');
                            $('#tab4').css('display', 'none');
                            $('#tab5').css('display', 'none');
                            $('#tab6').css('display', 'none');
                            $('#tab7').css('display', 'none');
                            $('#patientServices1').css('display', 'none');
                            $('#patientServices2').css('display', 'none');
                            $('#patientServices3').css('display', 'block');
                        }
                        else if (currentTab == "seven") {
                            $('#tab1').css('display', 'none');
                            $('#tab2').css('display', 'none');
                            $('#tab3').css('display', 'none');
                            $('#tab4').css('display', 'none');
                            $('#tab5').css('display', 'none');
                            $('#tab6').css('display', 'none');
                            $('#tab7').css('display', 'block');

                        }



                    }

                }

                function validateForm(currText, previous) {
                    
                    var tabVal = "";
                    if (previous != undefined) {
                        currText = previous;
                    }
                    if (currText == "one") {
                        tabVal = "#step1";
                    }
                    else if (currText == "two") {
                        tabVal = "#step2";
                    }
                    else if (currText == "three") {
                        tabVal = "#step3";
                    }
                    else if (currText == "four") {
                        tabVal = "#step4";
                    }
                    else if (currText == "five") {
                        tabVal = "#step5";
                    }
                    else if (currText == "six") {
                        tabVal = "#step6";
                    }
                    else if (currText == "seven") {
                        tabVal = "#step7";
                    }
                    //else if (currText == "patientServices3") {
                    //    tabVal = "#step2";
                    //}
                    //else if (currText == "followUp3") {
                    //    tabVal = "#step4";
                    //}

                    //else if (currText == "ehrsystem2") {
                    //    tabVal = "#step4";
                    //}
                    //else if (currText == "serviceLocations3") {
                    //    tabVal = "#step6";
                    //}

                    
                    

                    if (tabVal != "") {
                        setSelected(tabVal)
                    }
                    return true;
                }
                function setSelected(value) {
                    
                    $('.bootstrapWizard').find('li').each(function () {
                        if ($(this).attr('data-target') == value) {
                            $(this).addClass('halfactive');
                            $(this).removeClass('active');
                        }
                        else {
                            $(this).removeClass('active');
                            $(this).removeClass('halfactive');
                        }
                    })
                }

                function validateControl(ctrlId) {
                    if ($.trim($('#' + ctrlId).val()) == "") {
                        $('#' + ctrlId).css('border-color', 'red');
                        $('#' + ctrlId).focus();
                        return false;
                    }
                    return true;
                }

</script>
