﻿@model EWC_NSAA.ViewModels.NavigatorViewModel

@{ Html.EnableClientValidation(true); }

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()



    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    @Html.HiddenFor(model => model.NavigatorID)

    <div class="row col-md-12">
        <!-- widget content -->
        <div class="widget-body margin24">
            <div class="row">
                <form id="wizard-1" novalidate="novalidate">
                    <div id="bootstrap-wizard-1" class="col-sm-12">
                        <div class="form-bootstrapWizard">
                            <ul class="bootstrapWizard form-wizard col-md-offset-3">
                                <li class="active" data-target="#step1">
                                    <a onclick="return showHideTab('one')" data-toggle="tab" class="active" style="cursor:pointer"> <span class="step">1</span> <span class="title">Personal  Info</span> </a>
                                </li>
                                <li data-target="#step2" class="">
                                    <a onclick="return showHideTab('two','two')" data-toggle="tab" style="cursor:pointer"> <span class="step">2</span> <span class="title">Language</span> </a>
                                </li>
                                <li data-target="#step3" class="">
                                    <a onclick="return showHideTab('three','three')" data-toggle="tab" style="cursor:pointer"> <span class="step">3</span> <span class="title">Trainings</span> </a>
                                </li>

                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="tab-content" style="margin-top:-90px">
                            <div class="panel panel-default margin30" id="tab1">
                                <div class="panel-body  col-md-12" style="border: none; margin-bottom: -15px;">

                                    <div class="tab-pane active">
                                        @Html.Partial("_NavigatorProfile")
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default margin30" id="tab2">
                                <div class="panel-body  col-md-12" style="border: none; margin-bottom: -15px;">
                                    <div class="tab-pane">
                                        @Html.Partial("_Language")
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default margin30" id="tab3">
                                <div class="panel-body  col-md-12">
                                    <div class="tab-pane">
                                        @Html.Partial("_Trainings")
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </form>
            </div>
        </div>

        <!-- end widget content
           </div>
        -->
        <!-- end widget div -->
    </div>




}

@section Scripts{

    @*<script>
            var language = (function () {
                var publicMethods = {};
                publicMethods.openLanguagePopup = function () { }
                return publicMethods;
            })();
        </script>*@


    <script>

        $(document).ready(function () {
            $('#tab2').css('display', 'none');
            $('#tab3').css('display', 'none');

        })

        function showHideTab(currentTab, previous) {
            if (validateForm(currentTab, previous)) {
                if (currentTab == "one") {
                    $('#tab1').css('display', 'block');
                    $('#tab2').css('display', 'none');
                    $('#tab3').css('display', 'none');
                }
                else if (currentTab == "two") {
                    $('#tab1').css('display', 'none');
                    $('#tab2').css('display', 'block');
                    $('#tab3').css('display', 'none');
                }
                else if (currentTab == "three") {
                    $('#tab1').css('display', 'none');
                    $('#tab2').css('display', 'none');
                    $('#tab3').css('display', 'block');
                }
            }

        }

        function validateForm(currText, previous) {
            var tabVal = "";
            if (previous != undefined) {
                currText = previous;
            }
            if (currText == "one") {
                tabVal = "#step1";
            }
            else if (currText == "two") {

                tabVal = "#step2";
            }
            else if (currText == "three") {
                tabVal = "#step3";
            }


            return true;
        }

    </script>

}

















