﻿@model EWC_NSAA.ViewModels.SearchViewModel

@{ Html.EnableClientValidation(true); }
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <br />

    <h4>Search Recipient</h4>

    <div class="form-horizontal">
        
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @if (TempData["FeedbackMessage"] != null)
        {
            <div class="alert alert-info">
                <strong>@TempData["FeedbackMessage"]</strong>
            </div>
        }
        <hr />

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.NSRecipientID, "* NSID", htmlAttributes: new { @class = "control-label col-md-5" })
                    <div class="col-md-offset-5">
                        @Html.EditorFor(model => model.NSRecipientID, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.NSRecipientID, "", new { @class = "text-danger" })

                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.LastName, "* Last Name", htmlAttributes: new { @class = "control-label col-md-5" })
                    <div class="col-md-offset-5">
                        @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.DOB, "* Date of Birth", htmlAttributes: new { @class = "control-label col-md-5" })
                    <div class="col-md-offset-5">
                        @Html.EditorFor(model => model.DOB, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.DOB, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>

        
            <div class="form-group">
                <div class="col-md-offset-5 col-md-6">
                    <input type="submit" value="Search" class="btn btn-default" />
                </div>
            </div>
        </div>
        switch (Model.Recipients.Count())
        {
            case 0:
                <div></div>
                break;
            default:
                <div>
                    <table class="table">
                        <tr>
                            <th>
                                @Html.LabelFor(model => model.Recipients.FirstOrDefault().NSRecipientID, "Recipient ID")
                            </th>
                            <th>
                                @Html.LabelFor(model => model.Recipients.FirstOrDefault().FirstName, "First Name")
                            </th>
                            <th>
                                @Html.LabelFor(model => model.Recipients.FirstOrDefault().LastName, "Last Name")
                            </th>
                            <th>
                                @Html.LabelFor(model => model.Recipients.FirstOrDefault().Phone1, "Primary Phone")
                            </th>
                            <th>
                                @Html.LabelFor(model => model.Recipients.FirstOrDefault().P1PhoneType, "Primary Phone Type")
                            </th>
                            <th>
                                @Html.LabelFor(model => model.Recipients.FirstOrDefault().P1PersonalMessage, "Personal Message")
                            </th>
                            <th>
                                @Html.LabelFor(model => model.Recipients.FirstOrDefault().Email, "Email Address")
                            </th>
                            <th>
                                @Html.LabelFor(model => model.Recipients.FirstOrDefault().PrimaryLanguage, "Primary Language")
                            </th>
                            <th>
                                @Html.LabelFor(model => model.Recipients.FirstOrDefault().AgreeToSpeakEnglish, "Agree to speak English?")
                            </th>

                        </tr>

                        @foreach (var item in Model.Recipients)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NSRecipientID)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FirstName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.LastName)
                                </td>
                                <td>
                                    @String.Format("{0: (###) ###-####}", Convert.ToInt64(item.Phone1))
                                </td>
                                <td>
                                    @Model.PhoneTypeSelectItems.Where(x => x.Value == item.P1PhoneType.ToString()).Select(x => x.Text).First()
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.P1PersonalMessage)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Email)
                                </td>
                                <td>
                                    @Model.Languages.Where(x => x.LanguageCode == item.PrimaryLanguage).Select(x => x.LanguageName).First()

                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.AgreeToSpeakEnglish)
                                </td>

                                <td>
                                    @Html.ActionLink("Edit", "Edit", "Enrollment", new { id = item.NSRecipientID }, null) |
                                    @Html.ActionLink("Recipient Report", "Details", "Report", new { id = item.NSRecipientID }, null) |
                                    @Html.ActionLink("Add Details", "Create", "NavigationCycles", new { NSID = item.NSRecipientID, NavigatorID = item.FK_NavigatorID }, null) |
                                    @Html.ActionLink("View Details List", "Index", "NavigationCycles", new { NSID = item.NSRecipientID, NavigatorID = item.FK_NavigatorID }, null) |
                                    @Html.ActionLink("Add New Assessment", "Create", "Encounters", new { NSID = item.NSRecipientID, NavigatorID = item.FK_NavigatorID }, null) |
                                    @Html.ActionLink("View Assessments", "Index", "Encounters", new { NSID = item.NSRecipientID, NavigatorID = item.FK_NavigatorID }, null) |
                                    @Html.ActionLink("Recipient Transfer", "NavigatorTransfer", "Enrollment", new { NSID = item.NSRecipientID, NavigatorID = item.FK_NavigatorID }, null)
                                </td>
                            </tr>
                        }
                    </table>
                </div>
                break;
        }

}
