﻿@using EWC_NSAA.Models;
@model EWC_NSAA.ViewModels.EncounterViewModel

<div id="solutions">

    @for (int i = 0; i < Model.Solutions.Count; i++)
    {
        <hr />
        <div class="solutionRow">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Solutions[i].SolutionOffered, "Solution Offered", htmlAttributes: new { @class = "control-label col-md-5" })
                        <div class="col-md-offset-5">
                            @Html.DropDownListFor(model => model.Solutions[i].SolutionOffered, EWC_NSAA.Controllers.EncountersController.GetBarrierSolutionDropDown())
                            @Html.ValidationMessageFor(model => model.Solutions[i].SolutionOffered, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Solutions[i].SolutionImplementationStatus, "Barrier Assessed", htmlAttributes: new { @class = "control-label col-md-5" })
                        <div class="col-md-offset-5">
                            @Html.EditorFor(model => model.Solutions[i].SolutionImplementationStatus, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Solutions[i].SolutionImplementationStatus, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<div class="row">
    <div class="col-md-4">
        <a href="javascript:void(0);" class="addRow control-label">Add New Solution</a>

    </div>
</div>


















