﻿@*@model EWC_NSAA.ViewModels.EncounterViewModel

@{
    Layout = null;
}

<table class="table">
    <tr>
        <th>
            @Html.LabelFor(model => model.BarrierList.FirstOrDefault().BarrierType)
        </th>
        <th>
            @Html.LabelFor(model => model.BarrierList.FirstOrDefault().BarrierAssessed)
        </th>
        <th>
            @Html.LabelFor(model => model.BarrierList.FirstOrDefault().DateCreated)
        </th>
        <th>
            @Html.LabelFor(model => model.BarrierList.FirstOrDefault().CreatedBy)
        </th>
        <th>
            @Html.LabelFor(model => model.BarrierList.FirstOrDefault().LastUpdated)
        </th>
        <th>
            @Html.LabelFor(model => model.BarrierList.FirstOrDefault().UpdatedBy)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model.BarrierList)
    {
        <tr>
            <td>
                @Model.BarrierTypes.Where(x => x.BarrierTypeCode == item.BarrierType).Select(x => x.BarrierTypeDescription).First()
            </td>
            <td>
                @Model.Barriers.Where(x => x.BarrierCode == item.BarrierAssessed).Select(x => x.BarrierDescription).First()
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastUpdated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedBy)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", "Barriers", new { id = item.BarrierID }, null)
            </td>
        </tr>

    }

</table>*@