﻿@{
    var solutionStatus = new SelectList(new[]
    {
        new { Text = "N-IMPT", Value = "0"},
        new { Text = "IMPT", Value = "1"}
    }, "Value", "Text", "0");
}

<style type="text/css">
    /*  bhoechie tab */
    div.bhoechie-tab-container {
        z-index: 10;
        padding: 0 !important;
        -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
        box-shadow: 0 6px 12px rgba(0,0,0,.175);
        -moz-box-shadow: 0 6px 12px rgba(0,0,0,.175);
        background-clip: padding-box;
        opacity: 0.97;
        filter: alpha(opacity=97);
    }

    div.bhoechie-tab-menu {
        padding-right: 0;
        padding-left: 0;
        padding-bottom: 0;
    }

        div.bhoechie-tab-menu div.list-group div.row {
            margin-bottom: 0;
        }

            div.bhoechie-tab-menu div.list-group div.row > a {
                margin-bottom: 0;
            }

    .list-group-item {
        background-color: #c1d1da;
        border-color: #c1d1da;
    }

        .list-group-item.active {
            background-color: #397EB9;
            border-color: #397EB9;
            color: #d8f4f7;
        }

    div.bhoechie-tab-menu div.list-group,
    div.bhoechie-tab-menu div.list-group > a .fa {
        color: #5A55A3;
    }

        div.bhoechie-tab-menu div.list-group > a:first-child {
            border-top-right-radius: 0;
            -moz-border-top-right-radius: 0;
        }

        div.bhoechie-tab-menu div.list-group > a:last-child {
            border-bottom-right-radius: 0;
            -moz-border-bottom-right-radius: 0;
        }

        div.bhoechie-tab-menu div.list-group > a.active,
        div.bhoechie-tab-menu div.list-group > a.active .fa {
            background-color: #397EB9;
            border-color: #397EB9;
            color: #d8f4f7;
        }

            div.bhoechie-tab-menu div.list-group > a.active:after {
                content: '';
                position: absolute;
                left: 100%;
                top: 50%;
                margin-top: -13px;
                border-left: 0;
                border-bottom: 13px solid transparent;
                border-top: 13px solid transparent;
                border-left: 10px solid #397EB9;
            }

    div.bhoechie-tab-content {
        background-color: #ffffff;
        padding-left: 20px;
        padding-top: 10px;
    }

    div.bhoechie-tab div.bhoechie-tab-content:not(.active) {
        display: none;
    }

    a {
        color: #005782;
        text-decoration: none;
    }

    table th {
        padding: 15px 5px 10px;
        text-align: left;
        background-color: #7EB2B2;
        font-family: 'FiraSans-Light' !important;
        font-size: 18px !important;
        color: #fff;
    }

    table td {
        padding: 5px 2px 2px;
        text-align: left;
        align-items: center;
        font-family: 'FiraSans-Light' !important;
        font-size: 18px !important;
    }

    .table-row-style {
        background-color: #DEF9F9;
        padding: 3px 7px 2px;
        text-align: left;
        font-family: 'FiraSans-Light' !important;
        font-size: 18px !important;
    }

    .table-striped > tbody > tr:nth-of-type(odd) {
        background-color: #DEF9F9;
        padding: 3px 7px 2px;
        font-family: 'FiraSans-Light' !important;
        font-size: 18px !important;
    }
</style>

<div class="container" id="assessmentTab">
    <div class="row" >
        <h3 style="padding-left:25px"><b> Barriers & Solutions </b></h3><br />
        <div class="bhoechie-tab-container" ">
            <div class="form-group col-lg-3 text-center">
                <label>Category</label>
            </div>
            <div class="form-group col-lg-4 text-center">
                <label>Barriers</label>
            </div>
            <div class="form-group col-lg-4 text-center" style="margin-left:-100px;">
                <label>Solutions</label>
            </div>

            <div class="form-group col-lg-12" style="margin-top:-15px;"> 
                <div class="col-md-3 bhoechie-tab-menu" >
                    <div class="list-group" >

                        <a href="#" class="list-group-item active text-left">
                            <span class="option1"></span>Transportation & Logistics
                        </a>

                        <a href="#" class="list-group-item text-left">
                            <span class="option2"></span>Language, Culture & Literacy
                        </a>

                        <a href="#" class="list-group-item text-left">
                            <span class="option3"></span>  Financial
                        </a>

                        <a href="#" class="list-group-item text-left">
                            <span class="option4"></span>Health Literacy or Education
                        </a>

                        <a href="#" class="list-group-item text-left">
                            <span class="option5"></span>PCP or Referral PCP
                        </a>

                        <a href="#" class="list-group-item text-left">
                            <span class="option6"></span>Social Support or Distress
                        </a>

                        <a href="#" class="list-group-item text-left">
                            <span class="option7"></span>Others
                        </a>
                        <a class="list-group-item" style="height:30px">
                        </a>
                        <a class="list-group-item" style="height:30px">
                        </a>
                        <a class="list-group-item" style="height:30px">
                        </a>
                        <a class="list-group-item" style="height:30px">
                        </a>
                        <a class="list-group-item" style="height:30px">
                        </a>                        
                    </div>

                </div>
                <div class="col-md-9 bhoechie-tab" style="margin-top:-10px; margin-left:-20px;">

                    <!-- transportation section -->
                    <div class="bhoechie-tab-content active">
                        <div class="option1">
                            <div class="barriers col-xs-5">
                                <div class="list-group">
                                    <div class="row">
                                        <a href="#" class="list-group-item ">
                                            No car/access to or can’t afford public transportation
                                        </a>
                                    </div>
                                    <div class="row">
                                        <a href="#" class="list-group-item">
                                            Conflict, PCP & work schedules; can’t take time off work
                                        </a>
                                    </div>

                                    <div class="row">
                                        <a href="#" class="list-group-item">
                                            No coordination of services or service locations
                                        </a>
                                    </div>

                                    <div class="row">
                                        <a href="#" class="list-group-item">
                                            Need child or elder-care
                                        </a>
                                    </div>

                                    <div class="row">
                                        <a href="#" class="list-group-item">
                                            Disabled
                                        </a>
                                    </div>

                                    <div class="row">
                                        <a href="#" class="list-group-item">
                                            <div class="form-inline">
                                                Other&nbsp;<br />
                                                <input class="form-control" id="txtBxOther" type="text" style="width:225px">
                                            </div>
                                        </a>
                                    </div>
                                    <div class="row">
                                        <div class="list-group-item" style="height:75px">
                                            <br />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="solutions col-sm-7">
                                <div class="list-group" id="solution">
                                    <div class="row form-inline">
                                        <div class="form-group col-xs-10">
                                            <a href="#" name="solution" id="1st" class="list-group-item">
                                                Find alt. PCP
                                            </a>
                                        </div>
                                        @*<div class="form-group col-xs-3">
                                            @Html.DropDownList("status", solutionStatus, new { @class = "form-control", @id = "1st", @name="solutions", @style = "display:none" })
                                        </div>*@
                                    </div>
                                    <div class="row form-inline">
                                        <div class="form-group col-xs-10">
                                            <a href="#" name="solution" id="2nd" class="list-group-item">
                                                Discuss/identity public/ personal transportation options
                                            </a>
                                        </div>
                                        @*<div class="form-group col-xs-3">
                                            @Html.DropDownList("status", solutionStatus, new { @class = "form-control", @id = "2nd", @name="solutions", @style = "display:none" })
                                        </div>*@
                                    </div>
                                    <div class="row form-inline">
                                        <div class="form-group col-xs-10">
                                            <a href="#" name="solution" id="3rd" class="list-group-item">
                                                Discuss child/elder care options; or PCP with appropriate service
                                            </a>
                                        </div>
                                        @*<div class="form-group col-xs-3">
                                            @Html.DropDownList("status", solutionStatus, new { @class = "form-control", @id = "3rd", @name="solutions", @style = "display:none" })
                                        </div>*@
                                    </div>
                                    <div class="row form-inline">
                                        <div class="form-group col-xs-10">
                                            <a href="#" name="solution" id="4th" class="list-group-item">
                                                Assist coordinate appointments/travel; or records/info. arrived
                                            </a>
                                        </div>
                                        @*<div class="form-group col-xs-3">
                                            @Html.DropDownList("status", solutionStatus, new { @class = "form-control", @id = "4th", @name="solutions", @style = "display:none" })
                                        </div>*@
                                    </div>
                                    <div class="row form-inline">
                                        <div class="form-group col-xs-10">
                                            <a href="#" name="solution" id="5th" class="list-group-item">
                                                Coach, communicating special needs
                                            </a>
                                        </div>
                                        @*<div class="form-group col-xs-3">
                                            @Html.DropDownList("status", solutionStatus, new { @class = "form-control", @id = "5th", @name="solutions", @style = "display:none" })
                                        </div>*@
                                    </div>
                                    <div class="row form-inline">
                                        <div class="form-group col-xs-10">
                                            <a href="#" name="solution" id="6th" class="list-group-item">
                                                <div class="form-inline">
                                                    Referral&nbsp;<br />
                                                    <input class="form-control" id="txtBxOther" type="text" style="width:250px">
                                                </div>
                                            </a>
                                        </div>
                                        @*<div class="form-group col-xs-3">
                                            @Html.DropDownList("status", solutionStatus, new { @class = "form-control", @id = "6th", @name="solutions", @style = "display:none" })
                                        </div>*@
                                    </div>
                                    <div class="row form-inline">
                                        <div class="form-group col-xs-10">
                                            <a href="#" name="solution" id="7th" class="list-group-item">
                                                <div class="form-inline">
                                                    Other&nbsp;<br />
                                                    <input class="form-control" id="txtBxOther" type="text" style="width:250px">
                                                </div>
                                            </a>
                                        </div>
                                        @*<div class="form-group col-xs-3">
                                            @Html.DropDownList("status", solutionStatus, new { @class = "form-control", @id = "7th", @name="solutions", @style = "display:none" })
                                        </div>*@
                                    </div>
                                    <div class="row form-inline">
                                        <div class="form-group col-xs-10">
                                            <br />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Language, Culture & Literacy section -->
                    <div class="bhoechie-tab-content">
                        <div class="option2">
                            <div class="barriers col-xs-5">
                                <div class="list-group">
                                    <div class="row">
                                        <a href="#" class="list-group-item active">
                                            Difficulty speaking or reading English
                                        </a>
                                    </div>
                                    <div class="row">
                                        <a href="#" class="list-group-item">
                                            Cultural beliefs inconsistent with exam, procedure or treatment
                                        </a>
                                    </div>
                                    <div class="row">
                                        <a href="#" class="list-group-item">
                                            Difficulty communicating needs/desires to PCP
                                        </a>
                                    </div>
                                    <div class="row">
                                        <a href="#" class="list-group-item">
                                            <div class="form-inline">
                                                Other&nbsp;<br />
                                                <input class="form-control" id="txtBxOther" type="text" style="width:250px">
                                            </div>
                                        </a>
                                    </div>
                                    <div class="row">
                                        <div class="list-group-item" style="height:66px">
                                            <br />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="list-group-item" style="height:66px">
                                            <br />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="list-group-item" style="height:66px">
                                            <br />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="solutions col-sm-7">
                                <div class="list-group" id="solution">
                                    <div class="row form-inline">
                                        <div class="form-group col-xs-10">
                                            <a href="#" name="solution" id="1st" class="list-group-item">
                                                Refer, culturally competent/linguistically appropriate PCP or with translation service
                                            </a>
                                        </div>
                                        @*<div class="form-group col-xs-3">
                                            @Html.DropDownList("status", solutionStatus, new { @class = "form-control", @id = "1st", @name="solutions", @style = "display:none" })
                                        </div>*@
                                    </div>

                                    <div class="row form-inline">
                                        <div class="form-group col-xs-10">
                                            <a href="#" name="solution" id="2nd" class="list-group-item">
                                                Coach, communicating special needs
                                            </a>
                                        </div>
                                        @*<div class="form-group col-xs-3">
                                            @Html.DropDownList("status", solutionStatus, new { @class = "form-control", @id = "2nd", @name="solutions", @style = "display:none" })
                                        </div>*@
                                    </div>

                                    <div class="row form-inline">
                                        <div class="form-group col-xs-10">
                                            <a href="#" name="solution" id="3rd" class="list-group-item">
                                                <div class="form-inline">
                                                    Referral&nbsp;<br />
                                                    <input class="form-control" id="txtBxOther" type="text" style="width:250px">
                                                </div>
                                            </a>
                                        </div>
                                        @*<div class="form-group col-xs-3">
                                            @Html.DropDownList("status", solutionStatus, new { @class = "form-control", @id = "3rd", @name="solutions", @style = "display:none" })
                                        </div>*@
                                    </div>
                                    <div class="row form-inline">
                                        <div class="form-group col-xs-10">
                                            <a href="#" name="solution" id="4th" class="list-group-item">
                                                <div class="form-inline">
                                                    Other&nbsp;<br />
                                                    <input class="form-control" id="txtBxOther" type="text" style="width:250px">
                                                </div>
                                            </a>
                                        </div>
                                        @*<div class="form-group col-xs-3">
                                            @Html.DropDownList("status", solutionStatus, new { @class = "form-control", @id = "4th", @name="solutions", @style = "display:none" })
                                        </div>*@

                                    </div>
                                    <div class="row form-inline">
                                        <div class="form-group col-xs-10">
                                            <div class="list-group-item" style="height:55px">
                                                <br />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row form-inline">
                                        <div class="form-group col-xs-10">
                                            <div class="list-group-item" style="height:55px">
                                                <br />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row form-inline">
                                        <div class="form-group col-xs-10">
                                            <div class="list-group-item" style="height:55px">
                                                <br />
                                            </div>
                                        </div>
                                    </div>
                                 
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Financial section -->
                    <div class="bhoechie-tab-content">
                        <div class="option3">
                            <div class="barriers col-xs-5">
                                <div class="list-group">
                                    <div class="row">
                                        <a href="#" class="list-group-item active">
                                            No health insurance
                                        </a>
                                    </div>
                                    <div class="row">
                                        <a href="#" class="list-group-item">
                                            Can’t afford co-pay /share-of-cost/ deductible
                                        </a>
                                    </div>
                                    <div class="row">
                                        <a href="#" class="list-group-item">
                                            <div class="form-inline">
                                                Other&nbsp;<br />
                                                <input class="form-control" id="txtBxOther" type="text" style="width:250px">
                                            </div>
                                        </a>
                                    </div>
                                    <div class="row">
                                        <div href="#" class="list-group-item" style="height:70px">
                                            <br />
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div href="#" class="list-group-item" style="height:70px">
                                            <br />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div href="#" class="list-group-item" style="height:65px">
                                            <br />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div href="#" class="list-group-item" style="height:65px">
                                            <br />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="solutions col-sm-7">
                                <div class="list-group" id="solution">
                                    <div class="row form-inline">
                                        <div class="form-group col-xs-10">
                                            <a href="#" name="solution" id="1st" class="list-group-item">
                                                Eligible for Covered California, refer
                                            </a>
                                        </div>
                                        @*<div class="form-group col-xs-3">
                                            @Html.DropDownList("status", solutionStatus, new { @class = "form-control", @id = "1st", @name="solutions", @style = "display:none" })
                                        </div>*@
                                    </div>


                                    <div class="row form-inline">
                                        <div class="form-group col-xs-10">
                                            <a href="#" name="solution" id="2nd" class="list-group-item">
                                                Ineligible for Covered California, refer to appropriate program
                                            </a>
                                        </div>
                                        @*<div class="form-group col-xs-3">
                                            @Html.DropDownList("status", solutionStatus, new { @class = "form-control", @id = "2nd", @name="solutions", @style = "display:none" })
                                        </div>*@
                                    </div>


                                    <div class="row form-inline">
                                        <div class="form-group col-xs-10">
                                            <a href="#" name="solution" id="3rd" class="list-group-item">
                                                <div class="form-inline">
                                                    Referral&nbsp;<br />
                                                    <input class="form-control" id="txtBxOther" type="text" style="width:250px">
                                                </div>
                                            </a>
                                        </div>
                                        @*<div class="form-group col-xs-3">
                                            @Html.DropDownList("status", solutionStatus, new { @class = "form-control", @id = "3rd", @name="solutions", @style = "display:none" })
                                        </div>*@
                                    </div>


                                    <div class="row form-inline">
                                        <div class="form-group col-xs-10">
                                            <a href="#" name="solution" id="4th" class="list-group-item">
                                                <div class="form-inline">
                                                    Other&nbsp;<br />
                                                    <input class="form-control" id="txtBxOther" type="text" style="width:250px">
                                                </div>
                                            </a>
                                        </div>
                                        @*<div class="form-group col-xs-3">
                                            @Html.DropDownList("status", solutionStatus, new { @class = "form-control", @id = "4th", @name="solutions", @style = "display:none" })
                                        </div>*@
                                    </div>


                                    <div class="row form-inline">
                                        <div class="form-group col-xs-10">
                                            <div class="list-group-item" style="height:70px">
                                                <br />
                                            </div>
                                        </div>
                                    </div>


                                    <div class="row form-inline">
                                        <div class="form-group col-xs-10">
                                            <div class="list-group-item" style="height:60px">
                                                <br />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row form-inline">
                                        <div class="form-group col-xs-10">
                                            <div class="list-group-item" style="height:55px">
                                                <br />
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Health Literacy or Education seciton -->
                    <div class="bhoechie-tab-content">
                        <div class="option4">

                            <div class="barriers col-xs-5">
                                <div class="list-group">
                                    <div class="row">
                                        <a href="#" class="list-group-item active">
                                            Health not a priority
                                        </a>
                                    </div>

                                    <div class="row">
                                        <a href="#" class="list-group-item">
                                            Confused
                                        </a>
                                    </div>

                                    <div class="row">
                                        <a href="#" class="list-group-item">
                                            Difficulty completing forms; gathering additional
                                        </a>
                                    </div>

                                    <div class="row">
                                        <a href="#" class="list-group-item">
                                            <div class="form-inline">
                                                Other&nbsp;<br />
                                                <input class="form-control" id="txtBxOther" type="text" style="width:250px">
                                            </div>
                                        </a>
                                    </div>

                                    <div class="row">
                                        <div href="#" class="list-group-item" style="height:75px">
                                            <br />
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="list-group-item" style="height:75px">
                                            <br />
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="list-group-item" style="height:75px">
                                            <br />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="solutions col-sm-7">
                                <div class="list-group" id="solution">

                                    <div class="row form-inline">
                                        <div class="form-group col-xs-10">
                                            <a href="#" name="solution" id="1st" class="list-group-item">
                                                Educate - cancer, healthcare system, test, procedures, diagnoses and/or treatments
                                            </a>
                                        </div>
                                        @*<div class="form-group col-xs-3">
                                            @Html.DropDownList("status", solutionStatus, new { @class = "form-control", @id = "1st", @name="solutions", @style = "display:none" })
                                        </div>*@
                                    </div>


                                    <div class="row form-inline">
                                        <div class="form-group col-xs-10">
                                            <a href="#" name="solution" id="2nd" class="list-group-item">
                                                Refer, culturally competent/linguistically appropriate PCP or with translation service
                                            </a>
                                        </div>
                                        @*<div class="form-group col-xs-3">
                                            @Html.DropDownList("status", solutionStatus, new { @class = "form-control", @id = "2nd", @name="solutions", @style = "display:none" })
                                        </div>*@
                                    </div>


                                    <div class="row form-inline">
                                        <div class="form-group col-xs-10">
                                            <a href="#" name="solution" id="3rd" class="list-group-item">
                                                Assist completing forms; explain info. needed
                                            </a>
                                        </div>
                                        @*<div class="form-group col-xs-3">
                                            @Html.DropDownList("status", solutionStatus, new { @class = "form-control", @id = "3rd", @name="solutions", @style = "display:none" })
                                        </div>*@
                                    </div>


                                    <div class="row form-inline">
                                        <div class="form-group col-xs-10">
                                            <a href="#" name="solution" id="4th" class="list-group-item">
                                                <div class="form-inline">
                                                    Referral&nbsp;<br />
                                                    <input class="form-control" id="txtBxOther" type="text" style="width:250px">
                                                </div>
                                            </a>
                                        </div>
                                        @*<div class="form-group col-xs-3">
                                            @Html.DropDownList("status", solutionStatus, new { @class = "form-control", @id = "4th", @name="solutions", @style = "display:none" })
                                        </div>*@
                                    </div>


                                    <div class="row form-inline">
                                        <div class="form-group col-xs-10">
                                            <a href="#" name="solution" id="5th" class="list-group-item">
                                                <div class="form-inline">
                                                    Other&nbsp;<br />
                                                    <input class="form-control" id="txtBxOther" type="text" style="width:250px">
                                                </div>
                                            </a>
                                        </div>
                                        @*<div class="form-group col-xs-3">
                                            @Html.DropDownList("status", solutionStatus, new { @class = "form-control", @id = "5th", @name="solutions", @style = "display:none" })
                                        </div>*@
                                    </div>


                                    <div class="row form-inline">
                                        <div class="form-group col-xs-10">
                                            <div class="list-group-item" style="height:40px">
                                                <br />
                                            </div>
                                        </div>
                                    </div>
                                   
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- PCP or Referral PCP seciton -->
                    <div class="bhoechie-tab-content">
                        <div class="option5">
                            <div class="barriers col-xs-5">
                                <div class="list-group">
                                    <div class="row">
                                        <a href="#" class="list-group-item active">
                                            Problem contacting PCP
                                        </a>
                                    </div>

                                    <div class="row">
                                        <a href="#" class="list-group-item">
                                            Problem making appointment
                                        </a>
                                    </div>

                                    <div class="row">
                                        <a href="#" class="list-group-item">
                                            Billing issue
                                        </a>
                                    </div>

                                    <div class="row">
                                        <a href="#" class="list-group-item">
                                            Problem, access/follow-up with specialist
                                        </a>
                                    </div>

                                    <div class="row">
                                        <a href="#" class="list-group-item">
                                            Problem, PCP or staff behavior (specify)
                                        </a>
                                    </div>

                                    <div class="row">
                                        <a href="#" class="list-group-item">
                                            Program eligibility question (specify program)
                                        </a>
                                    </div>

                                    <div class="row">
                                        <a href="#" class="list-group-item">
                                            <div class="form-inline">
                                                Other&nbsp;<br />
                                                <input class="form-control" id="txtBxOther" type="text" style="width:250px">
                                            </div>
                                        </a>
                                    </div>

                                    <div class="row">
                                        <div name="solution" class="list-group-item" style="height:30px">
                                            <br />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="solutions col-sm-7">
                                <div class="list-group" id="solution">
                                    <div class="row form-inline">
                                        <div class="form-group col-xs-10">
                                            <a href="#" name="solution" id="1st" class="list-group-item">
                                                Provide correct contact info. or PCP accepting clients; report to EWC, PSU
                                            </a>
                                        </div>
                                        @*<div class="form-group col-xs-3">
                                            @Html.DropDownList("status", solutionStatus, new { @class = "form-control", @id = "1st", @name="solutions", @style = "display:none" })
                                        </div>*@
                                    </div>


                                    <div class="row form-inline">
                                        <div class="form-group col-xs-10">
                                            <a href="#" name="solution" id="2nd" class="list-group-item">
                                                Investigate, billing or behavior issue; report to EWC, CSU
                                            </a>
                                        </div>
                                        @*<div class="form-group col-xs-3">
                                            @Html.DropDownList("status", solutionStatus, new { @class = "form-control", @id = "2nd", @name="solutions", @style = "display:none" })
                                        </div>*@
                                    </div>


                                    <div class="row form-inline">
                                        <div class="form-group col-xs-10">
                                            <a href="#" name="solution" id="3rd" class="list-group-item">
                                                Assess eligibility
                                            </a>
                                        </div>
                                        @*<div class="form-group col-xs-3">
                                            @Html.DropDownList("status", solutionStatus, new { @class = "form-control", @id = "3rd", @name="solutions", @style = "display:none" })
                                        </div>*@
                                    </div>


                                    <div class="row form-inline">
                                        <div class="form-group col-xs-10">
                                            <a href="#" name="solution" id="4th" class="list-group-item">
                                                <div class="form-inline">
                                                    Referral&nbsp;<br />
                                                    <input class="form-control" id="txtBxOther" type="text" style="width:250px">
                                                </div>
                                            </a>
                                        </div>
                                        @*<div class="form-group col-xs-3">
                                            @Html.DropDownList("status", solutionStatus, new { @class = "form-control", @id = "4th", @name="solutions", @style = "display:none" })
                                        </div>*@
                                    </div>


                                    <div class="row form-inline">
                                        <div class="form-group col-xs-10">
                                            <a href="#" name="solution" id="5th" class="list-group-item">
                                                <div class="form-inline">
                                                    Other&nbsp;<br />
                                                    <input class="form-control" id="txtBxOther" type="text" style="width:250px">
                                                </div>
                                            </a>
                                        </div>
                                        @*<div class="form-group col-xs-3">
                                            @Html.DropDownList("status", solutionStatus, new { @class = "form-control", @id = "5th", @name="solutions", @style = "display:none" })
                                        </div>*@
                                    </div>

                                    <div class="row form-inline">
                                        <div class="form-group col-xs-10">
                                            <div name="solution" id="5th" class="list-group-item" style="height:58px">
                                                <br />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row form-inline">
                                        <div class="form-group col-xs-10">
                                            <div name="solution" id="4th" class="list-group-item" style="height:58px">
                                                <br />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Social Support or Distress seciton -->
                    <div class="bhoechie-tab-content">
                        <div class="option6">
                            <div class="barriers col-xs-5">
                                <div class="list-group">
                                    <div class="row">
                                        <a href="#" class="list-group-item active">
                                            Avoid/refuse care due to fear/stress
                                        </a>
                                    </div>

                                    <div class="row">
                                        <a href="#" class="list-group-item">
                                            No family/social support
                                        </a>
                                    </div>

                                    <div class="row">
                                        <a href="#" class="list-group-item">
                                            Unstable living situation / homeless
                                        </a>
                                    </div>

                                    <div class="row">
                                        <a href="#" class="list-group-item">
                                            <div class="form-inline">
                                                Other&nbsp;<br />
                                                <input class="form-control" id="txtBxOther" type="text" style="width:250px">
                                            </div>
                                        </a>
                                    </div>

                                    <div class="row">
                                        <div class="list-group-item" style="height:85px">
                                            <br />
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="list-group-item" style="height:82px">
                                            <br />
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="list-group-item" style="height:77px">
                                            <br />
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="solutions col-sm-7">
                                <div class="list-group" id="solution">
                                    <div class="row form-inline">
                                        <div class="form-group col-xs-10">
                                            <a href="#" name="solution" id="1st" class="list-group-item">
                                                Educate - cancer, healthcare system, test, procedures, diagnoses and/or treatments
                                            </a>
                                        </div>
                                        @*<div class="form-group col-xs-3">
                                            @Html.DropDownList("status", solutionStatus, new { @class = "form-control", @id = "1st", @name="solutions", @style = "display:none" })
                                        </div>*@
                                    </div>


                                    <div class="row form-inline">
                                        <div class="form-group col-xs-10">
                                            <a href="#" name="solution" id="2nd" class="list-group-item">
                                                Refer, support groups/counseling services; or appropriate authority
                                            </a>
                                        </div>
                                        @*<div class="form-group col-xs-3">
                                            @Html.DropDownList("status", solutionStatus, new { @class = "form-control", @id = "2nd", @name="solutions", @style = "display:none" })
                                        </div>*@
                                    </div>


                                    <div class="row form-inline">
                                        <div class="form-group col-xs-10">
                                            <a href="#" name="solution" id="3rd" class="list-group-item">
                                                <div class="form-inline">
                                                    Referral&nbsp;<br />
                                                    <input class="form-control" id="txtBxOther" type="text" style="width:250px">
                                                </div>
                                            </a>
                                        </div>
                                        @*<div class="form-group col-xs-3">
                                            @Html.DropDownList("status", solutionStatus, new { @class = "form-control", @id = "3rd", @name="solutions", @style = "display:none" })
                                        </div>*@
                                    </div>


                                    <div class="row form-inline">
                                        <div class="form-group col-xs-10">
                                            <a href="#" name="solution" id="4th" class="list-group-item">
                                                <div class="form-inline">
                                                    Other&nbsp;<br />
                                                    <input class="form-control" id="txtBxOther" type="text" style="width:250px">
                                                </div>
                                            </a>
                                        </div>
                                        @*<div class="form-group col-xs-3">
                                            @Html.DropDownList("status", solutionStatus, new { @class = "form-control", @id = "4th", @name="solutions", @style = "display:none" })
                                        </div>*@
                                    </div>


                                    <div class="row form-inline">
                                        <div class="form-group col-xs-10">
                                            <div class="list-group-item" style="height:68px">
                                                <br />
                                            </div>
                                        </div>
                                    </div>


                                    <div class="row form-inline">
                                        <div class="form-group col-xs-10">
                                            <div class="list-group-item" style="height:65px">
                                                <br />
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Others seciton -->
                    <div class="bhoechie-tab-content">
                        <div class="option7">
                            <div class="barriers col-xs-5">
                                <div class="list-group">
                                    <div class="row">
                                        <a href="#" class="list-group-item">
                                            <div class="form-inline">
                                                Other&nbsp;<br />
                                                <input class="form-control" id="txtBxOther" type="text" style="width:250px">
                                            </div>
                                        </a>
                                    </div>
                                    <div class="row">
                                        <div class="list-group-item" style="height:70px">
                                            <br />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="list-group-item" style="height:68px">
                                            <br />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="list-group-item" style="height:65px">
                                            <br />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="list-group-item" style="height:65px">
                                            <br />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="list-group-item" style="height:60px">
                                            <br />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="list-group-item" style="height:60px">
                                            <br />
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="solutions col-sm-7">
                                <div class="list-group" id="solution">
                                    <div class="row form-inline">
                                        <div class="form-group col-xs-10">
                                            <a href="#" name="solution" id="1st" class="list-group-item">
                                                <div class="form-inline">
                                                    Referral&nbsp;<br />
                                                    <input class="form-control" id="txtBxOther" type="text" style="width:250px">
                                                </div>
                                            </a>
                                        </div>
                                        @*<div class="form-group col-xs-3">
                                            @Html.DropDownList("status", solutionStatus, new { @class = "form-control", @id = "1st", @name="solutions", @style = "display:none" })
                                        </div>*@
                                    </div>


                                    <div class="row form-inline">
                                        <div class="form-group col-xs-10">
                                            <a href="#" name="solution" id="2nd" class="list-group-item">
                                                <div class="form-inline">
                                                    Other&nbsp;<br />
                                                    <input class="form-control" id="txtBxOther" type="text" style="width:250px">
                                                </div>
                                            </a>
                                        </div>
                                        @*<div class="form-group col-xs-3">
                                            @Html.DropDownList("status", solutionStatus, new { @class = "form-control", @id = "2nd", @name="solutions", @style = "display:none" })
                                        </div>*@
                                    </div>


                                    <div class="row form-inline">
                                        <div class="form-group col-xs-10">
                                            <div class="list-group-item" style="height:80px">
                                                <br />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row form-inline">
                                        <div class="form-group col-xs-10">
                                            <div class="list-group-item" style="height:65px">
                                                <br />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row form-inline">
                                        <div class="form-group col-xs-10">
                                            <div class="list-group-item" style="height:60px">
                                                <br />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row form-inline">
                                        <div class="form-group col-xs-10">
                                            <div class="list-group-item" style="height:50px">
                                                <br />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row form-inline">
                                        <div class="form-group col-xs-10">
                                            <div class="list-group-item" style="height:50px">
                                                <br />
                                            </div>
                                        </div>
                                    </div>



                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="row" style="padding-right:20px">
        <div class="form-group col-lg-12">
            <div class="panel panel-primary">
                <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne">
                    <h4 class="panel-title accordion-toggle">
                        Encounter Summary
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="col-lg-12" style="margin-left:-20px;  ">
                            <div class="col-lg-12">



                                <table class="table table-hover table-striped table-responsive">
                                    <thead>
                                        <tr>
                                            <th>
                                                <label>Enc</label>
                                            </th>
                                            <th>
                                                <label>Miss</label>
                                            </th>
                                            <th>
                                                <label>Category</label>
                                            </th>

                                            <th>
                                                <label>Barriers</label>
                                            </th>

                                            <th>
                                                <label>Solutions</label>
                                            </th>

                                            <th>
                                                <label>Status</label>
                                            </th>

                                            <th>
                                                <label></label>
                                            </th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td></td>
                                            <td>Transportation && Logistics</td>
                                            <td>No car/access to or can't access public transportation</td>
                                            <td>Discuss/identity public/personal transportation options</td>
                                            <td>Not Implemented</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td></td>
                                            <td>Language Culture && Literacy</td>
                                            <td>Cultural beliefs inconsistent with exam, test, procedure or treatement</td>
                                            <td>Refer to culturally competent/linguistically appropriate PCP or with translation service</td>
                                            <td>Implemented</td>
                                            <td>6/29/2017</td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td></td>
                                            <td>PCP or Referral PCP</td>
                                            <td>Problem, access/follow-up with specialist</td>
                                            <td>Investigate, billing or behavior issue; report to EWC, CSU</td>

                                            <td>Not Implemented</td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>


                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>

</div>
<div class="panel-footer" style="border-top: none;">

    <div class="row">


        <div class="col-md-4 pull-right">
            <a onclick="showHideTab('one')" class="btn" id="back-step" style="cursor:pointer;background-color: #3a3a3a;border: 2px #cfcfcf;font-size: 18px !important;color: #fff;"> &lt;&lt; Previous  </a>
            <a class="btn btn-success" style="background-color: #3a3a3a;border: 2px #cfcfcf;font-size: 18px !important;" id="activate-step" />&nbsp;Save&nbsp;</a>
            <a onclick="showHideTab('three')" class="btn" id="back-step" style="cursor:pointer;background-color: #3a3a3a;border: 2px #cfcfcf;font-size: 18px !important;color: #fff;">  Next &gt;&gt; </a>

        </div>

    </div>
</div>

<div class="row" style="display:none;">
    <div class="col-lg-1"></div>
    <table class="temp-store col-md-9" id="assessmentSummary">
        <thead>
            <tr>
                <th>
                    <label>NSID</label>
                </th>
                <th>
                    <label>Category</label>
                </th>

                <th>
                    <label>Barriers</label>
                </th>

                <th>
                    <label>Solutions</label>
                </th>

                <th>
                    <label>Status</label>
                </th>

            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

<script type="text/javascript">

    $(document).ready(function () {
        var tab1 = "";
        var tab2 = "";
        var tab3 = "";
        var implt = "";
        //initialize all
        initialize();

        $('select').on('change', function () {
            implt = $(this).find(":selected").text();
        });

        $("div.bhoechie-tab-menu>div.list-group>a").click(function (e) {

            e.preventDefault();
            $(this).siblings('a.active').removeClass("active");
            $(this).addClass("active");
            var index = $(this).index();
            $("div.bhoechie-tab>div.bhoechie-tab-content").removeClass("active");
            $("div.bhoechie-tab>div.bhoechie-tab-content").eq(index).addClass("active");
            tab1 = $(this).text();

        });

        $("div.barriers>div.list-group>div.row>a").click(function (e) {

            e.preventDefault();
            var isTrue = $(this).hasClass("active");
            if (!isTrue) {
                var index = $(this).index();
                $("div.barriers>div.list-group>div.row>a").removeClass("active");
                $(this).addClass("active");

                //initialized all solutions' selection
                $('div.solutions>div.list-group>div.row>div.form-group>a').removeClass("active");
            }

            tab2 = $(this).text();

        });

        $('div.solutions>div.list-group>div.row>div.form-group>a').click(function (e) {

            e.preventDefault();
            var isTrue = $(this).hasClass("active");
            var id = $(this).attr("id");

            if (!isTrue) {
                var index = $(this).index();
                $("div.form-group>a").removeClass("active");
                $(this).addClass("active");
            }

            tab3 = $(this).text();

        });

        $(".btn-success").click(function () {

            var nsid = getUrlParameter("NSID");
            var category = tab1;
            var barrier = tab2;
            var solutions = tab3;
            var status = (implt == '') ? 'Not Implemented' : 'Implemented';
            var row = '<tr><td>' + nsid + '</td>'
                        + '<td>' + category + '</td>'
                        + '<td>' + barrier + '</td>'
                        + '<td>' + solutions + '</td>'
                        + '<td>' + status + '</td></tr>';

            //find the row if exist
            $('#assessmentSummary tr').each(function () {
                var flag = 0
                $(this).find('td').each(function () {
                    if ($(this).text() == nsid && $(this).next().text() == category)
                        flag = 1;
                });

                //if the row exist then remove
                if (flag == 1) {
                    $(this).remove();
                }
            });

            // Add the row in the end.
            $('#assessmentSummary> tbody').last().append(row);
            saveTable();

            $('#assessmentSummary').on('change', 'input', function () {
                alert('active');
            });

        });

    // $(document) -- ends here.
    });


    var saveTable = function () {
        $('#assessmentSummary tr').each(function () {            
            $(this).find('td').each(function ()
            {
                var cellText = $(this).text();
                $('div.bhoechie-tab-menu>div.list-group>a').map(function () {
                    if (cellText == $(this).text()) {
                        $(this).css("font-weight", "bold");
                        $(this).css("color", "red");
                    }
                }).get();

                
                $("div.barriers>div.list-group>div.row>a").map(function () {
                    if (cellText == $(this).text()) {
                        $(this).css("font-weight", "bold");
                        $(this).css("color", "red");
                    }
                }).get();

                
                $('div.solutions>div.list-group>div.row>div.form-group>a').map(function () {
                    if (cellText == $(this).text()) {
                        $(this).css("font-weight", "bold");
                        $(this).css("color", "red");
                    }
                }).get();

            });

        });
    }

        var reintializeTable = function (barriers, solutions) {
            $('#assessmentSummary tr').each(function () {
                $(this).find('td').each(function () {
                    var cellText = $(this).text();

                    $("div.barriers>div.list-group>div.row>a").map(function () {
                        if (cellText != $(this).text()) {
                            $(this).css("font-weight", "");
                            $(this).css("color", "");
                        }
                    }).get();

                    $('div.solutions>div.list-group>div.row>div.form-group>a').map(function () {
                        if (cellText != $(this).text()) {
                            $(this).css("font-weight", "");
                            $(this).css("color", "");
                        }
                    }).get();

                });

            });
        }



var initialize = function () {

    // $("select").css("display", "none");

      //initialize all barriers' selection
      $("div.barriers>div.list-group>div.row>a").removeClass("active");
      $("div.bhoechie-tab>div.bhoechie-tab-content").removeClass("active");

      //initialized all solutions' selection
      $('div.solutions>div.list-group>div.row>div.form-group>a').removeClass("active");

      //Initialize category panel
       $("div.bhoechie-tab-menu>div.list-group>a").removeClass("active");

};

var getUrlParameter = function getUrlParameter(str) {
    var url = decodeURIComponent(window.location.search.substring(1)),
                  params = url.split('&'),
                  pname,
                   i;

    for (i = 0; i < params.length; i++) {
        pname = params[i].split('=');

        if (pname[0] === str) {
            return pname[1] === undefined ? true : pname[1];
        }
    }
};


var get = function showDD(){
    $('#assessmentSummary tr').each(function () {
        $(this).find('td').each(function () {
            var cellText = $(this).text();
            $('div.solutions>div.list-group>div.row>div.form-group>a').map(function () {
                if (cellText == $(this).text()) {
                    $(this).attr('id');
                    $(":select[id=" + id + "]").css("display", "block");
                }
            }).get();

        });

    });
}

</script>