﻿@using MvcCheckBoxList.Model
@model EWC_NSAA.ViewModels.RecipientViewModel

@{
    Layout = null;
}

@{var htmlListInfo1 = new HtmlListInfo(HtmlTag.vertical_columns, 3, null, TextLayout.Default, TemplateIsUsed.Yes); }


<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            @Html.LabelFor(model => model.tServiceRecipient.CaregiverName, "Contact Name", htmlAttributes: new { @class = "control-label col-md-5" })
            <div class="col-md-offset-5">
                @Html.EditorFor(model => model.tServiceRecipient.CaregiverName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.tServiceRecipient.CaregiverName, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            @Html.LabelFor(model => model.tServiceRecipient.Relationship, "Relationship", htmlAttributes: new { @class = "control-label col-md-5" })
            <div class="col-md-offset-5">
                @Html.DropDownListFor(model => model.tServiceRecipient.Relationship, EWC_NSAA.Controllers.EnrollmentController.GetCaregiverRelationshipDropDown(), "--Select Relationship--")
                @Html.ValidationMessageFor(model => model.tServiceRecipient.Relationship, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            @Html.LabelFor(model => model.tServiceRecipient.RelationshipOther, "Relationship Other", htmlAttributes: new { @class = "control-label col-md-5" })
            <div class="col-md-offset-5">
                @Html.EditorFor(model => model.tServiceRecipient.RelationshipOther, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.tServiceRecipient.RelationshipOther, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            @Html.LabelFor(model => model.tServiceRecipient.CaregiverPhone, "Contact Phone", htmlAttributes: new { @class = "control-label col-md-5" })
            <div class="col-md-offset-5">
                @Html.EditorFor(model => model.tServiceRecipient.CaregiverPhone, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.tServiceRecipient.CaregiverPhone, "", new { @class = "text-danger" })
            </div>
        </div>

    </div>
    <div class="col-md-4">
        <div class="form-group">
            @Html.LabelFor(model => model.tServiceRecipient.CaregiverPhoneType, "Phone Type", htmlAttributes: new { @class = "control-label col-md-5" })
            <div class="col-md-offset-5">
                @Html.DropDownListFor(model => model.tServiceRecipient.CaregiverPhoneType, EWC_NSAA.Controllers.EnrollmentController.GetPhoneTypeDropDown(), "--Select Phone Type--")
                @Html.ValidationMessageFor(model => model.tServiceRecipient.CaregiverPhoneType, "", new { @class = "text-danger" })
            </div>
        </div>

    </div>
    <div class="col-md-4">
        <div class="form-group">
            @Html.LabelFor(model => model.tServiceRecipient.CaregiverPhonePersonalMessage, "Personal Message", htmlAttributes: new { @class = "control-label col-md-5" })
            <div class="col-md-offset-5">
                <div class="checkbox">
                    @Html.EditorFor(model => model.tServiceRecipient.CaregiverPhonePersonalMessage)
                    @Html.ValidationMessageFor(model => model.tServiceRecipient.CaregiverPhonePersonalMessage, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            @Html.LabelFor(model => model.tServiceRecipient.CaregiverEmail, "Email", htmlAttributes: new { @class = "control-label col-md-5" })
            <div class="col-md-offset-5">
                @Html.EditorFor(model => model.tServiceRecipient.CaregiverEmail, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.tServiceRecipient.CaregiverEmail, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            @Html.LabelFor(model => model.tServiceRecipient.CaregiverContactPreference, "Contact Preference", htmlAttributes: new { @class = "control-label col-md-5" })
            <div class="col-md-offset-5">
                @Html.DropDownListFor(model => model.tServiceRecipient.CaregiverContactPreference, EWC_NSAA.Controllers.EnrollmentController.GetCaregiverContactPrefDropDown(), "--Select Contact Preference--")
                @Html.ValidationMessageFor(model => model.tServiceRecipient.CaregiverContactPreference, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    
</div>
<div class="row">
        <div class="checkBoxListFor">
            <p>
                <label>What is this person or facility approved to do for you?:</label>

                @Html.CheckBoxListFor(model => model.postedCaregiverApproval.ApprovalCodes,
                                  model => model.AvailableApprovals,
                                  approval => approval.ApprovalCode,
                                  approval => approval.ApprovalDescription,
                                  model => model.SelectedApprovals,
                                  htmlListInfo1)

            </p>
        </div>

</div>
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            @Html.LabelFor(model => model.tCaregiverApprovals.CaregiverApprovalOther, "Approval - Other", htmlAttributes: new { @class = "control-label col-md-5", @disabled = "disabled" })
            <div class="col-md-offset-5">
                @Html.EditorFor(model => model.tCaregiverApprovals.CaregiverApprovalOther, new { htmlAttributes = new { @class = "form-control ", @disabled = "disabled" } })
                @Html.ValidationMessageFor(model => model.tCaregiverApprovals.CaregiverApprovalOther, "", new { @class = "text-danger ", @disabled = "disabled" })
            </div>
        </div>
    </div>
</div>
    
