﻿@model EWC_NSAA.ViewModels.RecipientViewModel

<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            @Html.LabelFor(model => model.tServiceRecipient.ImmigrantStatus, "New Immigrant", htmlAttributes: new { @class = "control-label col-md-5" })
            <div class="col-md-offset-5">
                <div class="checkbox">
                    @Html.EditorFor(model => model.tServiceRecipient.ImmigrantStatus)
                    @Html.ValidationMessageFor(model => model.tServiceRecipient.ImmigrantStatus, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            @Html.LabelFor(model => model.tServiceRecipient.CountryOfOrigin, "Country of Origin", htmlAttributes: new { @class = "control-label col-md-5" })
            <div class="col-md-offset-5">
                @Html.DropDownListFor(model => model.tServiceRecipient.CountryOfOrigin, EWC_NSAA.Controllers.EnrollmentController.GetCountriesDropDown(), "--Select Country--")
                @Html.ValidationMessageFor(model => model.tServiceRecipient.CountryOfOrigin, "", new { @class = "text-danger" })
            </div>
        </div>

    </div>
    <div class="col-md-4">
        <div class="form-group">
            @Html.LabelFor(model => model.tServiceRecipient.Ethnicity, "Ethnicity", htmlAttributes: new { @class = "control-label col-md-5" })
            <div class="col-md-offset-5">
                
            <div class="radio-inline">
                @Html.CheckBox("ethnicity", "Hispanic", true, new { id = "Hispanic" }) Hispanic
            </div>
            <div class="radio-inline">
                @Html.RadioButton("ethnicity", "Non-Hispanic", new { id = "Non-Hispanic" }) Non-Hispanic
            </div>
            @Html.ValidationMessageFor(model => model.tServiceRecipient.Ethnicity, "", new { @class = "text-danger" })
                
            </div>
        </div>
    </div>
</div>


<div>
    @Html.HiddenFor(model => model.tServiceRecipient.Gender)
</div>

<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            @Html.LabelFor(model => model.tServiceRecipient.PrimaryLanguage, "* Primary Language", htmlAttributes: new { @class = "control-label col-md-5" })
            <div class="col-md-offset-5">
                @Html.DropDownListFor(model => model.tServiceRecipient.PrimaryLanguage, EWC_NSAA.Controllers.EnrollmentController.GetLanguagesDropDown(), "--Select Language--")
                @Html.ValidationMessageFor(model => model.tServiceRecipient.PrimaryLanguage, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            @Html.LabelFor(model => model.tServiceRecipient.AgreeToSpeakEnglish, "* Can effectively communicate in English?", htmlAttributes: new { @class = "control-label col-md-5" })
            <div class="col-md-offset-5">
                <div class="checkbox">
                    @Html.EditorFor(model => model.tServiceRecipient.AgreeToSpeakEnglish)
                    @Html.ValidationMessageFor(model => model.tServiceRecipient.AgreeToSpeakEnglish, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

    </div>
</div>


@section scripts {
    <script type="text/javascript">
    $(function () {

        $("input[name='ethnicity']").click(function () {

            if ($("#Hispanic").is(":checked")) {

                $("#Non-Hispanic").is(":unchecked");

            } else {

                $("#Hispanic").is(":unchecked");

            }

        });

    });
    </script>
}

 

