﻿@using MvcCheckBoxList.Model
@model EWC_NSAA.ViewModels.EncounterViewModel

@{
    Layout = null;
}

<div class="panel panel-default" style="border:none" id="">
    @*<h4 style="padding-left:20px">   Contact Preferences</h4*@
    <h3 style="padding-left:40px"><b>Next Steps</b></h3><br />
    <div class="panel-body">
        <div class="row" style="padding-left:25px">
            <div class="col-md-3">
                <label>Appointment Date</label>
                <div class="input-group date" style="width:150px;">
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    @*<input type="text" id="datereferral" class="form-control" placeholder="" autocomplete="off" style="height:38px">*@
                    @Html.EditorFor(model => model.tEncounter.NextAppointmentDt, new { htmlAttributes = new { @class = "form-control", id = "txtaptDate" } })
                </div>
                @Html.ValidationMessageFor(model => model.tEncounter.NextAppointmentDt, "", new { @class = "text-danger" })

                @*<div class="form-group">
                    @Html.LabelFor(model => model.tEncounter.NextAppointmentDt, "Appointment Date")
                    <div class="col-md-10" style="margin-left:-15px">
                        @Html.EditorFor(model => model.tEncounter.NextAppointmentDt, new { htmlAttributes = new { @class = "form-control", id = "txtaptDate" } })
                        @Html.ValidationMessageFor(model => model.tEncounter.NextAppointmentDt, "", new { @class = "text-danger" })
                    </div>
                </div>*@
            </div>
            <div class="col-md-3">


                <div class="form-group" style="width:150px;">
                    @Html.LabelFor(model => model.tEncounter.NextAppointmentTime, "Appointment Time")
                    @*<div class="col-md-9" style="margin-left:-15px">*@
                    @Html.EditorFor(model => model.tEncounter.NextAppointmentTime, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.tEncounter.NextAppointmentTime, "", new { @class = "text-danger" })
                    @*</div>*@
                </div>
            </div>
           
            <div class="col-md-4" style="margin-left:-15px">
                <div class="col-md-10 form-group">
                    @Html.LabelFor(model => model.tEncounter.NextAppointmentType, "Appointment Type")
                    <div class="col-md-10" style="margin-left:-15px">
                        @Html.DropDownListFor(model => model.tEncounter.NextAppointmentType, EWC_NSAA.Controllers.EnrollmentController.GetCaregiverContactPrefDropDown(), "Type", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.tEncounter.NextAppointmentType, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>

        <br /><br />
        <div class="row" style="padding-left:25px">
            <div class="col-md-3">

                @Html.LabelFor(model => model.tEncounter.ServicesTerminated, "Services Terminated")
                <div class="form-group">
                    <label id="sliderLabel">
                        <input type="checkbox" />
                        <span id="slider">
                            <span id="sliderOn">Yes</span>
                            <span id="sliderOff">No</span>
                            <span id="sliderBlock"></span>
                        </span>
                    </label>
                </div>
                @*<div class="checkbox">
                        @Html.EditorFor(model => model.tEncounter.ServicesTerminated)
                        @Html.ValidationMessageFor(model => model.tEncounter.ServicesTerminated, "", new { @class = "text-danger" })

                    </div>*@
            </div>

            <div class="col-md-3">
                <label>Date Services Terminated</label>
                <div class="input-group date" style="width:150px;">
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    @*<input type="text" id="datereferral" class="form-control" placeholder="" autocomplete="off" style="height:38px">*@
                    @Html.EditorFor(model => model.tEncounter.ServicesTerminatedDt
                    , new { htmlAttributes = new { @class = "form-control", @id = "txtDateterminted"} })
                </div>
                @Html.ValidationMessageFor(model => model.tEncounter.ServicesTerminatedDt, "", new { @class = "text-danger" })


                                @*<div class="form-group">
            @Html.LabelFor(model => model.tEncounter.ServicesTerminatedDt, "Date Services Terminated")
            <div class="col-md-10" style="margin-left:-15px">
                @Html.EditorFor(model => model.tEncounter.ServicesTerminatedDt, new { htmlAttributes = new { @class = "form-control", id = "txtDateterminted" } })
                @html.ValidationMessageFor(model => model.tEncounter.ServicesTerminatedDt, "", new { @class = "text-danger" })
            </div>
        </div>*@
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    @Html.LabelFor(model => model.tEncounter.ServicesTerminatedReason, "Service Terminated Reason")
                    @Html.EditorFor(model => model.tEncounter.ServicesTerminatedReason, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.tEncounter.ServicesTerminatedReason, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="panel-footer" style="border-top: none;">
            <div class="row">
                <div class="col-md-7"></div>
                <div class="col-md-5">
                    <div class="col-md-11 pull-right">


                        <a onclick="showHideTab('two')" class="btn" id="back-step" style="cursor:pointer;background-color: #3a3a3a;border: 2px #cfcfcf;font-size: 18px !important;color: #fff;"> <span class="glyphicon glyphicon-arrow-left"></span> Previous </a>
                        <a href="#" class="btn btn-success" style="background-color: #3a3a3a;border: 2px #cfcfcf;font-size: 18px !important;" id="activate-step"> &nbsp;&nbsp;&nbsp;Save&nbsp;&nbsp;&nbsp;</a>

                        <a onclick="showHideTab('four')" class="btn" id="back-step" style="cursor:pointer;background-color: #3a3a3a;border: 2px #cfcfcf;font-size: 18px !important;color: #fff;">  &nbsp;&nbsp;&nbsp; Next <span class="glyphicon glyphicon-arrow-right"></span>&nbsp;&nbsp;  </a>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
<script>
    $('#txtaptDate').datepicker().on('changeDate', function (ev) {

    });
    $('#txtDateterminted').datepicker().on('changeDate', function (ev) {

    });
</script>