﻿@model EWC_NSAA.ViewModels.NavigationCycleViewModel

<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            @Html.LabelFor(model => model.tNavigationCycle.HealthInsuranceStatus, "* Health Insurance Status", htmlAttributes: new { @class = "control-label col-md-5" })
            <div class="col-md-offset-5">
                <div class="radio-inline">
                    @Html.RadioButton("healthinsurancestatus", "Insured", true, new { id = "IsInsured"}) Insured
                </div>
                <div class="radio-inline">
                    @Html.RadioButton("healthinsurancestatus", "Uninsured", new { id = "IsUninsured" }) Uninsured
                </div>\

            @Html.ValidationMessageFor(model => model.tNavigationCycle.HealthInsuranceStatus, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            @Html.LabelFor(model => model.tNavigationCycle.HealthProgram, "* Health Program", htmlAttributes: new { @class = "control-label col-md-5" })
            <div class="col-md-offset-5">
                @Html.DropDownListFor(model => model.tNavigationCycle.HealthProgram, EWC_NSAA.Controllers.NavigationCyclesController.GetHealthProgramDropDown())
                @Html.ValidationMessageFor(model => model.tNavigationCycle.HealthProgram, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            @Html.LabelFor(model => model.tNavigationCycle.HealthInsurancePlan, "Health Insurance Plan", htmlAttributes: new { @class = "control-label col-md-5" })
            <div class="col-md-offset-5">
                @Html.DropDownListFor(model => model.tNavigationCycle.HealthInsurancePlan, EWC_NSAA.Controllers.NavigationCyclesController.GetHealthInsuranceDropDown(), "--Select Plan--")
                @Html.ValidationMessageFor(model => model.tNavigationCycle.HealthInsurancePlan, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            @Html.LabelFor(model => model.tNavigationCycle.HealthInsurancePlanNumber, "Plan Number", htmlAttributes: new { @class = "control-label col-md-5" })
            <div class="col-md-offset-5">
                @Html.EditorFor(model => model.tNavigationCycle.HealthInsurancePlanNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.tNavigationCycle.HealthInsurancePlanNumber, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
    $(function () {

        $("input[name='healthinsurancestatus']").click(function () {

            if ($("#Insured").is(":checked")) {

                $("#Uninsured").is(":unchecked");

            } else {

                $("#Insured").is(":unchecked");

            }

        });

    });
    </script>
    } 