﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Every Woman Counts - Navigation Services</title>
    @Styles.Render("~/Content/css")
    <script src="~/Scripts/jquery/jquery-2.2.4.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/bootstrap-datepicker.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Bootstrapwizard.css" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/custom.css" rel="stylesheet" />
    <link href="~/Content/ipadclass.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")
    <style id="antiClickjack">
        body {
            display: none !important;
            font-family: FiraSans-Light;
            font-size: 18px;
        }
    </style>
    <script type="text/javascript">
        if (self === top) {
            var antiClickjack = document.getElementById("antiClickjack");
            antiClickjack.parentNode.removeChild(antiClickjack);
        } else {
            top.location = self.location;
        }
    </script>
    <style>
        ul li {
            display: inline;
        }

        img {
            vertical-align: top !important;
        }

    </style>
</head>
<body style="padding-top: 50px;padding-bottom: 20px;">
    <div class="navbar navbar-default navbar-fixed-top darkblackbg">
        <div class="container ipadcont">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="navbar-collapse collapse">
                    <span class="icon-bar">
                        <img class="imgipad" src="~/Images/CHEER.PNG" />
                        
                    </span>
                </div>

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav" style="margin-bottom: -7px;">
                    <li class="dashbaordbg nav-item">
                        <a href="@Url.Action("Dashboard", "Home")" class="nav-item nav-link">
                            Dashboard
                        </a>
                    </li>


                    <li class="hecactivitiesbg nav-item">
                        <a href="@Url.Action("HECActivities", "Home")" class="nav-item nav-link">
                               HEC Activities
                            </a>
                    </li>



                    <li style="width:150px;height:57px;" class="clinicalservices nav-item">
                        <a class="nav-item nav-link" href="@Url.Action("clinicalservices", "Barriers")">
                            Clinical Services
                        </a>
                    </li>


                    <li style="color:white;width:150px;height:57px;" class="navigationservices nav-item">
                        <a href="@Url.Action("Index", "Enrollment")" class="nav-item nav-link">
                            Navigation Services
                        </a>
                    </li>

                    <li style="width:150px;height:57px;" class="regionalresources nav-item">
                        <a href="@Url.Action("RegionalResources", "Home")" class="nav-item nav-link">
                            Regional Resources
                        </a>
                    </li>

                    <li class="nav navbar-text navbar-right" style="margin-top:4px;margin-bottom: 0px">
                        <span style="font-weight:bold;font-size:18px;">
                            <a href="@Url.Action("ProfileCreate", "Home")" style="color:white;font-size: 18px;">
                                <i class="fa fa-user-circle-o" aria-hidden="true" style="font-size :24px;margin-left: 34px; "></i><br> &nbsp; My Profile
                            </a>
                        </span>
                        <span style="color:white;font-weight:bold;font-size:20px"> </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row menuhdrl menuhdrp menuhdrd " style="background-color: rgb(0, 150, 136);  height: 100px;    margin-bottom: 50px; background-repeat: repeat-x;     margin-right: 0px;" id="selectedHeading">
        <div class="container">
            <div class="row">
                <span style="color:white;font-size:28px; position:absolute; padding-left: 14px;line-height: 3;" id="selectedSpan">
                </span>
                <div class="col-md-3 pull-right mainsearch" style="margin-top:20px">

                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid body-content" style="background-color: #fff; width: 97%; margin-top: -76px;box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.1), 0px 2px 10px 0 rgba(0, 0, 0, 0.2);">
        <div class="partialmainbody" style="background-color: #fff;">
            <div class="container">
            @RenderBody()
        </div>
            </div>
        <footer></footer>
    </div>
    <script>


        $(document).ready(function () {
            //--

            var location = window.location.href;


         if (location.toLowerCase().lastIndexOf('pcpenrollment') != -1) {
                $('#selectedHeading').css('background-color', '#cb343c', 'background-repeat', 'repeat-x');
                $('#selectedSpan').html('<font style="font-size:28px">Clinical Services</font> > <font style="font-size:24px; font-weight: bold; ">PCP Survey</font>');


            }

         else if (location.toLowerCase().lastIndexOf('assistance') != -1) {
             $('#selectedHeading').css('background-color', '#cb343c', 'background-repeat', 'repeat-x');
             $('#selectedSpan').html('<font style="font-size:28px">Clinical Services</font> > <font style="font-size:24px; font-weight: bold; ">Assistance</font>');
         }
         else if (location.toLowerCase().lastIndexOf('assistance/create') != -1) {
             $('#selectedHeading').css('background-color', '#cb343c', 'background-repeat', 'repeat-x');
             $('#selectedSpan').html('<font style="font-size:28px">Clinical Services</font> > <font style="font-size:24px; font-weight: bold; ">Assistance</font>');
         }
         else if (location.toLowerCase().lastIndexOf('home/dashboard') != -1) {
             $('#selectedHeading').css('background-color', 'rgb(105, 105, 103)', 'background-repeat', 'repeat-x');
             $('#selectedSpan').html('<font style="font-size:28px">Dashboard</font>');
         }
         else if (location.toLowerCase().lastIndexOf('home/hecactivities') != -1) {
             $('#selectedHeading').css('background-color', 'rgb(139, 174, 36)', 'background-repeat', 'repeat-x');
             $('#selectedSpan').html('<font style="font-size:28px">HEC Activities</font>');
         }
         else if (location.toLowerCase().lastIndexOf('home/regionalresources') != -1) {
             $('#selectedHeading').css('background-color', 'rgb(231, 154, 47)', 'background-repeat', 'repeat-x');
             $('#selectedSpan').html('<font style="font-size:28px">Regional Resources</font>');
         }
         else if (location.toLowerCase().lastIndexOf('enrollment/ViewEnrolledRecipient') != -1) {
                $('#selectedHeading').css('background-image', 'background-color', '#009688', 'background-repeat', 'repeat-x');
                $('#selectedSpan').html('<font style="font-size:28px">Navigation Services</font> > <font style="font-size:24px; font-weight: bold; ">NS Recipient</font>');
            }
          else  if (location.toLowerCase().lastIndexOf('enrollment/index') != -1) {

                $('#selectedHeading').css('background-color', '#009688', 'background-repeat', 'repeat-x');
                $('#selectedSpan').html('Navigation Services');
            }
            else if (location.toLowerCase().lastIndexOf('enrollment') != -1) {
                //$('#selectedHeading').css('background-color', '#2481c6');
                $('#selectedHeading').css('background-color', '#009688', 'background-repeat', 'repeat-x');
                $('#selectedSpan').html('<span style="font-size:28px">Navigation Services</span> > <span style="font-size:24px; font-weight: bold; ">Enrollment</span>');
            }
            else if (location.toLocaleLowerCase().lastIndexOf('encounters') != -1) {
                $('#selectedHeading').css('background-color', '#009688');
                $('#selectedSpan').html('<span style="font-size:28px">Navigation Services</span> > <span style="font-size:24px; font-weight: bold; ">Assesment</span>');

            }
            else if (location.toLowerCase().lastIndexOf('barriers/clinicalservices') != -1) {
                    $('#selectedHeading').css('background-color', '#cb343c', 'background-repeat', 'repeat-x');
                $('#selectedSpan').html('Clinical Services');
            }

            else if (location.toLocaleLowerCase().lastIndexOf('/home/profilecreate') != -1) {
                $('#selectedHeading').css('background-image', 'url(/Images/dark-black-bg.png)', 'background-repeat', 'repeat-x');
                $('#selectedSpan').html('<font style="font-size:28px">My Profile </font> ');
            }

           

        })

        function navigationClick() {
            var location = window.location.href;
            if (location.toLowerCase().lastIndexOf('enrollment/ViewEnrolledRecipient') != -1) {
                $('#selectedHeading').css('background-image', 'background-color', '#009688', 'background-repeat', 'repeat-x');
                $('#selectedSpan').html('<font style="font-size:28px">Navigation Services</font> > <font style="font-size:24px; font-weight: bold; ">NS Recipient</font>');
            }

            else if (location.toLowerCase().lastIndexOf('encounters/ViewEncounters') != -1) {
                $('#selectedHeading').css('background-image', 'background-color', '#009688', 'background-repeat', 'repeat-x');
                $('#selectedSpan').html('<font style="font-size:28px">Navigation Services</font> > <font style="font-size:24px; font-weight: bold; ">Assessment</font>');
            }

            else if (location.toLowerCase().lastIndexOf('home/dashboard') != -1) {
                $('#selectedHeading').css('background-color', 'rgb(105, 105, 103)', 'background-repeat', 'repeat-x');
                $('#selectedSpan').html('<font style="font-size:28px">Dashboard</font> >');
            }
            else if (location.toLowerCase().lastIndexOf('home/hecactivities') != -1) {
                $('#selectedHeading').css('background-color', 'rgb(139, 174, 36)', 'background-repeat', 'repeat-x');
                $('#selectedSpan').html('<font style="font-size:28px">HEC Activities</font> >');
            }
            else if (location.toLowerCase().lastIndexOf('home/regionalresources') != -1) {
                $('#selectedHeading').css('background-color', 'rgb(231, 154, 47)', 'background-repeat', 'repeat-x');
                $('#selectedSpan').html('<font style="font-size:28px">Regional Resources</font> >');
            }
            else if (location.toLowerCase().lastIndexOf('pcpenrollment') != -1) {
                $('#selectedHeading').css('background-color', '#cb343c', 'background-repeat', 'repeat-x');
                $('#selectedSpan').html('<font style="font-size:28px">Clinical Services</font> > <font style="font-size:24px; font-weight: bold; ">PCP Survey</font>');
            }

            else if (location.toLowerCase().lastIndexOf('assistance') != -1) {
                $('#selectedHeading').css('background-color', '#cb343c', 'background-repeat', 'repeat-x');
                $('#selectedSpan').html('<font style="font-size:28px">Clinical Services</font> > <font style="font-size:24px; font-weight: bold; ">PCP Assistance</font>');
            }
            else if (location.toLowerCase().lastIndexOf('assistance/create') != -1) {
                $('#selectedHeading').css('background-color', '#cb343c', 'background-repeat', 'repeat-x');
                $('#selectedSpan').html('<font style="font-size:28px">Clinical Services</font> > <font style="font-size:24px; font-weight: bold; ">PCP Assistance</font>');
            }
            else if (location.toLocaleLowerCase().lastIndexOf('enrollment/index') != -1) {
                //$('#selectedHeading').css('.menuNS-bg');
                $('#selectedHeading').css('background-image', 'background-color', '#009688', 'background-repeat', 'repeat-x');
                $('#selectedSpan').html('Navigation Services');
            }
         

            else if (location.toLowerCase().lastIndexOf('enrollment') != -1) {
                $('#selectedHeading').css('background-image', 'background-color', '#009688', 'background-repeat', 'repeat-x');
                $('#selectedSpan').html('<font style="font-size:28px">Navigation Services</font> > <font style="font-size:24px; font-weight: bold; ">Enrollment</font>');
            }
            else if (location.toLowerCase().lastIndexOf('barriers/clinicalservices') != -1) {

                $('#selectedHeading').css('background-color', '#cb343c', 'background-repeat', 'repeat-x');
                $('#selectedSpan').html('Clinical Services');
            }
            else if (location.toLocaleLowerCase().lastIndexOf('encounters') != -1) {
                $('#selectedHeading').css('background-color', '#009688');
                $('#selectedSpan').html('<span style="font-size:28px">Navigation Services</span> > <span style="font-size:24px; font-weight: bold; ">Assesment</span>');
            }
                //else if (location.toLowerCase().lastIndexOf('enrollment/index2') != -1) {
                //    $('#selectedHeading').css('background-image', 'background-color', '#009688', 'background-repeat', 'repeat-x');
                //    $('#selectedSpan').html('<font style="font-size:28px">Navigation Services</font> > <font style="font-size:24px; font-weight: bold; ">NS Recipient</font>');
                //}
            else if (location.toLowerCase().lastIndexOf('profileCreate') != -1) {
                $('#selectedHeading').css('background-color', 'black');
                $('#selectedSpan').html('My Profile');
            }
        }

        $(document).ready(function () {
            $(document).on('focus', ':input', function () {
                $(this).attr('autocomplete', 'off');
            });
        });

        $(function () {

            var links = $('.sidebar-links > a');

            links.on('click', function () {

                links.removeClass('selected');
                $(this).addClass('selected');

            })
        });
    </script>
    @RenderSection("scripts", required: false)
</body>

</html>
