﻿@model EWC_NSAA.ViewModels.NavigatorViewModel

@*@if (TempData["FeedbackMessage"] != null)
    {
        <div class="alert alert-info">
            <strong>@TempData["FeedbackMessage"]</strong>
        </div>
    }
*@

<div class="panel panel-default" style="border:none;     margin-top: -10px;" id="personalInfo">
    @*<div class="panel panel-default" id="personalInfo">*@
    <br />
    <h3 style="padding-left:17px"> <b>Personal Information</b></h3>

    <div class="panel-body" style="margin-bottom: -20px;">


        <div class="row">

            <div class="col-md-3">
                <span style="color:red;margin-left:-7px"> *</span>&nbsp;
                <label>Navigator Type</label>
                <div class="form-group">
                    @Html.DropDownListFor(model => model.Type, EWC_NSAA.Controllers.HomeController.GetNavigatorTypeDropDown(), "--Select Navigator Type--", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-3">
                <label>Region</label>
                <div class="form-group">
                    @Html.DropDownListFor(model => model.Region, EWC_NSAA.Controllers.HomeController.GetRegionDropDown(), "--Select Region--", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Region, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">

                <div class="col-md-3">
                    <span style="color:red;margin-left:-7px"> *</span>&nbsp;<label>First Name</label>
                    @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control", @placeholder = "*First Name" })
                    @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-3">
                    <span style="color:red;margin-left:-7px"> *</span>&nbsp;  <label>Last Name</label>
                    @Html.TextBoxFor(model => model.LastName, new { @class = "form-control", @placeholder = "*Last Name" })
                    @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                </div>

            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-3">
                    <span style="color:red;margin-left:-7px"> *</span>&nbsp;  <label>Address</label>
                    @Html.TextBoxFor(model => model.Address1, new { @class = "form-control", @placeholder = "*Address " })
                    @Html.ValidationMessageFor(model => model.Address1, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-2">
                    <label>Suite #</label>
                    @Html.TextBoxFor(model => model.Address2, new { @class = "form-control", @placeholder = "" })
                    @Html.ValidationMessageFor(model => model.Address2, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-md-3">
                    <span style="color:red;margin-left:-7px"> *</span>&nbsp;  <label>City</label>
                    @Html.TextBoxFor(model => model.City, new { @class = "form-control", @placeholder = "" })
                    @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-2">
                    <span style="color:red;margin-left:-7px"> *</span>&nbsp; <label>State</label>
                    @Html.TextBoxFor(model => model.State, new { @class = "form-control" })
                    @*@Html.TextBoxFor(model => model.State, new { @class = "form-control", @placeholder = "", disabled = "disabled", @readonly = "readonly"})*@
                    @Html.ValidationMessageFor(model => model.State, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-3">
                    <span style="color:red;margin-left:-7px"> *</span>&nbsp;<label>Zip Code</label><br />
                    <div class="col-md-8" style="margin-left:-15px; width:150px">
                        @Html.TextBoxFor(model => model.Zip, new { @class = "form-control", @placeholder = "" })
                        @Html.ValidationMessageFor(model => model.Zip, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-3">
                    <label><span style="color:red;margin-left:-7px"> *</span>&nbsp;Business Telephone</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                        @Html.TextBoxFor(model => model.BusinessTelephone, new { @class = "form-control", @placeholder = " ", maxlength = 15 })

                        @Html.ValidationMessageFor(model => model.BusinessTelephone, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-3">
                    <label>Mobile Telephone</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                        @Html.TextBoxFor(model => model.MobileTelephone, new { @class = "form-control", @placeholder = " ", maxlength = 15 })

                    </div>
                </div>
                <div class="col-md-4">
                    <span style="color:red;margin-left:-7px"> *</span>&nbsp; <label>Email</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @placeholder = "" })

                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

        </div>

        <div class="row">

        </div>

    </div>


</div>

<div class="panel-footer" style="border-top: none;">
    <div class="row">
        <div class="col-md-8"></div>
        <div class="col-md-4 ">
            <div class="col-md-12" style="text-align:right">

                <input type="submit" value="Save" class="btn btn-success" style="background-color: #2485ca;border: 2px #cfcfcf;font-size: 18px !important;" />
            </div>
        </div>

    </div>
</div>

<script>
    //$('#MobileTelephone').keyup(function () {
    //    var text = $(this).val();
    //    var format = "";
    //    if (text.length == 10) {
    //        format = "(" + text.substr(0, 3) + ")-(" + text.substr(3, 3) + ")-(" + text.substr(6, 4) + ")";
    //    }
    //    else {
    //        format = $(this).val();
    //    }

    //    $(this).val(format);
    //});
    $(document).ready(function () {
        showPhoneFormat('#BusinessTelephone');
        showPhoneFormat('#MobileTelephone');
    })

    $('#MobileTelephone').keyup(function () {
        showPhoneFormat(this);
    });

    function showPhoneFormat(ctrl) {
        var text = $(ctrl).val();
        var format = "";
        if (text.length == 10) {
            format = "(" + text.substr(0, 3) + ") " + text.substr(3, 3) + "-" + text.substr(6, 4) + "";
        }
        else {
            format = $(ctrl).val();
        }

        $(ctrl).val(format);
    }

    $('#BusinessTelephone').keyup(function () {
        showPhoneFormat(this);
    });
</script>
