﻿
@using EWC_NSAA.ViewModels;
@model EWC_NSAA.ViewModels.NavigatorTransferInterimViewModel

@{
    Layout = null;
}

<div class="row">
    <div class="col-md-4">
        <h4>Navigator Transfer Status</h4>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            @Html.HiddenFor(model => model.FK_RecipientID)
            @Html.Label("Recipient Name: ", htmlAttributes: new { @class = "control-label" })
            @Html.DisplayFor(model => model.RecipFirstName)
            @Html.DisplayFor(model => model.RecipLastName)
            <br />
            @Html.Label("Language: ", htmlAttributes: new { @class = "control-label" })
            @Html.DisplayFor(model => model.Language)
            <br />
            @Html.Label("Agree to speak English?: ", htmlAttributes: new { @class = "control-label" })
            @Html.DisplayFor(model => model.AgreeToSpeakEnglish)
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h4>Requesting Navigator</h4>
    </div>
    <div class="col-md-8">
        <h4>Transfer Status</h4>
    </div>
</div>


<div class="row">
    <div class="col-md-4">
        <div class="form-group">

            @Html.HiddenFor(model => model.TransferID)

            @Html.Label("ID: ", htmlAttributes: new { @class = "control-label" })
            @Html.DisplayFor(model => model.CurrentNavigatorID)
            @Html.HiddenFor(model => model.CurrentNavigatorID)
            <br />
            @Html.Label("Name: ", htmlAttributes: new { @class = "control-label" })
            @Html.DisplayFor(model => model.FirstName)
            @Html.DisplayFor(model => model.LastName)
            <br />
            @Html.Label("Region: ", htmlAttributes: new { @class = "control-label" })
            @Html.DisplayFor(model => model.Region)
            <br />
            @Html.Label("Type: ", htmlAttributes: new { @class = "control-label" })
            @Html.DisplayFor(model => model.Type)
        </div>
    </div>
    <div class="col-md-8">
        <div class="form-group">
            @Html.Label("Select Transfer Status: ", htmlAttributes: new { @class = "control-label" })
            @Html.DropDownListFor(model => model.TransferStatus, EWC_NSAA.Controllers.NavigatorTransferController.GetTransferStatusDropDown(), "--Select Transfer Status--")
            <br />
            @Html.Label("Transfer Refused Reason: ", htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.TransferRefusedReason, new { htmlAttributes = new { @class = "form-control" } })
            <br />
            @Html.Label("Transfer Refused Date: ", htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.TransferRefusedDt, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.TransferRefusedDt, "", new { @class = "text-danger" })


        </div>
    </div>
</div>

<div>
    <div class="col-md-offset-2 col-md-12">
        <input type="submit" value="Update Status" class="btn btn-default" />
    </div>
</div>



