﻿@model EWC_NSAA.ViewModels.NavigatorViewModel
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<style>
    .webgrid-table {
        /*font-size: 1.2em;*/
         font-family: 'FiraSans-Light' !important;
            font-size: 14px !important;
        width: 100%;
        display: table;
        border-collapse: separate;
        /*border: none 1px #98BF21;*/
         border: solid 1px #000000 !important;
        background-color: white;
    }

    .webgrid-header {
     font-family: 'FiraSans-Light' !important;
     font-size: 18px !important;

    }
    .webgrid-header a {

    text-decoration: none  !important;
     font-family: 'FiraSans-Light' !important;
            font-size: 14px !important;
    }
        .webgrid-table td, th {
            /*border: 1px none #98BF21;*/
            padding: 3px 7px 2px;
            text-align: left;
            align-items: center;
            font-family: 'FiraSans-Light' !important;
            font-size: 14px !important;
        }

    .webgrid-header {
        background-color: #7EB2B2;
        color: white;
        padding-bottom: 4px;
        padding-top: 5px;
        font-family: 'FiraSans-Light' !important;
        font-size: 14px !important;

    }
    a {
  color: white;
  text-decoration: none;
}
    .webgrid-footer {
    }

    .webgrid-row-style {
        padding: 3px 7px 2px;
        text-align: left;
        font-family: 'FiraSans-Light' !important;
        font-size: 14px !important;
    }

    .webgrid-alternating-row {
        background-color: #DEF9F9;
        padding: 3px 7px 2px;
        font-family: 'FiraSans-Light' !important;
        font-size: 14px !important;
    }

    </style>



@{
    WebGrid grid = new WebGrid(source: Model.Languages);
}

<a data-toggle="modal" data-target="#LanguagePopup" class="btn btn-lg btn-default" id="addLanguage">Add Language</a>

<div id="gridContent" style="padding:20px;">
    @grid.GetHtml(
    htmlAttributes: new { id = "Lgrid" },
    tableStyle: "webgrid-table",
    headerStyle: "webgrid-header",
    footerStyle: "webgrid-footer",
    alternatingRowStyle: "webgrid-alternating-row",
    selectedRowStyle: "webgrid-selected-row",
    rowStyle: "webgrid-row-style",
    mode: WebGridPagerModes.All,
    columns:
        grid.Columns(

        grid.Column(null, null, format: @<text>@Html.HiddenFor(model=>Model.NavigatorLanguageID, new { id = "LanguageID" })</text>),

        grid.Column("LanguageName", "Language Name", format: @<text><span class="display-mode"><label id="lblLanguageName">@item.LanguageName</label></span>
            </text>, style: "col2Width"),

        grid.Column("SpeakingScore", "Speaking", format: @<text> <span class="display-mode" id="spanShowScore"><label id="lblSpeaking">@item.SpeakingScore</label></span>

       </text>, style: "col2Width"),

        grid.Column("ListeningScore", "Listening", format: @<text> <span class="display-mode"><label id="lblListening">@item.ListeningScore</label></span>
        </text>, style: "col2Width"),

        grid.Column("ReadingScore", "Reading", format: @<text> <span class="display-mode"><label id="lblReading">@item.ReadingScore</label></span>
        </text>, style: "col2Width"),

        grid.Column("WritingScore", "Writing", format: @<text> <span class="display-mode"><label id="lblWriting">@item.WritingScore</label></span>
        </text>, style: "col2Width")

      
    ))

</div>

<div style="margin-top:10px;">
    <div class="modal fade" id="LanguagePopup">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                @*<div class="modal-header">
                    <h5 class="modal-title">Language</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>*@
                <div class="panel">
                    <div class="panel-heading hdr-panel"> <H3> Add  Language </H3></div>

                    <div class="modal-body">
                        <div class="form-group">
                            @Html.DropDownList("LanguageName", EWC_NSAA.Controllers.HomeController.GetNavigatorLanguages(), "--Select Language--", new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            <label>Speaking</label>
                            <span>
                                <span id="oneStar" style="color:red;font-size:25px;cursor:pointer" onclick="setStar('one','Star','s')">&#10027;</span>
                                <span id="twoStar" style="color:red;font-size:25px;cursor:pointer" onclick="setStar('two', 'Star', 's')">&#10027;</span>
                                <span id="threeStar" style="color:red;font-size:25px;cursor:pointer" onclick="setStar('three', 'Star', 's')">&#10027;</span>
                                <span id="fourStar" style="color:red;font-size:25px;cursor:pointer" onclick="setStar('four', 'Star', 's')">&#10027;</span>
                                <span id="fiveStar" style="color:red;font-size:25px;cursor:pointer" onclick="setStar('five', 'Star', 's')">&#10027;</span>
                            </span>
                            <label>Reading</label>
                            <span>
                                <span id="oneStarReading" style="color:red;font-size:25px;cursor:pointer" onclick="setStar('one', 'StarReading', 'r')">&#10027;</span>
                                <span id="twoStarReading" style="color:red;font-size:25px;cursor:pointer" onclick="setStar('two', 'StarReading', 'r')">&#10027;</span>
                                <span id="threeStarReading" style="color:red;font-size:25px;cursor:pointer" onclick="setStar('three', 'StarReading', 'r')">&#10027;</span>
                                <span id="fourStarReading" style="color:red;font-size:25px;cursor:pointer" onclick="setStar('four', 'StarReading', 'r')">&#10027;</span>
                                <span id="fiveStarReading" style="color:red;font-size:25px;cursor:pointer" onclick="setStar('five', 'StarReading', 'r')">&#10027;</span>
                            </span>
                            <label>Writing</label>
                            <span>
                                <span id="oneStarWriting" style="color:red;font-size:25px;cursor:pointer" onclick="setStar('one', 'StarWriting', 'w')">&#10027;</span>
                                <span id="twoStarWriting" style="color:red;font-size:25px;cursor:pointer" onclick="setStar('two', 'StarWriting', 'w')">&#10027;</span>
                                <span id="threeStarWriting" style="color:red;font-size:25px;cursor:pointer" onclick="setStar('three', 'StarWriting', 'w')">&#10027;</span>
                                <span id="fourStarWriting" style="color:red;font-size:25px;cursor:pointer" onclick="setStar('four', 'StarWriting', 'w')">&#10027;</span>
                                <span id="fiveStarWriting" style="color:red;font-size:25px;cursor:pointer" onclick="setStar('five', 'StarWriting', 'w')">&#10027;</span>
                            </span>
                            <label>Listening</label>
                            <span>
                                <span id="oneStarListening" style="color:red;font-size:25px;cursor:pointer" onclick="setStar('one', 'StarListening', 'l')">&#10027;</span>
                                <span id="twoStarListening" style="color:red;font-size:25px;cursor:pointer" onclick="setStar('two', 'StarListening', 'l')">&#10027;</span>
                                <span id="threeStarListening" style="color:red;font-size:25px;cursor:pointer" onclick="setStar('three', 'StarListening', 'l')">&#10027;</span>
                                <span id="fourStarListening" style="color:red;font-size:25px;cursor:pointer" onclick="setStar('four', 'StarListening', 'l')">&#10027;</span>
                                <span id="fiveStarListening" style="color:red;font-size:25px;cursor:pointer" onclick="setStar('five', 'StarListening', 'l')">&#10027;</span>
                            </span>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" onclick="saveChanges()">Save changes</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
                </div>
        </div>
    </div>
</div>

@section Scripts{

@Scripts.Render("~/bundles/jqueryval")

<script>
    var speakingStar = 0;
    var readingStar = 0;
    var writingStar = 0;
    var listeningStar = 0;
    var selectedLanguage = "";

    $(function () {
        $('#editSpeaking').hide();
    });


    $('#LanguagePopup').on('shown', function () {
        $("#ddlLanguage").val(0);
        setStarToDefault('Star')
        setStarToDefault('StarReading')
        setStarToDefault('StarWriting')
        setStarToDefault('StarListening')
    });

    setStar = function (number, id, type) {
        if (number == 'one') {
            $('#' + number + id).css('color', 'green');
            $('#two' + id).css('color', 'red');
            $('#four' + id).css('color', 'red');
            $('#five' + id).css('color', 'red');
            $('#three' + id).css('color', 'red');

            if (type == 's')
                speakingStar = 1
            else if (type == 'r')
                readingStar = 1
            else if (type == 'w')
                writingStar = 1
            else if (type == 'l')
                listeningStar = 1
        }
        else if (number == 'two') {
            $('#' + number + id).css('color', 'green');
            $('#one' + id).css('color', 'green');
            $('#four' + id).css('color', 'red');
            $('#five' + id).css('color', 'red');
            $('#three' + id).css('color', 'red');
            if (type == 's')
                speakingStar = 2
            else if (type == 'r')
                readingStar = 2
            else if (type == 'w')
                writingStar = 2
            else if (type == 'l')
                listeningStar = 2
        }
        else if (number == 'three') {
            $('#' + number + id).css('color', 'green');
            $('#one' + id).css('color', 'green');
            $('#two' + id).css('color', 'green');
            $('#four' + id).css('color', 'red');
            $('#five' + id).css('color', 'red');
            if (type == 's')
                speakingStar = 3
            else if (type == 'r')
                readingStar = 3
            else if (type == 'w')
                writingStar = 3
            else if (type == 'l')
                listeningStar = 3
        }
        else if (number == 'four') {
            $('#' + number + id).css('color', 'green');
            $('#one' + id).css('color', 'green');
            $('#two' + id).css('color', 'green');
            $('#three' + id).css('color', 'green');
            $('#five' + id).css('color', 'red');
            if (type == 's')
                speakingStar = 4
            else if (type == 'r')
                readingStar = 4
            else if (type == 'w')
                writingStar = 4
            else if (type == 'l')
                listeningStar = 4
        }
        else if (number == 'five') {
            $('#' + number + id).css('color', 'green');
            $('#one' + id).css('color', 'green');
            $('#two' + id).css('color', 'green');
            $('#three' + id).css('color', 'green');
            $('#four' + id).css('color', 'green');
            if (type == 's')
                speakingStar = 5
            else if (type == 'r')
                readingStar = 5
            else if (type == 'w')
                writingStar = 5
            else if (type == 'l')
                listeningStar = 5
        }
    }

    setStarToDefault = function (id) {
        $('#one' + id).css('color', 'red');
        $('#two' + id).css('color', 'red');
        $('#four' + id).css('color', 'red');
        $('#five' + id).css('color', 'red');
        $('#three' + id).css('color', 'red');
    }

    function saveChanges() {
        selectedLanguage = $("#ddlLanguage option:selected").text();
        $('#LanguagePopup').modal('hide');
        buildBody();
    }

    function buildHeader() {
        $('#tblLanguageGrid').addClass('webgrid-table');
        var isHeader = $('#tblLanguageGrid').find('thead').length > 0;
        if (isHeader) {
            var header = "<thead class='webgrid-header'>";
            header += "<tr><td>Language</td><td>Speaking</td><td>Reading</td><td>Writing</td><td>Listening</td>";
            header + "</tr></thead>";
            $('#tblLanguageGrid').append(header);
        }
    }

    function buildBody() {
        var tr = "<tr class='webgrid-row-style'><td style='border-right:1px solid gray;text-align:left;padding:3px;border-top:1px solid gray'>" + selectedLanguage + "</td>";
        tr += "<td style='border-right:1px solid gray;text-align:right;padding:3px;border-top:1px solid gray'>" + speakingStar + "</td>";
        tr += "<td style='border-right:1px solid gray;text-align:right;padding:3px;border-top:1px solid gray'>" + readingStar + "</td>";
        tr += "<td style='border-right:1px solid gray;text-align:right;padding:3px;border-top:1px solid gray'>" + writingStar + "</td>";
        tr += "<td style='border-right:1px solid gray;text-align:right;padding:3px;border-top:1px solid gray'>" + listeningStar + "</td>";
        tr += "<td style='border-right:1px solid gray;text-align:center;padding:3px;border-top:1px solid gray'><i class='glyphicon glyphicon-remove' style='color:blue;cursor:pointer'></i></td></tr>"
        $('#tblLanguageGrid').append(tr);
    }

</script>

}

@Scripts.Render("false")
@Styles.Render("false")


































































































































































































































































































@*

<!--

<a data-toggle="modal" data-target="#LanguagePopup" class="btn btn-lg btn-default" id="addlanguage">Add language</a>
<div style="margin-top:10px;">
    <table id="tblLanguageGrid" style="width:60%;border:1px solid gray" cellpadding="3" cellspacing="0">
        <thead>
            <tr>
                <td style="border-right:1px solid gray;text-align:center;font-weight:bold">
                    Language
                </td>
                <td style="border-right:1px solid gray;text-align:center;font-weight:bold">
                    Speaking
                </td>
                <td style="border-right:1px solid gray;text-align:center;font-weight:bold">
                    Reading
                </td>
                <td style="border-right:1px solid gray;text-align:center;font-weight:bold">
                    Writing
                </td>
                <td style="border-right:1px solid gray;text-align:center;font-weight:bold">
                    Listening
                </td>
                <td style="text-align:center;font-weight:bold;width:40px">
                    &nbsp;Delete
                </td>
            </tr>
        </thead>
    </table>
</div>
<div class="modal fade" id="LanguagePopup">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Language</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    @Html.DropDownList("ddlLanguage", EWC_NSAA.Controllers.HomeController.GetNavigatorLanguages(), "--Select Language--", new { @class = "form-control" })
                    <label>Speaking</label>
                    @*<span>
                            <span id="oneStar" style="color:red;font-size:25px;cursor:pointer" onclick="setStar('one','Star','s')">&#10027;</span>
                            <span id="twoStar" style="color:red;font-size:25px;cursor:pointer" onclick="setStar('two', 'Star', 's')">&#10027;</span>
                            <span id="threeStar" style="color:red;font-size:25px;cursor:pointer" onclick="setStar('three', 'Star', 's')">&#10027;</span>
                            <span id="fourStar" style="color:red;font-size:25px;cursor:pointer" onclick="setStar('four', 'Star', 's')">&#10027;</span>
                            <span id="fiveStar" style="color:red;font-size:25px;cursor:pointer" onclick="setStar('five', 'Star', 's')">&#10027;</span>
                        </span>
                    <span>
                        <span id="oneStar" style="color:red;font-size:15px;cursor:pointer" onclick="languageProfile.setStar('one', 'Star', 's')">1</span>
                        <span id="twoStar" style="color:red;font-size:15px;cursor:pointer" onclick="languageProfile.setStar('two', 'Star', 's')">2</span>
                        <span id="threeStar" style="color:red;font-size:15px;cursor:pointer" onclick="languageProfile.setStar('three', 'Star', 's')">3</span>
                        <span id="fourStar" style="color:red;font-size:15px;cursor:pointer" onclick="languageProfile.setStar('four', 'Star', 's')">4</span>
                        <span id="fiveStar" style="color:red;font-size:15px;cursor:pointer" onclick="languageProfile.setStar('five', 'Star', 's')">5</span>
                    </span>
                    <br />
                    <label>Reading </label>&nbsp;&nbsp;
                    <span>
                        <span id="oneStarReading" style="color:red;font-size:15px;cursor:pointer" onclick="languageProfile.setStar('one', 'StarReading', 'r')">1</span>
                        <span id="twoStarReading" style="color:red;font-size:15px;cursor:pointer" onclick="languageProfile.setStar('two', 'StarReading', 'r')">2</span>
                        <span id="threeStarReading" style="color:red;font-size:15px;cursor:pointer" onclick="languageProfile.setStar('three', 'StarReading', 'r')">3</span>
                        <span id="fourStarReading" style="color:red;font-size:15px;cursor:pointer" onclick="languageProfile.setStar('four', 'StarReading', 'r')">4</span>
                        <span id="fiveStarReading" style="color:red;font-size:15px;cursor:pointer" onclick="languageProfile.setStar('five', 'StarReading', 'r')">5</span>
                    </span>
                    <br />
                    <label>Writing</label>&nbsp;&nbsp;&nbsp;&nbsp;
                    <span>
                        <span id="oneStarWriting" style="color:red;font-size:15px;cursor:pointer" onclick="languageProfile.setStar('one', 'StarWriting', 'w')">1</span>
                        <span id="twoStarWriting" style="color:red;font-size:15px;cursor:pointer" onclick="languageProfile.setStar('two', 'StarWriting', 'w')">2</span>
                        <span id="threeStarWriting" style="color:red;font-size:15px;cursor:pointer" onclick="languageProfile.setStar('three', 'StarWriting', 'w')">3</span>
                        <span id="fourStarWriting" style="color:red;font-size:15px;cursor:pointer" onclick="languageProfile.setStar('four', 'StarWriting', 'w')">4</span>
                        <span id="fiveStarWriting" style="color:red;font-size:15px;cursor:pointer" onclick="languageProfile.setStar('five', 'StarWriting', 'w')">5</span>
                    </span>
                    <br />
                    <label>Listening</label>
                    <span>
                        <span id="oneStarListening" style="color:red;font-size:15px;cursor:pointer" onclick="languageProfile.setStar('one', 'StarListening', 'l')">1</span>
                        <span id="twoStarListening" style="color:red;font-size:15px;cursor:pointer" onclick="languageProfile.setStar('two', 'StarListening', 'l')">2</span>
                        <span id="threeStarListening" style="color:red;font-size:15px;cursor:pointer" onclick="languageProfile.setStar('three', 'StarListening', 'l')">3</span>
                        <span id="fourStarListening" style="color:red;font-size:15px;cursor:pointer" onclick="languageProfile.setStar('four', 'StarListening', 'l')">4</span>
                        <span id="fiveStarListening" style="color:red;font-size:15px;cursor:pointer" onclick="languageProfile.setStar('five', 'StarListening', 'l')">5</span>
                    </span>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="languageProfile.saveLangChanges()">Save</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script>
    var languageProfile = (function () {
        var publicMethods = {};

        var speakingStar = 0;
        var readingStar = 0;
        var writingStar = 0;
        var listeningStar = 0;
        var selectedLanguage = "";

        $('#LanguagePopup').on('shown', function () {
            $("#ddlLanguage").val(0);
            setStarToDefault('Star')
            setStarToDefault('StarReading')
            setStarToDefault('StarWriting')
            setStarToDefault('StarListening')
        });
        publicMethods.setStar = function (number, id, type) {
            if (number == 'one') {
                $('#' + number + id).css('color', 'green');
                $('#two' + id).css('color', 'red');
                $('#four' + id).css('color', 'red');
                $('#five' + id).css('color', 'red');
                $('#three' + id).css('color', 'red');

                if (type == 's')
                    speakingStar = 1
                else if (type == 'r')
                    readingStar = 1
                else if (type == 'w')
                    writingStar = 1
                else if (type == 'l')
                    listeningStar = 1
            }
            else if (number == 'two') {
                $('#' + number + id).css('color', 'green');
                $('#one' + id).css('color', 'green');
                $('#four' + id).css('color', 'red');
                $('#five' + id).css('color', 'red');
                $('#three' + id).css('color', 'red');
                if (type == 's')
                    speakingStar = 2
                else if (type == 'r')
                    readingStar = 2
                else if (type == 'w')
                    writingStar = 2
                else if (type == 'l')
                    listeningStar = 2
            }
            else if (number == 'three') {
                $('#' + number + id).css('color', 'green');
                $('#one' + id).css('color', 'green');
                $('#two' + id).css('color', 'green');
                $('#four' + id).css('color', 'red');
                $('#five' + id).css('color', 'red');
                if (type == 's')
                    speakingStar = 3
                else if (type == 'r')
                    readingStar = 3
                else if (type == 'w')
                    writingStar = 3
                else if (type == 'l')
                    listeningStar = 3
            }
            else if (number == 'four') {
                $('#' + number + id).css('color', 'green');
                $('#one' + id).css('color', 'green');
                $('#two' + id).css('color', 'green');
                $('#three' + id).css('color', 'green');
                $('#five' + id).css('color', 'red');
                if (type == 's')
                    speakingStar = 4
                else if (type == 'r')
                    readingStar = 4
                else if (type == 'w')
                    writingStar = 4
                else if (type == 'l')
                    listeningStar = 4
            }
            else if (number == 'five') {
                $('#' + number + id).css('color', 'green');
                $('#one' + id).css('color', 'green');
                $('#two' + id).css('color', 'green');
                $('#three' + id).css('color', 'green');
                $('#four' + id).css('color', 'green');
                if (type == 's')
                    speakingStar = 5
                else if (type == 'r')
                    readingStar = 5
                else if (type == 'w')
                    writingStar = 5
                else if (type == 'l')
                    listeningStar = 5
            }
        }

        setStarToDefault = function (id) {
            $('#one' + id).css('color', 'red');
            $('#two' + id).css('color', 'red');
            $('#four' + id).css('color', 'red');
            $('#five' + id).css('color', 'red');
            $('#three' + id).css('color', 'red');
        }

        publicMethods.saveLangChanges = function () {
            selectedLanguage = $("#ddlLanguage option:selected").text();
            $('#LanguagePopup').modal('hide');
            buildBody();
        }
        function buildHeader() {
            $('#tblLanguageGrid').addClass('webgrid-table');
            var isHeader = $('#tblLanguageGrid').find('thead').length > 0;
            if (isHeader) {
                var header = "<thead class='webgrid-header'>";
                header += "<tr><td>Language</td><td>Speaking</td><td>Reading</td><td>Writing</td><td>Listening</td>";
                header + "</tr></thead>";
                $('#tblLanguageGrid').append(header);
            }
        }
        function buildBody() {
            var tr = "<tr class='webgrid-row-style'><td style='border-right:1px solid gray;text-align:left;padding:3px;border-top:1px solid gray'>" + selectedLanguage + "</td>";
            tr += "<td style='border-right:1px solid gray;text-align:right;padding:3px;border-top:1px solid gray'>" + speakingStar + "</td>";
            tr += "<td style='border-right:1px solid gray;text-align:right;padding:3px;border-top:1px solid gray'>" + readingStar + "</td>";
            tr += "<td style='border-right:1px solid gray;text-align:right;padding:3px;border-top:1px solid gray'>" + writingStar + "</td>";
            tr += "<td style='border-right:1px solid gray;text-align:right;padding:3px;border-top:1px solid gray'>" + listeningStar + "</td>";
            tr += "<td style='border-right:1px solid gray;text-align:center;padding:3px;border-top:1px solid gray'><i class='glyphicon glyphicon-remove' style='color:blue;cursor:pointer' onclick='languageProfile.deleteItem(this)'></i></td></tr>"
            $('#tblLanguageGrid').append(tr);
        }

        publicMethods.deleteItem = function (ctrl) {
            var rowIndex = $(ctrl).parent().parent()[0].rowIndex;
            $('#tblLanguageGrid')[0].deleteRow(rowIndex);
        }

        return publicMethods;
    })();
</script>


-->
*@
