﻿@using MvcCheckBoxList.Model
@model EWC_NSAA.ViewModels.EncounterViewModel

@{
    Layout = null;
}


<div class="panel panel-default" style="border:none">
    <h3 style="padding-left:25px"><b>Notes</b></h3>
    <div class="panel-body">

        <div class="row">
            <div class="col-md-12">
                <div style="float:left;width:1000px;">
                    <textarea id="textarea" style="margin: 0px; width: 1000px; height: 100px;"></textarea>
                </div>
            </div>
        </div>

        <br />
        <label style="padding-left:20px"><b>Previous Notes</b></label>
        <div class="row">
            <div class="col-md-12">
                <div style="float:left;width:1000px;">
                    <textarea id="textarea" style="margin: 0px; width: 1000px; height: 200px;" readonly="readonly" disabled="disabled"></textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-footer" style="border-top:none;">
        <div class="row">
            <div class="col-md-9"></div>
            <div class="col-md-3 pull-left">

                <a onclick="showHideTab('three')" class="btn" id="back-step" style="cursor:pointer;background-color: #3a3a3a;border: 2px #cfcfcf;font-size: 18px !important;color: #fff;"> <span class="glyphicon glyphicon-arrow-left"></span>  Previous   </a>
                <a href="#" class="btn btn-success" style="background-color: #3a3a3a;border: 2px #cfcfcf;font-size: 18px !important;" id="activate-step"> &nbsp;&nbsp;&nbsp;Save&nbsp;&nbsp;&nbsp;</a>
            </div>

        </div>
    </div>
</div>



