﻿@model EWC_NSAA.ViewModels.NavigationCycleViewModel

<div class="panel panel-default" style="border:none; margin-top: -25px;" id="provider">
    <h3 style="padding-left:15px"><b>Provider Information</b></h3>
    <div class="panel-body" style="margin-bottom: -20px;">


        <div class="row" style="padding-top: 20px;">
            <div class="col-md-4">
                <div class="form-group">
                    @Html.LabelFor(model => model.tNSProvider.PCPName, "Provider Business Name")
                    @Html.EditorFor(model => model.tNSProvider.PCPName
                    , new { htmlAttributes = new { @class = "form-control", @required = "required", @autofocus = "autofocus" } })
                    @Html.ValidationMessageFor(model => model.tNSProvider.PCPName, "", new { @class = "text-danger" })
                </div>
            </div>
            <div>
                <div class="col-md-3">
                    <label type="label">EWC Provider  </label>
                    <div class="form-group">
                        <label id="sliderLabel">
                            <input type="checkbox" />
                            <span id="slider">
                                <span id="sliderOn">Yes</span>
                                <span id="sliderOff">No</span>
                                <span id="sliderBlock"></span>
                            </span>
                            @Html.HiddenFor(model => model.tNSProvider.EWCPCP, new { @id = "EWCProvider" })
                        </label>

                    </div>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>

   
        <div class="row" style="padding-top: 20px;">
            <div class="col-md-2">
                <div class="form-group">
                    <label>Provider NPI</label>
                    @Html.EditorFor(model => model.tNSProvider.PCP_NPI
                    , new { htmlAttributes = new { @class = "form-control", @required = "required", @autofocus = "autofocus" } })
                    @Html.ValidationMessageFor(model => model.tNSProvider.PCP_NPI, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label>Provider Owner</label>
                    <div class="col-md-8" style="margin-left:-15px">
                        @Html.EditorFor(model => model.tNSProvider.PCP_Owner
                     , new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                        @Html.ValidationMessageFor(model => model.tNSProvider.PCP_Owner, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label>Provider Location</label>
                    <div class="col-md-8" style="margin-left:-15px">
                        @Html.EditorFor(model => model.tNSProvider.PCP_Location
                    , new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                        @Html.ValidationMessageFor(model => model.tNSProvider.PCP_Location, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>


        <div class="row" style="padding-top: 20px;">
            <div class="col-md-4">
                <div class="form-group">
                    <label>Service Address</label>
                    @Html.EditorFor(model => model.tNSProvider.PCPAddress1
                    , new { htmlAttributes = new { @class = "form-control", @required = "required", @autofocus = "autofocus" } })
                    @Html.ValidationMessageFor(model => model.tNSProvider.PCPAddress1, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-1">
                <div class="form-group">
                    <label>Suite #</label>
                    @Html.EditorFor(model => model.tNSProvider.PCPAddress2
                    , new { htmlAttributes = new { @class = "form-control", @required = "required", @autofocus = "autofocus" } })
                    @Html.ValidationMessageFor(model => model.tNSProvider.PCPAddress2, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>City</label>
                    @Html.EditorFor(model => model.tNSProvider.PCPCity
                    , new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.tNSProvider.PCPCity, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-1">
                <div class="form-group">
                    <label>State</label>
                    @Html.EditorFor(model => model.tNSProvider.PCPState, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @Value = "CA" } })
                    @*@Html.EditorFor(model => model.tNSProvider.PCPState, "CA" new { htmlAttributes = new { @class = "form-control", @readonly = "readonly"} })*@
                    @*@Html.EditorFor(model => model.tNSProvider.PCPState, "CA", new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })*@


                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>Zip Code</label><br />
                    <div class="col-md-8" style="margin-left:-15px; width:110px;">
                        @Html.EditorFor(model => model.tNSProvider.PCPZip
                    , new { htmlAttributes = new { @class = "form-control", placeholder = "", @required = "required" } })
                        @Html.ValidationMessageFor(model => model.tNSProvider.PCPZip, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
   
        <div class="row" style="padding-top: 20px;">
            <div class="col-md-4">
                <div class="form-group">
                    <label>Contact First Name</label>
                    @Html.EditorFor(model => model.tNSProvider.PCPContactFName
                    , new { htmlAttributes = new { @class = "form-control", @autofocus = "autofocus", @required = "required" } })
                    @Html.ValidationMessageFor(model => model.tNSProvider.PCPContactFName, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Contact Last Name</label>
                    @Html.EditorFor(model => model.tNSProvider.PCPContactLName
                    , new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                    @Html.ValidationMessageFor(model => model.tNSProvider.PCPContactLName, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label>Contact Title</label>
                    @Html.EditorFor(model => model.tNSProvider.PCPContactTitle
                    , new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                    @Html.ValidationMessageFor(model => model.tNSProvider.PCPContactTitle, "", new { @class = "text-danger" })
                </div>
            </div>

        </div>

        <div class="row" style="padding-top: 20px;">
            <div class="col-md-3">
                <label>Contact Phone</label>
                <div class="col-md-11" style="margin-left:-15px">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-phone"></i>
                        </div>
                        @Html.EditorFor(model => model.tNSProvider.PCPContactTelephone
                    , new { htmlAttributes = new { @class = "form-control", id = "contactphone", placeholder = "(###) ###-####", maxlength = 10 } })
                        @Html.ValidationMessageFor(model => model.tNSProvider.PCPContactTelephone, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-4">
                <label>Email</label>
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="glyphicon glyphicon-envelope"></i>
                    </div>
                    @Html.EditorFor(model => model.tNSProvider.PCPContactEmail
                    , new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.tNSProvider.PCPContactEmail, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-xs-4 col-md-3">
            </div>
        </div>
        <br />
        <div class="panel-footer">

            <div class="row">
                <div class="col-md-7"></div>
                <div class="col-md-5">
                    <div class="col-md-11 pull-right">


                        <a onclick="showHideTab('two')" class="btn" id="back-step" style="cursor:pointer;background-color: #3a3a3a;border: 2px #cfcfcf;font-size: 18px !important;color: #fff;"> <span class="glyphicon glyphicon-arrow-left"></span> Previous </a>
                        <a href="#" class="btn btn-success" style="background-color: #3a3a3a;border: 2px #cfcfcf;font-size: 18px !important;" id="activate-step"> &nbsp;&nbsp;&nbsp;Save&nbsp;&nbsp;&nbsp;</a>

                        <a onclick="showHideTab('healthcare')" class="btn" id="back-step" style="cursor:pointer;background-color: #3a3a3a;border: 2px #cfcfcf;font-size: 18px !important;color: #fff;">  &nbsp;&nbsp;&nbsp; Next <span class="glyphicon glyphicon-arrow-right"></span>&nbsp;&nbsp;  </a>
                    </div>

                </div>

            </div>
        </div>
    </div>

</div>





<div class="panel panel-default" style="border:none;display:none" id="healthcare">
    <h3 style="padding-left:15px"> <b>HealthCare Plan Information</b></h3><br />
    <div class="panel-body" style="margin-bottom: -20px;">

        <div class="row" >



            <div class="col-md-4 ">
                <div class="radio-group">
                    <span style="color:red;margin-left:-10px">*</span> <label>Health Insurance Status</label>

                    @*<span style="color:red;margin-left:-10px">*</span>  @Html.LabelFor(model => model.tNavigationCycle.HealthInsuranceStatus, "Health Insurance Status")*@
                    <div style="margin-right:15px">
                       @* @Html.RadioButton("healthinsurancestatus", "Insured", true, new { id = "IsInsured" }) Insured*@
                        <input type="checkbox" name="Insured" value="Insured" checked=""><label for="White">&nbsp; Insured</label><br />
                        <input type="checkbox" name="Insured" value="Insured" ><label for="White">&nbsp; Uninsured</label>
                    </div>
                    <br />
                    <div>
                        @*@Html.RadioButton("healthinsurancestatus", "Uninsured", new { id = "IsUninsured" }) Uninsured*@
                        
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">

                    <span style="color:red; margin-left:-10px"> *</span> <label>Health Program</label><br />
                    <div class="col-md-10" style="margin-left:-12px">
                        <div class="form-group">
                            @Html.DropDownListFor(model => model.tNavigationCycle.HealthProgram, EWC_NSAA.Controllers.NavigationCyclesController.GetHealthProgramDropDown(), "Select Program"
                                , new { @class = "form-control", @required = "required" })
                            @Html.ValidationMessageFor(model => model.tNavigationCycle.HealthProgram, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="row" >
            <div class="col-md-4">
                <label>Health Insurance Plan</label>
                <div class="col-md-11" style="margin-left:-15px">
                    @Html.DropDownListFor(model => model.tNavigationCycle.HealthInsurancePlan, EWC_NSAA.Controllers.NavigationCyclesController.GetHealthInsuranceDropDown(), "-- Select Insurance Plan --"
                    , new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.tNavigationCycle.HealthInsurancePlan, "", new { @class = "text-danger", @disabled = "disabled" })
                </div>
            </div>
            <div class="col-lg2 col-md-2 col-sm-4 col-xs-12">
                <label>Plan Number</label>

                @Html.EditorFor(model => model.tNavigationCycle.HealthInsurancePlanNumber
                 , new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.tNavigationCycle.HealthInsurancePlanNumber, "", new { @class = "text-danger" })
            </div>

        </div>
    </div>

    <br />
    <div class="panel-footer">




        <div class="row">
            <div class="col-md-7"></div>
            <div class="col-md-5">
                <div class="col-md-11 pull-right">


                    <a onclick="showHideTab('provider')" class="btn" id="back-step" style="cursor:pointer;background-color: #3a3a3a;border: 2px #cfcfcf;font-size: 18px !important;color: #fff;"> <span class="glyphicon glyphicon-arrow-left"></span> Previous </a>
                    <a href="#" class="btn btn-success" style="background-color: #3a3a3a;border: 2px #cfcfcf;font-size: 18px !important;" id="activate-step"> &nbsp;&nbsp;&nbsp;Save&nbsp;&nbsp;&nbsp;</a>

                    <a onclick="showHideTab('four')" class="btn" id="back-step" style="cursor:pointer;background-color: #3a3a3a;border: 2px #cfcfcf;font-size: 18px !important;color: #fff;">  &nbsp;&nbsp;&nbsp; Next <span class="glyphicon glyphicon-arrow-right"></span>&nbsp;&nbsp;  </a>
                </div>

            </div>

        </div>
    </div>



</div>
<script>
    $('#contactphone').keyup(function () {
        var text = $(this).val();
        var format = "";
        if (text.length == 10) {
            format = "(" + text.substr(0, 3) + ") " + text.substr(3, 3) + "-" + text.substr(6, 4) + "";
        }
        else {
            format = $(this).val();
        }

        $(this).val(format);
    });
</script>