﻿<div class="panel panel-default" style="border:none;margin-top: -10px;" id="problemIssueTab" onload="refreshCheckBoxes();">
    <br />
    <div class="panel-body" style="margin-bottom: -20px;">
        <div class="row" id="1st">
            <div class="col-lg-5">
                <div class="form-group" id="headRecipient" style="display:none">
                    <h3><b>EWC Recipient</b> </h3>
                </div>
                <div class="form-group" id="headEWCPCP" style="display:none">
                    <h3><b> EWC - PCP </b> </h3>
                </div>
                <div class="form-group" id="headReferralProvider" style="display:none">
                    <h3><b> Referral Provider</b>  </h3>
                </div>
                <div class="form-group" id="headProgramCPartnerPotentialEE" style="display:none">
                    <h3><b> Program or Community Partner, Potential EWC Enrollee </b> </h3>
                </div>
                <div class="form-group" id="headOther" style="display:none">
                    <h3><b> Other</b> </h3>
                </div>
            </div>
            <div class="col-lg-3"></div>
            <div class="col-lg-4">
                <div class="col-md-7">
                    <label> Incident Number</label>
                    <input class="form-control" name="contact name" id="contact name" placeholder="" type="text" required="" autofocus="" autocomplete="off">
                </div>
            </div>
        </div>
        <br />
        <div class="row" id="2nd">
            <div class="panel-group" id="issueRecipient" style="border:none;display:none;">
                <div class="col-lg-5">
                    <div class="form-group">
                        <input type="checkbox" name="chk" id="chk1" autocomplete="off" style="padding-top:10px">
                        <span class="content" style="padding-left:8px;">Contacting an EWC provider (i.e., phone<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; number   or address wrong; no longer in EWC)</span>
                    </div>
                    <div class="form-group">
                        <input type="checkbox" name="chk" id="chk2" autocomplete="off">
                        <span class="content" style="padding-left:8px;">Obtaining an appointment with an EWC<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; provider (i.e., provider not taking new clients<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; or not taking EWC clients)</span>
                    </div>
                    <div class="form-group">
                        <input type="checkbox" name="chk" id="chk3" autocomplete="off">
                        <span class="content" style="padding-left:8px;">Billing issue (i.e., recipient has been billed for<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; services)</span>
                    </div>
                    <div class="form-group">
                        <input type="checkbox" name="chk" id="chk4" autocomplete="off">
                        <span class="content" style="padding-left:8px;">Access to a specialist or getting a follow-up<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; appointment with a specialist</span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <input type="checkbox" name="chk" id="chk5" autocomplete="off">
                        <span class="content" style="padding-left:8px;">Provider or staff behavior<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; (i.e., inappropriate provider and staff behavior)</span>
                    </div>
                    <div class="form-group">
                        <label data-toggle="collapse" data-target="#window1">
                            <input type="checkbox" name="chk" id="chk6">
                        </label>
                        <span class="content" style="padding-left:8px;">Program eligibility/enrollment question</span>
                        <br />
                        <div class="panel-collapse collapse" id="window1" style="margin-left:50px; margin-top:10px">
                            <div class="form-group">
                                <input type="checkbox" name="chk6" id="chk61">
                                <span class="content" style="padding-left:10px;">EWC</span>
                            </div>
                            <div class="form-group">
                                <input type="checkbox" name="chk6" id="chk62">
                                <span class="content" style="padding-left:10px;">BCCTP</span>
                            </div>
                            <div class="form-group">
                                <input type="checkbox" name="chk6" id="chk63">
                                <span class="content" style="padding-left:10px;">Medi-Cal</span>
                            </div>
                            <div class="form-group">
                                <input type="checkbox" name="chk6" id="chk64">
                                <span class="content" style="padding-left:10px;">Other</span>
                                <div id="641" class="form-inline" style="display:none;">
                                    <input class="form-control" id="txtBoxOther641" placeholder="" type="text" autocomplete="off">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="checkbox" name="chk" id="chk7" autocomplete="off">
                        <span class="content" style="padding-left:8px;">Request for Navigation</span>
                    </div>
                    <div class="form-group">
                        <label data-toggle="collapse" data-target="#window2">
                            <input type="checkbox" name="chk" id="chk8">
                        </label>
                        <span class="content" style="padding-left:8px;">Other or Notes for Selected Problem/Issue</span>

                        <div class="panel-collapse collapse" id="window2" style="margin-left:25px">

                            <div class="form-group col-md-8">
                                <textarea class="form-control" id="txtBoxOther8" placeholder="" cols="50" rows="2"> </textarea>
                            </div>
                        </div>

                     
                    </div>
                </div>

            </div>
            <!-- panel issueRecipent ends here -->
            <div class="panel-group" id="issueEWCPCP" style="border:none;display:none;">
                <div class="col-lg-6">
                    <div class="form-group">
                        <input type="checkbox" name="chk" id="chk10">
                        <span class="content" style="padding-left:10px;">Recipient Issue</span>
                    </div>
                    <div class="form-group">
                        <label data-toggle="collapse" data-target="#window3">
                            <input type="checkbox" name="chk" id="chk20">
                        </label>
                        <span class="content" style="padding-left:10px;">Billing Issue</span>
                        <div class="panel-collapse collapse" id="window3" style="margin-left:50px; margin-top:10px ">
                            <div class="form-group">
                                <input type="checkbox" name="chk20" id="chk20.1">
                                <span class="content" style="padding-left:10px;">How to bill</span>
                            </div>
                            <div class="form-group">
                                <input type="checkbox" name="chk20" id="chk20.2">
                                <span class="content" style="padding-left:10px;">Claims denial</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label data-toggle="collapse" data-target="#window4">
                            <input type="checkbox" name="chk" id="chk30">
                        </label>
                        <span class="content" style="padding-left:10px;">DETEC or data entry issue</span>
                        <div class="panel-collapse collapse" id="window4" style="margin-left:50px; margin-top:10px">
                            <div class="form-group">
                                <input type="checkbox" name="chk20" id="chk20.1" autocomplete="off">
                                <span class="content" style="padding-left:10px;">Training request, DETEC</span>
                            </div>
                            <div class="form-group">
                                <input type="checkbox" name="chk20" id="chk20.2" autocomplete="off">
                                <span class="content" style="padding-left:10px;">Error Remediation</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label data-toggle="collapse" data-target="#window5">
                            <input type="checkbox" name="chk" id="chk40">
                        </label>
                        <span class="content" style="padding-left:10px;">Clarification of Program or Clinical Issue</span>
                        <div class="panel-collapse collapse" id="window5" style="margin-left:50px; margin-top:10px">
                            <div class="form-group">
                                <input type="checkbox" name="chk20" id="chk20.1" autocomplete="off">
                                <span class="content" style="padding-left:10px;">Covered benefits</span>
                            </div>
                            <div class="form-group">
                                <input type="checkbox" name="chk20" id="chk20.2" autocomplete="off">
                                <span class="content" style="padding-left:10px;">Program policy</span>
                            </div>
                            <div class="form-group">
                                <input type="checkbox" name="chk20" id="chk20.2" autocomplete="off">
                                <span class="content" style="padding-left:10px;">Training Request, CPPI</span>
                            </div>
                            <div class="form-group">
                                <input type="checkbox" name="chk20" id="chk20.2" autocomplete="off">
                                <span class="content" style="padding-left:10px;">Training Request, Clinical Algorithm</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <input type="checkbox" name="chk" id="chk50" autocomplete="off">
                        <span class="content" style="padding-left:10px;">Request for Case Management Navigation</span>
                    </div>
                    <div class="form-group">
                        <input type="checkbox" name="chk" id="chk60" autocomplete="off">
                        <span class="content" style="padding-left:10px;">PCP Enrollment/Disenrollment, Addition/Removal of<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;Unregistered or Satellite Facility</span>
                    </div>
                    <div class="form-group">
                        <label data-toggle="collapse" data-target="#window6">
                            <input type="checkbox" name="chk" id="chk70">
                        </label>
                        <span class="content" style="padding-left:10px;">Other or Notes for Selected Problem/Issue</span>
                        <div class="panel-collapse collapse" id="window6" style="margin-left:25px">
                            
                            <div class="form-group col-md-8" >
                                <textarea class="form-control" id="txtBoxOther701"  placeholder="" cols="50" rows="2"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- panel issueEWCPCP ends here -->
            <div class="panel-group" id="issueReferralProvider" style="border:none;display:none;">
                <div class="col-lg-6">
                    <div class="form-group">
                        <input type="checkbox" name="chk" id="chk11">
                        <span class="content" style="padding-left:10px;">Recipient Issue</span>
                    </div>
                    <div class="form-group">
                        <label data-toggle="collapse" data-target="#window7">
                            <input type="checkbox" name="chk" id="chk21">
                        </label>
                        <span class="content" style="padding-left:10px;">Billing Issue</span>
                        <div class="panel-collapse collapse" id="window7" style="margin-left:50px; margin-top:10px">
                            <div class="form-group">
                                <input type="checkbox" name="chk20" id="chk20.1" autocomplete="off">
                                <span class="content" style="padding-left:10px;">How to bill</span>
                            </div>
                            <div class="form-group">
                                <input type="checkbox" name="chk20" id="chk20.2" autocomplete="off">
                                <span class="content" style="padding-left:10px;">Claims denial</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label data-toggle="collapse" data-target="#window8">
                            <input type="checkbox" name="chk" id="chk31">
                        </label>
                        <span class="content" style="padding-left:10px;">Clarification of Program or Clinical Issue</span>
                        <div class="panel-collapse collapse" id="window8" style="margin-left:50px; margin-top:10px">
                            <div class="form-group">
                                <input type="checkbox" name="chk20" id="chk20.1">
                                <span class="content" style="padding-left:10px;">Covered benefits</span>
                            </div>
                            <div class="form-group">
                                <input type="checkbox" name="chk20" id="chk20.2">
                                <span class="content" style="padding-left:10px;">Program policy</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="checkbox" name="chk" id="chk41">
                        <span class="content" style="padding-left:10px;">Request for Navigation</span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label data-toggle="collapse" data-target="#window9">
                            <input type="checkbox" name="chk" id="chk51">
                        </label>
                        <span class="content" style="padding-left:10px;">Other or Notes for Selected Problem/Issue</span>
                        <div class="panel-collapse collapse" id="window9" style="margin-left:25px">
                          
                            <div class="form-group col-md-8">
                                <textarea class="form-control" id="txtBoxOther511" cols="50" rows="2"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- panel issueReferralProvider ends here -->
            <div class="panel-group" id="issueProgramCPartnerPotentialEE" style="border:none;display:none;">
                <div class="col-lg-6">
                    <div class="form-group">
                        <input type="checkbox" name="chk" id="chk12" autocomplete="off">
                        <span class="content" style="padding-left:10px;">EWC Program Information</span>
                    </div>
                    <div class="form-group">
                        <input type="checkbox" name="chk" id="chk22" autocomplete="off">
                        <span class="content" style="padding-left:10px;">Courtesy Enrollment procedure question</span>
                    </div>
                    <div class="form-group">
                        <input type="checkbox" name="chk" id="chk32" autocomplete="off">
                        <span class="content" style="padding-left:10px;">Request for Navigation (e.g., BCCTP or other)</span>
                    </div>
                    <div class="form-group">
                        <input type="checkbox" name="chk" id="chk42" autocomplete="off">
                        <span class="content" style="padding-left:10px;">Invitation to meeting or conference</span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label data-toggle="collapse" data-target="#window10">
                            <input type="checkbox" name="chk" id="chk52">
                        </label>
                        <span class="content" style="padding-left:10px;">Other or Notes for Selected Problem/Issue</span>
                        <div class="panel-collapse collapse" id="window10" style="margin-left:25px">
                            <div class="form-group col-md-8">
                                <textarea class="form-control" id="txtBoxOther521" cols="50" rows="2" ></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- panel issueProgramCPartnerPotentialEE ends here -->
            <div class="panel-group" id="issueOther" style="border:none;display:none;">
                <div class="form-group">
                    <div class="form-group col-md-11">
                        <textarea class="form-control" id="txtBoxOther131" name="txtBoxOther131" cols="30" rows="3"></textarea>
                    </div>
                </div>
            </div>
            <!-- panel issueOther ends here -->
        </div>
    </div>

    <div class="panel-footer col-md-12" style="border:none">
        <div class="row">
            <div class="col-md-7"></div>
            <div class="col-md-5">
                <div class="col-md-11 pull-right">


                    <a onclick="showHideTab('one')" class="btn" id="back-step" style="cursor:pointer;background-color: #3a3a3a;border: 2px #cfcfcf;font-size: 18px !important;color: #fff;"> <span class="glyphicon glyphicon-arrow-left"></span> Previous </a>
                    <a href="#" class="btn btn-success" style="background-color: #3a3a3a;border: 2px #cfcfcf;font-size: 18px !important;" id="activate-step"> &nbsp;&nbsp;&nbsp;Save&nbsp;&nbsp;&nbsp;</a>

                    <a onclick="showHideTab('three')" class="btn" id="back-step" style="cursor:pointer;background-color: #3a3a3a;border: 2px #cfcfcf;font-size: 18px !important;color: #fff;">  &nbsp;&nbsp;&nbsp; Next <span class="glyphicon glyphicon-arrow-right"></span>&nbsp;&nbsp;  </a>
                </div>

            </div>

        </div>
        @*<div class="form-group">
            <div class="col-sm-offset-8">
                <a onclick="showHideTab('one')" class="btn" id="back-step" style="cursor:pointer;background-color: #3a3a3a;border: 2px #cfcfcf;font-size: 18px !important;color: #fff;"> &lt;&lt; Previous  </a>
                <a href="#" class="btn btn-success" style="background-color: #3a3a3a;border: 2px #3a3a3a;font-size: 18px !important;" id="activate-step"> &nbsp;&nbsp;&nbsp;Save&nbsp;&nbsp;&nbsp;</a>
                <a onclick="showHideTab('three')" class="btn" id="back-step" style="cursor:pointer;background-color: #3a3a3a;border: 2px #cfcfcf;font-size: 18px !important;color: #fff;">  Next &gt;&gt; </a>
            </div>
        </div>*@
    </div>
    <div class="col-lg-12">
        <br />
    </div>

</div>

<script type="text/javascript">

    $(document).ready(function () {

        $('#requestTab').find(':checkbox[name=requester]').change(function (e) {

            if (e.target.checked) {

                //initialized panels
                $('#headRecipient').css('display', 'none');
                $('#issueRecipient').css('display', 'none');
                $('#headEWCPCP').css('display', 'none');
                $('#issueEWCPCP').css('display', 'none');
                $('#headReferralProvider').css('display', 'none');
                $('#issueReferralProvider').css('display', 'none');
                $('#headProgramCPartnerPotentialEE').css('display', 'none');
                $('#issueProgramCPartnerPotentialEE').css('display', 'none');
                $('#headOther').css('display', 'none');
                $('#issueOther').css('display', 'none');

                var tab = e.target.id;

                if (tab == 'rad1') {
                    $('#headRecipient').css('display', 'block');
                    $('#issueRecipient').css('display', 'block');
                    $('#headEWCPCP').css('display', 'none');
                    $('#issueEWCPCP').css('display', 'none');
                    $('#headReferralProvider').css('display', 'none');
                    $('#issueReferralProvider').css('display', 'none');
                    $('#headProgramCPartnerPotentialEE').css('display', 'none');
                    $('#issueProgramCPartnerPotentialEE').css('display', 'none');
                    $('#headOther').css('display', 'none');
                    $('#issueOther').css('display', 'none');
                }
                else if (tab == 'rad2') {
                    $('#headRecipient').css('display', 'none');
                    $('#issueRecipient').css('display', 'none');
                    $('#headEWCPCP').css('display', 'block');
                    $('#issueEWCPCP').css('display', 'block');
                    $('#headReferralProvider').css('display', 'none');
                    $('#issueReferralProvider').css('display', 'none');
                    $('#headProgramCPartnerPotentialEE').css('display', 'none');
                    $('#issueProgramCPartnerPotentialEE').css('display', 'none');
                    $('#headOther').css('display', 'none');
                    $('#issueOther').css('display', 'none');
                }
                else if (tab == 'rad3') {
                    $('#headRecipient').css('display', 'none');
                    $('#issueRecipient').css('display', 'none');
                    $('#headEWCPCP').css('display', 'none');
                    $('#issueEWCPCP').css('display', 'none');
                    $('#headReferralProvider').css('display', 'block');
                    $('#issueReferralProvider').css('display', 'block');
                    $('#headProgramCPartnerPotentialEE').css('display', 'none');
                    $('#issueProgramCPartnerPotentialEE').css('display', 'none');
                    $('#headOther').css('display', 'none');
                    $('#issueOther').css('display', 'none');
                }
                else if (tab == 'rad4') {
                    $('#headRecipient').css('display', 'none');
                    $('#issueRecipient').css('display', 'none');
                    $('#headEWCPCP').css('display', 'none');
                    $('#issueEWCPCP').css('display', 'none');
                    $('#headReferralProvider').css('display', 'none');
                    $('#issueReferralProvider').css('display', 'none');
                    $('#headProgramCPartnerPotentialEE').css('display', 'block');
                    $('#issueProgramCPartnerPotentialEE').css('display', 'block');
                    $('#headOther').css('display', 'none');
                    $('#issueOther').css('display', 'none');
                }
                else if (tab == 'rad5') {
                    $('#headRecipient').css('display', 'none');
                    $('#issueRecipient').css('display', 'none');
                    $('#headEWCPCP').css('display', 'none');
                    $('#issueEWCPCP').css('display', 'none');
                    $('#headReferralProvider').css('display', 'none');
                    $('#issueReferralProvider').css('display', 'none');
                    $('#headProgramCPartnerPotentialEE').css('display', 'none');
                    $('#issueProgramCPartnerPotentialEE').css('display', 'none');
                    $('#headOther').css('display', 'block');
                    $('#issueOther').css('display', 'block');
                }

            }


        });
        //var checkbox = $('#chk64');
        //var dependent = $('#txtBoxOther641');

        //if (checkbox.attr('checked') !== undefined) {

        //    dependent.show();

        //} else {
        //    dependent.hide();
        //}
        //checkbox.change(function (e) {
        //    dependent.toggle();


});

    function refreshCheckBoxes() {
        var item = document.getElementsByTagName('input');
        for(var i =0; i< item.length;  i++)
        {
            if(item[i].type == 'checkbox')
            {
                item[i].checked = false;
            }
        }
    }



//$('#datereferral').datepicker().on('changeDate', function (ev) {

//});
</script>

