﻿@model EWC_NSAA.ViewModels.RecipientViewModel

@Html.HiddenFor(model => model.tServiceRecipient.NSRecipientID)
@Html.HiddenFor(model => model.tRace.RaceID)

<div class="panel panel-default" style="border:none;     margin-top: -25px;" id="personalInfo">
    <h3 style="padding-left:17px"><b> Personal Information</b></h3>

    <div class="panel-body" style="margin-bottom: -20px;">
        <div class="row">
            <div class="col-md-8"></div>
            <div class="col-md-2" style="margin-left: 44px;">
                <div class="form-group">
                    <label>Recipient Id</label>
                        @Html.EditorFor(model => model.tServiceRecipient.FK_RecipID, new { htmlAttributes = new { @class = "form-control", id = "txtReceiptId", placeholder = "" } })
                        @Html.ValidationMessageFor(model => model.tServiceRecipient.FK_RecipID, "", new { @class = "text-danger" })
                    </div>

            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <span style="color:red;margin-left:-10px"> *</span>&nbsp;<label>First Name</label>
                    @Html.EditorFor(model => model.tServiceRecipient.FirstName, new { htmlAttributes = new { @class = "form-control", id = "txtFirstName" } })
                    @Html.ValidationMessageFor(model => model.tServiceRecipient.FirstName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-2">
                <div class="form-group">

                    <label>Middle Initial</label>
                    <div class="col-md-8" style="margin-left:-15px">
                        @Html.EditorFor(model => model.tServiceRecipient.MiddleInitial, new { htmlAttributes = new { @class = "form-control", id = "txtmiddlename" } })
                        @Html.ValidationMessageFor(model => model.tServiceRecipient.MiddleInitial, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-3" style="padding-right:40px;margin-left: -46px;">
                <div class="form-group">
                    <span style="color:red;margin-left:-10px;"> *</span>&nbsp;<label>Last Name</label>
                    @Html.EditorFor(model => model.tServiceRecipient.LastName, new { htmlAttributes = new { @class = "form-control", id = "txtLastName" } })
                    @Html.ValidationMessageFor(model => model.tServiceRecipient.LastName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-3" style="padding-right:70px;">
                <span style="color:red;margin-left:-10px"> *</span>&nbsp;<label>Date of Birth</label>
                <div class="input-group date">
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    @Html.EditorFor(model => model.tServiceRecipient.DOB, new { htmlAttributes = new { @class = "form-control", id = "txtDateofBirth" } })
                    @Html.ValidationMessageFor(model => model.tServiceRecipient.DOB, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-lg-1"></div>
        </div>

        <div class="row">


            <div class="col-md-4">
                <div class="form-group">
                    <label>Address</label>
                    @Html.EditorFor(model => model.tServiceRecipient.Address1, new { htmlAttributes = new { @class = "form-control", id = "txtAddress" } })
                    @Html.ValidationMessageFor(model => model.tServiceRecipient.Address1, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-1">
                <div class="form-group">
                    <label>Suite #</label>
                    @Html.EditorFor(model => model.tServiceRecipient.Address2, new { htmlAttributes = new { @class = "form-control", name = "apt" } })
                    @Html.ValidationMessageFor(model => model.tServiceRecipient.Address2, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <label>City</label>
                <div class="form-group">

                    @*<div class="col-md-10" style="margin-left:-15px">*@
                    @Html.EditorFor(model => model.tServiceRecipient.City, new { htmlAttributes = new { @class = "form-control", name = "txtcity" } })
                    @Html.ValidationMessageFor(model => model.tServiceRecipient.City, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-1">
                <div class="form-group">
                    <label>State</label>
                    @Html.EditorFor(model => model.tServiceRecipient.State, "CA", new { htmlAttributes = new { @class = "form-control", disabled = "disabled", @readonly = "readonly" } })
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>Zip Code</label><br />
                    <div class="col-md-8" style="margin-left:-15px; width:110px;">
                        @Html.EditorFor(model => model.tServiceRecipient.Zip, new { htmlAttributes = new { @class = "form-control", name = "txtzipcode" } })
                        @Html.ValidationMessageFor(model => model.tServiceRecipient.Zip, "", new { @class = "text-danger" })
                    </div>
                </div>

            </div>
            <div class="col-md-4" style="margin-left: -130px;">
                <label>Email</label>
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="glyphicon glyphicon-envelope"></i>
                    </div>
                    @Html.EditorFor(model => model.tServiceRecipient.Email, new { htmlAttributes = new { @class = "form-control", id = "email" } })
                    @Html.ValidationMessageFor(model => model.tServiceRecipient.Email, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>


        <div class="row" style="padding-top:10px;">
            <div class="col-md-3">
                <span style="color:red;margin-left:-10px"> *</span>&nbsp;<label>Primary Phone</label>
                <div class="col-md-11" style="margin-left:-15px">
                    <div class="form-group">

                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-phone"></i>
                            </div>
                            @Html.EditorFor(model => model.tServiceRecipient.Phone1, new { htmlAttributes = new { @class = "form-control", id = "phone1", placeholder = "(###) ###-####", maxlength = 10 } })
                            @Html.ValidationMessageFor(model => model.tServiceRecipient.Phone1, "", new { @class = "text-danger", maxlength = 10 })
                            <div class="col-xs-4 col-md-1">
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-3">
                <span style="color:red;margin-left:-10px"> *</span>&nbsp;<label>Primary Phone Type</label>
                <div class="col-md-10" style="margin-left:-15px;">
                    @Html.DropDownListFor(model => model.tServiceRecipient.P1PhoneType, EWC_NSAA.Controllers.EnrollmentController.GetPhoneTypeDropDown(), "Phone Type"
                , new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.tServiceRecipient.P1PhoneType, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-3" style="margin-left: -46px;">
                <span style="color:red;margin-left:-10px"> *</span>&nbsp;<label type="label">Personal Message  </label>
                <div class="form-group">
                    <label id="sliderLabel">
                        <input type="checkbox" />
                        <span id="slider">
                            <span id="sliderOn">Yes</span>
                            <span id="sliderOff">No</span>
                            <span id="sliderBlock"></span>
                        </span>
                        @Html.HiddenFor(model => model.tServiceRecipient.P1PersonalMessage, new { @id = "PersonalMsg1" })
                    </label>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-md-3" style="padding-top:10px">
                <label>Secondary Phone</label>
                <div class="col-md-11" style="margin-left:-15px">
                    <div class="form-group">

                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-phone"></i>
                            </div>
                            @Html.EditorFor(model => model.tServiceRecipient.Phone2, new { htmlAttributes = new { @class = "form-control", id = "phone2", placeholder = "(###) ###-####", maxlength = 10 } })
                            @Html.ValidationMessageFor(model => model.tServiceRecipient.Phone2, "", new { @class = "text-danger" })
                            <div class="col-xs-4 col-md-1">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3" style="padding-top:10px">
                <label>Secondary Phone Type</label>
                <div class="col-md-10" style="margin-left:-15px">
                    @Html.DropDownListFor(model => model.tServiceRecipient.P2PhoneType, EWC_NSAA.Controllers.EnrollmentController.GetPhoneTypeDropDown(), "Phone Type"
               , new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.tServiceRecipient.P2PhoneType, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-3" style="padding-top:10px;margin-left: -46px;">
                <label type="label">Personal Message  </label>
                <div class="form-group">
                    <label id="sliderLabel">
                        <input type="checkbox" />
                        <span id="slider">
                            <span id="sliderOn">Yes</span>
                            <span id="sliderOff">No</span>
                            <span id="sliderBlock"></span>
                        </span>
                        @Html.HiddenFor(model => model.tServiceRecipient.P2PersonalMessage, new { @id = "PersonalMsg2" })
                    </label>
                </div>
            </div>


        </div>

    </div>

    <div class="panel-footer">

        <div class="row">
            <div class="col-md-9"></div>
            <div class="col-md-3 pull-left">
                <a href="#" class="btn btn-success" style="background-color: #3a3a3a;border: 2px #cfcfcf;font-size: 18px !important;" id="activate-step"> &nbsp;&nbsp;&nbsp;Save&nbsp;&nbsp;&nbsp;</a>
                <a onclick="showHideTab('demo')" class="btn" id="back-step" style="cursor:pointer;background-color: #3a3a3a;border: 2px #cfcfcf;font-size: 18px !important;color: #fff;">  &nbsp;&nbsp;&nbsp; Next <span class="glyphicon glyphicon-arrow-right"></span>&nbsp;&nbsp;  </a>

            </div>
            
        </div>
    </div>
</div>


<div class="panel panel-default" style="border:none;display:none; margin-top: -25px;" id="demographic">
    <h3 style="padding-left:17px"> <b>Demographic Information</b></h3>
    <br />
    <div class="panel-body" style="border: none;margin-bottom: -20px;">
        <div class="row">
            <div class="col-xs-4 col-md-2">
                <label type="label">New Immigrant  </label><br />
                <label id="sliderLabel">
                    <input type="checkbox" />
                    <span id="slider">
                        <span id="sliderOn">Yes</span>
                        <span id="sliderOff">No</span>
                        <span id="sliderBlock"></span>
                    </span>
                    @Html.HiddenFor(model => model.tServiceRecipient.ImmigrantStatus, new { @id = "ImmigrantStatus" })
                </label>
            </div>

            <div class="col-xs-4 col-md-3">
                <div class="form-group">
                    <label>Country of Orgin</label>
                    <div class="col-md-10" style="margin-left:-12px">
                        @Html.DropDownListFor(model => model.tServiceRecipient.CountryOfOrigin, EWC_NSAA.Controllers.EnrollmentController.GetCountriesDropDown(), "Select Country"
                   , new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.tServiceRecipient.CountryOfOrigin, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="col-xs-4 col-md-4" style="margin-left:-30px">
                <span style="color:red;margin-left:-12px"> *</span> <label type="label">Can effectively communicate in English  </label><br />
                <label id="sliderLabel">
                    <input type="checkbox" />
                    <span id="slider">
                        <span id="sliderOn">Yes</span>
                        <span id="sliderOff">No</span>
                        <span id="sliderBlock"></span>
                    </span>
                    @Html.HiddenFor(model => model.tServiceRecipient.AgreeToSpeakEnglish, new { @id = "SpeaksEngish" })
                </label>
            </div>

            <div class="col-xs-4 col-md-3">
                <div class="form-group">
                    <span style="color:red;margin-left:-10px"> *</span>&nbsp;<label>Primary/Preferred Language</label>
                    @Html.DropDownListFor(model => model.tServiceRecipient.PrimaryLanguage, EWC_NSAA.Controllers.EnrollmentController.GetLanguagesDropDown(), "-- Select Language --"
                    , new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.tServiceRecipient.PrimaryLanguage, "", new { @class = "text-danger" })
                </div>
            </div>

        </div>
        <div class="row" style="padding-top:15px;">

            <div class="col-md-3">
                <label type="label">Ethinicity </label>
                <br>
                <div class="radio-group">
                    <input type="checkbox" name="ethinicity" value="Hispanic" checked=""><label for="Hispanic">&nbsp; Hispanic</label>
                </div>
                <div class="radio-checkbox" style="padding-top:10px">

                    <input type="checkbox" name="ethinicity" value="NonHispanic"><label for="NonHispanic">&nbsp; Non-Hispanic</label>
                </div>

            </div>
            @*<div class="col-md-1"></div>*@
            <div class="col-md-9">
                <div class="col-md-12">
                    <label type="label">Race </label>
                    
                    <div class="row">
                        <div class="col-md-6">
                            <div class="checkbox-group">
                                <input type="checkbox" name="race" value="white" checked="" onclick="showDDL('w')"><label for="White">&nbsp; White</label>
                            </div>
                        </div>
                        <div class="col-md-offset-6">
                            <label>&nbsp;</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="radio-group">
                                <input type="checkbox" name="race" value="blackafrican" onclick="showDDL('af')"><label for="black">&nbsp; Black/African </label>
                            </div>
                        </div>
                        <div class="col-md-4">

                            <select class="form-control" id="ddlafrican" , style="visibility:hidden;" onchange="showafricanddl(this.value)">
                                <option value="" selected="selected">Select Race</option>
                                <option value="1">Other</option>

                            </select>
                            @*@Html.DropDownListFor(model => model.RaceAsianCode, EWC_NSAA.Controllers.EnrollmentController.GetRaceAsianDropDown(), new { @class = "form-control", @disabled = "disabled", id = "ddlafrican", style = "visibility:hidden;" })*@
                        </div>
                        <div class="col-md-4" style="width:250px;">
                            <input type="text" class="form-control" id="txtafrican" style="display:none;" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="radio-group">
                                <input type="checkbox" name="race" value="americanindain" onclick="showDDL('am')"><label for="Hispanic">&nbsp; American Indian/Alaskan Native</label>
                            </div>
                        </div>

                        <div class="col-md-offset-8">
                            <label>&nbsp;</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="radio-group">
                                <input type="checkbox" name="race" value="asian" onclick="showDDL('a')"><label for="asian">&nbsp; Asian</label>
                            </div>
                        </div>

                        <div class="col-md-4">
                            @Html.DropDownListFor(model => model.RaceAsianCode, EWC_NSAA.Controllers.EnrollmentController.GetRaceAsianDropDown()
                , new { @class = "form-control", @disabled = "disabled", id = "ddlAssian", style = "top-padding:60px;visibility:hidden;" })
                            @Html.ValidationMessageFor(model => model.RaceAsianCode, "", new { @class = "text-danger", @disabled = "disabled" })
                        </div>
                        <div class="col-md-4" style="width:250px;">
                            <input type="text" class="form-control" id="txtAsian" style="display:none;" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="radio-group">
                                <input type="checkbox" name="race" value="pacificislander" onclick="showDDL('p')"><label for="pacific">&nbsp; Pacific Islander</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            @Html.DropDownListFor(model => model.RacePacIslanderCode, EWC_NSAA.Controllers.EnrollmentController.GetRacePacIslanderDropDown()
                , htmlAttributes: new { @class = "form-control", id = "ddlPacific", @disabled = "disabled", style = "visibility:hidden;" })
                            @Html.ValidationMessageFor(model => model.RacePacIslanderCode, "", new { @class = "text-danger", @disabled = "disabled" })
                        </div>
                        <div class="col-md-4" style="width:250px;">
                            <input type="text" class="form-control" id="txtpacific" style="display:none;" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="radio-group">
                                <input type="checkbox" name="race" id="eastern" value="eastern" onclick="showDDL('e')"><label for="easteren">&nbsp; Middle Eastern</label>
                            </div>
                        </div>
                        <div class="col-md-offset-6">
                            <label>&nbsp;</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="radio-group">
                                <input type="checkbox" name="race" value="mixedrace" id="mixedrace" onclick="showDDL('m')"><label for="mixedrace">&nbsp; Mixed Race</label>
                            </div>
                        </div>
                        <div class="col-md-offset-6">
                            <label>&nbsp;</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="radio-group">
                                <input type="checkbox" name="race" value="americanindain" onclick="showDDL('other')"><label for="other">&nbsp; Other</label>
                            </div>
                        </div>
                        @*<div class="col-md-offset-6">*@
                        <div class="col-md-6">
                            @Html.EditorFor(model => model.tRace.RaceOther, new { htmlAttributes = new { @class = "form-control ", id = "ddlother", style = "visibility:hidden;" } })
                            @Html.ValidationMessageFor(model => model.tRace.RaceOther, "", new { @class = "text-danger ", @disabled = "disabled" })
                        </div>
                    </div>

                    <br />
                </div>
            </div>
        </div>
    </div>
    <div class="panel-footer">

        <div class="row">
            <div class="col-md-7"></div>
            <div class="col-md-5">
                <div class="col-md-11 pull-right" >
                    

                    <a onclick="showHideTab('personalInfo')" class="btn" id="back-step" style="cursor:pointer;background-color: #3a3a3a;border: 2px #cfcfcf;font-size: 18px !important;color: #fff;"> <span class="glyphicon glyphicon-arrow-left"></span> Previous </a>
                    <a href="#" class="btn btn-success" style="background-color: #3a3a3a;border: 2px #cfcfcf;font-size: 18px !important;" id="activate-step"> &nbsp;&nbsp;&nbsp;Save&nbsp;&nbsp;&nbsp;</a>

                    <a onclick="showHideTab('two')" class="btn" id="back-step" style="cursor:pointer;background-color: #3a3a3a;border: 2px #cfcfcf;font-size: 18px !important;color: #fff;">  &nbsp;&nbsp;&nbsp; Next <span class="glyphicon glyphicon-arrow-right"></span>&nbsp;&nbsp;  </a>
                    </div>

                </div>
            
        </div>
    </div>
</div>
<script>

    function showafricanddl(value) {
        
        if (value=="1") {
            $('#txtafrican').show();
        }
        else {
            $('#txtafrican').hide();
        }
    }
    function showDDL(value) {
        if (value == 'a') {
            $('#ddlPacific').attr('disabled', 'disabled').css("visibility", "hidden");
            $('#ddlother').attr('disabled', 'disabled').css("visibility", "hidden");
            $('#ddlAssian').removeAttr('disabled').css("visibility", "visible");
            //$('#ddlafrican').attr('disabled', 'disabled').css("visibility", "hidden");
            $('#ddlafrican').css("visibility", "hidden");
        }
        else if (value == 'p') {
            $('#ddlAssian').attr('disabled', 'disabled').css("visibility", "hidden");
            $('#ddlother').attr('disabled', 'disabled').css("visibility", "hidden");
            $('#ddlPacific').removeAttr('disabled').css("visibility", "visible");
            $('#ddlafrican').css("visibility", "hidden");
        }
        else if (value == 'other') {
            $('#ddlAssian').attr('disabled', 'disabled').css("visibility", "hidden");
            $('#ddlPacific').attr('disabled', 'disabled').css("visibility", "hidden");
            $('#ddlother').removeAttr('disabled').css("visibility", "visible");
            $('#ddlafrican').css("visibility", "hidden");
        }
        else if (value == 'af') {

            $('#ddlother').attr('disabled', 'disabled').css("visibility", "hidden");
            $('#ddlAssian').attr('disabled', 'disabled').css("visibility", "hidden");
            $('#ddlPacific').attr('disabled', 'disabled').css("visibility", "hidden");
            $('#ddlafrican').css("visibility", "visible");
        }
        else {

            $('#ddlafrican').attr('disabled', 'disabled').css("visibility", "hidden");
            $('#ddlother').attr('disabled', 'disabled').css("visibility", "hidden");
            $('#ddlAssian').attr('disabled', 'disabled').css("visibility", "hidden");
            $('#ddlPacific').css("visibility", "hidden");
        }

        $('#txtAsian').hide();
        $('#txtpacific').hide();
        
        $('#txtafrican').hide();

    }
    

    $('#ddlAssian').change(function () {

        if ($('#ddlAssian').val() == "20") {
            $('#txtAsian').show();
        }
        else {
            $('#txtAsian').hide();
        }


    });
    $('#ddlPacific').change(function () {

       
        if ($('#ddlPacific').val() == "24") {
            $('#txtpacific').show();
        }
        else {
            $('#txtpacific').hide();
        }


    });
    //$('#ddlPacific').change(function () {


    //    if ($('#ddlPacific').val() == "24") {
    //        $('#txtafrican').show();
    //    }
    //    else {
    //        $('#txtafrican').hide();
    //    }


    //});

    $(function () {

        $("input[name='ethnicity']").click(function () {

            if ($("#Hispanic").is(":checked")) {

                $("#Non-Hispanic").is(":unchecked");

            } else {

                $("#Hispanic").is(":unchecked");

            }

        });

    });

    /* For the primary phone, personal message option */
    $('#IsMsg1Enabled').change(function () {
        if ($(this).val() == true) {
            $('#PersonalMsg1').val(true);
        }
        else {
            $('#PersonalMsg1').val(false);
        }
    })

    /* For the secondary phone, personal message option */
    $('#IsMsg2Enabled').change(function () {
        if ($(this).val() == true) {
            $('#PersonalMsg2').val(true);
        }
        else {
            $('#PersonalMsg2').val(false);
        }
    })

    /* For the Immigration Status, personal message option */
    $('#IsImmigrant').change(function () {
        if ($(this).val() == true) {
            $('#ImmigrantStatus').val(true);
        }
        else {
            $('#ImmigrantStatus').val(false);
        }
    })

    /* For the Immigration Status, personal message option */
    $('#IsEnglishSpeaker').change(function () {
        if ($(this).val() == true) {
            $('#SpeaksEngish').val(true);
        }
        else {
            $('#SpeaksEngish').val(false);
        }
    })

    /*For the Primary Phone*/
    $('#phone1').keyup(function () {
        var text = $(this).val();
        var format = "";
        if (text.length == 10) {
            format = "(" + text.substr(0, 3) + ") " + text.substr(3, 3) + "-" + text.substr(6, 4) + "";
        }
        else {
            format = $(this).val();
        }

        $(this).val(format);
    });
    /* For the Secondary Phone */

    $('#phone2').keyup(function () {
        var text = $(this).val();
        var format = "";
        if (text.length == 10) {
            format = "(" + text.substr(0, 3) + ") " + text.substr(3, 3) + "-" + text.substr(6, 4) + "";
        }
        else {
            format = $(this).val();
        }

        $(this).val(format);
    });




</script>
