﻿@using MvcCheckBoxList.Model
@model EWC_NSAA.ViewModels.RecipientViewModel

@{
    Layout = null;
}

@{var htmlListInfo = new HtmlListInfo(HtmlTag.vertical_columns, 3, null, TextLayout.Default, TemplateIsUsed.Yes); }

<div class="row">
    <div class="checkBoxListFor">
        <p>
            <label>Please Select Race:</label>

            @Html.CheckBoxListFor(model => model.postedRace.RaceIds,
                                    model => model.AvailableRace,
                                    race => race.RaceCode,
                                    race => race.RaceName,
                                    model => model.SelectedRace,
                                    htmlListInfo)



        </p>
    </div>
</div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                @Html.LabelFor(model => model.RaceAsianCode, "Asian", htmlAttributes: new { @class = "control-label col-md-5", @disabled = "disabled" })
                <div class="col-md-offset-5">
                    @Html.DropDownListFor(model => model.RaceAsianCode, EWC_NSAA.Controllers.EnrollmentController.GetRaceAsianDropDown(), htmlAttributes: new { @disabled = "disabled" })
                    @Html.ValidationMessageFor(model => model.RaceAsianCode, "", new { @class = "text-danger", @disabled = "disabled" })
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                @Html.LabelFor(model => model.RacePacIslanderCode, "Pacific Islander", htmlAttributes: new { @class = "control-label col-md-5", @disabled = "disabled" })
                <div class="col-md-offset-5">
                    @Html.DropDownListFor(model => model.RacePacIslanderCode, EWC_NSAA.Controllers.EnrollmentController.GetRacePacIslanderDropDown(), htmlAttributes: new { @disabled = "disabled" })
                    @Html.ValidationMessageFor(model => model.RacePacIslanderCode, "", new { @class = "text-danger", @disabled = "disabled" })
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                @Html.LabelFor(model => model.tRace.RaceOther, "Race - Other", htmlAttributes: new { @class = "control-label col-md-5", @disabled = "disabled" })
                <div class="col-md-offset-5">
                    @Html.EditorFor(model => model.tRace.RaceOther, new { htmlAttributes = new { @class = "form-control ", @disabled = "disabled" } })
                    @Html.ValidationMessageFor(model => model.tRace.RaceOther, "", new { @class = "text-danger ", @disabled = "disabled"  })
                </div>
            </div>
        </div>
    </div>
    



