﻿@using MvcCheckBoxList.Model
@model EWC_NSAA.ViewModels.NavigationCycleViewModel

@{
    Layout = null;
}

@{var htmlListInfo = new HtmlListInfo(HtmlTag.vertical_columns, 3, null, TextLayout.Default, TemplateIsUsed.Yes); }

<div class="row">
    <div class="col-md-12">
        <div class="checkBoxListFor">
            <p>@if (Model.postedWeekday != null)
            {
                <label>Day:</label>
                @Html.CheckBoxListFor(model => model.postedWeekday.WeekdayIds,
                                       model => model.AvailableWeekday,
                                       weekday => weekday.WeekdayCode,
                                       weekday => weekday.WeekdayName,
                                       model => model.SelectedWeekday,
                                       htmlListInfo)
            }
            </p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="checkBoxListFor">
            <p>@if (Model.postedTime != null)
            {
                <label>Time:</label>

                @Html.CheckBoxListFor(model => model.postedTime.TimeIds,
                                            model => model.AvailableTime,
                                            time => time.TimeCode,
                                            time => time.TimeName,
                                            model => model.SelectedTime,
                                            htmlListInfo)
            }
            </p>
            
        </div>

    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            @Html.LabelFor(model => model.tNavigationCycle.ContactPrefHoursOther, "Contact Preference Hours - Other", htmlAttributes: new { @class = "control-label col-md-5" })
            <div class="col-md-offset-5">
                @Html.EditorFor(model => model.tNavigationCycle.ContactPrefHoursOther, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.tNavigationCycle.ContactPrefHoursOther, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            @Html.LabelFor(model => model.tNavigationCycle.ContactPrefType, "Contact Preference", htmlAttributes: new { @class = "control-label col-md-5" })
            <div class="col-md-offset-5">
                @Html.DropDownListFor(model => model.tNavigationCycle.ContactPrefType, EWC_NSAA.Controllers.NavigationCyclesController.GetContactPrefDropDown(), "--Select Contact Preference--")
                @Html.ValidationMessageFor(model => model.tNavigationCycle.ContactPrefType, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
</div>






