﻿@model EWC_NSAA.ViewModels.NavigationCycleViewModel
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="~/Content/custom.css" rel="stylesheet" />
</head>

@*@if (TempData["FeedbackMessage"] != null)
    {
        <div class="alert alert-info">
            <strong>@TempData["FeedbackMessage"]</strong>
        </div>
    }*@

@*<div class="row col-md-12" style="MARGIN-LEFT:4px;margin-top: 40px;">*@


<div class="panel panel-default" style="border:none;     margin-top: -10px;">
    @*<div class="panel panel-default margin30">*@
    <h3 style="padding-left:12px"><b>Referral Information</b></h3><br />
    <div class="panel-body" style="margin-bottom: -40px;">
        @*<div class="col-md-12" style="margin-left: -30px;margin-bottom: 40px;">*@
        <div class="row">
            <div class="col-md-3">


                <label>Navigation Needed</label>
                @Html.DropDownListFor(model => model.tNavigationCycle.NSProblem, EWC_NSAA.Controllers.NavigationCyclesController.GetNSProblemDropDown()
                    , new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.tNavigationCycle.NSProblem, "", new { @class = "text-danger" })
            </div>

            <div class="col-md-2" style="margin-left: 90px;">

                <div class="form-group">
                    <label class="pull-left">Cancer Site</label>
                    <div class="col-md-8" style="margin-left:-15px">
                        @Html.DropDownListFor(model => model.tNavigationCycle.CancerSite, EWC_NSAA.Controllers.NavigationCyclesController.GetCancerSiteDropDown()
                             , new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.tNavigationCycle.CancerSite, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-3">
                <label>Identified or Referred by</label>
                <input class="form-control" name="txtstate" placeholder="" type="text" />
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-3">
                <label>Date of Referral</label>
                <div class="col-md-10" style="margin-left:-15px">
                    <div class="input-group date">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>

                        <input type="text" id="datereferral" class="form-control pull-right" placeholder="">


                    </div>
                </div>
            </div>
        </div>

    </div>
    <br /><br />
    <div class="col-md-12 panel-footer" style="border: none;">
        <div class="row">
            <div class="col-md-7"></div>
            <div class="col-md-5">
                <div class="col-md-11 pull-right">


                    <a onclick="showHideTab('one')" class="btn" id="back-step" style="cursor:pointer;background-color: #3a3a3a;border: 2px #cfcfcf;font-size: 18px !important;color: #fff;"> <span class="glyphicon glyphicon-arrow-left"></span> Previous </a>
                    <a href="#" class="btn btn-success" style="background-color: #3a3a3a;border: 2px #cfcfcf;font-size: 18px !important;" id="activate-step"> &nbsp;&nbsp;&nbsp;Save&nbsp;&nbsp;&nbsp;</a>

                    <a onclick="showHideTab('three')" class="btn" id="back-step" style="cursor:pointer;background-color: #3a3a3a;border: 2px #cfcfcf;font-size: 18px !important;color: #fff;">  &nbsp;&nbsp;&nbsp; Next <span class="glyphicon glyphicon-arrow-right"></span>&nbsp;&nbsp;  </a>
                </div>

            </div>

        </div>
    </div>
    <br />
</div>
<br />


@*</div>*@




<script>
        $('#datereferral').datepicker().on('changeDate', function (ev) {

        });
</script>
