﻿@model EWC_NSAA.ViewModels.NavigatorViewModel
<h4>Trainings</h4>
@{
    WebGrid grid = new WebGrid(source: Model.Trainings);
}

<div id="gridContent" style="padding:20px;">
    @grid.GetHtml(
    htmlAttributes: new { id = "grid" },
    tableStyle: "webgrid-table",
    headerStyle: "webgrid-header",
    footerStyle: "webgrid-footer",
    alternatingRowStyle: "webgrid-alternating-row",
    selectedRowStyle: "webgrid-selected-row",
    rowStyle: "webgrid-row-style",
    mode: WebGridPagerModes.All,
    columns:
        grid.Columns(
        grid.Column(null, null, format: @<text> @Html.HiddenFor(model => Model.TrainingID, new { id = "TrainingID" }) </text>),
        grid.Column("CourseName", "Course Name", format: @<text><span class="display-mode"><label id="lblCourseName">@item.CourseName</label></span>
                                                            </text>, style: "colWidth"),

        grid.Column("Organization", "Organization", format: @<text> <span class="display-mode"><label id="lblOrganization">@item.Organization</label></span>
                                                            </text>, style: "colWidth"),

        grid.Column("CompletionDt", "CompletionDt", format: @<text> <span class="display-mode"><label id="lblCompletionDt">@item.CompletionDt.ToString("dd/MM/yyy")</label></span>
                                                            </text>, style: "colWidth"),

        grid.Column("Certificate", "Certificate", format: @<text> <span class="display-mode"><input id="chkCertificate" type="checkbox" checked="@item.Certificate" disabled="disabled" /></span>
                                                          </text>, style: "colWidth"),

         grid.Column("WritingScore", "Delete", format: @<text> <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="align-self:center">&times;</button>
        </text>, style: "col2Width")
    ))

</div>













































@*@model EWC_NSAA.ViewModels.NavigatorViewModel

<a data-toggle="modal" data-target="#TrainingPopup" class="btn btn-lg btn-default" id="addLanguage">Add Trainings</a>

<div style="margin-top:10px;">
    <table id="tblTrainingGrid" style="width:60%;border:1px solid gray" cellpadding="3" cellspacing="0">
        <thead>
            <tr>
                <td style="border-right:1px solid gray;text-align:center;font-weight:bold">
                    CourseName
                </td>
                <td style="border-right:1px solid gray;text-align:center;font-weight:bold">
                    Organization
                </td>
                <td style="border-right:1px solid gray;text-align:center;font-weight:bold">
                    CompletionDt
                </td>
                <td style="border-right:1px solid gray;text-align:center;font-weight:bold">
                    Certificate
                </td>
                <td style="border-right:1px solid gray;text-align:center;font-weight:bold">
                    Upload
                </td>
                <td style="text-align:center;font-weight:bold;width:40px">
                    &nbsp;Delete
                </td>
            </tr>
        </thead>
    </table>
</div>
<div class="modal fade" id="TrainingPopup">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Trainings</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-4">
                            <input class="form-control" name="coursename" id="coursename" placeholder="Course Name" type="text" required />
                        </div>
                        <div class="col-md-4">
                            <input class="form-control" name="organization" id="organization" placeholder="Organization" type="text" required />
                        </div>
                        <div class="col-md-4">
                            <input class="form-control" name="year" id="year" placeholder="mm/dd/yyyy" type="text" required />
                        </div>

                        <div class="col-md-4">
                            <label>Certification</label>

                            <input type="checkbox" name="certification" value="certification">
                        </div>
                        <div class="col-md-4">
                            <label>Upload</label>
                            <input type="checkbox" name="upload" value="upload">
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="saveChanges()">Save changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<script>
    var langname;
    var org = "";
    var yr;
    $('#TrainingPopup').on('shown', function () {
        //debugger;
        //langname = $("#coursename").val();
        //org = $("#organization").val();
        //yr = $("#year").text();
    });
    function saveChanges() {
        //debugger;
        langname = $("#coursename").val();
        org = $("#organization").val();
        yr = $("#year").val();
        $('#TrainingPopup').modal('hide');
  buildBody();
    }
    function buildHeader() {
        $('#tblTrainingGrid').addClass('webgrid-table');
        var isHeader = $('#tblTrainingGrid').find('thead').length > 0;
        if (isHeader) {
            var header = "<thead class='webgrid-header'>";
            header += "<tr><td>Course Name</td><td>Organization</td><td>mm/dd/yyyy</td><td>Certificate</td><td>Upload</td>";
            header + "</tr></thead>";
            $('#tblTrainingGrid').append(header);
        }
    }
    function buildBody() {
        var tr = "<tr class='webgrid-row-style'><td style='border-right:1px solid gray;text-align:left;padding:3px;border-top:1px solid gray'>" + langname + "</td>";
        tr += "<td style='border-right:1px solid gray;text-align:right;padding:3px;border-top:1px solid gray'>" + org + "</td>";
        tr += "<td style='border-right:1px solid gray;text-align:right;padding:3px;border-top:1px solid gray'>" + yr + "</td>";
        tr += "<td style='border-right:1px solid gray;text-align:center;padding:3px;border-top:1px solid gray'><i class='glyphicon glyphicon-unchecked' style='color:grey;cursor:pointer'></i></td>"
        tr += "<td style='border-right:1px solid gray;text-align:center;padding:3px;border-top:1px solid gray'><i class='glyphicon glyphicon-unchecked' style='color:grey;cursor:pointer'></i></td>"
        tr += "<td style='border-right:1px solid gray;text-align:center;padding:3px;border-top:1px solid gray'><i class='glyphicon glyphicon-remove' style='color:blue;cursor:pointer'></i></td></tr>"
        $('#tblTrainingGrid').append(tr);
    }

</script>*@