﻿<head>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="~/Content/custom.css" rel="stylesheet" />
</head>

<h4 style="color:green">Referral Information</h4>
<div class="row">
    <div class="col-xs-5 col-md-3">

        <div class="form-group">
            <label>Navigation Needed</label>
            <select class="form-control" style="width: 100%;">
                <option selected="selected">Screening</option>
                <option>Screening.</option>
                <option>Screening..</option>
                <option>Screening..</option>

            </select>
        </div>
    </div>
    <div class="col-xs-5 col-md-3">
        <div class="form-group">
            <label>Cancer Site</label>
            <select class="form-control" style="width: 100%;">
                <option selected="selected">1</option>
                <option>2.</option>
                <option>3..</option>
                <option>4..</option>

            </select>
        </div>
    </div>

   

    <div class="col-xs-5 col-md-3">

    </div>
    </div>
<br/>
<div class="row">


    <div class="col-xs-4 col-md-3">
        <label>Identified or Reffered by</label>
        <input class="form-control" name="txtstate" placeholder="Identified or Reffered by" type="text"  />
    </div>
    <div class="col-xs-4 col-md-3">
        <label>Date of Refferal</label>
        <div class="input-group date">
            <div class="input-group-addon">
                <i class="fa fa-calendar"></i>
            </div>
            
            <input type="text" id="datereferral" class="form-control pull-right" placeholder="Date of Refferal">


        </div>
    </div>
</div>

<div class="row"></div>
<div class="row"></div>
<div class="row"></div>
<div class="row"></div>
<div class="row"></div>
<div class="row"></div>
    <div class="row">

        <div class="col-xs-4 col-md-9">
        </div>
        <div class="col-xs-4 col-md-3">
            <div class="btn-group">
                <a onclick="showHideTab('one')" class="btn" id="back-step" style="cursor:pointer;background-color:orange"> Previous</a>
                <a href="#" class="btn btn-success" id="activate-step"> &nbsp;&nbsp;&nbsp;SAVE&nbsp;&nbsp;&nbsp;</a>
                <a onclick="showHideTab('three')" class="btn" id="back-step" style="cursor:pointer;background-color:orange">  Next >></a>
            </div>
        </div>

    </div>
<script>

    
 
    $('#datereferral').datepicker().on('changeDate', function (ev) {

    });
</script>