﻿<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <link href="~/Content/custom.css" rel="stylesheet" />
    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>*@
</head>


<h4 style="color:green"> Personal Information</h4>



<div class="row">
    <div class="col-xs-4 col-md-3">
        <input class="form-control" name="txtReceiptId" id="txtReceiptId" placeholder="EWC Recipient ID Name" type="text" required autofocus />
    </div>
    <div class="col-xs-4 col-md-3">

        <div class="input-group date">
            <div class="input-group-addon">
                <i class="fa fa-calendar"></i>
            </div>
            <input type="text" id="txtDateofBirth" class="form-control pull-right" placeholder="Date of Birth">


        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-xs-4 col-md-3">
        <input class="form-control" id="txtFirstname" placeholder="First Name" type="text" />

    </div>
    @*<div class="col-xs-4 col-md-2">
            <input class="form-control" name="middle_name" placeholder="Middle Name" type="text" required />
        </div>*@
    <div class="col-xs-4 col-md-3">
        <input class="form-control" id="txtLastname" placeholder="Last Name" type="text" required />
    </div>
    <div class="col-xs-4 col-md-4">
        <input class="form-control" id="txtmiddlename" placeholder="Middle Initail" type="text" required />
    </div>

</div>
<br />

<div class="row">
    <div class="col-xs-4 col-md-3">
        <input class="form-control" id="txtAddress" placeholder="Address" type="text" />

    </div>
    <div class="col-xs-4 col-md-3">
        <input class="form-control" name="apt" placeholder="App# or Suit" type="text" />
    </div>
    <div class="col-xs-4 col-md-2">
        <input class="form-control" name="txtcity" placeholder="City" type="text" />
    </div><div class="col-xs-4 col-md-1">
        <input class="form-control" name="txtstate" placeholder="CA" type="text" readonly />
    </div>
    <div class="col-xs-2 col-md-2">
        <input class="form-control" name="txtzipcode" placeholder="Zip Code" type="text" />
    </div>
</div>
<br />

<div class="row">



    @*<div class="col-xs-4 col-md-1">
        <label>Contact Phone</label>
    </div>
    <div class="col-xs-4 col-md-3">
        <div class="form-group">


            <div class="input-group">
                <div class="input-group-addon">
                    <i class="fa fa-phone"></i>
                </div>
                <input type="text" class="form-control" data-inputmask="&quot;mask&quot;: &quot;(999) 999-9999&quot;" data-mask="">
            </div>
        </div>
    </div>*@



    <div class="col-xs-4 col-md-3">
        <div class="form-group">

            <div class="input-group">
                <div class="input-group-addon">
                    <i class="fa fa-phone"></i>
                </div>
                @*<input type="text" class="form-control" data-inputmask="&quot;mask&quot;: &quot;(999) 999-9999&quot;" data-mask="">*@
                <input type="text" class="form-control" placeholder="Primary Phone">
                <div class="col-xs-4 col-md-1">
                </div>
            </div>
        </div>

    </div>
    <div class="col-xs-4 col-md-3">

        <select class="form-control">
            <option>Primary Phone Type</option>
            <option>HOME</option>
            <option>CELL/MOBILE</option>
            <option>MESSAGE</option>
            <option>WORK</option>
        </select>
    </div>


    <div class="col-xs-4 col-md-3">
        <label type="label"> Personal Message  </label>
   

        <label id="sliderLabel">
            <input type="checkbox" />
            <span id="slider">
                <span id="sliderOn">Yes</span>
                <span id="sliderOff">NO</span>
                <span id="sliderBlock"></span>
            </span>
        </label>

    </div>

</div>

<div class="row">

    <div class="col-xs-4 col-md-3">
        <div class="form-group">

            <div class="input-group">
                <div class="input-group-addon">
                    <i class="fa fa-phone"></i>
                </div>
                @*<input type="text" class="form-control" data-inputmask="&quot;mask&quot;: &quot;(999) 999-9999&quot;" data-mask="">*@
                <input type="text" class="form-control" placeholder="Secondary Phone">
                <div class="col-xs-4 col-md-1">
                </div>
            </div>
        </div>

    </div>
    <div class="col-xs-4 col-md-3">

        <select class="form-control">
            <option>Secondary Phone Type</option>
            <option>HOME</option>
            <option>CELL/MOBILE</option>
            <option>MESSAGE</option>
            <option>WORK</option>
        </select>
    </div>


    <div class="col-xs-4 col-md-3">
        <label type="label"> Personal Message  </label>
   

        <label id="sliderLabel">
            <input type="checkbox" />
            <span id="slider">
                <span id="sliderOn">Yes</span>
                <span id="sliderOff">NO</span>
                <span id="sliderBlock"></span>
            </span>
        </label>

    </div>
    <div class="col-xs-4 col-md-3">
        <div class="input-group">
            <div class="input-group-addon">
                <i class="glyphicon glyphicon-envelope"></i>
            </div>
            <input id="email" type="text" placeholder="Email" class="form-control" />
        </div>
    </div>
</div>




@*<div class="row">
    <div class="col-xs-4 col-md-4">
        <div class="input-group">
            <div class="input-group-addon">
                <i class="glyphicon glyphicon-envelope"></i>
            </div>
            <input id="email" type="text" placeholder="Email" class="form-control" />
        </div>
    </div>
    <div class="col-xs-4 col-md-4">

    </div>
    <div class="col-xs-4 col-md-4">

    </div>
</div>*@


<h4 style="color:green"> Demographic Information</h4>

<div class="row">

    <div class="col-xs-4 col-md-2">
        <label type="label">New Immigrant  </label><br />
        <label id="sliderLabel">
            <input type="checkbox" />
            <span id="slider">
                <span id="sliderOn">Yes</span>
                <span id="sliderOff">NO</span>
                <span id="sliderBlock"></span>
            </span>
        </label>
    </div>

    <div class="col-xs-4 col-md-3">
        <div class="form-group">
            <label>Contry of Orgin</label>
            <select class="form-control" style="width: 100%;">
                <option selected="selected">USA</option>
                <option>Japan</option>
                <option>China</option>
                <option>India</option>

            </select>
        </div>
    </div>

    <div class="col-xs-4 col-md-3">
        <label type="label">Can effectively communicate in English  </label><br />
        <label id="sliderLabel">
            <input type="checkbox" />
            <span id="slider">
                <span id="sliderOn">Yes</span>
                <span id="sliderOff">NO</span>
                <span id="sliderBlock"></span>
            </span>
        </label>
    </div>

    <div class="col-xs-4 col-md-4">
        <div class="form-group">
            <label>Primary Language</label>
            <select class="form-control" style="width: 100%;">
                <option selected="selected">English</option>
                <option>Japan</option>
                <option>Spanish</option>
                <option>German</option>

            </select>
        </div>
    </div>

</div>
<div class="row">
    <div class="col-xs-4 col-md-2">
        <label type="label">Ethinicity </label> <br />

        <input type="radio" name="ethinicity" value="Hispanic" checked=""><label for="Hispanic"> Hispanic</label><br />
        <input type="radio" name="ethinicity" value="NonHispanic"><label for="NonHispanic"> Non-Hispanic</label>
        @*<input type="radio" name="other" value="other"><label for="other"> other</label>*@
    </div>


    <div class="col-xs-4 col-md-3">
        <label type="label">Please Select the Race </label> <br />
        <select class="form-control">
            <option>Please Select the Race</option>
            <option>White</option>
            <option>African American</option>
            <option>Asian</option>
            <option>Pacific Islander</option>
            <option>American Indian/Alaskan Native</option>
        </select>
    </div>
    <br />

    <div class="col-xs-4 col-md-3">

        <select class="form-control">
            <option>ASIAN</option>
            <option>A</option>
            <option>B</option>
            <option>C</option>
            <option>D</option>
        </select>
    </div>


    <div class="col-xs-4 col-md-3">

        <select class="form-control">
            <option>PACIFIC ISLANDER</option>
            <option>A</option>
            <option>B</option>
            <option>C</option>
            <option>D</option>
        </select>
    </div>
</div>


<div class="row">
    <div class="col-xs-4 col-md-2"></div>
        

        <div class="col-xs-4 col-md-3">
            <div class="form-group">
                <!-- <label for="exampleInputPassword1">FIRST NAME<span class="star">*</span></label> -->
                <input type="text" class="form-control" id="exampleInputPassword1" placeholder="RACE-OTHER">
            </div>
        </div>


    <div class="col-xs-4 col-md-3"></div>

        <div class="col-xs-4 col-md-3">
            <div class="btn-group">
                <a href="#" class="btn btn-success" id="activate-step"> &nbsp;&nbsp;&nbsp;SAVE&nbsp;&nbsp;&nbsp;</a>
                @*<a onclick="showHideTab('two')" class="btn bg-orange" id="back-step" style="cursor:pointer;background-color:orange">  Next >></a>*@
                <a onclick="showHideTab('two')" class="btn bg-orange" id="back-step" style="cursor:pointer;background-color:orange">  Next >></a>
            </div>
        </div>
    </div>


        @*<br />

        <div class="row">

            <div class="col-xs-4 col-md-9">
            </div>
            <div class="col-xs-4 col-md-3">
                <div class="btn-group">
                    <a href="#" class="btn btn-success" id="activate-step"> &nbsp;&nbsp;&nbsp;SAVE&nbsp;&nbsp;&nbsp;</a>
                    @*<a onclick="showHideTab('two')" class="btn bg-orange" id="back-step" style="cursor:pointer;background-color:orange">  Next >></a>*@
                    @*<a onclick="showHideTab('two')" class="btn bg-orange" id="back-step" style="cursor:pointer;background-color:orange">  Next >></a>
                </div>
            </div>

        </div>*@
