﻿@*@using MvcCheckBoxList.Model
    @model EWC_NSAA.ViewModels.NavigationCycleViewModel

    @{
        Layout = null;
    }

    @{var htmlListInfo = new HtmlListInfo(HtmlTag.vertical_columns, 3, null, TextLayout.Default, TemplateIsUsed.Yes); }*@
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/custom.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<style>
    /*.panel {
        padding-left:70px;
        width:1300px;
    }*/
</style>
<div class="panel panel-default" style="border:none">
    <h3 style="padding-left:20px"><b>Additional / Caregiver Contact</b></h3><br />
    <div class="panel-body" style="margin-bottom: -20px;">
        <div class="col-md-12">

            <div class="row">

                <div class="col-md-4" style="margin-left:-10px">
                    <label>Contact Name</label>


                    <input class="form-control" name="contact name" id="contact name" placeholder="" type="text" required="" autofocus="">

                </div>


                @*@*<div class="col-md-2"><label>Relationship:</label></div>*@

                <div class="col-md-8">
                    <label>Relationship</label>
                    <br />
                    <input type="checkbox" name="facility1" id="facility1" autocomplete="off">
                    <span class="content" style="margin-right: 56px;">Family Support</span>
                    <input type="checkbox" name="facility1" id="facility2" autocomplete="off" style="padding-right:10px">
                    <span class="content">Community</span>

                    <span class="content">Support</span>


                    <input type="checkbox" name="facility1" id="facility3" autocomplete="off" style="margin-left:30px" checked="">
                    <span class="content">Professional</span>
                    <span class="content">Caretaker</span>
                   
                   
                </div>
                <div class="col-md-8">
                    <input type="checkbox" name="facility1" id="facility4" autocomplete="off" checked="" style="padding-top:10px;">
                    <span class="content" style="margin-right: 35px;margin-top: -10px;">Shelter</span>

                    <input type="checkbox" name="facility1" id="Other" autocomplete="off" onclick="showselected('Other')" style="margin-left: 83px;">
                    <span class="content">
                        Other
                        <input class="form-control" name="relationother" id="relationother" placeholder="" type="text" style="visibility: hidden;width: 200px;/* float: right; */margin-left: 290px;margin-top: -20px;" required autofocus />
                    </span>
                    </div>
                </div>




            <br />

            <div class="row">

                <div class="col-md-4" style="margin-left:-10px">
                    <label>

                        What is this person or facility
                        approved to do for you? (Check all that apply)

                    </label>

                </div>

                <div class="col-md-8">



                    <input type="checkbox" name="Translate" id="Translate" autocomplete="off" checked />
                    <span class="content">Translate</span>
                    <input type="checkbox" name="makeappointments" id="makeappointments" autocomplete="off" checked="" style="margin-left: 101px;">
                    <span class="content">Make  appointments</span>


                    <input type="checkbox" name="takemessages" id="takemessages" autocomplete="off" style="margin-left:33px" checked="">
                    <span class="content">Take messages</span>
                    <br />
                    <input type="checkbox" name="codecisionmaker" id="codecisionmaker" autocomplete="off" checked="">
                    <span class="content">Co-decision maker</span>

                    &nbsp; &nbsp;
                    <input type="checkbox" name="Other2" id="Other2" autocomplete="off" onclick="showselected('Other2')" style="margin-left: 4px; ">
                    <span class="content">
                        Other
                        <input class="form-control" name="relationother" id="facilityother" placeholder="" type="text" style="visibility: hidden;width: 200px;/* float: right; */margin-left: 290px;margin-top: -20px;" required autofocus />
                    </span>
                </div>
            </div>






            <br /><br />
            <div class="row">
                <div class="col-md-3 form-group" style="margin-left:-10px">
                    <label>Contact Phone</label>
                    <div class="col-md-11" style="margin-left:-15px">
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-phone"></i>
                            </div>
                            <input class="form-control" name="contactphone" id="contactphone" placeholder="(###)-###-####" type="text" required="" autofocus="" maxlength="10">
                        </div>

                    </div>
                </div>
                <div class="col-md-3 form-group" style="margin-left:-15px; width:175px;">
                    <label>Telephone</label>

                    <select id="selectbasic" name="selectcontacttype" class="form-control">
                        <option value="1">Home</option>
                        <option value="2">Mobile/Cell</option>
                        <option value="3">Message </option>
                        <option value="4">Work </option>
                    </select>
                </div>

                @*<div class="col-md-1"></div>*@
                <div class="col-md-3 form-group" style="margin-left:30px;">

                    <label>Personal Message</label>
                    <div class="form-group">
                        <label id="sliderLabel">
                            <input type="checkbox" />
                            <span id="slider">
                                <span id="sliderOn">Yes</span>
                                <span id="sliderOff">No</span>
                                <span id="sliderBlock"></span>
                            </span>

                        </label>
                    </div>
                </div>

                <div class="col-md-3 form-group" style="margin-left:-50px; width:350px">
                    <label>Email</label>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="glyphicon glyphicon-envelope"></i>
                        </div>
                        <input id="contactEmail" type="text" placeholder="Email" class="form-control" />
                    </div>

                </div>
            </div>
            <div class="row">

            </div>
            <div class="col-md-2" style="margin-left: -23px;">
                <label>Preference</label>
            </div>
            <div class="col-md-10 form-group">
                <div class="col-md-2">

                </div>
                <div class="col-md-10">

                </div>
                <div class="col-md-12">

                </div>

            </div>


        </div>

        <div class="row" style="margin-left: -100px;">
            <div class="col-md-1"></div>
            <div class="col-md-2 form-group" >
                <input type="checkbox" name="phonecall" id="phonecall" autocomplete="off" />
                <span class="content">&nbsp;Call</span>
            </div>
            <div class="col-md-2 form-group" style="margin-left: -50px;">

                <input type="checkbox" name="textmessage" id="textmessage" />
                <span class="content">&nbsp;Face-to-Face</span>
            </div>
            <div class="col-md-2 form-group" style="margin-left: 10px;">
                <input type="checkbox" name="textmessage" id="textmessage" autocomplete="off" />
                <span class="content">&nbsp;Email</span>
            </div>
            <div class="col-md-2  form-group" style="margin-left: -30px;">
                <input type="checkbox" name="textmessage" id="textmessage" autocomplete="off" />
                <span class="content">Text</span>
            </div>


        </div>

    </div>
</div>
<div class="panel-footer" style="border-top: none;">
    <div class="row">
        <div class="col-md-7"></div>
        <div class="col-md-5">
            <div class="col-md-11 pull-right">


                <a onclick="showHideTab('four')" class="btn" id="back-step" style="cursor:pointer;background-color: #3a3a3a;border: 2px #cfcfcf;font-size: 18px !important;color: #fff;"> <span class="glyphicon glyphicon-arrow-left"></span> Previous </a>
                <a href="#" class="btn btn-success" style="background-color: #3a3a3a;border: 2px #cfcfcf;font-size: 18px !important;" id="activate-step"> &nbsp;&nbsp;&nbsp;Save&nbsp;&nbsp;&nbsp;</a>

                <a onclick="showHideTab('six')" class="btn" id="back-step" style="cursor:pointer;background-color: #3a3a3a;border: 2px #cfcfcf;font-size: 18px !important;color: #fff;">  &nbsp;&nbsp;&nbsp; Next <span class="glyphicon glyphicon-arrow-right"></span>&nbsp;&nbsp;  </a>
            </div>

        </div>

    </div>
</div>


<script>
    $(document).ready(function () {
        @*if(@Model.id==true)
        {
            $('#Translate').attr('checked','checked');
        }
        else
        {

        }*@
    })
    $('#contactphone').keyup(function () {
        var text = $(this).val();
        var format = "";
        if (text.length == 10) {
            format = "(" + text.substr(0, 3) + ") " + text.substr(3, 3) + "-" + text.substr(6, 4) + "";
        }
        else {
            format = $(this).val();
        }

        $(this).val(format);
    });


    function showselected(value) {


        if (value == 'Other') {

            $('#relationother').css("visibility", "visible");
        }


         if (value == 'Other2') {


            $('#facilityother').css("visibility", "visible");
        }
    }
</script>

