﻿<head>
    <link href="~/Content/custom.css" rel="stylesheet" />
</head>

<div class="panel panel-default" style="border:none;" >
    <h3 style="padding-left:25px"> <b>Notes</b></h3><br />
    <div class="panel-body" style="margin-bottom: -20px;">

        <div class="row" style="padding-left:17px">
            <div class="col-md-12 pull-left">
                <textarea id="textarea" style="margin: 0px; width: 98%; height: 100px;"></textarea>
            </div>
        </div>

        <br />
        <label style="padding-left:15px">Previous Notes</label>
        <div class="row" style="padding-left:17px">
            <div class="col-md-12 pull-left">
                <textarea id="textarea" style="margin: 0px; width: 98%; height: 200px;" readonly="readonly" disabled="disabled"></textarea>
            </div>
        </div>
    </div><br />
    <div class="panel-footer" style="border-top:none;">
        <div class="row">
            <div class="col-md-9"></div>
            <div class="col-md-3 pull-left">
               
                <a onclick="showHideTab('five')" class="btn" id="back-step" style="cursor:pointer;background-color: #3a3a3a;border: 2px #cfcfcf;font-size: 18px !important;color: #fff;"> <span class="glyphicon glyphicon-arrow-left"></span>  Previous   </a>
                <a href="#" class="btn btn-success" style="background-color: #3a3a3a;border: 2px #cfcfcf;font-size: 18px !important;" id="activate-step"> &nbsp;&nbsp;&nbsp;Save&nbsp;&nbsp;&nbsp;</a>
            </div>

        </div>
    </div>
</div>
