﻿<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <link href="~/Content/custom.css" rel="stylesheet" />

</head>

<h4 style="color:green"> Provider Information</h4>
<div class="row">
    <div class="col-xs-4 col-md-3">
        <input class="form-control" name="firstname" placeholder="Provider Business Name" type="text"
               required autofocus />
    </div>
    <div>
        <div class="col-xs-4 col-md-1">
            <label type="label">EWC Provider </label>
        </div>
        <div class="col-xs-2 col-md-3">

            <label id="sliderLabel">
                <input type="checkbox" />
                <span id="slider">
                    <span id="sliderOn">YES</span>
                    <span id="sliderOff">No</span>
                    <span id="sliderBlock"></span>
                </span>
            </label>
        </div>
    </div>
    <div class="col-xs-4 col-md-3">

    </div>
</div>


<div class="row">
    <div class="col-xs-4 col-md-3">
        <input class="form-control" name="firstname" placeholder="Provider NPI" type="text"
               required autofocus />
    </div>
    <div class="col-xs-4 col-md-3">
        <input class="form-control" name="lastname" placeholder="Provider Owner" type="text" required />
    </div>
    <div class="col-xs-4 col-md-3">
        <input class="form-control" name="lastname" placeholder="Provider Location" type="text" required />
    </div>

</div>
<br />

<div class="row">
    <div class="col-xs-4 col-md-3">
        <input class="form-control" name="firstname" placeholder="Service Address" type="text"
               required autofocus />
    </div>
    <div class="col-xs-4 col-md-3">
        <input class="form-control" name="lastname" placeholder="App# or Suit" type="text" required />
    </div>
    <div class="col-xs-4 col-md-2">
        <input class="form-control" name="lastname" placeholder="City" type="text"   />
    </div>

    <div class="col-xs-4 col-md-1">
        <input class="form-control" name="lastname" placeholder="CA" type="text" readonly />
    </div>
    <div class="col-xs-4 col-md-1">
        <input class="form-control" name="lastname" placeholder="Zip Code" type="text" required />
    </div>
</div>
<br />
<div class="row">
    <div class="col-xs-4 col-md-3">
        <input class="form-control" name="firstname" placeholder="Contact First Name" type="text"
               required autofocus />
    </div>
    <div class="col-xs-4 col-md-3">
        <input class="form-control" name="lastname" placeholder="Contact Last Name" type="text" required />
    </div>
    <div class="col-xs-4 col-md-3">
        <input class="form-control" name="lastname" placeholder="Contact title" type="text" required />
    </div>

</div>
<br/>
<div class="row">
    <div class="col-xs-4 col-md-3">
        <div class="input-group">
            <div class="input-group-addon">
                <i class="fa fa-phone"></i>
            </div>
            <input type="text" class="form-control" data-inputmask="&quot;mask&quot;: &quot;(999) 999-9999&quot;" data-mask="">
        </div>
    </div>
    <div class="col-xs-4 col-md-3">
        <div class="input-group">
            <div class="input-group-addon">
                <i class="glyphicon glyphicon-envelope"></i>
            </div>
            <input id="email" type="text" placeholder="Email" class="form-control" />
        </div>
    </div>
    <div class="col-xs-4 col-md-3">
    </div>
</div>
<br />
<h4 style="color:green"> Health  Care Plan Information</h4>
<div class="row">

    <div class="col-xs-5 col-md-3">
        <label type="label"> Health Insurance Status </label>
        <div class="btn-group">

            <button type="button" class="btn btn-primary">Insured</button>

            <button type="button" class="btn btn-primary">Uninsured</button>
        </div>
    </div>

    <div class="col-xs-5 col-md-3">

        <div class="form-group">
            <label>Health Program</label>
            <select class="form-control" style="width: 100%;">
                <option selected="selected">EMC</option>
                <option>Health Program.</option>
                <option>Health Program..</option>
                <option>Health Program..</option>

            </select>
        </div>
    </div>

    <div class="col-xs-5 col-md-3">

    </div>

</div>



<div class="row">

    <div class="col-xs-5 col-md-3">
        <div class="form-group">
            <label>Health Insurance Plan</label>
            <select class="form-control" style="width: 100%;">
                <option selected="selected">Select</option>
                <option>Insurance Plan 1.</option>
                <option>Insurance Plan 2..</option>
                <option>Insurance Plan 3..</option>

            </select>
        </div>
    </div>

    <div class="col-xs-5 col-md-3">
        <label>Relationship Other</label>
        <input class="form-control" name="firstname" placeholder="Plan Numberr" type="text"
               required autofocus />

    </div>

    <div class="col-xs-5 col-md-3">

    </div>

</div>

<div class="row">

    <div class="col-xs-4 col-md-9">
    </div>
    <div class="col-xs-4 col-md-3">
        <div class="btn-group">
            <a onclick="showHideTab('two')" class="btn" id="back-step" style="cursor:pointer;background-color:orange"> Previous</a>
            <a href="#" class="btn btn-success" id="activate-step"> &nbsp;&nbsp;&nbsp;SAVE&nbsp;&nbsp;&nbsp;</a>
            <a onclick="showHideTab('four')" class="btn" id="back-step" style="cursor:pointer;background-color:orange">  Next >></a>
        </div>
    </div>

</div>

    @*<div class="row">

        <div class="col-xs-4 col-md-9">
        </div>
        <div class="col-xs-4 col-md-3">
            <div class="btn-group">
                <a onclick="showHideTab('two')" class="btn" id="back-step" style="cursor:pointer;background-color:orange"> Previous</a>
                <a href="#" class="btn btn-success" id="activate-step"> &nbsp;&nbsp;&nbsp;SAVE&nbsp;&nbsp;&nbsp;</a>
                <a onclick="showHideTab('four')" class="btn" id="back-step" style="cursor:pointer;background-color:orange">  Next >></a>
            </div>
        </div>

    </div>*@
