﻿@*@using MvcCheckBoxList.Model
    @model EWC_NSAA.ViewModels.NavigationCycleViewModel*@
<div class="panel panel-default" style="border:none" id="nsEnrollmentFour">
    <h3 style="padding-left:20px"> <b>  Contact Preferences</b></h3>
    <div class="panel-body" style="margin-bottom: -30px;">
        <div class="row">

            <div class="col-md-6">
                <div class="panel-heading" style="margin-left: -16px; margin-right: -16px;">Primary Contact</div>
            </div>
            <div class="col-md-6">
                <div class="panel-heading " style="margin-left: -16px; margin-right: -16px; ">Secondary Contact</div>
            </div>
        </div>
        <div class="row">
            @*<div class="panel-heading" style="margin-left: -16px; margin-right: -16px;">Primary Contact</div>*@
            <div class="col-md-6" style="border: 1px solid #ccc;  border-radius: 4px;WHITE-SPACE: normal; margin-right: 10px;margin-left: 10px; width: 48%;">


                <div class="col-md-4" style="margin-top:10px">
                    <label> Day</label>
                    <div class="form-group" style="margin-top:10px">

                        <input type="checkbox" name="preferenceday" id="preferenceday" autocomplete="off" checked="">
                        <span class="content">Monday</span>

                    </div>

                    <div class="form-group">

                        <input type="checkbox" name="preferenceday1" id="preferenceday1" autocomplete="off">
                        <span class="content">Tuesday</span>

                    </div><div class="form-group">

                        <input type="checkbox" name="preferenceday2" id="preferenceday2" autocomplete="off">
                        <div class="btn-group">
                            <span class="content">Wednesday</span>

                        </div>
                    </div>
                    <div class="form-group">

                        <input type="checkbox" name="preferenceday3" id="preferenceday3" autocomplete="off" checked="">
                        <span class="content">Thursday</span>

                    </div>
                    <div class="form-group">

                        <input type="checkbox" name="preferenceday4" id="preferenceday4" autocomplete="off" checked="">
                        <span class="content">Friday</span>

                    </div>
                    <div class="form-group">
                        <input type="checkbox" name="preferenceday5" id="preferenceday5" autocomplete="off" checked="">
                        <span class="content">Saturday</span>

                    </div>
                </div>
                <div class="col-md-4" style="margin-top:10px">
                    <label>Time</label>
                    <div class="form-group" style="margin-top:10px">
                        <input type="checkbox" name="preferencetime" id="preferencetime" autocomplete="off" checked="">
                        <span class="content">7am-9am</span>
                    </div>

                    <div class="form-group">
                        <input type="checkbox" name="preferencetime1" id="preferencetime1" autocomplete="off">
                        <span class="content">10am-12pm</span>
                    </div>
                    <div class="form-group">
                        <input type="checkbox" name="preferencetime2" id="preferencetime2" autocomplete="off">
                        <span class="content">1pm-3pm</span>
                    </div>
                    <div class="form-group">
                        <input type="checkbox" name="preferencetime3" id="preferencetime3" autocomplete="off">
                        <span class="content">4pm-6pm</span>
                    </div>
                    <div class="form-group">


                        <input type="checkbox" name="preferencetime4" id="preferencetime4" autocomplete="off">
                        <span class="content">6pm-9pm</span>
                    </div>
                    <div class="form-group">


                        <input type="checkbox" name="preferencetime5" id="pother" autocomplete="off">
                        <span class="content">Other</span>
                    </div>


                    <input class="form-control" name="contactprefother" id="contactprefother" placeholder="" type="text" required="" autofocus="" style="margin-left: 100px;visibility:hidden;margin-top: -48px; width:200px">

                </div>

                <div class="col-md-4" style="margin-top:10px">
                    <label>Type</label>
                    <div class="form-group" style="margin-top:10px">

                        <input type="checkbox" name="preferencetype" id="preferencetype" autocomplete="off">
                        <span class="content">Phone Call</span>
                    </div>


                    <div class="form-group">

                        <input type="checkbox" name="preferencetype" id="preferencetype" autocomplete="off">
                        <span class="content">Face to Face</span>
                    </div>
                    <div class="form-group">



                        <input type="checkbox" name="preferencetype1" id="preferencetype1" autocomplete="off">
                        <span class="content">Email</span>
                    </div>

                    <div class="form-group">



                        <input type="checkbox" name="preferencetype2" id="preferencetype2" autocomplete="off" checked="">
                        <span class="content">Text</span>
                    </div>

                </div>
            </div>





            <div class="col-md-6 " style="border: 1px solid #ccc;  border-radius: 4px; width: 48%;">

                @*<h4 style="color:green;padding-left:17px"> Secondary Contact</h4>*@
                <div class="col-sm-4" style="margin-top:10px">
                    <label> Day</label>
                    <div class="form-group" style="margin-top:10px">

                        <input type="checkbox" name="preferenceday" id="preferenceday" autocomplete="off" checked="">
                        <span class="content">Monday</span>
                    </div>

                    <div class="form-group">

                        <input type="checkbox" name="preferenceday1" id="preferenceday1" autocomplete="off">
                        <span class="content">Tuesday</span>
                    </div><div class="form-group">

                        <input type="checkbox" name="preferenceday2" id="preferenceday2" autocomplete="off">
                        <span class="content">Wednesday</span>
                    </div>
                    <div class="form-group">

                        <input type="checkbox" name="preferenceday3" id="preferenceday3" autocomplete="off" checked="">
                        <span class="content">Thursday</span>
                    </div>


                    <div class="form-group">

                        <input type="checkbox" name="preferenceday4" id="preferenceday4" autocomplete="off" checked="">
                        <span class="content">Friday</span>
                    </div>


                    <div class="form-group">

                        <input type="checkbox" name="preferenceday5" id="preferenceday5" autocomplete="off" checked="">
                        <span class="content">Saturday</span>
                    </div>

                </div>
                <div class="col-md-4" style="margin-top:10px">
                    <label>Time</label>
                    <div class="form-group" style="margin-top:10px">


                        <input type="checkbox" name="preferencetime" id="preferencetime" autocomplete="off" checked="">
                        <span class="content">7am-9am</span>
                    </div>

                    <div class="form-group">


                        <input type="checkbox" name="preferencetime1" id="preferencetime1" autocomplete="off">
                        <span class="content">10am-12pm</span>
                    </div>
                    <div class="form-group">


                        <input type="checkbox" name="preferencetime2" id="preferencetime2" autocomplete="off">
                        <span class="content">1pm-3pm</span>
                    </div>


                    <div class="form-group">


                        <input type="checkbox" name="preferencetime3" id="preferencetime3" autocomplete="off">
                        <span class="content">4pm-6pm</span>
                    </div>

                    <div class="form-group">


                        <input type="checkbox" name="preferencetime4" id="preferencetime4" autocomplete="off">
                        <span class="content">6pm-9pm</span>
                    </div>
                    <div class="form-group">


                        <input type="checkbox" name="preferencetime5" id="sother" autocomplete="off">
                        <span class="content">Other</span>
                    </div>

                    <input class="form-control" name="contactprefother2" id="contactprefother2" placeholder="" type="text" required="" autofocus="" style="margin-left: 100px;visibility:hidden;margin-top: -48px; width:200px;" />

                </div>

                <div class="col-md-4" style="margin-top:10px">
                    <label>Type</label>
                    <div class="form-group" style="margin-top:10px">

                        <input type="checkbox" name="preferencetype" id="preferencetype" autocomplete="off">
                        <span class="content">Phone Call</span>
                    </div>
                    <div class="form-group">

                        <input type="checkbox" name="preferencetype" id="preferencetype" autocomplete="off">
                        <span class="content">Face to Face</span>
                    </div>
                    <div class="form-group">

                        <input type="checkbox" name="preferencetype1" id="preferencetype1" autocomplete="off">
                        <span class="content">Email</span>
                    </div>

                    <div class="form-group">
                        <input type="checkbox" name="preferencetype2" id="preferencetype2" autocomplete="off" checked="">
                        <span class="content">Text</span>
                    </div>

                </div>



            </div>
        </div><br /><br />
        <div class="panel-footer" style="border-top: none;">



            <div class="row">


                <div class="row">
                    <div class="col-md-7"></div>
                    <div class="col-md-5">
                        <div class="col-md-11 pull-right">


                            <a onclick="showHideTab('three')" class="btn" id="back-step" style="cursor:pointer;background-color: #3a3a3a;border: 2px #cfcfcf;font-size: 18px !important;color: #fff;"> <span class="glyphicon glyphicon-arrow-left"></span> Previous </a>
                            <a href="#" class="btn btn-success" style="background-color: #3a3a3a;border: 2px #cfcfcf;font-size: 18px !important;" id="activate-step"> &nbsp;&nbsp;&nbsp;Save&nbsp;&nbsp;&nbsp;</a>

                            <a onclick="showHideTab('five')" class="btn" id="back-step" style="cursor:pointer;background-color: #3a3a3a;border: 2px #cfcfcf;font-size: 18px !important;color: #fff;">  &nbsp;&nbsp;&nbsp; Next <span class="glyphicon glyphicon-arrow-right"></span>&nbsp;&nbsp;  </a>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>
</div>


<script>


    $('#nsEnrollmentFour').find("input[type='checkbox']").change(function (e) {
        if (e.target.id == 'sother' && e.target.checked) {
            $('#contactprefother2').removeAttr('disabled').css("visibility", "visible");
            $('#contactprefother').attr('disabled', 'disabled').css("visibility", "hidden");
            fnUncheck();
        }
        else if (e.target.id == 'pother' && e.target.checked) {
            $('#contactprefother').removeAttr('disabled').css("visibility", "visible");
            $('#contactprefother2').attr('disabled', 'disabled').css("visibility", "hidden");
            fnUncheck();
        }
        else {
            $('#pother').removeAttr('checked');
            $('#contactprefother2').removeAttr('disabled').css("visibility", "hidden");
            $('#contactprefother').attr('disabled', 'disabled').css("visibility", "hidden");
        }
    })

    function fnUncheck() {
        $('#nsEnrollmentFour').find("input[type='checkbox']").each(function () {
            if (this.id != 'sother' && this.id != 'pother' && this.id.lastIndexOf('preferencetime') != -1) {
                this.checked = false;
            }
        });
    }


</script>