﻿@using MvcCheckBoxList.Model
@model EWC_NSAA.ViewModels.RecipientViewModel

@{
    ViewBag.Title = "Edit";
}
<head>
    <link href='https://fonts.googleapis.com/css?family=Fira Sans' rel='stylesheet'>
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/custom.css" rel="stylesheet" />
</head>
@using (Html.BeginForm("Edit", "Enrollment", FormMethod.Post, new { RecipVM = Model }))
{
    @Html.AntiForgeryToken()

<div class="row col-md-12">
    <!-- widget content -->
    <div class="widget-body margin24">
        <div class="row">
            <form id="wizard-1" novalidate="novalidate">
                <div id="bootstrap-wizard-1" class="col-sm-12">
                    <div class="form-bootstrapWizard">
                        <ul class="bootstrapWizard form-wizard col-md-offset-1" style="padding-left:50px;">
                            <li class="active" data-target="#step1">
                                <a onclick="return showHideTab('one')" data-toggle="tab" class="active" style="cursor:pointer"> <span class="step">1</span> <span class="title">Recipient <br /><br />Information</span> </a>
                            </li>
                            <li data-target="#step2" class="">
                                <a onclick="return showHideTab('two','two')" data-toggle="tab" style="cursor:pointer"> <span class="step">2</span> <span class="title">Referral<br /><br /> Information</span> </a>
                            </li>
                            <li data-target="#step3" class="">
                                <a onclick="return showHideTab('three','three')" data-toggle="tab" style="cursor:pointer"> <span class="step">3</span> <span class="title">Provider <br /><br />Information</span> </a>
                            </li>
                            <li data-target="#step4">
                                <a onclick="return showHideTab('four','four')" data-toggle="tab" style="cursor:pointer"> <span class="step">4</span> <span class="title">Contact <br /><br />Preferences</span> </a>
                            </li>
                            <li data-target="#step5">
                                <a onclick="return showHideTab('five','five')" data-toggle="tab" style="cursor:pointer"> <span class="step">5</span> <span class="title">Additional /<br /><br />Caregiver<br /><br /> Contact</span> </a>
                            </li>
                            <li data-target="#step6">
                                <a onclick="return showHideTab('six','six')" data-toggle="tab" style="cursor:pointer"> <span class="step">6</span> <span class="title"> Notes</span> </a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <br />
                    <div class="tab-content">
                        <div class="panel panel-default margin30" id="tab1">
                            <div class="panel-body  col-md-12" style="border: none; margin-bottom: -15px;">

                                <div class="tab-pane active">
                                    @Html.Partial("_PersonalInfo", Model)
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default margin30" id="tab2">
                            <div class="panel-body  col-md-12" style="border: none; margin-bottom: -15px;">
                                <div class="tab-pane">
                                    @Html.Partial("_ReferralInfo", Model)
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default margin30" id="tab3">
                            <div class="panel-body  col-md-12" style="border: none; margin-bottom: -15px;">
                                <div class="tab-pane">
                                    @Html.Partial("_NSProvider", Model)
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default margin30" id="tab4" style="border: none; margin-bottom: -15px;">
                            <div class="panel-body col-md-12">
                                <div class="tab-pane">

                                    @Html.Partial("_RecipientContactPreference", Model)
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default margin30" id="tab5" style="border: none; margin-bottom: -15px;">
                            <div class="panel-body col-md-12">
                                <div class="tab-pane">
                                    @Html.Partial("_CaregiverInfo", Model)
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default margin30" id="tab6" style="border: none; margin-bottom: -15px;">
                            <div class="panel-body col-md-12">
                                <div class="tab-pane">
                                    @Html.Partial("_Comments", Model)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- end widget content -->

</div>
}
<script>
    $(document).ready(function () {
        
        $('#tab2').css('display', 'none');
        $('#tab3').css('display', 'none');
        $('#tab4').css('display', 'none');
        $('#tab5').css('display', 'none');
        $('#tab6').css('display', 'none');
        $('#txtDateofBirth').datepicker().on('changeDate', function (ev) {
            $('li.active').addClass('halfactive');
            $('li.active').removeClass('active');
        });
    })

    //alert($('#personalMsg1').val());
    //alert($('#personalMsg2').val());
    if ($('#personalMsg1').val() === 'True')
    {
        $('#personalMsg1').click();
    }

    if ($('#personalMsg2').val() === 'True')
    {
        $('#personalMsg2').click();
    }

    if ($('#immigrantStatus').val() === 'True')
    {
        $('#immigrantStatus').click();
    }

    if ($('#speakEnglish').val() === 'True')
    {
        $('#speakEnglish').click();
    }

    if ($('#ewcPcp').val() === 'True')
    {
        $('#ewcPcp').click();
    }

    if ($('#caregiverMsg').val() === 'True') {
        $('#caregiverMsg').click();
    }


    $('.personalmsg1').find('input:checkbox').click(function () {
        var isChecked = $(this).is(":checked");
        $('#personalMsg1').val(isChecked);
    })

    $('.personalmsg2').find('input:checkbox').click(function () {
        var isChecked = $(this).is(":checked");
        $('#personalMsg2').val(isChecked);
    })

    $('.immigrantstatus').find('input:checkbox').click(function () {
        var isChecked = $(this).is(":checked");
        $('#immigrantStatus').val(isChecked);
    })

    $('.speakenglish').find('input:checkbox').click(function () {
        var isChecked = $(this).is(":checked");
        $('#speakEnglish').val(isChecked);
    })

    $('.ewcpcp').find('input:checkbox').click(function () {
        var isChecked = $(this).is(":checked");
        $('#ewcPcp').val(isChecked);
    })

    $('.caregivermsg').find('input:checkbox').click(function () {
        var isChecked = $(this).is(":checked");
        $('#caregiverMsg').val(isChecked);
    })



    $('.rel').click(function (e) {
        var isChecked = e.checked;
        var chkName = $(this).attr('name');
        var chkId = $(this).attr('id');
        $(this).siblings().attr("checked", false);
        e.checked = isChecked;
        $('#relationother').css("visibility", "hidden");
        //Binding to the hidden value;
        $('#relationship').val($(this).attr("id"));
       
    });

    $("input[type='text']").keyup(function (e) {
        if (e.target.value != "") {
            $('li.active').addClass('halfactive')
            $('li.active').removeClass('active')
            $(e.target).css('border-color', '');
        }
        else {
            $('li.halfactive').addClass('active')
            $('li.halfactive').removeClass('halfactive')
        }
    });

    function showHideTab(currentTab, previous) {
        if (validateForm(currentTab, previous)) {
            if (currentTab == "one") {
                $('#tab1').css('display', 'block');
                $('#tab2').css('display', 'none');
                $('#tab3').css('display', 'none');
                $('#tab4').css('display', 'none');
                $('#tab5').css('display', 'none');
                $('#tab6').css('display', 'none');
            }
            else if (currentTab == "two") {
                $('#tab1').css('display', 'none');
                $('#tab2').css('display', 'block');
                $('#tab3').css('display', 'none');
                $('#tab4').css('display', 'none');
                $('#tab5').css('display', 'none');
                $('#tab6').css('display', 'none');
            }
            else if (currentTab == "three") {
                $('#tab1').css('display', 'none');
                $('#tab2').css('display', 'none');
                $('#tab3').css('display', 'block');
                $('#tab4').css('display', 'none');
                $('#tab5').css('display', 'none');
                $('#tab6').css('display', 'none');
            }
            else if (currentTab == "four") {
                $('#tab1').css('display', 'none');
                $('#tab2').css('display', 'none');
                $('#tab3').css('display', 'none');
                $('#tab4').css('display', 'block');
                $('#tab5').css('display', 'none');
                $('#tab6').css('display', 'none');
            }
            else if (currentTab == "five") {
                $('#tab1').css('display', 'none');
                $('#tab2').css('display', 'none');
                $('#tab3').css('display', 'none');
                $('#tab4').css('display', 'none');
                $('#tab5').css('display', 'block');
                $('#tab6').css('display', 'none');
            }
            else if (currentTab == "six") {
                $('#tab1').css('display', 'none');
                $('#tab2').css('display', 'none');
                $('#tab3').css('display', 'none');
                $('#tab4').css('display', 'none');
                $('#tab5').css('display', 'none');
                $('#tab6').css('display', 'block');
            }
            else if (currentTab == "demo") {
                $('#tab1').css('display', 'block');
                $('#tab2').css('display', 'none');
                $('#tab3').css('display', 'none');
                $('#tab4').css('display', 'none');
                $('#tab5').css('display', 'none');
                $('#tab6').css('display', 'none');
                $('#demographic').css('display', 'block');
                $('#personalInfo').css('display', 'none');
            }
            else if (currentTab == "personalInfo") {
                $('#tab1').css('display', 'block');
                $('#tab2').css('display', 'none');
                $('#tab3').css('display', 'none');
                $('#tab4').css('display', 'none');
                $('#tab5').css('display', 'none');
                $('#tab6').css('display', 'none');
                $('#demographic').css('display', 'none');
                $('#personalInfo').css('display', 'block');
            }

            else if (currentTab == "provider") {
                $('#tab1').css('display', 'none');
                $('#tab2').css('display', 'none');
                $('#tab3').css('display', 'block');
                $('#tab4').css('display', 'none');
                $('#tab5').css('display', 'none');
                $('#tab6').css('display', 'none');
                $('#provider').css('display', 'block');
                $('#healthcare').css('display', 'none');
            }

            else if (currentTab == "healthcare") {
                $('#tab1').css('display', 'none');
                $('#tab2').css('display', 'none');
                $('#tab3').css('display', 'block');
                $('#tab4').css('display', 'none');
                $('#tab5').css('display', 'none');
                $('#tab6').css('display', 'none');
                $('#provider').css('display', 'none');
                $('#healthcare').css('display', 'block');
            }

        }

    }

    function validateForm(currText, previous) {
        var tabVal = "";
        if (previous != undefined) {
            currText = previous;
        }
        if (currText == "one") {
            tabVal = "#step1";
        }
        else if (currText == "two") {
            tabVal = "#step2";
        }
        else if (currText == "three") {
            tabVal = "#step3";
        }
        else if (currText == "four") {
            tabVal = "#step4";
        }
        else if (currText == "five") {
            tabVal = "#step5";
        }
        else if (currText == "six") {
            tabVal = "#step6";
        }
        if (tabVal != "") {
            setSelected(tabVal)
        }
        return true;
    }
    function setSelected(value) {
        $('.bootstrapWizard').find('li').each(function () {
            if ($(this).attr('data-target') == value) {
                $(this).addClass('halfactive');
                $(this).removeClass('active');
            }
            else {
                $(this).removeClass('active');
                $(this).removeClass('halfactive');
            }
        })
    }

    function validateControl(ctrlId) {
        if ($.trim($('#' + ctrlId).val()) == "") {
            $('#' + ctrlId).css('border-color', 'red');
            $('#' + ctrlId).focus();
            return false;
        }
        return true;
    }
    $('.echk').click(function () {
        var flag = false;
        var eid = $(this).attr('id');
        if (eid == 'Hispanic') {           
            flag = true;
        }               

        $('#selectedEthnicity').val(flag);       
    });

    $('.rchk').click(function (e) {
        var chkId = $(this).attr('id');
        $('.race').find('input[type=checkbox]').attr("checked", false);
        $("#" + chkId).prop('checked', true);
        $('#selectedRace').val(chkId);
    });

    var selid = $('#selectedRace').val();
    $('#' + selid).click();

    var et = $('#selectedEthnicity').val();
   
    if(et=='true')
        $("#Hispanic").click();
    else
        $("#NonHispanic").click();

    var selid2 = $('#relationship').val();
    $('.rel[id=' + selid2 + ']').click();

    $('.facility').click(function (e) {
        var arr = $('.facility:checkbox:checked').map(function () {
            return this.id;
        }).get();
        $('#selectedApprovals').val(arr);

    });

    var selFacility = $('#selectedApprovals').val().split(',');
    if (selFacility != '')
        {
    $.each(selFacility, function (id,item) {
        $('.facility[id=' + item + ']').click();
    });
    }

    $('.preference').click(function (e) {
        var arr = $('.preference:checkbox:checked').map(function () {
            return this.id;
        }).get();
        $('#caregivercontactpreference').val(arr);

    });

    if ($('#caregivercontactpreference').val() != null)
    {
        var selPreference = $('#caregivercontactpreference').val().split(',');
        if (selPreference != '') {
            $.each(selPreference, function (id, item) {
                $('.preference[id=' + item + ']').click();
            });
        }
    }

    $('.preference2').click(function (e) {
        var arr = $('.preference2:checkbox:checked').map(function () {
            return this.id;
        }).get();
        $('#recipcontactpreference').val(arr);

    });

    if ($('#recipcontactpreference').val() != null) {
        var selPreference2 = $('#recipcontactpreference').val().split(',');
        if (selPreference2 != '') {
            $.each(selPreference2, function (id, item) {
                $('.preference2[id=' + item + ']').click();
            });
        }
    }

    RestrictCheck('echk');
    RestrictCheck('rchk');
    function RestrictCheck(cls) {
        var obj = 'input.' + cls;
        $(obj).change(function () {
            if ($(obj).length > 1) {
                $(obj).prop('checked', false);
                $(this).prop('checked', true);
            }
        });
    }
    function showDDL(value) {
        if (value == 'a') {
            $('#ddlPacific').attr('disabled', 'disabled').css("visibility", "hidden");
            $('#ddlother').attr('disabled', 'disabled').css("visibility", "hidden");
            $('#ddlAsian').removeAttr('disabled').css("visibility", "visible");
            $('#ddlafrican').css("visibility", "hidden");
        }
        else if (value == 'p') {
            $('#ddlAsian').attr('disabled', 'disabled').css("visibility", "hidden");
            $('#ddlother').attr('disabled', 'disabled').css("visibility", "hidden");
            $('#ddlPacific').removeAttr('disabled').css("visibility", "visible");
            $('#ddlafrican').css("visibility", "hidden");
        }
        else if (value == 'other') {
            $('#ddlAsian').attr('disabled', 'disabled').css("visibility", "hidden");
            $('#ddlPacific').attr('disabled', 'disabled').css("visibility", "hidden");
            $('#ddlother').removeAttr('disabled').css("visibility", "visible");
            $('#ddlafrican').css("visibility", "hidden");
        }
        else if (value == 'af') {

            $('#ddlother').attr('disabled', 'disabled').css("visibility", "hidden");
            $('#ddlAsian').attr('disabled', 'disabled').css("visibility", "hidden");
            $('#ddlPacific').attr('disabled', 'disabled').css("visibility", "hidden");
            $('#ddlafrican').css("visibility", "visible");
        }
        else {

            $('#ddlafrican').attr('disabled', 'disabled').css("visibility", "hidden");
            $('#ddlother').attr('disabled', 'disabled').css("visibility", "hidden");
            $('#ddlAsian').attr('disabled', 'disabled').css("visibility", "hidden");
            $('#ddlPacific').css("visibility", "hidden");
        }

        $('#txtAsian').hide();
        $('#txtpacific').hide();
        $('#txtafrican').hide();

        

    }

    //*** _RecipientContactPreference.cshtml

    $(function () {
        $('input[type=checkbox]').change(function () {
            //alert("inside second function " + $(this).attr("id"));
            if (this.value == '6') { //Contact Pref Other 
                if (this.checked) { //Contact Pref Other selected
                    $('#tNavigationCycle_ContactPrefHoursOther').removeAttr('disabled');
                }
                else {
                    $('#tNavigationCycle_ContactPrefHoursOther').attr('disabled', 'disabled');
                }
            }

        });
    })

    //*** _RecipientContactPreference.cshtml --Ends here

</script>
