﻿@using MvcCheckBoxList.Model
@model EWC_NSAA.ViewModels.NavigatorTransferViewModel

<h2>Navigator Transfer</h2>

<p>
    @Html.ActionLink("Enrolled Recipients", "Index") | 
    @Html.ActionLink("Initiated Navigator Transfer List", "IndexInitiated", "NavigatorTransfer", new {CurrentNavigatorID = Model.OldNavigatorID }, null) |
    @Html.ActionLink("Requested Navigator Transfer List", "IndexRequested", "NavigatorTransfer", new { CurrentNavigatorID = Model.OldNavigatorID }, null)
</p>

@if (TempData["FeedbackMessage"] != null)
{
    <div class="alert alert-info">
        <strong>@TempData["FeedbackMessage"]</strong>
    </div>
}

@using (Html.BeginForm("NavigatorTransfer", "Enrollment", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div>
        
        @{ Html.RenderPartial("~/Views/Shared/_NavigatorTransfer.cshtml", Model);}
    </div>
}

@section Scripts{

    @Scripts.Render("~/bundles/jqueryval")
    <script>

        $(document).ready(function (){
            $("#NewNavigatorID").change(function () {

                var NewNavigatorID = $("#NewNavigatorID").val();                
                $("#NavigatorTransferReason").empty();

                $.ajax({

                    url: '/NavigatorTransfer/GetTransferReason/',
                    data: { NavigatorID: NewNavigatorID },
                    type: 'POST',
                    dataType: 'json',
                    success: function (data) {
                        $.each(data, function (i, reason) {

                            $("#NavigatorTransferReason").append('<option value="' + reason.Value + '">' + reason.Text + '</option>');

                        });
                        
                    }

                });

                return false;

            });

        });

    </script>

}