﻿@{
    ViewBag.Title = "NS Enrollment";
}
<head>
    <link href="~/Content/style.css" rel="stylesheet" />
   
</head>
<style>
body{
	/*background-color: #212121;*/
  font-family: FiraSans-Light;
}
</style>
<div class="container">
    <div class="row">
        <article class="col-sm-12 col-md-12 col-lg-12 sortable-grid ui-sortable">
            <div id="wid-id-0">
                <!-- widget div-->
                <div role="content">
                    <!-- widget content -->
                    <div class="widget-body">
                        <div class="row">
                            <form id="wizard-1" novalidate="novalidate">
                                <div id="bootstrap-wizard-1">
                                    <div class="form-bootstrapWizard">
                                        <ul class="bootstrapWizard form-wizard">
                                            <li class="active" data-target="#step1">
                                                <a onclick="return showHideTab('one')" data-toggle="tab" class="active" style="cursor:pointer"> <span class="step">1</span> <span class="title">Receipient Information</span> </a>
                                            </li>
                                            <li data-target="#step2" class="">
                                                <a onclick="return showHideTab('two','two')" data-toggle="tab" style="cursor:pointer"> <span class="step">2</span> <span class="title">Referral Information</span> </a>
                                            </li>
                                            <li data-target="#step3" class="">
                                                <a onclick="return showHideTab('three','three')" data-toggle="tab" style="cursor:pointer"> <span class="step">3</span> <span class="title">Provider Information</span> </a>
                                            </li>
                                            <li data-target="#step4">
                                                <a onclick="return showHideTab('four','four')" data-toggle="tab" style="cursor:pointer"> <span class="step">4</span> <span class="title">Contact Prefernces</span> </a>
                                            </li>
                                            <li data-target="#step5">
                                                <a onclick="return showHideTab('five','five')" data-toggle="tab" style="cursor:pointer"> <span class="step">5</span> <span class="title">Additional/Caregiver Contact</span> </a>
                                            </li>
                                            <li data-target="#step6">
                                                <a onclick="return showHideTab('six','six')" data-toggle="tab" style="cursor:pointer"> <span class="step">6</span> <span class="title"> Notes</span> </a>
                                            </li>
                                        </ul>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="tab-content" style="margin-top:30px">
                                        <div class="panel panel-default" id="tab1">
                                            <div class="panel-body">
                                                <div class="tab-pane active">
                                                    @Html.Partial("Ns_Enrollment_tab1")
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default" id="tab2">
                                            <div class="panel-body">
                                                <div class="tab-pane">
                                                    @Html.Partial("Ns_Enrollment_tab2")
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default" id="tab3">
                                            <div class="panel-body">
                                                <div class="tab-pane">
                                                    @Html.Partial("Ns_Enrollment_tab3")
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default" id="tab4">
                                            <div class="panel-body">
                                                <div class="tab-pane">
                                                    @Html.Partial("Ns_Enrollment_tab4")
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default" id="tab5">
                                            <div class="panel-body">
                                                <div class="tab-pane">
                                                    @Html.Partial("Ns_Enrollment_tab5")
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default" id="tab6">
                                            <div class="panel-body">
                                                <div class="tab-pane">
                                                    @Html.Partial("Ns_Enrollment_tab6")
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- end widget content -->
                </div>
                <!-- end widget div -->
            </div>
            <!-- end widget -->
        </article>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#tab2').css('display', 'none');
        $('#tab3').css('display', 'none');
        $('#tab4').css('display', 'none');
        $('#tab5').css('display', 'none');
        $('#tab6').css('display', 'none');
        $('#txtDateofBirth').datepicker().on('changeDate', function (ev) {
            $('li.active').addClass('halfactive');
            $('li.active').removeClass('active');
        });
        //$('#dimension-switch').bootstrapSwitch('setSizeClass', 'switch-mini');
    })

    $("input[type='text']").keyup(function (e) {
        if (e.target.value != "") {
            $('li.active').addClass('halfactive')
            $('li.active').removeClass('active')
            $(e.target).css('border-color', '');
        }
        else {
            $('li.halfactive').addClass('active')
            $('li.halfactive').removeClass('halfactive')
        }
    });


    function showHideTab(currentTab, previous) {
        if (validateForm(currentTab, previous)) {
            if (currentTab == "one") {
                $('#tab1').css('display', 'block');
                $('#tab2').css('display', 'none');
                $('#tab3').css('display', 'none');
                $('#tab4').css('display', 'none');
                $('#tab5').css('display', 'none');
                $('#tab6').css('display', 'none');
            }
            else if (currentTab == "two") {
                $('#tab1').css('display', 'none');
                $('#tab2').css('display', 'block');
                $('#tab3').css('display', 'none');
                $('#tab4').css('display', 'none');
                $('#tab5').css('display', 'none');
                $('#tab6').css('display', 'none');
            }
            else if (currentTab == "three") {
                $('#tab1').css('display', 'none');
                $('#tab2').css('display', 'none');
                $('#tab3').css('display', 'block');
                $('#tab4').css('display', 'none');
                $('#tab5').css('display', 'none');
                $('#tab6').css('display', 'none');
            }
            else if (currentTab == "four") {
                $('#tab1').css('display', 'none');
                $('#tab2').css('display', 'none');
                $('#tab3').css('display', 'none');
                $('#tab4').css('display', 'block');
                $('#tab5').css('display', 'none');
                $('#tab6').css('display', 'none');
            }
            else if (currentTab == "five") {
                $('#tab1').css('display', 'none');
                $('#tab2').css('display', 'none');
                $('#tab3').css('display', 'none');
                $('#tab4').css('display', 'none');
                $('#tab5').css('display', 'block');
                $('#tab6').css('display', 'none');
            }
            else if (currentTab == "six") {
                $('#tab1').css('display', 'none');
                $('#tab2').css('display', 'none');
                $('#tab3').css('display', 'none');
                $('#tab4').css('display', 'none');
                $('#tab5').css('display', 'none');
                $('#tab6').css('display', 'block');
            }
        }

    }

    function validateForm(currText, previous) {
        var tabVal = "";
        if (previous != undefined) {
            currText = previous;
        }
        if (currText == "one") {
            tabVal = "#step1";
        }
        else if (currText == "two") {
            if (validateControl('txtReceiptId')) {
                tabVal = "#step2";
            }
            //if (validateControl('txtDateofBirth')) {

            //    tabVal = "#step2";
            //}
            //if (!ValidateEmail($("#txtEmail").val())) {
            //    return false;
            //    tabVal = "#step2";
            //}
            //if (ValidateEmail($("#txtEmail").val())) {
            //    return true;
            //    tabVal = "#step2";
            //}

                //if (validateControl('txtFirstname')) {
                //    tabVal = "#step2";
                //}

                //if (validateControl('txtLastname')) {
                //    tabVal = "#step2";
                //}

                //if (validateControl('txtAddress')) {
                //    tabVal = "#step2";
                //}
                //if (validateControl('txtcity')) {
                //    tabVal = "#step2";
                //}
                //if (validateControl('txtzipcode')) {
                //    tabVal = "#step2";
                //}
            else {
                setTimeout(function () {
                    setSelected("#step1");
                }, 100);
                return false;
            }
        }
        else if (currText == "three") {
            tabVal = "#step3";
        }
        else if (currText == "four") {
           // if (validateControl('contactEmail')) {
                tabVal = "#step4";
           // }
            //else {
            //    setTimeout(function () {
            //        setSelected("#step3");
            //    }, 100);
            //    return false;
            //}
        }
        else if (currText == "five") {
            tabVal = "#step5";
        }
        if (tabVal != "") {
            setSelected(tabVal)
        }
        return true;
    }
    function setSelected(value) {
        $('.bootstrapWizard').find('li').each(function () {
            if ($(this).attr('data-target') == value) {
                $(this).addClass('halfactive');
                $(this).removeClass('active');
            }
            else {
                $(this).removeClass('active');
                
            }
        })
    }

    function validateControl(ctrlId) {
        if ($.trim($('#' + ctrlId).val()) == "") {
            $('#' + ctrlId).css('border-color', 'red');
            $('#' + ctrlId).focus();
            return false;
        }
        return true;
    }
    function ValidateDate(txtDateofBirth)
        {
            var dtRegex = new RegExp(/\b\d{1,2}[\/-]\d{1,2}[\/-]\d{4}\b/);

            return dtRegex.test(txtDateofBirth);
      }

    function ValidateEmail(email) {
        // Validate email format
        var expr = /^([\w-\.]+)@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
        return expr.test(email);


      
    };
</script>



