﻿@using System.ComponentModel;
@model EWC_NSAA.ViewModels.NavigatorTransferInterimListViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Requested Transfers</h2>

<p>
    @Html.ActionLink("Enrolled Recipients", "Index", "Enrollment")
</p>

<table class="table">
    <tr>
        <th>
            @Html.LabelFor(model => model.NavigatorTransfers.FirstOrDefault().FK_RecipientID, "Recipient ID")
        </th>
        <th>
            @Html.LabelFor(model => model.NavigatorTransfers.FirstOrDefault().CurrentNavigatorID, "Requested by Navigator ID")
        </th>
        <th>
            @Html.LabelFor(model => model.NavigatorTransfers.FirstOrDefault().TransferDt, "Transfer Date")
        </th>
        <th>
            @Html.LabelFor(model => model.NavigatorTransfers.FirstOrDefault().NavigatorTransferReason, "Navigator Transfer Reason")
        </th>
        <th>
            @Html.LabelFor(model => model.NavigatorTransfers.FirstOrDefault().TransferStatus, "Navigator Transfer Status")
        </th>
        <th>
            @Html.LabelFor(model => model.NavigatorTransfers.FirstOrDefault().TransferRefusedReason, "Transfer Refused Reason")
        </th>
        <th>
            @Html.LabelFor(model => model.NavigatorTransfers.FirstOrDefault().TransferRefusedDt, "Transfer Refused Date")
        </th>

    </tr>

    @foreach (var item in Model.NavigatorTransfers)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FK_RecipientID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentNavigatorID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransferDt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NavigatorTransferReason)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransferStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransferRefusedReason)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransferRefusedDt)
            </td>

            <td>
                @Html.ActionLink("Update Transfer Status", "NavigatorTransferStatus", "NavigatorTransfer", new { TransferID = item.TransferID, NSID = item.FK_RecipientID, NavigatorID = item.NewNavigatorID }, null)
            </td>
        </tr>
    }

</table>
