﻿@using System.ComponentModel;
@model EWC_NSAA.ViewModels.NavigatorTransferInterimListViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Initiated Transfers</h2>

<p>
    @Html.ActionLink("Enrolled Recipients", "Index", "Enrollment")
</p>

<table class="table">
    <tr>
        <th>
            @Html.LabelFor(model => model.NavigatorTransfers.FirstOrDefault().FK_RecipientID, "Recipient ID")
        </th>
        <th>
            @Html.LabelFor(model => model.NavigatorTransfers.FirstOrDefault().NewNavigatorID, "Proposed Navigator ID")
        </th>
        <th>
            @Html.LabelFor(model => model.NavigatorTransfers.FirstOrDefault().TransferDt, "Transfer Date")
        </th>
        <th>
            @Html.LabelFor(model => model.NavigatorTransfers.FirstOrDefault().NavigatorTransferReason, "Navigator Transfer Reason")
        </th>
        <th>
            @Html.LabelFor(model => model.NavigatorTransfers.FirstOrDefault().TransferStatus, "Navigator Transfer Status")
        </th>
        <th>
            @Html.LabelFor(model => model.NavigatorTransfers.FirstOrDefault().TransferRefusedReason, "Transfer Refused Reason")
        </th>
        <th>
            @Html.LabelFor(model => model.NavigatorTransfers.FirstOrDefault().TransferRefusedDt, "Transfer Refused Date")
        </th>
        
    </tr>

    @foreach (var item in Model.NavigatorTransfers)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FK_RecipientID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NewNavigatorID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransferDt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NavigatorTransferReason)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransferRefusedDt)
            </td>
            
            <td>
                @*Html.ActionLink("Edit", "Edit", new { id = item.NSRecipientID }) |
    @Html.ActionLink("Add Details", "Create", "NavigationCycles", new { NSID = item.NSRecipientID, NavigatorID = item.FK_NavigatorID }, null) |
    @Html.ActionLink("View Details List", "Index", "NavigationCycles", new { NSID = item.NSRecipientID, NavigatorID = item.FK_NavigatorID }, null) |
    @Html.ActionLink("Add New Assessment", "Create", "Encounters", new { NSID = item.NSRecipientID, NavigatorID = item.FK_NavigatorID }, null) |
    @Html.ActionLink("View Assessments", "Index", "Encounters", new { NSID = item.NSRecipientID, NavigatorID = item.FK_NavigatorID }, null)
    @Html.ActionLink("Transfer Recipient", "NavigatorTransfer", "Enrollment", new { NSID = item.NSRecipientID, NavigatorID = item.FK_NavigatorID }, null)*@
            </td>
        </tr>
    }

</table>
