﻿@model EWC_NSAA.ViewModels.EncounterViewModel

@{
    Layout = null;
}

@using (Html.BeginForm("Create", "EncountersController", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        @Html.Hidden("SelectedBarrier", 0)
        @Html.Hidden("SelectedBarrierType", 0)
        @Html.Hidden("SelectedSolution", 0)
        @Html.Hidden("SelectedFollowupDt", 0)
        @Html.Hidden("SelectedImplementationStatus", 0)

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row BarrierType">
            <div class="col-md-3">
                <div class="form-group">

                    @foreach (var ls in EWC_NSAA.Controllers.EncountersController.GetBarrierTypeLookup())
                    {
                        @Html.RadioButtonFor(model => model.SelectedBarrierType, ls.Value, new { @class = "rblBarrierType", id = "BarrierType" + ls.Value, @onchange = "javascript:GetBarrier(this.value);" }) @ls.Text

                        <br />

                    }

                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">

                    <div id="divBarriers" class="Barriers">
                    </div>

                </div>
            </div>


            <div class="col-md-6">
                <div class="form-group">

                    <div id="divBarrierSolutions" class="Solutions">

                    </div>

                </div>
            </div>



        </div>

        <div class="panel-footer" style="border-top: none;">
            <div class="row">
                <div class="row">
                    <div class="col-md-8"></div>
                    <div class="col-md-4">
                        <a onclick="showHideTab('one')" class="btn" id="back-step" style="cursor:pointer;background-color: #3a3a3a;border: 2px #cfcfcf;font-size: 18px !important;color: #fff;"> <span class="glyphicon glyphicon-arrow-left"></span> Previous </a>
                        <a onclick="showHideTab('three')" class="btn" id="back-step" style="cursor:pointer;background-color: #3a3a3a;border: 2px #cfcfcf;font-size: 18px !important;color: #fff;">  &nbsp;&nbsp;&nbsp; Next <span class="glyphicon glyphicon-arrow-right"></span>&nbsp;&nbsp;  </a>


                    </div>

                </div>

            </div>
        </div>
    </div>

}




    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">

        $(document).ready(function () {
            $('<div>').appendTo('#barrierDiv').load('<%= Url.Action( "LoadBarrier", "Encounters") %>');
        });

        $("#addAnother").click(function () {
            $.get('/Encounters/BarrierEntryRow', function (template) {
                $("#barrierEditor").append(template);
            });
        });


        function GetBarrier(_barrierType) {
            alert("Barrier Type: " + _barrierType);
            $('#SelectedBarrierType').val(_barrierType);
            var url = "/Barriers/BarrierTypePost/";

            $.ajax({
                url: url,
                data: { paramBarrierType: _barrierType },
                cache: false,
                type: "POST",
                success: function (data) {

                    var markup = "";
                    for (var x = 0; x < data.length; x++) {

                        markup += "&nbsp;&nbsp;<input type='radio' name='barrier' id='barrier" + data[x].Value + "' value='" + data[x].Value + "' onchange='GetSolution(this.value)'>" + data[x].Text + "<br />";

                    }
                    $("#divBarriers").html(markup).show();


                },
                error: function (reponse) {
                    alert("error : " + reponse);
                }
            });

        }

        function GetSolution(_barrier) {

            var _barriertype = $('#SelectedBarrierType').val();
            $('#SelectedBarrier').val(_barrier);

            var url = "/Barriers/BarrierPost/";

            $.ajax({
                url: url,
                data: { paramBarrierType: _barriertype },
                cache: false,
                type: "POST",
                success: function (data) {

                    var markup = "<div class='row'><div class='col-md-12'><table width='100%' border-spacing='10px' border-collapse='separate'><tr><td width='50%' padding='5px'>Solution</td><td width='25%' padding='5px'>Follow up Date</td><td width='25%' padding='5px'>Implementation Status</td></tr>";
                    for (var x = 0; x < data.length; x++) {

                        markup += "<tr><td width='50%' padding='5px'>&nbsp;&nbsp;<input type='checkbox' name='barriersolution' id='barriersolution" + data[x].Value + "' value='" + data[x].Value + "'>&nbsp;" + data[x].Text + "</td><td width='25%' padding='5px'><input type='text' name='followupdt' id='followupdt" + data[x].Value + "'></td><td width='25%' padding='5px'><select name='implementationstatus' id='implementationstatus" + data[x].Value + "'><option value='0'>--Select--</option><option value='1'>Implemented</option><option value='2'>Not implemented</option></select></td></tr>";

                    }
                    markup += "</table></div></div>"
                    $("#divBarrierSolutions").html(markup).show();


                },
                error: function (reponse) {
                    alert("error : " + reponse);
                }
            });

        }

        $(document).ready(function () {
            $('#submit').click(function () {
                //alert("Inside submit");
                var _solutions = "";
                var _followupdt = "";
                var _implementationstatus = "";
                $('input[type=checkbox]').each(function () {
                    if (this.checked) {
                        _solutions += $(this).attr('id') + ':' + $(this).val() + ',';
                    }
                });

                $('input[name=followupdt]').each(function () {
                    _followupdt += $(this).attr('id') + ':' + $(this).val() + ',';
                });

                $('select[name=implementationstatus]').each(function () {
                    _implementationstatus += $(this).attr('id') + ':' + $(this).val() + ',';
                });


                $('#SelectedSolution').val(_solutions);
                $('#SelectedFollowupDt').val(_followupdt);
                $('#SelectedImplementationStatus').val(_implementationstatus);

            });
        });

    </script>
