﻿@using EWC_NSAA.ViewModels;
@model EWC_NSAA.ViewModels.EncounterViewModel

@{
    ViewBag.Title = "Create";
    var list = Model.BarrierList == null ? new List<EWC_NSAA.Models.tBarrier>() : Model.BarrierList;
}

<head>
    <link href='https://fonts.googleapis.com/css?family=Fira Sans' rel='stylesheet'>
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/custom.css" rel="stylesheet" />

</head>
@using (Html.BeginForm("Create", "Encounters", FormMethod.Post, new { id = Model }))
{
    <input type="hidden" id="hdnBarrierAssesd" name="hdnBarrierAssesd" />
    <input type="hidden" id="hdnBarrierSolution" name="hdnBarrierSolution" />
    @Html.AntiForgeryToken();
<div class="row col-md-12" style="align-items:center;">
    <!-- widget content -->
    <div class="widget-body margin24">
        <div class="row">
            <form id="wizard-1" novalidate="novalidate">
                <div id="bootstrap-wizard-1" class="col-sm-12">
                    <div class="form-bootstrapWizard" style="align-items:center;">
                        <ul class="bootstrapWizard form-wizard col-md-offset-1" style="padding-left:200px;">
                            <li class="active" data-target="#step1">
                                <a onclick="return showHideTab('one')" data-toggle="tab" class="active" style="cursor:pointer"> <span class="step">1</span> <span class="title">Encounter</span> </a>
                            </li>
                            <li data-target="#step2" class="">
                                <a onclick="return showHideTab('two','two')" data-toggle="tab" style="cursor:pointer"> <span class="step">2</span> <span class="title">Barriers &<br /><br /> Solutions</span> </a>
                            </li>
                            <li data-target="#step3" class="">
                                <a onclick="return showHideTab('three','three')" data-toggle="tab" style="cursor:pointer"> <span class="step">3</span> <span class="title">Next Steps</span> </a>
                            </li>
                            <li data-target="#step4">
                                <a onclick="return showHideTab('four','four')" data-toggle="tab" style="cursor:pointer"> <span class="step">4</span> <span class="title">Notes</span> </a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <br />
                    <div class="tab-content">

                        
                            <div class="panel panel-default margin30" id="tab1">
                                <div class="panel-body col-md-12" style="border: none; margin-bottom: -15px;">
                                    <div class="tab-pane active">
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        <div>
                                            @{ Html.RenderPartial("~/Views/Encounters/_EncounterDetails.cshtml", Model);}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <br/>
                            <br/>

                            <div class="" id="tab2">
                                <div class="">
                                    <div class="tab-pane">
                                        @*<div class="row" id="barrierEditor">
        @{ Html.RenderAction("Create", "Barriers");}
    </div>*@

                                        @{ Html.RenderPartial("~/Views/Encounters/_Barrier.cshtml");}
                                      
                                    </div>
                                </div>
                            </div>



                            <div class="panel panel-default margin30" id="tab3">
                                <div class="panel-body col-md-12" style="border: none; margin-bottom: -15px;">
                                    <div class="tab-pane">
                                        @{ Html.RenderPartial("~/Views/Encounters/_EncounterNext.cshtml", Model);}
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default margin30" id="tab4">
                                <div class="panel-body col-md-12" style="border: none; margin-bottom: -15px;">
                                    <div class="tab-pane">
                                        @{ Html.RenderPartial("~/Views/Encounters/_Notes.cshtml", Model);}
                                    </div>
                                </div>
                            </div>

                            <input type="hidden" name="NSID" id="NSID" value="@Request.QueryString["NSID"]" />
                            <input type="hidden" name="NavigatorID" id="NavigatorID" value="@Request.QueryString["NavigatorID"]" />
                        
                    </div>
                </div>
        </form>
        </div>

    </div>
    <!-- end widget content -->
</div>
 }

<script type="text/javascript">
    $(document).ready(function () {

        $('#tab2').css('display', 'none');
        $('#tab3').css('display', 'none');
        $('#tab4').css('display', 'none');

        $('#txtDateofBirth').datepicker().on('changeDate', function (ev) {
            $('li.active').addClass('halfactive');
            $('li.active').removeClass('active');
        });

    })
    $("#addAnother").click(function () {
        $.get('/Encounters/BarrierEntryRow', function (template) {
            $("#barrierEditor").append(template);
        });
    });
    $("input[type='text']").keyup(function (e) {
        if (e.target.value != "") {
            $('li.active').addClass('halfactive')
            $('li.active').removeClass('active')
            $(e.target).css('border-color', '');
        }
        else {
            $('li.halfactive').addClass('active')
            $('li.halfactive').removeClass('halfactive')
        }
    });

    function showHideTab(currentTab, previous) {
        if (validateForm(currentTab, previous)) {
            if (currentTab == "one") {
                $('#tab1').css('display', 'block');
                $('#tab2').css('display', 'none');
                $('#tab3').css('display', 'none');
                $('#tab4').css('display', 'none');
            }
            else if (currentTab == "two") {
                $('#tab1').css('display', 'none');
                $('#tab2').css('display', 'block');
                $('#tab3').css('display', 'none');
                $('#tab4').css('display', 'none');
            }
            else if (currentTab == "three") {
                $('#tab1').css('display', 'none');
                $('#tab2').css('display', 'none');
                $('#tab3').css('display', 'block');
                $('#tab4').css('display', 'none');
            }
            else if (currentTab == "four") {
                $('#tab1').css('display', 'none');
                $('#tab2').css('display', 'none');
                $('#tab3').css('display', 'none');
                $('#tab4').css('display', 'block');
            }
        }
    }

    function validateForm(currText, previous) {
        var tabVal = "";
        if (previous != undefined) {
            currText = previous;
        }
        if (currText == "one") {
            tabVal = "#step1";
        }
        else if (currText == "two") {
            tabVal = "#step2";
        }
        else if (currText == "three") {
            tabVal = "#step3";
        }
        else if (currText == "four") {
            tabVal = "#step4";
        }

        if (tabVal != "") {
            setSelected(tabVal)
        }
        return true;
    }
    function setSelected(value) {
        $('.bootstrapWizard').find('li').each(function () {
            if ($(this).attr('data-target') == value) {
                $(this).addClass('halfactive');
                $(this).removeClass('active');
            }
            else {
                $(this).removeClass('active');
                $(this).removeClass('halfactive');
            }
        })
    }

    function validateControl(ctrlId) {
        if ($.trim($('#' + ctrlId).val()) == "") {
            $('#' + ctrlId).css('border-color', 'red');
            $('#' + ctrlId).focus();
            return false;
        }
        return true;
    }
    @*function GetBarrier(element, _barrierType) {
        $('.tbarrier').css('background-color', ' rgba(75, 174, 208, .5)');
        $(element).parent().parent().css('background-color', '#009688');

        var tempList = [];
        @foreach (var d in list)
         {
            @:tempList.push("@d.BarrierType");
                                                                                                                                                                                 }
        var isSelected = false;
        $('#SelectedBarrierType').val(_barrierType);
        var url = "/Barriers/BarrierTypePost/";
        $.ajax({
            url: url,
            data: { paramBarrierType: _barrierType },
            cache: false,
            type: "POST",
            success: function (data) {
                var markup = "<div class=panel panel-default' style='border-top: 6px solid rgb(0, 150, 136);'> <div class='panel-body'style='border: 1px solid #ddd;background-color: rgba(75, 174, 208, .5);color: rgb(78, 78, 70);padding-top: 23px;'><table style='width:100%;font-size:18px'> </div> </div>";
                for (let x = 0; x < data.length; x++) {
                    isSelected = false;
                    for (var i = 0; i < tempList.length; i++) {

                        if (tempList[i] == data[x].Value) {
                            isSelected = true;
                        }
                    }
                    if (isSelected) {
                        markup += "<table style='width:100%'><tr><td style='padding-right:2px;vertical-align:top;width:3%'><input type='radio' class='tradiobarrier' onchange='getbarrierValue(this)' style='height:18px;width:18px' name='barrier' id='barrier" + data[x].Value + "' value='" + data[x].Value + "'></td>";
                        markup += "<td class='tdradiobarrier' style='text-align:left; color: rgb(195, 41, 41);'>" + data[x].Text + "</td>&nbsp;</tr></table></td>";
                    }
                    else {
                        markup += "<table style='width:100%'><tr><td style='padding-right:2px;vertical-align:top;width:3%'><input type='radio' onchange='getbarrierValue(this)' class='tradiobarrier' style='height:18px;width:18px' name='barrier' id='barrier" + data[x].Value + "' value='" + data[x].Value + "'></td>";
                        markup += "<td class='tdradiobarrier' style='text-align:left;'>" + data[x].Text + "</td>&nbsp;</tr></table></td>";
                    }
                }
                markup += "</tr>&nbsp;"
                //if (data[0].Text.toLowerCase() != 'other')
                   // markup += "<tr><td colspan='3'><table><tr><td><input type='radio' class='tradiobarrier' style='height:18px;width:18px' name='barrier' id='barrierOther' value='other'></td><td class='tdradiobarrier'>&nbsp;Other&nbsp;</td></td><td><input type='text' class='form-control' /></td></tr></table></td></tr></table>"

                $("#divBarriers").html(markup).show();

                $('input:radio.tradiobarrier').off('change').on('change', function () {
                    $('.tdradiobarrier').css('color', '');
                    $(this).parent().next().css('color', 'rgb(195, 41, 41)');
                });

                GetSolution(_barrierType);

            },

            error: function (reponse) {
                alert("error : " + reponse);
            }
        });
    }

    function getbarrierValue(ctrl) {
        debugger;
        $('#hdnBarrierAssesd').val(ctrl.value);
    }
    var tempSolutions = [];
    function getSolutionValue(ctrl) {
        debugger;
        if (ctrl.checked) {
            if ($.inArray(ctrl.value, tempSolutions) == -1) {
                tempSolutions.push(ctrl.value);
            }
        } else {
            var index = $.inArray(ctrl.value, tempSolutions);
            tempSolutions.splice(index, 1);
        }
        $('#hdnBarrierSolution').val(tempSolutions.join(','));
    }

    function GetSolution(_barrier) {
        var _barriertype = $('#SelectedBarrierType').val();
        $('#SelectedBarrier').val(_barrier);
        var url = "/Barriers/BarrierPost/";
        var tempList = [];
        @foreach (var d in list)
        {
            @:tempList.push("@d.BarrierAssessed");
                                                                                                                                                }
        var isSelected = false;
        $.ajax({
            url: url,
            data: { paramBarrierType: _barriertype },
            cache: false,
            type: "POST",
            success: function (data) {
                var markup = "<div class='row'>";
                markup += "<div class='col-xs-9'>";
                markup += "  <div class='panel panel-default' id='panelSolutions' style='border-top:6px solid #009688;'>";
                markup += "<div class='panel-body' style='border:1px solid #ddd;background-color:rgba(75, 174, 208, .5);color:rgb(78, 78, 70);'>";
                markup += " <table style='width:100%'><tr><td style='padding-right:2px;vertical-align:top;width:3%'>"
                var date = new Date();
                var today = date.getMonth() + "/" + date.getDate() + "/" + date.getFullYear();

                for (var x = 0; x < data.length; x++) {
                    isSelected = false;
                    for (var i = 0; i < tempList.length; i++) {

                        if (tempList[i] == data[x].Value) {
                            isSelected = true;
                        }
                    }
                    if (isSelected) {
                        markup += "<tr ><td style='color:rgb(195, 41, 41);padding-top: 20px;' class='tdcheckbarrier' width='50%'>" +
                            "<input type='checkbox' onchange='getSolutionValue(this)' style='height:18px;width:18px' class='tchecksolutions' name='barriersolution' data-id=" + data[x].Value + " checked='checked' id='barriersolution" + data[x].Value + "' value='" + data[x].Value + "'>&nbsp;" + data[x].Text + "</td>" +
                            " </tr>";
                    }
                    else {
                        markup += "<tr><td class='tdcheckbarrier' width='50%'><input onchange='getSolutionValue(this)' style='height:18px;width:18px' data-id=" + data[x].Value + " type='checkbox' class='tchecksolutions' name='barriersolution' id='barriersolution" + data[x].Value + "' value='" + data[x].Value + "'>&nbsp;" + data[x].Text + "</td>";
                        markup += "</tr>";
                    }
                }
                //if (data[0].Text.toLowerCase() != 'Referral')
                   // markup += "<tr><td colspan='3'><table><tr><td style=padding-top: 20px;><input onchange='getSolutionValue(this)' type='checkbox' class='tchecksolutions' style='height:18px;width:18px;padding-top: 20px' name='barriersolution' id='barriersolutionreferral' value='Referral'></td><td class='tchecksolutions'>&nbsp;Referral&nbsp;</td></td><td style='padding-top: 20px;'><input type='text' class='form-control' /></td></tr></table></td></tr></table>"

                //if (data[0].Text.toLowerCase() != 'other')
                    ///markup += "<tr><td colspan='3'><table><tr><td style=padding-top: 20px;><input onchange='getSolutionValue(this)' type='checkbox' class='tchecksolutions' style='height:18px;width:18px;padding-top: 20px' name='barriersolution' id='barriersolutionother' value='other'></td><td class='tchecksolutions'>&nbsp;Other&nbsp;</td></td><td style='padding-top: 20px;'><input type='text' class='form-control' /></td></tr></table></td></tr></table>"

                markup += "</table></div></div></div>"
                var inner = "<div class='col-xs-3' style='margin-bottom:10px'><br/><br/>";
                for (var x = 0; x < data.length; x++) {
                    inner += "<div style='padding-right:3px;margin-bottom:10px'><select style='display:none' name='implementationstatus' id='implementationstatus" + data[x].Value + "'><option value='0'>N-IMPT</option><option value='1'>IMPT</option></select><br/>";
                    inner += "</div>";
                }
                debugger;
                markup += inner + "</div>";

                $("#divBarrierSolutions").html(markup).show();
                $("#divBarrierSolutions").parent().parent().parent().css('display', 'block');

                $('input:checkbox.tchecksolutions').off('change').on('change', function (e) {
                    var id = $('#' + e.target.id).data('id');
                    if (this.checked) {
                        $('#implementationstatus' + id).css('display', 'block');
                    }
                    else {
                        $('#implementationstatus' + id).css('display', 'none');
                    }
                    $('input:checkbox.tchecksolutions:checked').parent().css('color', 'rgb(195, 41, 41)');
                    $('#SelectedSolution').val($('input:checkbox.tchecksolutions:checked').val());
                });

                $('input:checkbox.tchecksolutions').each(function () {
                    var id = $(this).data('id');
                    if (this.checked) {
                        $('#implementationstatus' + id).css('display', 'block');
                    }
                    else {
                        $('#implementationstatus' + id).css('display', 'none');
                    }
                    $('input:checkbox.tchecksolutions:checked').parent().css('color', 'rgb(195, 41, 41)');
                    $('#SelectedSolution').val($('input:checkbox.tchecksolutions:checked').val());
                });
            },
            error: function (reponse) {
                alert("error : " + reponse);
            }
        });
    }*@


    function missedAppointmentChange(element) {
        if ($(element).is(':checked')) {
            //$('#dvEncounterStartTime, #dvEncounterEndTime').hide();
            $('#dvEncounterEndTime').hide();
        }
        else {
            //$('#dvEncounterStartTime, #dvEncounterEndTime').show();
            $('#dvEncounterEndTime').show();
        }
    }
    //$(document).ready(function () {
    //    $('#btnSubmit').click(function () {
    //        $('#SelectedImplementationStatus').val($('input:checkbox.tchecksolutions:checked').parent().next().find('select').val());
    //    });


    //});

    function missedAppointmentChange(element) {
        if ($(element).is(':checked')) {
            $('#dvEncounterStartTime, #dvEncounterEndTime').hide();
        }
        else {
            $('#dvEncounterStartTime, #dvEncounterEndTime').show();
        }
    }

    @*function selectBarrier() {
        var tempList = [];
        @foreach (var d in list)
        {
            @:tempList.push("@d.BarrierType");
                                                                                   }
        for (var i = 0; i < tempList.length; i++) {
            $('#dvBarrier' + tempList[i]).css('background-color', '#009688');
        }
    }
    selectBarrier();*@
</script>
