﻿@model EWC_NSAA.ViewModels.EncounterViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit Assessment</h2>

@if (TempData["FeedbackMessage"] != null)
{
    <div class="alert alert-info">
        <strong>@TempData["FeedbackMessage"]</strong>
    </div>
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        <strong>@TempData["ErrorMessage"]</strong>
    </div>
}

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">

            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.tEncounter.EncounterID)
            @Html.HiddenFor(model => model.tEncounter.FK_RecipientID)
            @Html.HiddenFor(model => model.tEncounter.FK_NavigatorID)

            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div>
                @{ Html.RenderPartial("~/Views/Shared/_EncounterDetails.cshtml", Model);}
            </div>

            <div class="row">
                <h4>Barriers</h4>

                @{ Html.RenderPartial("~/Views/Shared/_BarrierList.cshtml", Model);}

                <a href="javascript:void(0);" class="addbarrier control-label" id="btnaddbarrier">Add Barrier</a>
                <a href="javascript:void(0);" class="hidebarrier control-label" id="btnhidebarrier" hidden="hidden">Hide Barrier</a>

            </div>

            <div class="row" id="barrierEditor" hidden="hidden">
                @{ Html.RenderAction("Create", "Barriers");}
            </div>

            
            <hr />
            <div>
                @{ Html.RenderPartial("~/Views/Shared/_EncounterNext.cshtml", Model);}
            </div>
            

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" id="submit" class="btn btn-default" />
                </div>
            </div>
        </div>
    }



@section Scripts{
    
    @Scripts.Render("~/bundles/jqueryval")
    <script>

            $(function () {
                $('.addbarrier').click(function () {
                    $('div#barrierEditor').show();
                    $('#btnaddbarrier').hide();
                    $('#btnhidebarrier').show();
                });

                $('.hidebarrier').click(function () {
                    $('div#barrierEditor').hide();
                    $('#btnaddbarrier').show();
                    $('#btnhidebarrier').hide();
                });
            })

          function GetBarrier(_barrierType) {
                $('#SelectedBarrierType').val(_barrierType);
                var url = "/Barriers/BarrierTypePost/";
                $.ajax({
                    url: url,
                    data: { paramBarrierType: _barrierType },
                    cache: false,
                    type: "POST",
                    success: function (data) {

                        var markup = "";
                        for (var x = 0; x < data.length; x++) {
                            markup += "<input type='radio' name='barrier' id='barrier" + data[x].Value + "' value='" + data[x].Value + "' onchange='GetSolution(this.value)'>" + data[x].Text + "<br />";
                        }
                        $("#divBarriers").html(markup).show();
                    },
                    error: function (reponse) {
                        alert("error : " + reponse);
                    }
                });
            }

            function GetSolution(_barrier) {
                var _barriertype = $('#SelectedBarrierType').val();
                $('#SelectedBarrier').val(_barrier);

                var url = "/Barriers/BarrierPost/";

                $.ajax({
                    url: url,
                    data: { paramBarrierType: _barriertype },
                    cache: false,
                    type: "POST",
                    success: function (data) {

                        var markup = "<div class='row'><div class='col-md-12'><table width='100%'><tr><td width='50%'>Solution</td><td width='25%'>Follow up Date</td><td width='25%'>Implementation Status</td></tr>";
                        for (var x = 0; x < data.length; x++) {
                            markup += "<tr><td width='50%'><input type='checkbox' name='barriersolution' id='barriersolution" + data[x].Value + "' value='" + data[x].Value + "'>&nbsp;" + data[x].Text + "</td><td width='25%'><input type='text' name='followupdt' id='followupdt" + data[x].Value + "'></td><td width='25%'><select name='implementationstatus' id='implementationstatus" + data[x].Value + "'><option value='0'>--Select--</option><option value='1'>Implemented</option><option value='2'>Not implemented</option></select></td></tr>";
                        }
                        markup += "</table></div></div>"
                        $("#divBarrierSolutions").html(markup).show();
                    },
                    error: function (reponse) {
                        alert("error : " + reponse);
                    }
                });

            }

        $(document).ready(function () {
            $('#submit').click(function () {
                var _solutions = "";
                var _followupdt = "";
                var _implementationstatus = "";
                $('input[name=barriersolution]').each(function () {
                    if (this.checked) {
                        _solutions += $(this).attr('id') + ':' + $(this).val() + ',';
                    }
                });

                $('input[name=followupdt]').each(function () {
                    _followupdt += $(this).attr('id') + ':' + $(this).val() + ',';
                });

                $('select[name=implementationstatus]').each(function () {
                    _implementationstatus += $(this).attr('id') + ':' + $(this).val() + ',';
                });

                $('#SelectedSolution').val(_solutions);
                $('#SelectedFollowupDt').val(_followupdt);
                $('#SelectedImplementationStatus').val(_implementationstatus);
            });
        });

    </script>
}






