﻿@model EWC_NSAA.ViewModels.EncounterListViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Assessments</h2>

<p>
    @Html.ActionLink("Add Assessment", "Create", "Encounters", new { NSID = this.Request.QueryString["NSID"], NavigatorID = this.Request.QueryString["NavigatorID"] }, null) 
</p>

    <table class="table">
        <tr>
            <td>
                @Html.Label("Recipient First Name")
            </td>
            <td>
                @Html.Label("Recipient Last Name")
            </td>
            <td>
                @Html.LabelFor(model => model.Encounters.FirstOrDefault().EncounterNumber)
            </td>
            <td>
                @Html.LabelFor(model => model.Encounters.FirstOrDefault().EncounterDt)
            </td>
            <td>
                @Html.LabelFor(model => model.Encounters.FirstOrDefault().EncounterType)
            </td>
            <td>
                @Html.LabelFor(model => model.Encounters.FirstOrDefault().NextAppointmentDt)
            </td>
            <td>
                @Html.LabelFor(model => model.Encounters.FirstOrDefault().NextAppointmentType)
            </td>
            <td>
                @Html.LabelFor(model => model.Encounters.FirstOrDefault().DateCreated)
            </td>
            <td>
                @Html.LabelFor(model => model.Encounters.FirstOrDefault().CreatedBy)
            </td>
            <td>
                @Html.LabelFor(model => model.Encounters.FirstOrDefault().LastUpdated)
            </td>
            <td>
                @Html.LabelFor(model => model.Encounters.FirstOrDefault().UpdatedBy)
            </td>
            
            <td></td>
        </tr>
    
    @foreach (var item in Model.Encounters) {
        <tr>
            <td>
                @Model.Recipients.Where(x => x.NSRecipientID == item.FK_RecipientID).Select(x => x.FirstName).First()
            </td>
            <td>
                @Model.Recipients.Where(x => x.NSRecipientID == item.FK_RecipientID).Select(x => x.LastName).First()
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EncounterNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EncounterDt)
            </td>
           <td>
               @Model.EncounterTypeSelectItems.Where(x => x.Value == item.EncounterType.ToString()).Select(x => x.Text).First() 
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NextAppointmentDt)
            </td>
            <td>
                @Model.EncounterTypeSelectItems.Where(x => x.Value == item.NextAppointmentType.ToString()).Select(x => x.Text).First() 
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastUpdated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedBy)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.EncounterID, NSID = item.FK_RecipientID, NavigatorID = item.FK_NavigatorID}) |
                
            </td>
        </tr>
    }
    
    </table>

