﻿@model EWC_NSAA.ViewModels.NavigationCycleViewModel
@{
    ViewBag.Title = "Edit";
}

<h2>Edit Enrollment Details</h2>

@if (TempData["FeedbackMessage"] != null)
{
    <div class="alert alert-info">
        <strong>@TempData["FeedbackMessage"]</strong>
    </div>
}

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        
        <div class="form-horizontal">
      
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.tNavigationCycle.NavigationCycleID)
            @Html.HiddenFor(model => model.tNavigationCycle.FK_NavigatorID)
            @Html.HiddenFor(model => model.tNavigationCycle.FK_RecipientID)
                        
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.tNavigationCycle.CancerSite, "* Site", htmlAttributes: new { @class = "control-label col-md-5" })
                        <div class="col-md-offset-5">
                            @Html.DropDownListFor(model => model.tNavigationCycle.CancerSite, EWC_NSAA.Controllers.NavigationCyclesController.GetCancerSiteDropDown())
                            @Html.ValidationMessageFor(model => model.tNavigationCycle.CancerSite, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.tNavigationCycle.NSProblem, "* Navigation Need", htmlAttributes: new { @class = "control-label col-md-5" })
                        <div class="col-md-offset-5">
                            @Html.DropDownListFor(model => model.tNavigationCycle.NSProblem, EWC_NSAA.Controllers.NavigationCyclesController.GetNSProblemDropDown())
                            @Html.ValidationMessageFor(model => model.tNavigationCycle.NSProblem, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <hr />
            <div>
                <h4>Health Plan Information</h4>
                @{ Html.RenderPartial("~/Views/Shared/_HealthPlanInfo.cshtml", Model);}
            </div>

            <hr />
            <div>
                <h4>Provider Information</h4>
                @{ Html.RenderPartial("~/Views/Shared/_NSProvider.cshtml", Model);}
            </div>
            <hr />
            <div>
                <h4>Recipient Contact Preferences</h4>
                @{ Html.RenderPartial("~/Views/Shared/_RecipientContactPreference.cshtml", Model);}
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
    
    

