﻿@using System.ComponentModel;
@model EWC_NSAA.ViewModels.NavigationCycleListViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Enrollment Details</h2>

<p>
    @Html.ActionLink("Add Details", "Create", new { NSID = this.Request.QueryString["NSID"], NavigatorID = this.Request.QueryString["NavigatorID"] })
</p>

    <table class="table">
        <tr>
            <td>
                @Html.Label("Recipient First Name")
            </td>
            <td>
                @Html.Label("Recipient Last Name")
            </td>
            <td>
                @Html.LabelFor(model => model.Cycles.FirstOrDefault().NSProblem, "Navigation Need")
            </td>
            <td>
                @Html.LabelFor(model => model.Cycles.FirstOrDefault().HealthProgram, "Health Program")
            </td>
            <td>
                @Html.LabelFor(model => model.Cycles.FirstOrDefault().HealthInsuranceStatus, "Health Insurance Status")
            </td>
            <td>
                @Html.LabelFor(model => model.Cycles.FirstOrDefault().DateCreated, "Date Created")
            </td>
            <td>
                @Html.LabelFor(model => model.Cycles.FirstOrDefault().CreatedBy, "Created By")
            </td>
            <td>
                @Html.LabelFor(model => model.Cycles.FirstOrDefault().LastUpdated, "Last Updated")
            </td>
            <td>
                @Html.LabelFor(model => model.Cycles.FirstOrDefault().UpdatedBy, "Updated By")
            </td>
        </tr>
    
    @foreach (var item in Model.Cycles) {
        <tr>
            <td>
                @Model.Recipients.Where(x => x.NSRecipientID == item.FK_RecipientID).Select(x => x.FirstName).First()
            </td>
            <td>
                @Model.Recipients.Where(x => x.NSRecipientID == item.FK_RecipientID).Select(x => x.LastName).First()
            </td>
            <td>
                @Model.NSProblems.Where(x => x.NSProblemCode == item.NSProblem).Select(x => x.NSProblemDescription).First()
            </td>
            <td>
                @Model.HealthPrograms.Where(x => x.HealthProgramCode == item.HealthProgram).Select(x => x.HealthProgramName).First()
            </td>
            <td>
                @Model.HealthInsurance.Where(x => x.HealthInsuranceCode == item.HealthInsurancePlan).Select(x => x.HealthInsuranceName).First()
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastUpdated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedBy)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.NavigationCycleID }) |
                @Html.ActionLink("Add New Assessment", "Create", "Encounters", new { NSID = item.FK_RecipientID, NavigatorID = item.FK_NavigatorID, NavigationCycleID = item.NavigationCycleID }, null) |
                @Html.ActionLink("View Assessments", "Index", "Encounters", new { NSID = item.FK_RecipientID, NavigatorID = item.FK_NavigatorID, NavigationCycleID = item.NavigationCycleID }, null)
            </td>
        </tr>
    }
    
    </table>

