﻿@model EWC_NSAA.ViewModels.AssistanceViewModel

@{
    Layout="~/Views/Shared/_Layout.cshtml";
}

@using(Html.BeginForm("Create", "Assistance", FormMethod.Post, new { id = Model }))
{
        @Html.AntiForgeryToken()
<div class="row col-md-12">
  
    <div class="widget-body margin24">
        <div class="row">
            <div id="bootstrap-wizard-1" class="col-sm-12">
                    <div class="form-bootstrapWizard" style="padding-left:90px;padding-right:20px">
                        <ul class="bootstrapWizard form-wizard col-md-offset-3">
                            <li class="active" data-target="#step1">
                                <a onclick="return showHideTab('one')" data-toggle="tab" class="active" style="cursor:pointer"> <span class="step">1</span> <span class="title">Request</span> </a>
                            </li>
                            <li data-target="#step2" class="">
                                <a onclick="return showHideTab('two','two')" data-toggle="tab" style="cursor:pointer"> <span class="step">2</span> <span class="title">Problem Issue</span> </a>
                            </li>
                            <li data-target="#step3" class="">
                                <a onclick="return showHideTab('three','three')" data-toggle="tab" style="cursor:pointer"> <span class="step">3</span> <span class="title">Resolution</span> </a>
                            </li>

                        </ul>
                        <div class="clearfix"></div>
                    </div>

                    <div class="tab-content">
                        <div class="panel panel-default margin30" id="tab1">
                            <div class="panel-body  col-md-12" style="border: none; margin-bottom: -15px;">
                                <div class="tab-pane active">
                                    @Html.Partial("_PCPRequest")
                                </div>
                            </div>
                        </div>
                            <div class="panel panel-default margin30" id="tab2">
                                <div class="panel-body  col-md-12" style="border: none; margin-bottom: -15px;">
                                    <div class="tab-pane">
                                        @Html.Partial("_PCPProblemIssue")
                                    </div>
                                </div>
                            </div>
                                <div class="panel panel-default margin30" id="tab3">
                                    <div class="panel-body  col-md-12" style="border: none; margin-bottom: -15px;">
                                        <div class="tab-pane">
                                            @Html.Partial("_PCPResolution")
                                            
                                        </div>
                                    </div>
                                </div>
                    </div>
                </div>
        </div>
    </div>
</div>
}
            <!-- end widget -->
     
@section scripts {
<script type="text/javascript">
    
    $(document).ready(function () {
        $('#tab2').css('display', 'none');
        $('#tab3').css('display', 'none');
    });

    $('#datereferral').datepicker().on('changeDate', function (ev) {});

    function showHideTab(currentTab, previous) {
        if (validateForm(currentTab, previous)) {
            if (currentTab == "one") {
                $('#tab1').css('display', 'block');
                $('#tab2').css('display', 'none');
                $('#tab3').css('display', 'none');
            }
            else if (currentTab == "two") {
                $('#tab1').css('display', 'none');
                $('#tab2').css('display', 'block');
                $('#tab3').css('display', 'none');
            }
            else if (currentTab == "three") {
                $('#tab1').css('display', 'none');
                $('#tab2').css('display', 'none');
                $('#tab3').css('display', 'block');
            }
        }

    }

    function validateForm(currText, previous) {
        alert('Inside validateform');
        var tabVal = "";
        if (previous != undefined) {
            currText = previous;
        }
        if (currText == "one") {
            tabVal = "#step1";
        }
        else if (currText == "two") {

            tabVal = "#step2";
        }
        else if (currText == "three") {
            tabVal = "#step3";
        }


        return true;
    }

</script>
}