﻿
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    a {
        color: #005782;
        text-decoration: none;
    }

    table th {
        padding: 15px 5px 10px;
        text-align: center;
        background-color: #7EB2B2;
        font-family: 'FiraSans-Light' !important;
        font-size: 18px !important;
        color: #fff;
    }

    table td {
        padding: 5px 2px 2px;
        text-align: center;
        align-items: center;
        font-family: 'FiraSans-Light' !important;
        font-size: 18px !important;
    }

    .table-row-style {
        background-color: #DEF9F9;
        padding: 3px 7px 2px;
        text-align: left;
        font-family: 'FiraSans-Light' !important;
        font-size: 18px !important;
    }

    .table-striped > tbody > tr:nth-of-type(odd) {
        background-color: #DEF9F9;
        padding: 3px 7px 2px;
        font-family: 'FiraSans-Light' !important;
        font-size: 18px !important;
    }
</style>

<div class="container" style="margin-top:15px;">
    <br />
    <div class="row">
        <div class="col-md-8"></div>
            <div class="col-md-3" style="margin-left:75px; margin-right:20px; margin-top:-20px;">
                <div class="input-group">
                    <input class="form-control pull-right" placeholder="Search for..." style="height: 40px;">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit" id="searchRecord" style="height: 40px;"><i class="glyphicon glyphicon-search"></i></button>
                    </span>
                </div>
            </div>
        </div>
    <div class="row">

        <article class="col-sm-12 col-md-12 col-lg-12 sortable-grid ui-sortable">
            <div id="wid-id-0">
                <div class="widget-body">
                    <div class="row">
                        <form id="wizard-1" novalidate="novalidate">
                            <div id="bootstrap-wizard-1" class="col-sm-12">
                                <div class="form-bootstrapWizard">
                                    <ul class="bootstrapWizard form-wizard col-md-offset-3">
                                        <li class="active" data-target="#step1">
                                            <a onclick="return showHideTab('one')" data-toggle="tab" class="active" style="cursor:pointer"> <span class="step">1</span> <span class="title">Request</span> </a>
                                        </li>
                                        <li data-target="#step2" class="">
                                            <a onclick="return showHideTab('two','two')" data-toggle="tab" style="cursor:pointer"> <span class="step">2</span> <span class="title">Problem Issue</span> </a>
                                        </li>
                                        <li data-target="#step3" class="">
                                            <a onclick="return showHideTab('three','three')" data-toggle="tab" style="cursor:pointer"> <span class="step">3</span> <span class="title">Resolution</span> </a>
                                        </li>

                                    </ul>
                                    <div class="clearfix"></div>
                                </div>
                                @*<div class="tab-content" style="margin-top:30px">
            <div class="panel panel-default" id="tab1" style="border:none">
                    <div class="tab-pane active">*@
                                <div class="tab-content">
                                    <div class="panel panel-default margin30" id="tab1">
                                        <div class="panel-body  col-md-12" style="border: none; margin-bottom: -15px;">

                                            <div class="tab-pane active">

                                                @Html.Partial("_PCPRequest")
                                            </div>
                                        </div></div>
                                        @*<div class="panel panel-default" id="tab2" style="border:none">
            <div class="tab-pane">*@
                                        <div class="panel panel-default margin30" id="tab2">
                                            <div class="panel-body  col-md-12" style="border: none; margin-bottom: -15px;">
                                                <div class="tab-pane">
                                                    @Html.Partial("_PCPProblemIssue")
                                                </div>
                                            </div></div>
                                            @*<div class="panel panel-default" id="tab3" style="border:none">
            <div class="tab-pane">*@
                                            <div class="panel panel-default margin30" id="tab3">
                                                <div class="panel-body  col-md-12" style="border: none; margin-bottom: -15px;">
                                                    <div class="tab-pane">
                                                        @Html.Partial("_PCPResolution")
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
</form></div>
                    </div>
                </div>
            </div>

            <!-- end widget -->
        </article>
    </div>
    <div class="row">

        <div class="modal fade" id="searchModal" data-keyboard="false" data-backdrop="static">

            <div class="modal-dialog modal-lg">

                <div class="modal-content">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"> × </button>
                        <h4 class="modal-title"></h4>
                    </div>

                    <div class="modal-body">
                        <br />
                        <form class="body-content" style="border:none;">
                            <div class="panel panel-primary">
                                <div class="panel-heading"> Search result </div>
                                <div class="panel-body">
                                    <div class="form-group">
                                        <table class="table table-hover table-striped table-responsive">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        <div>Incident</div>
                                                      
                                                    </th>
                                                    <th>
                                                        <div>Name</div>
                                                       
                                                    </th>
                                                    <th>
                                                        <div>Problem/Issue</div>
                                                       
                                                    </th>

                                                    <th>
                                                        <div>Incident</div>
                                                        <div>Start Date</div>
                                                    </th>

                                                </tr>
                                            </thead>
                                            <tbody  style="text-align:left;">
                                                <tr  style="text-align:left;">
                                                    <td>3283810923</td>
                                                    <td  style="text-align:left;">Serene Athens</td>
                                                    <td  style="text-align:left;">Program eligibility/enrollment question</td>
                                                    <td>04/03/2017</td>
                                                </tr>
                                                <tr  style="text-align:left;">
                                                    <td>8739290123</td>
                                                    <td  style="text-align:left;">Dolly Wood</td>
                                                    <td  style="text-align:left;">Claims denial</td>
                                                    <td>06/01/2017</td>
                                                </tr>
                                                <tr  style="text-align:left;">
                                                    <td>5932120123</td>
                                                    <td  style="text-align:left;">Sarah McDonald</td>
                                                    <td  style="text-align:left;">Clarification of Program or Clinical Issue</td>
                                                    <td>02/07/2017</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>


                        </form>
                    </div>

                    <div class="modal-footer"></div>

                </div>
            </div>
        </div>

    </div>


</div>

<script type="text/javascript">
    
    $(document).ready(function () {
        $('#tab2').css('display', 'none');
        $('#tab3').css('display', 'none');

        $("#searchRecord").click(function () {
            $("#searchModal").modal('show');
        });

        $("#btnHideModal").click(function () {
            $("#searchModal").modal('hide');
        });

    });

    $('#datereferral').datepicker().on('changeDate', function (ev) {});

    function showHideTab(currentTab, previous) {
        if (validateForm(currentTab, previous)) {
            if (currentTab == "one") {
                $('#tab1').css('display', 'block');
                $('#tab2').css('display', 'none');
                $('#tab3').css('display', 'none');
            }
            else if (currentTab == "two") {
                $('#tab1').css('display', 'none');
                $('#tab2').css('display', 'block');
                $('#tab3').css('display', 'none');
            }
            else if (currentTab == "three") {
                $('#tab1').css('display', 'none');
                $('#tab2').css('display', 'none');
                $('#tab3').css('display', 'block');
            }
        }

    }

    function validateForm(currText, previous) {
        var tabVal = "";
        if (previous != undefined) {
            currText = previous;
        }
        if (currText == "one") {
            tabVal = "#step1";
        }
        else if (currText == "two") {

            tabVal = "#step2";
        }
        else if (currText == "three") {
            tabVal = "#step3";
        }


        return true;
    }


    $('table').on('click', 'tr', function () {
        $("#searchModal").modal('hide');
    });

</script>