﻿.body-content{

 background-color: #fff;
    margin-top: -50px;
    /*width: 97.8% !important;*/
  
}

.partialmainbody {
    /*margin-top: -32px;*/
    /*min-height: 570px;*/
      /*box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.1), 0px 2px 10px 0 rgba(0, 0, 0, 0.2);*/
       overflow:hidden;
   min-height:0px;
}


body,
.btn,
.form-control {
    /*background-color:white!important;*/
    font-family: 'FiraSans-Light' !important;
    font-size: 18px !important;

}

.top-buffer1 {
    margin-top: 5px;
}

.top-buffer2 {
    margin-top: 10px;
}
.bottom {
    border-bottom: 2px solid #ccc;
}

.top-buffer3 {
    margin-top: 15px;
}

.top-buffer4 {
    margin-top: 20px;
}

.bootstrapWizard li .title {
    color: #bfbfbf;
    display: block;
    font-size: 18px !important;
    line-height: 15px;
    max-width: 100%;
    position: relative;
    table-layout: fixed;
    text-align: center;
    top: 20px;
    word-wrap: break-word;
    z-index: 104;
    font-family: 'FiraSans-Light' !important;
}

.modal fade {
    font-family: 'FiraSans-Light' !important;
    font-size: 18px !important;
}

/*.form-control::-webkit-input-placeholder {
    color: black !important;
}*/


label {
    font-family: 'FiraSans-Light' !important;
    font-size: 18px !important;
}

/*.form-control ::-webkit-input-placeholder {
    color: black !important;
}*/

.darkblackbg {
    background-image: url('../Images/dark-black-bg.png');
    background-repeat: repeat;
    border: none;
}

.dashbaordbg {
    /*background-image: url('../Images/black-bg.png');
    background-repeat: repeat;*/
    background-color: #696967;
    font-family: FiraSans-Light;
    border-right: 2px solid #121212;
    /*border-radius: 2px;*/
    width: 150px;
    height: 57px;
    cursor: pointer;
    /*-moz-box-shadow: inset 0 0 4px #000000;
    -webkit-box-shadow: inset 0 0 4px #000000;
    box-shadow: inset 0 0 4px #000000;*/
}

.lianchor {
    color: white !important;
    font-size: 18px;
    width: 5px;
    vertical-align: top;
    padding-left: 15px;
    position: relative;
    bottom: 5px;
    left: 40px;
    box-shadow:NONE;
}

.hecactivitiesbg {
    /*background-image: url('../Images/green-bg.png');
    background-repeat: repeat;*/
    background-color: #8bae24;
    font-family: FiraSans-Light;
    /*border-radius: 2px;*/
    border-right: 2px solid #121212;
    width: 150px;
    height: 57px;
    cursor: pointer;
    /*border-bottom: solid 4px #696967;
    box-shadow: inset 0 -10px 1px -10px #000;*/
    /*-moz-box-shadow: inset 0 0 4px #000000;
    -webkit-box-shadow: inset 0 0 4px #000000;
    box-shadow: inset 0 0 4px #000000;*/
}

.clinicalservices {
    /*background-image: url('../Images/red-bg.png');
    background-repeat: repeat;*/
    background-color: #cb343c;
    border-right: 2px solid #121212;
    /*-moz-box-shadow: inset 0 0 4px #000000;
    -webkit-box-shadow: inset 0 0 4px #000000;
    box-shadow: inset 0 0 4px #000000;*/
}

.regionalresources {
    /*background-image: url('../Images/yellow-bg.png');*/
    background-color: #e79a2f;
    background-repeat: repeat;
    border-right: 2px solid #121212;
    /*border-bottom: solid 4px #696967;
    box-shadow: inset 0 -10px 1px -10px #000;*/
    /*-moz-box-shadow: inset 0 0 4px #000000;
    -webkit-box-shadow: inset 0 0 4px #000000;
    box-shadow: inset 0 0 4px #000000;*/
}

.navigationservices {
    /*background-image: url('../Images/blue-bg.png');*/
    background-color: #009688;
    /*background-repeat: repeat;*/
    border-right: 2px solid #121212;
    /*border-bottom: solid 4px #696967;
    box-shadow: inset 0 -10px 1px -10px #000;*/
    /*-moz-box-shadow: inset 0 0 4px #000000;
    -webkit-box-shadow: inset 0 0 4px #000000;
    box-shadow: inset 0 0 4px #000000;*/
}

/*.navigationservices:after {
        width: 0;
        height: 0;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-top: 15px solid #009688;
        content: " ";
        position: absolute;
        bottom: -15px;
        left: 35%;
      }*/

.navigationserviceshdr {
    /*background-image: url('../Images/blue-bg.png');*/
    background-color: #009688;
    /*background-repeat: repeat;*/
    border-right: 2px solid #121212;
    /*border-bottom: solid 4px #696967;
    box-shadow: inset 0 -10px 1px -10px #000;*/
    /*-moz-box-shadow: inset 0 0 4px #000000;
    -webkit-box-shadow: inset 0 0 4px #000000;
    box-shadow: inset 0 0 4px #000000;*/
}

.menuNS-bg {
    margin-top: 0px;
    background-color: #009688;
    width: 100%;
    height: 68px;
    /*background-image: url('../Images/blue-bg.png');*/
    background-repeat: repeat-x;
    background-color: #009688;
    /*border-bottom: solid 4px #696967;
    box-shadow: inset 0 -10px 1px -10px #000;*/
}


/*enrollment/assesment styles starts here*/

.eabgcolor {
    background-color: #009688;
}

/*Barriers command solutions styles*/
#divBarriers input[type=radio]{
    height:auto;
    width: auto;

}

/*code for menu stop add thead arrow selected state*/

/*ul, li {
  padding: 0;
  list-style: none;
}

ul {
  text-align: center;
  margin-top:15px;
}

li {
  display: inline-block;
  background-color: red;
  font-size:0;
  position: relative;
}

a {
  display: block;
  text-decoration: none;
  font-size:1rem;
  color:white;
  padding: 1rem 2rem;
  position: relative;
}

li:before,
li:after {
  position: absolute;
  content:"";
  top:100%;
  width:calc(50% - 12px);  allows to width of triangle
  height:12px;
  background-color: red;
}

li:before{
  left:0;
}

li:after {
  right:0;
}

a:before {
  position: absolute;
  content:"";
  z-index:-1; /* hide behind link 
  border:12px solid red;
  top:100%;
  left:50%;
  transform:translate(-50%, -50%);  center the pseudo element and only show bottom half
}

a.current:before {
    border-bottom-color:transparent; /* our triangle 


    script
    $("a").click(function () {
  $(this).toggleClass("current");
  $("a").not(this).removeClass("current");
});


}*/




.bnsmargin input[type=checkbox]{
    
    padding-top: 16px !important;
}

.navbar-default {
    background-color: #000 !important;
         border-color: #060606 !important;
}
.navbar {
    background-color: #000 !important;
    border-color:none!important;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color:#000;
}
.margin30 {
  margin-left: 35px;
  border: none;
      margin-top: -15px;


}

.margin24 {

margin-top: 24px;
}
.navbar-default .navbar-nav>li>a{
color: #fff !important;
font-size: 18px;
    text-align: center;
}
/*input[type=checkbox]
{
    height:20px;
    width:20px;
      color: #50c421;
}*/


  input[type=checkbox] {
     cursor: pointer;
         width: 24px;
    height: 24px;
  }

 input[type=checkbox]:after {
  content: " ";
  background-color:transparent;
  display: inline-block;
  visibility: visible;
      width: 24px;
    height: 24px;
 }

 input[type=checkbox]:checked:after {
   content: "\2714";
   color: #fff;
    font-size: 20px;
    padding-left: 5px;
    border-radius: 4px;
    font-weight: bold;
        background-color: rgb(5, 105, 10);

 }