﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
   
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}
.webkit-input-placeholder {
    color:   black!important;
}
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 3000px;
}

header,#footer,#content { position:absolute; right:50px;left:50px}

#header{
   height:100px; top:0;
}
#footer{
 

 
}
#content{
  top:100px;
 
    /*max-width: 1200PX;*/
    /*background-color: #ffffff;*/  
    margin: 0 auto 0 auto;
    overflow-y: hidden;
overflow-x: hidden;

  /*overflow:hidden;*/ /* use this if don't want any window scrollbars and use an inner element for scrolling*/
}


.navbar-default {
    background-color: #000 !important;
         border-color: #060606 !important;
}
.textareacomments{
     margin: 1px; 
     width: 98%; 
     max-width:100%; 
     height: 100px;
}

.textareaoldcomments{
     margin: 1px; 
     width: 98%; 
     max-width:100%; 
     height: 200px;
}