﻿
@font-face{
  font-family: 'FiraSans-Light';
  src: url('fonts/FiraSans-Light.otf');
}
body{
    background-color:white !important;
  font-family: 'FiraSans-Light';
  font-size:18px !important;
      background-color: #ddd !important;
          padding-top: 50px;
    padding-bottom: 20px;

}

/*webkit-input-placeholder {
    color:   black!important;
}*/



input[type=radio]
{
    height:24px;
    width:24px;
}
/*input[type=checkbox]
{
    height:20px;
    width:20px;
   
}*/

input[type=checkbox] {
    width: 20px;
    height: 20px;
    padding: 0;
    margin:0;
    vertical-align: middle!important;
    position: relative;
    top: -1px;
    background: green;
    *overflow: hidden;
}
    input[type=checkbox] + label {
        display: block;
    padding-left: 15px;
    text-indent: -15px;
    font-weight: normal !important;
     vertical-align: bottom!important;

     display: inline-block;
    max-width: 100%;
    margin-bottom: -1px;
  
    }
.checkbox label {
    display: block;
    padding-left: 15px;
    text-indent: -15px;
    font-weight: normal !important;
     vertical-align: bottom!important;
}
/*input[type="checkbox"]:checked + label::after {
   content: '';
   position: absolute;
   width: 1.2ex;
   height: 0.4ex;
   background: rgba(0, 0, 0, 0);
   top: 0.9ex;
   left: 0.4ex;
    background-color:red !important;
   border: 3px solid green !important ;
   border-top: none;
   border-right: none;
   -webkit-transform: rotate(-45deg);
   -moz-transform: rotate(-45deg);
   -o-transform: rotate(-45deg);
   -ms-transform: rotate(-45deg);
   transform: rotate(-45deg);
}*/






    #sliderLabel {
        border: 1px solid #a2a2a2;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        cursor: pointer;
        display: block;
        height: 30px;
        overflow: hidden;
        position: relative;
        width: 100px;
        display: inline-block;
    }

        #sliderLabel input {
            display: none;
        }


            #sliderLabel input:checked + #slider {
                left: 0px;
            }

    #slider {
        left: -50px;
        position: absolute;
        top: 0px;
        -webkit-transition: left .25s ease-out;
        -moz-transition: left .25s ease-out;
        -o-transition: left .25s ease-out;
        -ms-transition: left .25s ease-out;
        transition: left .25s ease-out;
    }

    #sliderOn,
    #sliderBlock,
    #sliderOff {
        display: block;
        font-family: 'FiraSans-Light' !important;
        font-weight: bold;
        height: 30px;
        line-height: 30px;
        position: absolute;
        text-align: center;
        top: 0px;
    }

    #sliderOn {
        background: #3269aa;
        background: -webkit-linear-gradient(top, #3269aa 0%, #82b3f4 100%);
        background: -moz-linear-gradient(top, #3269aa 0%, #82b3f4 100%);
        background: -o-linear-gradient(top, #3269aa 0%, #82b3f4 100%);
        background: -ms-linear-gradient(top, #3269aa 0%, #82b3f4 100%);
        background: linear-gradient(top, #3269aa 0%, #82b3f4 100%);
        color: white;
        left: 0px;
        width: 54px;
    }

    #sliderBlock {
        background: #d9d9d8;
        background: -webkit-linear-gradient(top, #d9d9d8 0%, #fcfcfc 100%);
        background: -moz-linear-gradient(top, #d9d9d8 0%, #fcfcfc 100%);
        background: -o-linear-gradient(top, #d9d9d8 0%, #fcfcfc 100%);
        background: -ms-linear-gradient(top, #d9d9d8 0%, #fcfcfc 100%);
        background: linear-gradient(top, #d9d9d8 0%, #fcfcfc 100%);
        border: 1px solid #a2a2a2;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        height: 28px;
        left: 50px;
        width: 50px;
    }

    #sliderOff {
        background: #f2f3f2;
        background: -webkit-linear-gradient(top, #8b8c8b 0%, #f2f3f2 50%);
        background: -moz-linear-gradient(top, #8b8c8b 0%, #f2f3f2 50%);
        background: -o-linear-gradient(top, #8b8c8b 0%, #f2f3f2 50%);
        background: -ms-linear-gradient(top, #8b8c8b 0%, #f2f3f2 50%);
        background: linear-gradient(top, #8b8c8b 0%, #f2f3f2 50%);
        color: #8b8b8b;
        left: 96px;
        width: 54px;
    }

    /* Checkbox and Radio buttons */
/*.form-group input[type="radio"],
.form-group input[type="checkbox"]{
	display: none;
}

.form-group input[type="checkbox"] + .btn-group > label,
.form-group input[type="radio"] + .btn-group > label{
	white-space: normal;
}

.form-group input[type="checkbox"] + .btn-group > label.btn-default,
.form-group input[type="radio"] + .btn-group > label.btn-default{
	color: #333;
	background-color: #fff;
	border-color: #ccc;
}
.form-group input[type="checkbox"] + .btn-group > label.btn-primary,
.form-group input[type="radio"] + .btn-group > label.btn-primary{
	color: #fff;
	background-color: #428bca;
	border-color: #357ebd;
}
.form-group input[type="checkbox"] + .btn-group > label.btn-success,
.form-group input[type="radio"] + .btn-group > label.btn-success{
	color: #fff;
	background-color: #5cb85c;
	border-color: #4cae4c;
}
.form-group input[type="checkbox"] + .btn-group > label.btn-info,
.form-group input[type="radio"] + .btn-group > label.btn-info{
	color: #fff;
	background-color: #5bc0de;
	border-color: #46b8da;
}
.form-group input[type="checkbox"] + .btn-group > label.btn-warning,
.form-group input[type="radio"] + .btn-group > label.btn-warning{
	color: #fff;
	background-color: #f0ad4e;
	border-color: #eea236;
}
.form-group input[type="checkbox"] + .btn-group > label.btn-danger,
.form-group input[type="radio"] + .btn-group > label.btn-danger{
	color: #fff;
	background-color: #d9534f;
	border-color: #d43f3a;
}
.form-group input[type="checkbox"] + .btn-group > label.btn-link,
.form-group input[type="radio"] + .btn-group > label.btn-link {
	font-weight: normal;
	color: #428bca;
	border-radius: 0;
}

.form-group input[type="radio"] + .btn-group > label span:first-child,
.form-group input[type="checkbox"] + .btn-group > label span:first-child{
	display: none;
}

.form-group input[type="radio"] + .btn-group > label span:first-child + span,
.form-group input[type="checkbox"] + .btn-group > label span:first-child + span{
	display: inline-block;
}

.form-group input[type="radio"]:checked + .btn-group > label span:first-child,
.form-group input[type="checkbox"]:checked + .btn-group > label span:first-child{
	display: inline-block;
}

.form-group input[type="radio"]:checked + .btn-group > label span:first-child + span,
.form-group input[type="checkbox"]:checked + .btn-group > label span:first-child + span{
	display: none;  
}

.form-group input[type="checkbox"] + .btn-group > label span[class*="fa-"],
.form-group input[type="radio"] + .btn-group > label span[class*="fa-"]{
	width: 15px;
	float: left;
	margin: 4px 0 2px -2px;
}

.form-group input[type="checkbox"] + .btn-group > label span.content,
.form-group input[type="radio"] + .btn-group > label span.content{
	margin-left: 10px;
}
/* End::Checkbox and Radio buttons */*/

/*vertical Tabs styles  starts here*/

.tabs-left {
  border-right: 1px solid #ddd;
}
.tabs-left>li, .tabs-right>li {
  float: none;
  margin-bottom: 2px;
}
.tabs-left>li {
  margin-right: -1px;
}
.tabs-left>li.active>a,
.tabs-left>li.active>a:hover,
.tabs-left>li.active>a:focus {
  border-bottom-color: #ddd;
  border-right-color: transparent;
}

.tabs-left>li>a {
  border-radius: 4px 0 0 4px;
  margin-right: 0;
  display:block;
}

/*vertical Tabs styles ends here*/


#LanguagePopup .panel-footer, #TrainingPopup .panel-footer, #personalInfo .panel-footer, #tab1 .panel-footer{
border-top: none;
}

.hdr-panel {

color: #fff;
    background-color: #337ab7;
    border-color: #337ab7;
    border:1px solid #337ab7;
}

.lang-text {
margin-left: 15px;

}


.navbar-default {
    background-color: #000 !important;
         border-color: #060606 !important;
}